body	{background:url(img/fondo.jpg) top left no-repeat #8C0206;margin:33 10 0 30;}
td		{font:12px Arial, sans-serif;color:#FFFFFF;vertical-align:top;}
a		{text-decoration:none}
em		{font-style:normal;color:#AAAAAA;}
.caja 	{border:1px solid #AAAAAA;font:12px Arial, sans-serif;display:block;margin:0 0 4 0;}

.imgtop	   {border:1px solid #333333;}

#cuerpo		 	 {width:362px;height:340px;padding:20px 20px 5px 0;text-align:justify;line-height:18px;}
.noticias		 {width:300px;padding:170px 0 0 0;text-align:right;}
.noticias p		 {font-size:11px;color:#999999;}
.noticias marquee{border:1px solid #000000;margin:0 20px 0 20px;padding:10px;height:140px;text-align:right;}

#der			{padding:20px 0 0 0;}

h2				{font-size:14px;color:#000000;font-weight:bold;margin:0 20px 0 0;} 
h3			    {font-size:12px;color:#000000;margin:0;padding:0;}
h4				{font-size:12px;color:#999999;text-transform:uppercase;font-weight:normal;text-align:left;word-spacing:-1px;}
h6			    {font-size:12px;font-weight:normal;margin:0;}
h6 a		    {color:#FFFFFF;}
h6 a:hover		{color:#333333;}
span			{font-weight:bold;color:#AAAAAA;}
span a			{font-weight:normal;color:#AAAAAA;}
span a:hover	{color:#333333;}
cite		    {display:none;}
cite a img	    {filter:alpha(opacity=95);opacity:.95;border:1px solid #000000;}
cite a:hover img{filter:alpha(opacity=30);opacity:.30;}

.marquesina			    {width:125px;height:340px;border:1px solid #000000;background:#991116;text-align:center;}
.marquesina	 img 		{border:1px solid #000000;}
.marquesina	 a img 		{filter:alpha(opacity=95);opacity:.95;}
.marquesina	 a:hover img{filter:alpha(opacity=30);opacity:.30;}

div a	   {text-decoration:none;}
div a:hover{text-decoration:underline;color:#FFFFFF;}

#capa1	{position:absolute;left:125;top:107;width:190;height:20;}
#capa2	{position:absolute;left:125;top:134;width:190;height:20;}
#capa3	{position:absolute;left:125;top:162;width:190;height:20;}
#capa4	{position:absolute;left:125;top:190;width:190;height:20;}
#capa5	{position:absolute;left:125;top:219;width:190;height:20;}
