body	    {margin:0;background:#000000;color:ffffff;}

#central    {position:absolute;left:50%;top:50%;width:940px;margin-left:-470px;margin-top:-280px;}/*seria-200*/
#cuerpo     {padding:20px;background:#111111;border:1px solid #333333;}
#borde_alto {height:55px;background:url(http://www.orfebreriamartin.com/img/fondo_top.gif) repeat-x;margin:0 0 1px 0;}
#borde_bajo {height:55px;background:url(http://www.orfebreriamartin.com/img/fondo_bot.gif) repeat-x;margin:1px 0 0 0; text-align:right;}

.cabecera	    	{width:540px;height:100px;}
.cabecera2	    	{width:680px;height:100px;}
.botonera	    	{width:350px;height:100px;text-align:right;}
.botonera img   	{border:0;margin:0 0 1px 0;}
.botonera a	    	{display:block;outline:none;}
.botonera a:hover img{opacity:.8;filter:alpha(opacity=80);}
.botonera2	      	{width:210px;height:100px;text-align:right;}
.botonera2 img    	{border:0;margin:0 0 1px 0;}
.botonera2 a	  	{display:block;outline:none;}
.botonera2 a:hover img{opacity:.8;filter:alpha(opacity=80);}

.co_left		{width:540px;height:300px;}
.co_left2		{width:680px;height:375px;}
.co_right		{width:350px;height:300px;text-align:right;font:13px Verdana, Arial, Helvetica, sans-serif;line-height:16px;color:#ffffff;}
.co_right a		{display:block;outline:none;}
.co_right2		{width:210px;height:300px;text-align:right;font:13px Verdana, Arial, Helvetica, sans-serif;line-height:16px;}
.co_right2 a	{display:block;outline:none;}

#galeria	{width:685px;height:385px;overflow:auto;
               scrollbar-3dlight-color:#111111;scrollbar-arrow-color:#111111;
			   scrollbar-base-color:#111111;scrollbar-darkshadow-color:#222222;
			   scrollbar-face-color:#666666;scrollbar-highlight-color:#666666;
			   scrollbar-shadow-color:#666666;scrollbar-track-color:#222222;}
.galeria_tabla     {margin:10px 0 0 0;}
.galeria_tabla td  {vertical-align:top;text-align:center;}
.imgal1       {height:200px;border:0;margin:0 10px 0 0;}
.imgal2       {height:90px;border:0;margin:100px 10px 0 0;}
.imgal3       {height:160px;border:0;margin:60px 10px 0 0;}
.imgal4       {width:400px;border:0;margin:60px 10px 0 0;}
.galerinfo    {padding:10px 5px 0 5px;font:10px Arial, Helvetica, sans-serif;color:#999999;}
.galerinfo table td{font:10px Arial, Helvetica, sans-serif;color:#999999;padding:0 2px 0 2px;}
.galerinfo span    {color:#ffffff;}

a			{text-decoration:none;color:#999999;}
em			{font-style:normal;color:#978a01;}
iframe		{width:535px;height:295px;border:2px solid #978a01;}
form		{margin:0;}
.input1	    {width:320px;border:0;margin:0 0 3px 0;font:11px Verdana, Arial, Helvetica, sans-serif;background:#cccccc;}
textarea    {width:320px;border:0;margin:0 0 4px 0;font:11px Verdana, Arial, Helvetica, sans-serif;background:#cccccc;}

.form_golf table td		{color:#ffffff;font:10px Arial, Helvetica, sans-serif;}
.form_golf .tipo1		{width:80px;margin:10px 10px 4px 0;border:0;}
.form_golf .tipo2		{height:80px;margin:10px 10px 4px 0;border:0;}
.form_golf .mini		{width:20px;font:10px Arial, Helvetica, sans-serif;border:0;margin:0 0 1px 0;}
.form_golf .maxi		{width:270px;font:12px Arial, Helvetica, sans-serif;border:0;margin:0 0 2px 0;}

#dhtmltooltip		{position:absolute;width:350px;background:#111111;padding:8px;visibility:hidden;z-index:5;text-align:center;border:1px solid #666666;}