body	    {margin:0;background:#000000;font:12px Verdana, Geneva, sans-serif;color:#ffffff;text-align:center;}
h1			{color:#FF6600;margin:0 0 10px 10px;}
h3			{color:#ffffff;font-size:18px;margin:15px 0 15px 50px;padding:15px;border:1px dotted #FF6600;text-align:justify;}
h4			{color:#FF6600;}
em			{font-style:normal;color:#FF6600;}
cite,cite a	{font-size:9px;display:block;color:#999999;font-style:normal;}
td			{vertical-align:top;font:13px Verdana, Geneva, sans-serif;}

/***/
#arriba     	{width:900px;height:186px;margin:0 auto;}
#arriba a		{outline:none;}
#arriba div		{height:30px;background:url(../img/fondo_boton.gif) repeat-x;}
#arriba div a	{float:left;width:89px;padding:8px 0;border-right:1px solid #000000;color:#000000;text-decoration:none;font-weight:bold;}
#arriba div a:hover,.activo{color:#ff6600;background:#000000;}
#arriba img		{border:0;}

/***/
#medio      {width:900px;margin:15px auto;display:table;text-align:left;}
#medio p a	{color:#FFFFFF;}

#izq			{float:left;width:130px;}
#izq a,.bt1		{display:block;width:130px;padding:5px 0 5px 10px;background:#ff6600;color:#000000;text-decoration:none;border:1px solid #000000;font-weight:bold;}
#izq a:hover,.b1:hover{background:#000000;color:#ff6600;}	

#der		{float:left;width:750px;}
#der h1		{margin:0 0 15px 50px;}
#der p,li	{font-size:13px;}
#der p,ul	{margin:12px 50px 12px 50px;text-align:justify;}
#der p a	{color:#FF6600;}
#der li a	{color:#FFFFFF;}
#der table	{margin:0 0 0 40px;}
.img_der	{float:right;margin:15px 0 15px 25px}

/*informacion*/
.f1			{margin:12px 50px 12px 50px;}
select		{display:block;}
.caja2		{display:block;width:300px;border-top:0;border-left:0;border-right:0;border-bottom:1px dotted #FF6600;color:#ffffff;background:#000000;font-weight:bold;}
.caja2txtarea{display:block;width:480px;border:1px dotted #FF6600;color:#ffffff;background:#000000;font-weight:bold;font:12px Verdana, Geneva, sans-serif;}

/*cursos*/
.gris		{background:#111111;border-bottom:1px dotted #000000;}
.gris2		{background:#222222;}
.gris3		{background:#333333;border-bottom:1px dotted #000000;width:160px;}
.gris3 a	{color:#ffffff;}

/*clientes*/
.logos		{margin:0}
.logos td	{text-align:center;}
.logos img	{margin:10px 4px;}

/***/
#abajo      {width:900px;margin:10px auto;padding:10px 0;border-top:1px solid #333333;}
#abajo a	{color:#FF6600;}