body	    {margin:0;background:#000000;color:#ffffff;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
a			{outline:none;}

.pregunta		{position:absolute;top:270px;left:440px;}
.pregunta img	{border:0;margin:10px 30px 0 0;}
h3				{margin:0 0 3px 0;}
h3 img			{border:0;}
iframe			{width:280px;height:70px;position:absolute;top:84px;left:590px;}

#contenedor	{position:absolute;width:900px;height:580px;top:50%;left:50%;margin:-290px 0 0 -450px;}
#arriba     {height:30px;/*background:url(img/fondo_top.gif) no-repeat;*/}
#central    {height:520px;/*background:url(img/fondo_mid.gif) repeat-y;*/}
#central3   {height:720px;/*background:url(img/fondo_mid.gif) repeat-y;*/}
#abajo      {height:30px;/*background:url(img/fondo_bot.gif) no-repeat;*/text-align:center;font-size:10px;color:#333333;}

.logo3			{margin:0 0 0 40px;border:0;}
.enlaces3		{position:absolute;top:120px;left:40px;border:0;}
.nosotros3		{position:absolute;top:30px;left:520px;border:0;}
#cuentatras		{position:absolute;top:80px;left:642px;color:#781A20;}
#cuentatras	img	{vertical-align:middle;width:12px;height:13px;}
.copyright		{position:absolute;top:530px;left:40px;border:0;}
.copyright_index{margin:270px 0 0 0;text-align:center;}

.logo1			{margin:80px 0 0 280px;border:0;}
.logo2			{margin:5px 0 0 30px;border:0;}

.cuerpo			{position:absolute;top:25px;left:350px;width:500px;}

.cuerpo3			{position:absolute;top:120px;left:260px;width:600px;}
.cuerpo3 p			{color:#BDB0B0;text-align:justify;margin-left:20px;}
.imggal  			{border:1px solid #ffffff;margin:0 2px 2px 0;width:40px;height:40px;}
.cuerpo3 a:hover img	{opacity:.5;filter:alpha(opacity=50);}

/****lightbox****/
#lightbox		{background-color:#eee;padding:10px;border-bottom:2px solid #666;border-right:2px solid #666;}
#lightboxDetails{font-size:0.8em;padding-top:0.4em;}	
#lightboxCaption{float:left;}
#keyboardMsg	{float:right;}
#closeButton	{top:5px;right:5px;}
#lightbox img	{border:none;clear:both;} 
#overlay img	{border:none;}
#overlay		{background-image:url(http://www.generaldesagues.com/img/ico_overlay.png);}
* html #overlay	{background-color: #333;back\ground-color: transparent;background-image: url(blank.gif);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.generaldesagues.com/img/ico_overlay.png", sizingMethod="scale");}