body	{margin:0px;background:url(img/fondo1.gif);}
table	{width:550;height:100%;background:#FFFFFF;}
td		{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
input	{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;color:#999999;}
textarea{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;color:#999999;}

.cabecera1{height:124;padding-bottom:10;}
.cabecera2{height:040;padding-bottom:10;}

.boton		  {width:280;padding:15 10 0 0;text-align:right;}
.boton a	  {display:block;text-decoration:none;color:#B31011;font-weight:bold;padding:0 0 8 0;}
.boton a:hover{color:#000000;}
.boton p	  {color:#999999;font-size:9px;padding:20 0 0 0;}

.boton div	  {display:none;}
.boton div a  {color:#999999;font-weight:normal;}

.cuerpo		  {width:260;padding:15 15 0 15;}
