body	{margin:0;text-align:center;}
a		{outline:none;}
h1		{text-align:left;margin:0;background:#8cd600;color:#000000;padding:3px 0 2px 10px;font:18px "Trebuchet MS", Arial, Helvetica, sans-serif;}
h2		{color:#eb681a;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:bold;}
h3		{margin:0;padding:5px;background:#eb681a;border-bottom:5px solid #ffffff;color:#ffffff;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
h4		{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;padding:3px 0;}
h4 a	{text-decoration:none;padding:0 32px 0 0;}
iframe	{margin:8px 0 0 0;}
form	{margin:0;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;text-align:left;font-weight:bold;}
textarea{border:1px solid #cccccc;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
em		{font-style:normal;color:#eb681a;font-weight:bold;}
marquee {height:200px;}
td		{vertical-align:top;}
th		{background:#cccccc;padding:0 8px;}

#top	{width:850px;margin:0 auto 10px auto;text-align:left;}
#top img{border:0;margin:0 0 10px 0;}

.boton		{height:39px;padding:9px 0 0 0;background:url(../img/fondo_boton.gif) repeat-x;}
.boton div  {width:850px;margin:0 auto;}
.boton a	{float:left;width:120px;height:30px;padding:6px 0 0 0;background:url(../img/fondo_a.gif) no-repeat;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#000000;text-decoration:none;}
.boton a:hover{background:url(../img/fondo_b.gif) no-repeat;font-weight:bold;}

.direccion	 {padding:0 0 5px 0;margin-left:-150px;border-bottom:1px solid #cccccc;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#666666;}
.direccion a {color:#eb681a;text-decoration:none;}
.direccion2	 {padding:0 0 5px 0;margin:0 0 24px -320px;border-bottom:1px solid #cccccc;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#666666;}
.direccion2 a{color:#eb681a;text-decoration:none;}

#centro		{width:860px;margin:30px auto;display:table;}

#izq 			{float:left;width:250px;height:100%;}
#izq .proveedor	{display:block;height:24px;padding:6px 0 0 0;border-bottom:5px solid #ffffff;margin:0;background:url(../img/fondo_bot_a.gif) no-repeat;color:#666666;text-decoration:none;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#izq .proveedor:hover{background:url(../img/fondo_bot_b.gif) no-repeat;font-weight:bold;}
#izq img	{border:0;display:block;margin:8px 0;}

#der		{float:left;width:580px;height:100%;border-left:20px solid #ffffff;background:#ffffff;}
#der p		{font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;text-align:left;}
#der a		{color:#eb681a;}
#der img	{border:0;}

/*productos*/
.cajas		{width:180px;height:180px;margin:10px 10px 0 0;float:left;text-align:center;border:1px solid #dddddd;}
.cajas div	{background:#eeeeee;height:40px;padding:3px 0;margin:0 0 5px 0;}
.cajas a	{font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#eb681a;text-decoration:none;}
.cajas img	{height:100px;border:0;}
.imgficha	{margin:8px 0 32px 32px;}

/*ferias*/
.imgferias img	{margin:0 -12px 0 0;}

/*contacto*/
.caja1		{display:block;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;border:1px solid #cccccc;}

/*ficha compra*/
.tb_compra 			{margin:-10px 0 0 0;}
.tb_compra input	{border:1px solid #cccccc;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}