body			{margin:0;background:#eeeeee;}
td				{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
a				{text-decoration:none;outline:none;}
em				{font-style:normal;color:#CF7235;}
textarea		{font:11px Verdana, Arial, Helvetica, sans-serif;}
input			{font:11px Verdana, Arial, Helvetica, sans-serif;}
select			{font:11px Verdana, Arial, Helvetica, sans-serif;}

.tabla1			{width:800px;height:100%;border-left:1px solid #cccccc;border-right:1px solid #cccccc;background:#ffffff;}
td 	a			{color:#888888;}

.central_izq	{width:210px;text-align:right;padding:0 20px 0 0;}
.central_izq p	{margin:3px 0 5px 0;}
.central_der	{width:520px;}

.botonera	   	{height:120px;}
.boton0		   	{width:230px; text-align:center;}
.boton1		   	{width:140px;height:60px;padding:20px 0 0 0;display:table-cell;text-align:center;color:#ffffff;background:#CF7235;}
.boton1:hover  	{background:#cccccc;color:#333333;}
.boton2		   	{width:140px;height:60px;padding:20px 0 0 0;display:table-cell;text-align:center;color:#ffffff;background:#888888;}
.boton2:hover  	{background:#cccccc;color:#333333;}

.btnaranja		{background:#CF7235;width:90px;padding:2px 0 2px 0;text-align:center;color:#ffffff;display:table-cell;border-right:1px solid #ffffff;}
.btnaranja2		{background:#b6581a;width:80px;padding:2px 0 2px 0;text-align:center;color:#ffffff;display:table-cell;border-right:1px solid #ffffff;}
.btnaranja3		{background:#b6581a;width:40px;padding:2px 0 2px 0;text-align:center;color:#ffffff;display:table-cell;border-right:1px solid #ffffff;}
.btnaranja:hover,.btnaranja2:hover,.btnaranja3:hover{background:#cccccc;color:#333333;}
.btgris			{background:#cccccc;width:240px;padding:2px 40px 2px 40px;text-align:center;color:#ffffff;margin:0 0 0 100px;font-size:11px;}
.btgris:hover   {background:#CF7235;color:#333333;}

h1				{font-size:14px;color:CF7235;margin:0 0 10px 25px;padding:0 0 0 20px;background:url(img/icon_link.png) left center no-repeat;}
h2			   	{font-size:12px;height:20px;padding:3px 20px 0 0;color:#CF7235;text-transform:uppercase;font-weight:bold;background:url(img/icon_link.png) right center no-repeat;}
.filagris	   	{height:25px;background:#cccccc;}
.filaboto	   	{height:15px;padding:5px 5px 5px 0;background:#eeeeee;border-bottom:25px solid #ffffff;text-align:right;}
.filaboto a		{color:#CF7235;}

.filatop		{background:#cccccc;padding:4px 0 4px 0;font-weight:bold;}
/*#xpecial		{display:none;}*/