@font-face {font-family:'frutiger';font-weight:normal;font-style:normal;src:url('../fonts/frutiger.eot');src:url('../fonts/frutiger.ttf') format('truetype'),url('../fonts/frutiger.eot?#iefix') format('embedded-opentype'),url('../fonts/frutiger.woff') format('woff'),url('../fonts/frutigert.svg#frutiger') format('svg')}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,img,input,button,p,th,td,hr,figure{margin:0;padding:0;border:0;outline:0}
table{width:100%;border-collapse:collapse;border-spacing:0} caption,th{text-align:left} ol,ul{list-style:none}
abbr,address,caption,dfn,em,strong,th,var{font-style:normal;font-weight:normal} 
h4,h5,h6,p,li,dt,dd,td,th,label,fieldset,select,option,input,button,header,footer,nav,aside,address,abbr{font:14px/1.5em frutiger,sans-serif}
a,.fold				{cursor:pointer;text-decoration:none;color:inherit}
h1 					{font:20px/1.5em frutiger,sans-serif}
h2,caption 			{font:18px/1.5em frutiger,sans-serif}
h3             		{font:16px/1.5em frutiger,sans-serif}
caption 			{margin-bottom:1em}
.em 				{color:#52cb7a}
.em2,h1				{color:#0080c6}
ol li 				{padding-left:2em}
td,th 				{padding:1em}
th 					{white-space:nowrap}
.main,.breadcrumb  	{max-width:1150px;margin:0 auto}
.wrap,dl 			{overflow:hidden;position:relative}
.fl,dt  			{float:left}
.fr 				{float:right}
.f1 				{width:66%}
.f2 				{width:49%}
.f3,.menu 			{width:32%}
.f4,dt 				{width:24%}
.f5					{width:19%}
.tc,.tc td,.tc th  	{text-align:center}
.tr,td.tr          	{text-align:right}
.bo,.bo td			{font-weight:bold}
.ico,.icoi  		{display:inline-block;vertical-align:middle;width:32px;height:32px;background:url(../img/sprites_admin.png) no-repeat}
.ico.tc 			{background:inherit;line-height:24px}
.bl  				{display:block}
.hr,.breadcrumb,footer.box3{margin-top:2em}
.box,.menu .box 	{background:#eee}
.box2				{background:#eff7fe;color:#0080c6}
.box3,.btn.active,.fold.active{background:#0080c6;color:#fff}
.btn            	{display:inline-block;position:relative;line-height:2.5em;padding:0 8px;vertical-align:top;background:#eff7fe;color:#0080c6;cursor:pointer;text-decoration:none}
.btn.alt 			{background:#f14b5b;color:#fff}
.btn.alt2 			{background:#52cb7a;color:#fff;border-radius:4px}

nav.main        	{height:80px;position:relative}
nav.main h1     	{font-size:14px;width:10em;height:60px;padding:10px 1em 10px 0}
nav.main .fr      	{line-height:2em}
nav.main a      	{display:inline-block;padding:0 0.5em}
nav.main:before 	{content:"";position:absolute;width:100%;height:100%;left:-100%;background:#0080c6}
nav.main span.box3 	{display:inline-block;padding:0.2em;margin-left:0.5em}
header.main span.fr {margin-top:-2.5em}
.menu .box 			{padding:1em}
.menu a 			{display:block;padding:0.5em 0.5em 0.5em 1em;border-bottom:1px solid #eee;color:#0080c6;background:#fff}
.menu ul ul a		{padding-left:2em}
.menu li li .active	{background:#eff7fe;color:#0080c6}
.menu .fold:before 	{content:"+";float:right}
.menu .fold.active:before{content:"-";float:right}
aside .menu 		{position:absolute;z-index:2}
.fold.active + ul	{height:auto}
.fold + ul 			{height:0;overflow:hidden;transition:height 500ms}
.breadcrumb,header.main{border-bottom:1px solid #ccc}
.breadcrumb .box2	{display:inline-block;line-height:3em;padding:0 1em}
footer.box3 .main	{padding:2em 0}
footer.box3 a 		{padding:0 1em;text-decoration:none;color:inherit}
.none 				{display:none}

dd 					{margin-bottom:0.5em}
input				{padding:0.5em;border:1px solid #ccc}
article 			{padding:2em 0 1em 4em;border-bottom:1px solid #ccc}
article h3 			{margin-bottom:0.5em}
article h3 .ico 	{margin:0 8px 0 -44px}
article.revenue label.fl{padding:0.5em}
table td 			{border-bottom:1px solid #ccc;padding:0.5em}
table form			{display:inline-block}

.ico sup 			{position:relative;top:-1.5em;left:2px;font-size:10px}
.ico.txt 			{background-position:-33px 0}
.ico.xls 			{background-position:-66px 0}
.ico.done 			{background-position:-99px 0}
.ico.question		{background-position:-132px 0}
.ico.arrow 			{background-position:-165px 0}
.ico.edit 			{background-position:-198px 0}

/*patch*/
.involvement h4 	{border:1px solid #ccc;border-bottom:0}

.error {border-color: #f14b5b}