@font-face {font-family:'uefac';font-weight:normal;font-style:normal;src:url('../fonts/uefa_colosseum.eot');src:url('../fonts/uefa_colosseum.ttf') format('truetype'),url('../fonts/uefa_colosseum.eot?#iefix') format('embedded-opentype'),url('../fonts/uefa_colosseum.woff') format('woff'),url('../fonts/uefa_colosseum.svg#uefac') format('svg')}
@font-face {font-family:'frutiger';font-weight:normal;font-style:normal;src:url('../fonts/frutiger.eot');src:url('../fonts/frutiger.ttf') format('truetype'),url('../fonts/frutiger.eot?#iefix') format('embedded-opentype'),url('../fonts/frutiger.woff') format('woff'),url('../fonts/frutigert.svg#frutiger') format('svg')}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,img,input,button,p,th,td,hr,figure{margin:0;padding:0;border:0;outline:0}
table{width:100%;border-collapse:collapse;border-spacing:0} caption,th{text-align:left} ol,ul{list-style:none}
abbr,address,caption,dfn,em,strong,th,var{font-style:normal;font-weight:normal} 
h4,h5,h6,p,li,dt,dd,caption,td,th,label,fieldset,select,option,input,button,header,footer,aside,address{font:14px/1.5em frutiger,sans-serif}
a,.fold				{cursor:pointer;color:inherit}
sup 				{font-size:0.5em}
h1 					{font:5em/0.8em uefac;padding-top:1em}
h1.top    			{padding-top:15%}
h1 .bl 				{font-size:0.5em}
h2,h2.main,caption 	{font:22px/1.5em uefac;margin-top:24px;color:#0076b0}
h2:after,.h2:after	{content:"";display:block;height:3px;background:-moz-linear-gradient(left,#00215b,#00b9f2);background:-webkit-linear-gradient(left,#00215b,#00b9f2)}
h3              	{font:18px/1.5em frutiger,sans-serif}
h4,p 				{margin:1.5em 0}
caption 			{margin-bottom:1em}
em,.em 				{color:#6db955}
.em2				{color:#00b9f2}
.em3 				{color:#f14b5b}
ol li 				{padding-left:2em}
td,th 				{padding:1em}
th 					{white-space:nowrap}
.main           	{max-width:1150px;margin:0 auto}
.wrap,dl 			{overflow:hidden;position:relative}
.fl,dt  			{float:left}
.fr,ul input  		{float:right}
.f1 				{width:75%}
.f2 				{width:48%}
.f3,dt 				{width:32%;margin-right:1%}
.f4 				{width:24%;margin-right:1%}
.f5					{width:19%}
.tc,.tc td,.tc th  	{text-align:center}
.tr             	{text-align:right}
.bo,.bo td,h4		{font-weight:bold}
.ico,.icoi,.club  	{display:inline-block;vertical-align:middle;width:24px;height:24px;background:url(../img/sprites.png) no-repeat}
.ico.tc 			{background:inherit;line-height:24px}
.club 				{width:32px;height:32px;background:url(../img/spriteclub.png) no-repeat}
strong.ico 			{width:98px;height:98px}
.bl,.select label  	{display:block}
.hr,footer.global 	{margin-top:2em}
.global,.global td,.btn,.phase td.alt.mod{background:#00b9f2;color:#fff}
.box,table.alt tbody td{background:#eee}
section.box 		{padding:1em 0}
.btn            	{font-size:12px;letter-spacing:0.5px;display:inline-block;position:relative;line-height:3em;padding:0 1em;vertical-align:top;border:2px solid #f6f6f6;outline:1px solid #ddd;cursor:pointer;text-decoration:none}
.btn.active,.header	{background:#0076b0;color:#fff}
.btn.active:after 	{content:"";position:absolute;left:25%;bottom:0;width:13px;height:7px;background:url(../img/sprites.png) -206px -43px}
.btn .ico       	{margin-left:2em}
.btn .ico:before 	{content:"";position:absolute;top:0;right:48px;width:1px;height:100%;background:#fff}
.btn.alt 			{background:#f14b5b}
nav.main        	{height:88px;position:relative}
nav.main h1     	{font:18px uefac;width:9em;height:80px;padding:8px 4em 0 0;background:#0076b0}
nav.main div      	{padding-top:2.5em}
nav.main a      	{font-size:12px;letter-spacing:0.5px;display:inline-block;padding:0 1em;border-right:1px solid #fff;text-decoration:none}
nav.main a.active,footer.global a.active{text-decoration:underline}
nav.main a:last-child{border-right:0;padding-right:0}
nav.main:before 	{content:"";position:absolute;width:100%;height:100%;left:-100%;background:#0076b0}
nav.side 			{position:absolute;top:0;right:1em}
nav.side a 			{color:#fff}
footer.global .main	{padding:1em 0}
footer.global a 	{font-size:12px;padding:0 1em;text-decoration:none;color:inherit}
footer.global p 	{margin:1em 0}
footer.global h6 	{font:24px uefac}
.none,ul [type="radio"]{display:none}
.back               {height:550px;color:#fff}
.li:before 			{content:"\00bb";color:#6db955;margin-right:4px}
.flags .ico 		{width:32px;height:16px}
.select 			{position:relative;display:inline-block}
.select ul          {position:absolute;width:100%;margin-top:-1px;border:1px solid #ccc;z-index:2;background:#fff}
.select > input 	{width:89%;text-indent:1em;height:2.5em;line-height:2.5em;border:1px solid #ccc;color:#00b9f2}
.select label    	{padding:0.5em;cursor:pointer}
.select label:hover {background:#eee}
.select small       {width:35px;height:35px;position:absolute;right:0;border:1px solid #ccc;background:#fff}
.select small:before{content:"";display:block;width:24px;height:24px;margin:5px auto;background:url(../img/sprites.png) 0 -34px}
.foldn 				{overflow:hidden;transition:height 500ms}
body .foldn.off 	{height:0}
/*
#wait 	   {position:fixed;width:100%;height:100%;top:80px;background:url(../img/load.gif) no-repeat center #fff;opacity:.9;z-index:2}
#wait.hide {opacity:0;z-index:-1}
*/

/*home*/
.home .back	    	{background:url(../img/bg3.jpg) center no-repeat;background-size:100% 550px}
.home .back  h3    	{font-family:uefac;color:#df0018}
.home header.main 	{margin-top:-40px}
.home article var   {padding:2px 5px 0 5px;border-radius:100%;background:#6db955;color:#fff}
.home .bg3 			{background:url(../img/bg0.png) center no-repeat;height:250px;background-size:100%}
.icoi.bar           {background:#666;width:12px}
.icoi.normal        {background:#fc0;border-radius:100%}
.icoi.over          {background:#e73f51;border-radius:100%}
.icoi.line 			{background:#f60;width:4px}

/*method*/
.method .back	    {background:url(../img/bg4.jpg) center no-repeat;background-size:100% 550px}
.method .p1			{margin-top:22%}
.method .p2         {margin-top:14%}
.method aside.box 	{padding:0.1em 1em}
.method aside.box h5{margin:-1.5em -0.5em}
#explain 			{background:url(../img/bg6.png) top no-repeat;height:440px;background-size:100%}
#explain .fr 		{width:28%;margin-top:34%}
#explain .fl 		{width:15%;margin-right:2%}
#explanation h4 	{padding:0.5em}
#explanation h4.global{margin-bottom:-1em}

/*league*/
nav.wrap a			{width:10%;float:left;text-decoration:none;color:inherit}
nav.wrap .ico 		{opacity:.1}
nav.wrap .ico:hover,nav.wrap .active .ico{opacity:1}
.league article 	{position:relative}
.league figure      {width:90%;height:600px}
.league .flags .ico {margin-right:4px}
.league .flags		{width:10%;margin-top:1em;cursor:default}
.flags b 			{display:inline-block;width:45%;text-align:center;color:#fff;transition:all 250ms}
.flags .hover b,.flags .clicked b{transform:scale(1.3);-webkit-transform:scale(1.3);box-shadow:0 0 8px 2px #333,inset 0 0 0px 2px #fff}
.flags li.hr,.flags li.tr{margin:0;text-align:inherit}
.flags .fr 			{float:none}
#annex p 			{position:absolute;margin:0;width:100%}
#annex small 		{transform:scale(.5);-webkit-transform:scale(.5)}
#annex var 			{display:inline-block;padding:4px 1em 0 0}
#map 				{width:90%;height:690px}
#map path 			{stroke:#333;stroke-width:1px}
#map text 			{font:14px uefac;visibility:hidden;cursor:default}
#map .hover path,#map .clicked path	{stroke-width:2px}
#map .hover text,#map .clicked text	{visibility:visible}
.legend li 			{display:inline-block;margin-right:8px}
.r1					{background:#0080c6;fill:#0080c6}
.r2					{background:#3399d1;fill:#3399d1}
.r3					{background:#66b3dd;fill:#66b3dd}
.r4 				{background:#99cce8;fill:#99cce8}
.r5					{background:#cce6f4;fill:#cce6f4}
.r6					{background:#38d0ba;fill:#38d0ba}
.r7					{background:#8ccac1;fill:#8ccac1}
.r8					{background:#f5d3d6;fill:#f5d3d6}
.r9					{background:#eba8ad;fill:#eba8ad}
.r10 				{background:#e27c83;fill:#e27c83}
.r11				{background:#d8515a;fill:#d8515a}
.r12				{background:#ce2531;fill:#ce2531}
.tinymce strong 	{font-weight:bold}
.tinymce em 		{font-style:italic;color:inherit}

/*market*/
.market section.none{display:block;overflow:hidden;height:0} /*highcharts*/
.market .flags		{position:relative;top:-62px;left:38px}
.market .flags .ico {margin-right:-5.5px;transform:scale(.6);-webkit-transform:scale(.6)}
.market figure 		{height:400px}
#fig-1 g.highcharts-legend + g.highcharts-axis-labels{visibility:hidden}

/*sector*/
.sector .back 		{background:url(../img/bg5.jpg) center no-repeat;background-size:100% 550px}
.sector header.fr 	{margin-top:-8px}
.sector table.main td{border:1px solid #eee;border-bottom-color:#00b9f2}
table.alt th 		{color:#00b9f2;border-top:1px solid #fff;border-bottom:1px solid #fff;background:#ddd}
table.alt tbody td	{color:#00b9f2;border:1px solid #fff}

/*login*/
.login .back		{background:url(../img/bg6.jpg) center no-repeat;height:690px;background-size:100% 690px}
.login footer.global{margin:0}
.login .f1			{position:relative;width:300px;top:30px;padding:2em;margin:0 auto;background:rgba(0,0,0,0.7)}
.login input.bl 	{width:95%;line-height:2em;padding:0.5em;margin:1em 0;color:#00b9f2}
.login aside 		{height:170px;border-top:1px solid #fff}
.login .foldn.off 	{border-color:transparent}
.login aside h5 	{margin-top:1em}
.login .btn 		{line-height:2em}

/*terms*/
.terms .back		{background:url(../img/bg7.jpg) center no-repeat;height:460px;background-size:100% 460px}
/*contact*/
.contact .back		{background:url(../img/bg8.jpg) center no-repeat;height:460px;background-size:100% 460px}
/*biblio*/
.biblio .back		{background:url(../img/bg9.jpg) center no-repeat;height:460px;background-size:100% 460px}
/*profile*/
.profile p.box 		{padding:1em;line-height:2.5em}
.profile form 		{position:relative}
.profile label 		{margin:8px 0}
.profile .save 		{position:absolute;right:0}
.profile input 		{padding:0.5em;border:1px solid #ccc}

/*phase*/
.phase form			{padding:2em;border:1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box}
.phase form .f5 	{margin-right:8px}
.phase form div		{height:4em;margin-top:0.5em}
.phase form input[maxlength]{width:35%;height:3em;line-height:3em;border:1px solid #ccc;color:#00b9f2}
.phase form b 		{display:inline-block;padding:0 0.5em;color:#0076b0}
.phase .fold 		{padding-top:1em;border-top:1px solid #ccc}
::-webkit-input-placeholder {color:#00b9f2}
::-moz-placeholder 	{color:#00b9f2}
form div.foldn 		{height:5em}
form section.foldn	{height:14em}
.phase .fold span.tc{display:inline-block;width:1em}
.phase table.main thead td{border-bottom:1px solid #999}
.phase table.main td,.phase table.main th{border-bottom:1px solid #ccc}
.phase tbody td.alt,.phase .header{border-left:1px solid #ccc}
tbody td.bgr 		{border-left:1px solid #fff}
tbody td.mfv 		{border-right:1px solid #fff}
tbody .roi 			{color:#fc0}
tbody .over			{color:#e73f51}
tbody .under		{color:#6eb954}
td.icon				{width:48px}
td.alt,tr.alt 		{background:#fff}
tr.mod td:first-child{box-shadow:inset 6px 0 0 #00b9f2}
td.asc:after 		{content:"\2191"}
td.desc:after		{content:"\2193"}
ul.large 			{width:240px;height:390px;overflow:auto}
#scorecard thead td {cursor:pointer}
#tab2 tr.mod td:last-child{color:#00b9f2}
#tab2 input 		{background:inherit;color:inherit}
#tab2 td:last-child{background:#c1e7f3}
#tooltip 			{position:absolute;padding:4px;border:2px solid #fc0;color:#fc0;background:#fff;z-index:3}
#tooltip.over 		{color:#e73f51;border-color:#e73f51}
#tooltip.under 		{color:#6eb954;border-color:#6eb954}
#tooltip input 		{color:inherit;width:6em}
.sort > input,form > .select{width:16em}
.sort li 			{text-align:left}
.bg0            	{background:#222;/*url(../img/bg0.jpg) center;*/}
.bg0 figure 		{width:72.1%;padding:16px;border-right:8px solid #eee}
.bg0 table			{width:auto;position:absolute;top:-12px;right:4px;color:#fff}
.bg0 th 			{width:68px;padding:0;border-bottom:1px solid #eee}
.bg0 th.avg 		{padding-top:1em;line-height:1em}
.bg0 td				{height:55px;padding:0}
.bg0 .club 			{position:relative;z-index:2}
.bg0 .line 			{width:72%}
.bg1,.bg2       	{position:absolute;width:100%;height:100%}
.bg1            	{background:url(../img/bg1.png) center;-webkit-animation:bg1 90s infinite linear;animation:bg1 90s infinite linear}
.bg2            	{background:url(../img/bg2.png) center;-webkit-animation:bg2 270s infinite ease;animation:bg2 270s infinite ease}

@keyframes bg1		{ 0% {transform:scale(0.25)} 50% {transform:scale(1.5)} 100% {transform:scale(0.25)} }
@keyframes bg2		{ from {transform:rotate(0deg)} to {transform:rotate(360deg)} }
@-webkit-keyframes bg1{ 0% {-webkit-transform:scale(0.25)} 50% {-webkit-transform:scale(1.5)} 100% {-webkit-transform:scale(0.25)} }
@-webkit-keyframes bg2{ from {-webkit-transform:rotate(0deg)} to {-webkit-transform:rotate(360deg)} }
.phase svg > text,.phase svg > text + g	{visibility:hidden}
.phase g.highcharts-tracker rect   		{opacity:.25;transition:opacity 500ms}
.phase g.highcharts-tracker rect.active	{opacity:1}
.phase g.highcharts-series-group + g.highcharts-axis-labels{visibility:hidden}
circle.normal		{fill:#fc0;stroke:#fc0}
circle.over  		{fill:#e73f51;stroke:#e73f51}
circle.under	   	{fill:#6eb954;stroke:#6eb954}

.ico.arrow2   	 	{background-position:-175px -34px}
.ico.save 	   		{background-position:-25px -34px}
.ico.score     		{background-position:-50px -34px}
.ico.filter     	{background-position:-75px -34px}
.ico.unfold     	{background-position:-100px -34px}
.ico.export 	   	{background-position:-125px -34px}
.ico.question  		{background-position:-150px -34px}
.ico.reset 			{background-position:-225px -34px}
.ico.les 			{background-position:0 -59px}
.ico.lit  			{background-position:-99px -59px}
.ico.lfr  			{background-position:-198px -59px}
.ico.lru 			{background-position:-297px -59px}
.ico.lde  		    {background-position:-396px -59px}
.ico.lnl 		    {background-position:0 -158px}
.ico.lpt  		    {background-position:-99px -158px}
.ico.lua 		    {background-position:-198px -158px}
.ico.ltr 		    {background-position:-297px -158px}
.ico.luk			{background-position:-396px -158px}
.ico.banking  		{background-position:-495px -59px}
.ico.airlines 		{background-position:-594px -59px}
.ico.energy	    	{background-position:-495px -158px}
.ico.logo       	{background-position:-594px -158px;width:64px;height:64px}
.ico.repucom 		{background-position:-350px -34px;width:166px;text-indent:-666px}
.ico.eur 			{background-position:0 0}
.ico.uk,.uk .ico	{background-position:-33px 0}
.ico.es,.es .ico	{background-position:-66px 0}
.ico.it,.it .ico	{background-position:-99px 0}
.ico.de,.de .ico	{background-position:-132px 0}
.ico.pt,.pt .ico	{background-position:-165px 0}
.ico.fr,.fr .ico    {background-position:-198px 0}
.ico.tr,li.tr .ico	{background-position:-231px 0}
.ico.is,.is .ico	{background-position:-264px 0}
.ico.be,.be .ico 	{background-position:-297px 0}
.ico.gr,.gr .ico	{background-position:-330px 0}
.ico.ie,.ie .ico	{background-position:-363px 0}
.ico.hu,.hu .ico	{background-position:-396px 0}
.ico.sk,.sk .ico	{background-position:-429px 0}
.ico.ro,.ro .ico	{background-position:-462px 0}
.ico.cz,.cz .ico	{background-position:-495px 0}
.ico.fi,.fi .ico	{background-position:-528px 0}
.ico.dk,.dk .ico	{background-position:-561px 0}
.ico.mk,.mk .ico	{background-position:0 -17px}
.ico.ba,.ba .ico	{background-position:-33px -17px}
.ico.by,.by .ico	{background-position:-66px -17px}
.ico.ru,.ru .ico	{background-position:-99px -17px}
.ico.se,.se .ico	{background-position:-132px -17px}
.ico.il,.il .ico	{background-position:-165px -17px}
.ico.ch,.ch .ico	{background-position:-198px -17px}
.ico.no,.no .ico	{background-position:-231px -17px}
.ico.rs,.rs .ico	{background-position:-264px -17px}
.ico.cy,.cy .ico	{background-position:-297px -17px}
.ico.pl,.pl .ico	{background-position:-330px -17px}
.ico.hr,li.hr .ico	{background-position:-363px -17px}
.ico.bg,.bg .ico	{background-position:-396px -17px}
.ico.si,.si .ico	{background-position:-429px -17px}
.ico.kz,.kz .ico	{background-position:-462px -17px}
.ico.at,.at .ico	{background-position:-495px -17px}
.ico.ua,.ua .ico	{background-position:-528px -17px}
.ico.nl,.nl .ico	{background-position:-561px -17px}

@media screen and (max-width:1000px)
{
	.main 				{max-width:850px}
	.market .flags .ico {margin-right:-13.9px}
}
/*uk*/
.club.c1        	{background-position:0 0}			/*Arsenal*/
.club.c2      		{background-position:-33px 0}		/*Aston Villa*/
.club.c3     	    {background-position:-66px 0}		/*Chelsea*/
.club.c4           	{background-position:-99px 0}		/*Everton*/
.club.c5      	    {background-position:-132px 0}		/*Fulham*/
.club.c6         	{background-position:-165px 0}		/*Liverpool*/
.club.c7  		 	{background-position:-198px 0}		/*Manchester City*/
.club.c8	 		{background-position:-231px 0}		/*Manchester United*/
.club.c9  			{background-position:-264px 0}		/*Newcastle United*/
.club.c10           {background-position:-297px 0}		/*Norwich City*/
.club.c11        	{background-position:-330px 0}		/*Queens Park Rangers*/
.club.c12           {background-position:-363px 0}		/*Reading*/
.club.c13 	     	{background-position:-396px 0}		/*Southampton*/
.club.c14   	    {background-position:-429px 0}		/*Stoke City*/
.club.c15       	{background-position:-462px 0}		/*Sunderland*/
.club.c16  			{background-position:-495px 0}		/*Swansea City*/
.club.c17 			{background-position:-528px 0}		/*Tottenham Hotspur*/
.club.c18     		{background-position:-561px 0}		/*West Bromwich Albion*/
.club.c19   		{background-position:-594px 0}		/*West Ham United*/
.club.c20    		{background-position:-627px 0}		/*Wigan Athletic*/
/*it*/
.club.c21        	{background-position:0 -66px}		/*Atalanta*/
.club.c22      		{background-position:-33px -66px}	/*Bologna*/
.club.c23     	    {background-position:-66px -66px}	/*Cagliari*/
.club.c24          	{background-position:-99px -66px}	/*Catania*/
.club.c25      	    {background-position:-132px -66px}	/*Chievo*/
.club.c26         	{background-position:-165px -66px}	/*Fiorentina*/
.club.c27  		 	{background-position:-198px -66px}	/*Genoa*/
.club.c28	 		{background-position:-231px -66px}	/*Internazionale*/
.club.c29  			{background-position:-264px -66px}	/*Juventus*/
.club.c30           {background-position:-297px -66px}	/*Lazio*/
.club.c31        	{background-position:-330px -66px}	/*Milan*/
.club.c32           {background-position:-363px -66px}	/*Napoli*/
.club.c33 	     	{background-position:-396px -66px}	/*Palermo*/
.club.c34   	    {background-position:-429px -66px}	/*Parma*/
.club.c35       	{background-position:-462px -66px}	/*Pescara*/
.club.c36  			{background-position:-495px -66px}	/*Roma*/
.club.c37 			{background-position:-528px -66px}	/*Sampdoria*/
.club.c38     		{background-position:-561px -66px}	/*Siena*/
.club.c39   		{background-position:-594px -66px}	/*Torino*/
.club.c40    		{background-position:-627px -66px}	/*Udinese*/
/*fr*/
.club.c41        	{background-position:0 -99px}		/*Ajaccio*/
.club.c42      		{background-position:-33px -99px}	/*SC Bastia*/
.club.c43     	    {background-position:-66px -99px}	/*FC Girondins de Bordeaux*/
.club.c44          	{background-position:-99px -99px}	/*Stade Brestios 29*/
.club.c45      	    {background-position:-132px -99px}	/*FC Evian Thonon Gaillard*/
.club.c46         	{background-position:-165px -99px}	/*LOSC Lille Métropole*/
.club.c47  		 	{background-position:-198px -99px}	/*FC Lorient*/
.club.c48	 		{background-position:-231px -99px}	/*Olympique Lyonnais*/
.club.c49  			{background-position:-264px -99px}	/*Olympique de Marseille*/
.club.c50           {background-position:-297px -99px}	/*Montpellier HSC*/
.club.c51        	{background-position:-330px -99px}	/*AS Nancy*/
.club.c52           {background-position:-363px -99px}	/*OGC Nice*/
.club.c53 	     	{background-position:-396px -99px}	/*Paris Saint-Germain*/
.club.c54   	    {background-position:-429px -99px}	/*Stade Rennais FC*/
.club.c55       	{background-position:-462px -99px}	/*Stade de Reims*/
.club.c56  			{background-position:-495px -99px}	/*AS Saint-Étienne*/
.club.c57 			{background-position:-528px -99px}	/*FC Sochaux-Montbéliard*/
.club.c58     		{background-position:-561px -99px}	/*Toulouse FC*/
.club.c59   		{background-position:-594px -99px}	/*ESTAC Troyes*/
.club.c60    		{background-position:-627px -99px}	/*Valenciennes FC*/
/*de*/
.club.c61        	{background-position:0 -165px}		/*FC Augsburg*/
.club.c62      		{background-position:-33px -165px}	/*Bayer 04 Leverkusen*/
.club.c63     	    {background-position:-66px -165px}	/*Bayern Munich*/
.club.c64          	{background-position:-99px -165px}	/*Borussia Dortmund*/
.club.c65      	    {background-position:-132px -165px}	/*Borussia Monchengladbach*/
.club.c66         	{background-position:-165px -165px}	/*Eintracht Frankfurt*/
.club.c67  		 	{background-position:-198px -165px}	/*Fortuna Dusseldorf*/
.club.c68	 		{background-position:-231px -165px}	/*SC Freiburg*/
.club.c69  			{background-position:-264px -165px}	/*SpVgg Greuther Furth*/
.club.c70           {background-position:-297px -165px}	/*Hamburger SV*/
.club.c71        	{background-position:-330px -165px}	/*Hannover 96*/
.club.c72           {background-position:-363px -165px}	/*1899 Hoffenheim*/
.club.c73 	     	{background-position:-396px -165px}	/*FSV Mainz 05*/
.club.c74   	    {background-position:-429px -165px}	/*FC Nuremberg*/
.club.c75       	{background-position:-462px -165px}	/*FC Schalke 04*/
.club.c76  			{background-position:-495px -165px}	/*VfB Stuttgart*/
.club.c77 			{background-position:-528px -165px}	/*Werder Bremen*/
.club.c78     		{background-position:-561px -165px}	/*VfL Wolfsburg*/
/*
.club.c  			{background-position:-594px -165px}
.club.c    			{background-position:-627px -165px}
*/
/*es*/
.club.c79        	{background-position:0 -33px}		/*Athletic Bilbao*/
.club.c80     		{background-position:-33px -33px}	/*Atletico Madrid*/
.club.c81     	    {background-position:-66px -33px}	/*Barcelona*/
.club.c91         	{background-position:-99px -33px}	/*RC Celta de Vigo*/
.club.c82     	    {background-position:-132px -33px}	/*Deportivo La Coruna*/
.club.c83         	{background-position:-165px -33px}	/*Espanyol*/
.club.c84 		 	{background-position:-198px -33px}	/*Getafe*/
.club.c85	 		{background-position:-231px -33px}	/*Granada*/
.club.c86 			{background-position:-264px -33px}	/*Levante*/
.club.c87          	{background-position:-297px -33px}	/*Malaga*/
.club.c88        	{background-position:-330px -33px}	/*Mallorca*/
.club.c89          	{background-position:-363px -33px}	/*Osasuna*/
.club.c90 	     	{background-position:-396px -33px}	/*Rayo Vallecano*/
.club.c92   	    {background-position:-429px -33px}	/*Real Betis*/
.club.c93       	{background-position:-462px -33px}	/*Real Madrid*/
.club.c94 			{background-position:-495px -33px}	/*Real Sociedad*/
.club.c96 			{background-position:-528px -33px}	/*Sevilla*/
.club.c97     		{background-position:-561px -33px}	/*Valencia*/
.club.c98   		{background-position:-594px -33px}	/*Valladolid*/
.club.c95    		{background-position:-627px -33px}	/*Real Zaragoza*/
/*nl*/
.club.c99        	{background-position:0 -198px}		/*ADO Den Haag*/
.club.c100     		{background-position:-33px -198px}	/*Ajax*/
.club.c101     	    {background-position:-66px -198px}	/*AZ Alkmaar*/
.club.c102         	{background-position:-99px -198px}	/*FC Groningen*/
.club.c103     	    {background-position:-132px -198px}	/*FC Twente*/
.club.c104         	{background-position:-165px -198px}	/*FC Utrecht*/
.club.c109 		 	{background-position:-198px -198px}	/*PEC Zwolle*/
.club.c105	 		{background-position:-231px -198px}	/*Feyenoord*/
.club.c106 			{background-position:-264px -198px}	/*Heracles*/
.club.c107          {background-position:-297px -198px}	/*NAC Breda*/
.club.c108        	{background-position:-330px -198px}	/*NEC Nijmegan*/
.club.c110          {background-position:-363px -198px}	/*PSV Eindhoven*/
.club.c111 	     	{background-position:-396px -198px}	/*RKC Waalwijk*/
.club.c112   	    {background-position:-429px -198px}	/*Roda JC Kerkrade*/
.club.c113       	{background-position:-462px -198px}	/*SC Heerenveen*/
.club.c114 			{background-position:-495px -198px}	/*Vitesse Arnhem*/
.club.c115 			{background-position:-528px -198px}	/*VVV-Venlo*/
.club.c116     		{background-position:-561px -198px}	/*Willem II*/
/*
.club.c   			{background-position:-594px -198px}
.club.c    			{background-position:-627px -198px}
*/
/*pt*/
.club.c128        	{background-position:0 -231px}		/*Porto*/
.club.c119     		{background-position:-33px -231px}	/*Benfica*/
.club.c120    	    {background-position:-66px -231px}	/*Braga*/
.club.c129         	{background-position:-99px -231px}	/*Rio Ave*/
.club.c127     	    {background-position:-132px -231px}	/*Pa&ccedil;os de Ferreira*/
.club.c131         	{background-position:-165px -231px}	/*Vitória de Guimarães*/
.club.c132 		 	{background-position:-198px -231px}	/*Vitória de Setúbal*/
.club.c121	 		{background-position:-231px -231px}	/*Estoril*/
.club.c122 			{background-position:-264px -231px}	/*Gil Vicente*/
.club.c117          {background-position:-297px -231px}	/*Académica Coimbra*/
.club.c123        	{background-position:-330px -231px}	/*Marítimo*/
.club.c126          {background-position:-363px -231px}	/*Olhanense*/
.club.c130 	     	{background-position:-396px -231px}	/*Sporting CP*/
.club.c124   	    {background-position:-429px -231px}	/*Moreirense*/
.club.c118       	{background-position:-462px -231px}	/*Beira-Mar*/
.club.c125 			{background-position:-495px -231px}	/*Nacional*/
/*
.club.c 			{background-position:-528px -231px}
.club.c     		{background-position:-561px -231px}
.club.c 	  		{background-position:-594px -231px}
.club.c 	   		{background-position:-627px -231px}
*/
/*ru*/
.club.c133        	{background-position:0 -132px}		/*Anzhi Makhachkala*/
.club.c134     		{background-position:-33px -132px}	/*Alania Vladikavkaz*/
.club.c135    	    {background-position:-66px -132px}	/*PFK CSKA Moskva*/
.club.c146         	{background-position:-99px -132px}	/*Dinamo Moscow*/
.club.c137          {background-position:-132px -132px}	/*FK Amkar Perm*/
.club.c138         	{background-position:-165px -132px}	/*FK Rostov-Na-Donu*/
.club.c139  	 	{background-position:-198px -132px}	/*FK Rubin Kazan*/
.club.c140	 		{background-position:-231px -132px}	/*FK Krasnodar*/
.club.c141  		{background-position:-264px -132px}	/*Kuban Krasnodar*/
.club.c142          {background-position:-297px -132px}	/*Lokomotiv Moscow*/
.club.c143       	{background-position:-330px -132px}	/*Mordovia Saransk*/
.club.c144          {background-position:-363px -132px}	/*PFK Samara Kryliya Sovetov*/
.club.c145 	     	{background-position:-396px -132px}	/*Spartak Moscow*/
.club.c146   	    {background-position:-429px -132px}	/*Terek Grozny*/
.club.c147      	{background-position:-462px -132px}	/*Volga Nizhny Novgorod*/
.club.c148 			{background-position:-495px -132px}	/*Zenit St Petersburg*/
/*
.club.c 			{background-position:-528px -132px}
.club.c     		{background-position:-561px -132px}
.club.c   			{background-position:-594px -132px}
.club.c    			{background-position:-627px -132px}
*/
/*ua*/
.club.c160        	{background-position:0 -264px}		/*Shakhtar Donetsk*/
.club.c151     		{background-position:-33px -264px}	/*Dnipro Dnipropetrovsk*/
.club.c152     	    {background-position:-66px -264px}	/*Dynamo Kyiv*/
.club.c157         	{background-position:-99px -264px}	/*Metalist Kharkiv*/
.club.c162     	    {background-position:-132px -264px}	/*Volyn Lutsk*/
.club.c150         	{background-position:-165px -264px}	/*Chornomorets Odesa*/
.club.c149 		 	{background-position:-198px -264px}	/*Arsenal Kyiv*/
.club.c158	 		{background-position:-231px -264px}	/*Metalurh Donetsk*/
.club.c163 			{background-position:-264px -264px}	/*Vorskla Poltava*/
.club.c154          {background-position:-297px -264px}	/*Illichivets Mariupol*/
.club.c164        	{background-position:-330px -264px}	/*Zorya Luhansk*/
.club.c161          {background-position:-363px -264px}	/*Tavriya Simferopol*/
.club.c156 	     	{background-position:-396px -264px}	/*Kryvbas Kryvyi Rih*/
.club.c155   	    {background-position:-429px -264px}	/*Karpaty Lviv*/
.club.c153       	{background-position:-462px -264px}	/*Hoverla Uzhhorod*/
.club.c159 			{background-position:-495px -264px}	/*Metalurh Zaporizhya*/
/*
.club.c 			{background-position:-528px -264px}
.club.c     		{background-position:-561px -264px}
.club.c   			{background-position:-594px -264px}
.club.c    			{background-position:-627px -264px}
*/
/*tr*/
.club.c165        	{background-position:0 -297px}		/*Akhisar Belediyespor*/
.club.c166     		{background-position:-33px -297px}	/*Beşiktaş*/
.club.c167     	    {background-position:-66px -297px}	/*Bursaspor*/
.club.c168         	{background-position:-99px -297px}	/*Elazığspor*/
.club.c169     	    {background-position:-132px -297px}	/*Eskişehirspor*/
.club.c170         	{background-position:-165px -297px}	/*Fenerbahçea*/
.club.c171 		 	{background-position:-198px -297px}	/*Galatasaraya*/
.club.c172	 		{background-position:-231px -297px}	/*Gaziantepspor*/
.club.c173 			{background-position:-264px -297px}	/*Gençlerbirliğia*/
.club.c174          {background-position:-297px -297px}	/*İstanbul B.B.b*/
.club.c175        	{background-position:-330px -297px}	/*Kasımpaşa S.K.*/
.club.c176          {background-position:-363px -297px}	/*Karabükspor*/
.club.c177 	     	{background-position:-396px -297px}	/*Kayserisporb*/
.club.c178   	    {background-position:-429px -297px}	/*Medical Park Antalyaspor*/
.club.c179       	{background-position:-462px -297px}	/*Mersin İdmanyurdu SK*/
.club.c180 			{background-position:-495px -297px}	/*Orduspor*/
.club.c181 			{background-position:-528px -297px}	/*Sivassporb*/
.club.c182     		{background-position:-561px -297px}	/*Trabzonsporb*/
/*
.club.c   			{background-position:-594px -297px}
.club.c    			{background-position:-627px -297px}
*/