html		 {height:100%;}
body		 {margin:0;font:11px Arial, Helvetica, sans-serif;height:100%;background:url(img/fondo.gif) repeat-x bottom;}
a			 {text-decoration:none;outline:none;}
h2			 {font-size:14px;font-weight:bold;margin:15px;color:#182983;background:#ffffff;}
h3			 {font-size:14px;font-weight:bold;margin:15px;color:#182983;background:#dddddd;}
marquee 	 {height:290px;}
.imgequipo	 {border:1px solid #dddddd;}
.imggaleria	 {display:block;margin:0 0 0 -75px;}

.logo	     {position:absolute;top:40px;margin-left:10%;z-index:2;}
.logo a	     {color:#000000;}
.logo a:hover{color:#999999;}
/*.direccion	 {text-align:right;padding:50px 10px 0 0;color:#182983;font-weight:bold;}*/
.direccion	 {position:absolute;top:108px;left:540px;color:#ffffff;font-weight:bold;z-index:2;}
.direccion a {color:#ffffff;}
.idiomas	 {position:absolute;top:182px;width:265px;font-weight:bold;text-align:right;}
.idiomas a	 {color:#182983;}

.linea_azul	 {background:#182983;height:56px;position:absolute;top:67px;margin-left:25%;width:75%;}
.linea_gris	 {background:#c5c6c9;height:87px;position:absolute;top:132px;left:0;width:15%;}
.linea1	   	 {position:absolute;top:129px;margin-left:20%;width:80%;border-bottom:1px solid #182983;}
.linea2	     {position:absolute;top:148px;margin-left:20%;width:80%;border-bottom:1px solid #182983;}
.linea3	     {position:absolute;top:166px;margin-left:20%;width:80%;border-bottom:1px solid #182983;}
.linea4	     {position:absolute;top:185px;margin-left:20%;width:80%;border-bottom:1px solid #182983;}
.linea5	     {position:absolute;top:204px;margin-left:20%;width:80%;border-bottom:1px solid #182983;}
.bt1	     {position:absolute;top:090px;left:338px;}
.bt2	     {position:absolute;top:109px;left:326px;}
.bt3	     {position:absolute;top:127px;left:320px;}
.bt4	     {position:absolute;top:145px;left:310px;width:190px;}
.bt5	     {position:absolute;top:163px;left:300px;}

.contenedor	 {position:absolute;top:230px;margin-left:9%;}
.cuerpo		 {position:absolute;top:0;left:275px;width:380px;height:330px;text-align:justify;}
.cuerpo a	 {color:#000000;}
.cuerpo p	 {margin:15px;line-height:19px;font-size:13px;}
.cuerpo_video{position:absolute;top:10px;left:190px;}
.cuerpo_mapa {position:absolute;top:10px;left:110px;}

.cuerpo_serv         {position:absolute;top:0;left:275px;width:620px;height:400px;}
.cuerpo_serv table   {background:#999999;margin:0 0 0 15px;}
.cuerpo_serv table td{background:#ffffff;}

.cuerpo_galeria			{position:absolute;top:0;left:70px;width:720px;}
.cuerpo_galeria table   {width:550px;background:#999999;margin:0 0 0 15px;}
.cuerpo_galeria table td{background:#ffffff;}
.cuerpo_galeria a		{color:#182983;}
.cuerpo_galeria a:hover	{color:#333333;}
.cuerpo_galeria img		{border:0;}

.cuerpo_empresa		 {position:absolute;top:0;left:95px;width:550px;height:300px;text-align:justify;}
.cuerpo_empresa p	 {margin:15px;line-height:19px;font-size:13px;}
.cuerpo_empresa table{margin:0 0 0 15px;}
.cuerpo_empresa table td{vertical-align:top;font-size:11px;padding:0 10px 10px 0;text-align:left;}

.derecha	   {position:absolute;top:10px;left:670px;width:220px;height:320px;background:#dddddd;font:11px Arial, Helvetica, sans-serif;}
.derecha_video {position:absolute;top:10px;left:670px;width:220px;height:320px;background:#dddddd;font:11px Arial, Helvetica, sans-serif;}	
.derecha_video p{margin:10px 15px 10px 15px;font-family:Arial, Helvetica, sans-serif;;font-size:11px;} 
.derecha p     {margin:10px 15px 10px 15px;font-family:Arial, Helvetica, sans-serif;;font-size:11px;}
.derecha a	   {color:#182983;}

.servicios2			{position:absolute;top:0;left:0;width:900px;padding:10px 0 0 0;}
.servicios2 table	{background:#666666;margin:0 0 20px 0;}
.servicios2 table td{background:#ffffff;}

/*servicios*/
.tabla_servicios	{background:#cccccc;margin-bottom:10px;}
.tabla_servicios td	{background:#ffffff;padding:4px;}
th					{background:#cccccc;padding:4px;}
.accordion_headings	{background:#182983;color:#ffffff;padding:5px;cursor:pointer;border-bottom:1px solid #ffffff;}