html		{height:100%;}
body	    {height:100%;margin:0;background:url(img/fondo_2.gif) bottom repeat-x #4a4a4a;}
a			{text-decoration:none;}
em			{font-style:normal;color:#d65b18;}
i		    {color:#666666;}
input		{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;}
textarea	{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;}

#central    {position:absolute;left:50%;top:65px;width:640px;height:490px;margin-left:-220px;background:#ffffff;}
#superior	{height:560px;background:url(img/fondo_1.jpg) top repeat-x;}

#boton		{position:absolute;top:0;left:-180px;height:500px;background:url(img/fondo_sol.gif) left no-repeat;background-position:30px 49px;}
#boton img	{margin:10px 0 80px 0;}
#boton a	{display:block;width:162px;margin:6px 0 6px 0;padding:3px 0 3px 15px;background:#444444;color:#ffffff;font:13px Trebuchet MS, Arial, sans-serif;font-weight:bold;}
#boton a:hover{color:#999999;background:url(img/fondo_4.gif) left no-repeat #444444;}

h1		    {font:20px Georgia, Times New Roman, Times, serif;margin:0 20px 8px 20px;color:#d65b18;border-bottom:1px solid #d65b18;}
h2			{font:12px Verdana, Arial, Helvetica, sans-serif;margin:0 0 6px 0;color:#444444;font-weight:bold;}

.cuerpo		{width:285px;margin:0 0 0 20px;font:11px Verdana,Arial, Helvetica, sans-serif;}

.cuerpo_lar  {width:600px;height:540px;margin:0;font:11px Verdana,Arial, Helvetica, sans-serif;background:#ffffff;border-left:20px solid #ffffff;border-right:20px solid #ffffff;}
.cuerpo_lar p{margin:9px 0 9px 0;}

.cuerpo_hi  {width:600px;margin:0 0 0 20px;font:11px Verdana,Arial, Helvetica, sans-serif;background:url(img/fondo_piano.gif) right no-repeat;}
.cuerpo_hi p{margin:9px 0 9px 0;}
.cuerpo a	{color:#d65b18;}
.cuerpo p	{margin:9px 0 9px 0;}
.piano		{position:absolute;top:95px;left:320px;}

.tb_patrocina img{margin:10px 25px 10px 10px;}
