body	    {margin:0;background:#f6f6f6;font:12px Arial, Helvetica, sans-serif;}
#central    {position:absolute;left:50%;top:50%;width:800px;height:480px;margin-left:-400px;margin-top:-240px;background:#ffffff;border:1px solid #cccccc;}

a			{text-decoration:none;outline:none;}
em			{color:#c4db0e;font-style:normal;}

.idiomas 	{position:absolute;top:-20px;width:100%;text-align:right;}
.idiomas a	{color:#999999;}
.logo		{height:70px;padding:10px 0 10px 0;background:url(imgs/logo_aston.gif) left no-repeat #c4db0e;background-position:15px;}
h1			{font-size:20px;padding:35px 10px 0 0;text-align:right;color:#ffffff;font-weight:normal;}

.cuerpo		{}

.columna1	{position:absolute;width:260px;top:150px;left:5px;text-align:center;color:#002768;}
.columna2	{position:absolute;width:260px;top:150px;left:270px;text-align:center;}
.columna3	{position:absolute;width:260px;top:150px;left:535px;text-align:center;color:#002768;}
.columna2 a {color:#002768;}
.columna1 a:hover,.columna2 a:hover,.columna3 a:hover {text-decoration:none;}

.botones1	{position:absolute;width:100%;top:403px;}
.botones1 img{border:0;}
.btgris		{float:left;width:156px;height:30px;padding:20px 0 0 0;text-align:center;border-right:2px solid #ffffff;border-left:2px solid #ffffff;background:#cccccc;color:#ffffff;}
.btgris:hover{background:#002768;}
.btgris2	{float:left;width:156px;height:45px;padding:5px 0 0 0;border-right:2px solid #ffffff;border-left:2px solid #ffffff;background:url(imgs/aston_bt1.gif) center no-repeat #cccccc;}
.btgris2:hover{background:url(imgs/aston_bt1_hover.gif) center no-repeat #002768;}
.btgris3	{float:left;width:156px;height:43px;padding:5px 0 0 0;text-align:center;border:1px solid #cccccc;background:url(imgs/aston_bt2.gif) center no-repeat #ffffff;}
.btgris3:hover{background:url(imgs/aston_bt2_hover.gif) center no-repeat #ffffff;}

.logo_puting{position:absolute;top:355px;width:100%;text-align:center;}

.botones2	{position:absolute;top:455px;left:0;width:100%;padding:5px 0 5px 0;background:#c4db0e;text-align:center;}
.botones2 a	{color:#666666;}

.pie		{position:absolute;top:485px;left:0;width:100%;text-align:center;color:#999999;}
.pie span	{color:#39138f;}
.pie a		{color:#39138f;}