body{
	margin-top:16px;
	margin-left:16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;}
	
#contenedor1 a{color:#0D255E;text-decoration:none;}
#contenedor1 a:hover{color:#CCCCCC;}
#contenedor2 a{color:#0D255E;text-decoration:none;}
#contenedor2 a:hover{color:#CCCCCC;}
#cabecera a{color:#0D255E;text-decoration:none;}
#cabecera a:hover{color:#CCCCCC;}

.abs1	   {position:absolute;top:40px;left:750px;z-index:1;}
.abs2	   {position:absolute;top:40px;left:820px;z-index:1;}
.galeria1  {height:320px;overflow:auto;text-align:center;}
.verde1	   {color:#98CB00;}
.azul1	   {color:#0D255E;}
.gris      {color:gray;}
.especial  {position:absolute;width:300px;top:220px;left:580px;color:#FFFFFF;
		   font-size:24px;font-weight:bold;}
.especial2  {position:absolute;width:350px;top:220px;left:550px;color:#FFFFFF;
		   font-size:24px;font-weight:bold;}
input	   {margin:2px 0px 2px 0px;}
.bblue     {color:#0D255E;padding-bottom:8px;display:block;}
.subtext   {font-style:italic;font-size:11px;color:#39138F;padding-left:48px;padding-bottom:8px;}
.subtext2  {font-size:11px;color:#39138F;padding-left:12px;}
.delegacion{padding:16px;color:#0D255E;height:220px;overflow:auto;
		scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
		scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
		scrollbar-highlight-color:#FFFFFF;}
.equipo    {padding:16px;color:#0D255E;height:180px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
#cabecera  {width:740px;color:#83827E;text-align:right;}
	#fecha      {color:#83827E;text-align:right;padding:6px 6px 60px 0px;}
	.correo     {color:white;text-align:right;padding:6px 6px 16px 0px;}
#contenedor1{width:280px;float:left;}
	.cuadro     {
	width:10px;
	height:10px;
	float:left;
	background-color: #c4db0e;
}
	.cont_abajo1{padding-top:20px;text-align:right;}
	.cont_abajo2{padding-top:150px;text-align:right;}
#piecera1{
	width:745px;border-top:2px solid #EFEFE7;padding-top:6px;text-align:center;
	color:#39138F;clear:left;}
	#piecera2{width:745px;color:#83827E;text-align:center;}
	.link_pie{text-decoration:none;color:#83827E;}
#contenedor2{
	width:460px;height:500px;
	background:#EFEFE7;
	padding-bottom:5px;margin-bottom:6px;border-top:8px solid #98CB00;float:left;}
	#crojo    {background:#002469;width:180px;color:#FFFFFF;text-align:right;font-size:14px;
	font-weight:bold;padding:4px;margin-right:6px;float:left;}
	#crojo2   {padding-top:7px;border-bottom:2px solid #002469;}
	#cazul    {background:#0033FF;width:180px;text-align:right;font-size:14px;font-weight:bold;
	color:#FFFFFF;margin-right:6px;padding:4px;float:left;}
	#cazul2   {padding-top:7px;border-bottom:2px solid #0033FF;}
	#cverde   {background:#98CB00;width:180px;text-align:right;font-size:14px;font-weight:bold;
	color:#FFFFFF;margin-right:6px;padding:4px;float:left;}
	#cverde2  {padding-top:7px;border-bottom:2px solid #98CB00;}
	#cverde3  {background:#98CB00;font-size:14px;font-weight:bold;color:#FFFFFF;padding:4px;}
	.cverde3_txt{padding:16px;color:#0D255E;}
	.form_caja{height:18px;font-size:10px;color:#666666;}
	.texto_der{color:#83827E;padding:10px 10px 10px 190px;border-top:4px solid #FFFFFF;}
	
.textblanco {color:#FFFFFF;padding:0px 16px 8px 16px;height:100%;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco11{color:#FFFFFF;padding:0px 16px 8px 16px;height:170px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco2{color:#FFFFFF;padding:0px 16px 8px 16px;height:200px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco22{color:#FFFFFF;padding:0px 16px 8px 16px;height:220px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco3{color:#FFFFFF;padding:0px 16px 8px 16px;height:415px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco33{color:#FFFFFF;padding:0px 16px 8px 16px;height:210px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco4{color:#FFFFFF;padding:0px 16px 8px 16px;height:290px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco44{color:#FFFFFF;padding:0px 16px 8px 16px;height:310px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco5{color:#FFFFFF;padding:0px 16px 8px 16px;height:230px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco55{color:#FFFFFF;padding:0px 16px 8px 16px;height:260px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
.textblanco0{color:#FFFFFF;padding:0px 16px 8px 16px;overflow:auto;
	scrollbar-arrow-color:#000000;scrollbar-base-color:#000000;scrollbar-dark-shadow-color:#000000; 
	scrollbar-track-color:#DDDDDD;scrollbar-face-color:#BBBBBB;scrollbar-shadow-color:#000000; 
	scrollbar-highlight-color:#FFFFFF;}
	
#c_traduccion{
	width:460px;
	height:490px;
	margin-bottom:6px;
	float:left;
	background-color: #002469;
}
#ttraduccion{color:#002469;background:#FFFFFF;font-size:14px;font-weight:bold;padding:6px;}

#c_clases{width:460px;height:510px;background:#0033FF;margin-bottom:6px;float:left;}
#tclases{color:#0033FF;background:#FFFFFF;font-size:14px;font-weight:bold;padding:6px;}

#c_cursos{
	width:465px;
	height:490px;
	margin-bottom:6px;
	float:left;
	background-color: #98CB00;
}
#tcursos{color:#98CB00;background:#FFFFFF;font-size:14px;font-weight:bold;margin-top:48px;
	padding:6px;}
	
.caja_form{height:18px;font-size:10px;color:#999999;}
.boton_envio{border:1px solid #000000;font-size:12px;color:#0D255E;}
	.tituloreunion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
#enlaces a:hover {
	color: #CCCCCC;
}
.noticiasLateral{
	height:380px; 
	width:98%; 
	overflow:auto;
}
