body	{margin:0 0 0 0; background:url(img/fondo.gif);}
.tabla1	{height:100%;border-left:1px solid #000000;}
td		{font:11px Arial, Helvetica, sans-serif;}

h3		{font:10px Arial, sans-serif;height:250px;padding:20px;margin:0;border-right:1px solid #ffffff;}

a		{text-decoration:none;}
a:hover	{text-decoration:none;}
em		{font-style:normal;color:#E6443B;font-size:11px;font-weight:bold;}
input,select,textarea  {font:10px Arial, sans-serif;}

.logo	   {width:200px;background:#333333;vertical-align:middle; text-align:center;}
.logo img  {border:0px;}

.botonera  {height:90px;text-align:center;vertical-align:middle;border-left:4px solid #C8D9C6;border-right:1px solid #D8E9D6;background:#ffffff;}
.botonera a{font:14px "Trebuchet MS", Arial, sans-serif;padding:0 10px 10px 10px;background:url(img/fondo_bt.gif) top right no-repeat;color:#999999;font-weight:bold;}
.botonera a:hover{color:#000000;}

.celda1   {height:450px;width:200px;background:#D8E9D6;vertical-align:top;}
.ofertas  {font:bold 14px "Trebuchet MS", Arial, sans-serif;margin:20px 0 0 20px;}
.pics     {margin:30px 0 0 30px;}
.pics img {border:1px solid #333333;width:40px;height:40px;}
.pizq     {margin:10px 20px 10px 20px;text-align:center;}
.pizq img {border:1px solid #333333;margin:5px 0 5px 0;}

.celda2   {background:#D8E9D6;width:320px;border-right:4px solid #C8D9C6;text-align:center;}
.celda2 p {margin:10px 20px 10px 20px;text-align:justify;}

.celda3         {background:#ffffff;width:320px;font:11px Arial, Helvetica, sans-serif;vertical-align:top;border-right:1px solid #D8E9D6;}
.celda3	p       {margin:10px 20px 10px 20px;}
.celda3 table   {background:#D8E9D6;}
.celda3 table td{background:#ffffff;}

.sub1	{background:#333333;}
.sub2	{border-left:4px solid #C8D9C6;border-top:1px solid #C8D9C6;padding:5px 0 0 0;text-align:center;vertical-align:top;}
.sub2 a {color:666666;}

#dhtmltooltip{position:absolute;width:250px;padding:2px;visibility: hidden;z-index:5;}
#dhtmltooltip img {border:2px solid #333333;}