body	{margin:0;}
td		{font:12px "Trebuchet MS", Arial, sans-serif;vertical-align:top;}

a		{text-decoration:none;color:#000000;}
a:hover	{color:#cccccc;}
ul,li	{margin:0 0 0 5px;}

h1		{font-size:18px;color:#40774D;border-bottom:1px dashed #40774D;}
h2		{font:11px Arial, Helvetica, sans-serif;color:#000000;text-align:center;margin:0 3px 0 3px;font-weight:bold;}
h3		{font-size:14px;color:#000000;margin:0;padding:0;text-transform:uppercase;}
h4		{font-size:14px;color:#000000;margin:4px 4px 0 4px;padding:5px;background:#cccccc;text-align:center;}
h5		{font-size:10px;font-weight:normal;margin:0;padding:0 0 10px 0;}
h6		{font-size:12px;font-weight:bold;color:#40774D;margin:10px 0 10px 0;}
em		{font-style:normal;color:#40774D;}
cite	{font-style:normal;font-size:16px;font-weight:bold;color:#dddddd;}

#capa1			{position:absolute;margin:310px 0px 0px 145px;}
.noticias		{width:178px;border:1px solid #40774D;background:#ffffff;font:9px Arial, Helvetica, sans-serif;}
.noticias a img	{margin:2px 0 8px 0;border:0;}
.noticias p		{background:url(img/flecha.gif) top left no-repeat;padding:0 0 0 15px;margin:5px 10px 10px 5px;}

iframe	{border:1px solid color:#40774D;width:298px;height:400px;}
form	{margin:0;}
input	{display:block;font:11px "Trebuchet MS", Arial, sans-serif;color:#666666;}
textarea{display:block;font:12px "Trebuchet MS", Arial, sans-serif;}
select	{font:11px "Trebuchet MS", Arial, sans-serif;}

.filatop1 	   {height:110px;text-align:center;}
.filatop1 img  {border:0;margin:12px 0 0 0;}
.filatop2      {width:478px;height:110px;vertical-align:bottom;}
.filatop2 img  {display:block;margin:0 0 0 125px;}

.filarriba		  {width:810px;background:#8DC69A;padding:8px 0 8px 20px;border:1px solid #40774D;}
.filarriba a	  {font-size:12px;font-weight:bold;}
.filarriba a:hover{color:#dddddd;}

.fila_izq	{padding:20px 0 0 20px;width:300px;border-top:1px solid #40774D;border-bottom:1px solid #40774D;border-left:1px solid #40774D;background:#eeeeee;}
.fila_der	{padding:20px;width:438px;height:340px;border-top:1px solid #40774D;border-bottom:1px solid #40774D;border-right:1px solid #40774D;background:url(img/fondo_travelcar.gif) right bottom no-repeat #eeeeee;vertical-align:top;}
.fila_der_v	{padding:20px;width:438px;height:340px;border-top:1px solid #40774D;border-bottom:1px solid #40774D;border-right:1px solid #40774D;background:#eeeeee;vertical-align:top;}
.fila_der p	{word-spacing:-1px;text-align:justify;}
.fila_der_v	img{margin:-1px;}

.filabajo	{background:#8DC69A;padding:4px;border:1px solid #40774D;text-align:center;}

.bordeverde  {border:1px solid #40774D;}
.bordeverde2 {border:1px solid #40774D;margin:0 0 10px 15px;float:right;}
.ttarifas  	 {background:#cccccc;width:410px;}
.ttarifas td {background:#eeeeee;padding:1px 15px 1px 15px;}

.listado_bicis img			{border:0;}
.listado_bicis a:hover img 	{opacity:0.5;filter:alpha(opacity=50);}
