body{background:url(../FOShare/Background-brown.png) no-repeat}
#main_content {top:243px;width:460px;height:270px}
#main_content p {font-size:13px}
#main_content_popup p{font-size:13px;text-align:center}
.container{width:95%;height:245px;position:relative;border:none;box-shadow:none;-webkit-border-radius:0px;background-color:transparent;background:none;padding:10px;overflow:hidden}
.container-popup{width:550px;height:400px;position:absolute;overflow:hidden;top:165px;left:158px}
.text-P2-body{margin-left:130px;margin-top:35px;padding:0px;background-color:transparent;color :rgb(40,40,40);line-height:27px;box-shadow:none;width:850px;height:auto}
.text-P2-body2{margin-left:150px;margin-top:30px;padding:0px;color :rgb(40,40,40);font-size:23px;line-height:27px;width:850px}
.text-inner-body{left:200px}
.text-P2-bottom{line-height:15px}
.text-P2-top-title2{font-size:22.5px;;padding-left:0px; line-height:27px}
.bold{font-weight:bold}
.parleft{padding-left:70px}
.text-P2-body3-left{padding-top:20px;padding-left:150px;float:left;width:50%}
.text-P2-body3-right{float:left;width:31%;color:#282828;font-size:23px;line-height:27px;padding-top:20px}
.text-P2-body3-left-image{width:470px;height:404px;margin-top:3px}
.text-body-background-image{margin-left:130px;margin-top:30px;padding:20px;background-color:rgb(154,81,7);opacity:0.1;padding-left:35px;font-size:23px;line-height:27px;-moz-box-shadow:2px 2px 2px 2px rgba(0,0,0,1);-webkit-box-shadow:2px 2px 2px 2px rgba(0,0,0,1);box-shadow:2px 2px 2px 2px rgba(0,0,0,1);width:770px;height:360px;position:absolute;top:300px;left:0px;z-index:-1}
.text-P2-top-popup-title{font-size:45px; line-height:54px}
.text-inner-body-page2-popup-topimage{width:746px;height:644px}
.text-inner-body-page2-popup-top{padding-top:20px}
.text-inner-body-page2-left-bottom{font-size:12.5px;line-height:15px}
.text-inner-body-page2-left-bottom-left{float:left;width:49%}
.text-inner-body-page2-left-bottom-right{float:left;width:49%}

#chart {position:absolute;top:35px;left:126px;width:800px}
#chart_bg {display:none;position:absolute;top:0;left:0px;width:1024px;z-index:4999;height:768px;background-color:#FFF}
.brownbar,.greybar {position:absolute;width:33px;height:10px;left:0;bottom:-20px;border-bottom:none}
#barchart-small div {background-color:transparent!important;}
#barchart-small .greybar {background:#AEB7BD!important;width:36px}
#barchart-small .brownbar {background-color:rgb(154, 81, 7)!important;color:white}
.brownbar-popup, .greybar-popup {position:absolute;width:60px;height:10px;left:0;bottom:-20px;border-bottom:none}
.brownbar-popup {background:rgba(154, 81, 7,100);color:white}
.greybar-popup {background:#AEB7BD}
#barchart-small {width:40px;height:256px;position:relative;left:120px;top:0px}
#barchart-small p {position:relative;top:7px;text-align:center}
.bar2{margin-left:33px}
.bar3{margin-left:130px}
.bar4{margin-left:163px}
.bar5{margin-left:255px}
.bar6{margin-left:288px}
.bar2-popup{margin-left:60px}
.bar3-popup{margin-left:210px}
.bar4-popup{margin-left:270px}
.bar5-popup{margin-left:418px}
.bar6-popup{margin-left:478px}
.text-P2-top	{width:auto}