body{
	margin:8px;}
table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;}
input, select, textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #333333;}
	.btcrear{height:18px;}
	.celda_linea1{
		width:195px;
		border-bottom:1px solid #AAAAAA;
		padding:1px;}
	.celda_linea{
		border-bottom:1px solid #AAAAAA;
		padding:1px;}
	.celda_linea2{
		border-top:1px solid #AAAAAA;}
.panelc{
	font-size:18px;
	font-weight:bold;
	background:#AAAAAA;
	text-align:center;}
.central{
	width:740px;
	background:#AAAAAA;}
	.central_ini{
	width:250px;
	background:#AAAAAA;}
	.central_izq1{
	width:250px;
	background-color:#FFFFFF;}
	.central_izq{
	background-color:#FFFFFF;
	padding-left:4px;}
.titulo{
	font-weight:bold;
	background-color:#efefef;
	border-top:1px solid #BBBBBB;
	padding:1px;}
.colorg{color:#999999;}
.esp{padding-bottom:1px;}