
<div id="parrafo1">
	<p>1997 es la fecha en  la que Grupo  Indian arranca, como una empresa de p&aacute;ginas web, su camino hacia lo que hoy es: una organizaci&oacute;n que se desarrolla en distintas &aacute;reas del sector servicios, no s&oacute;lo con la consultor&iacute;a tecnol&oacute;gica para empresas sino tambi&eacute;n gesti&oacute;n documental, 3D y narrowcasting; que hace una apuesta s&oacute;lida y  novedosa por las los sitios web autogestionables; y tambi&eacute;n ofrece servicios agregados como posicionamiento en buscadores para posicionar en lo mas alto a  nuestros clientes.</p>
	<p class="parrafo0">Grupo Indian lo forman cuatro grandes divisiones:</p>
</div>
	
