body	{background:url(img/fondo.jpg);margin:15px;}
td		{font: 12px "Trebuchet MS", Arial, sans-serif;color:#FFFFFF;word-spacing:-1px;}
h1		{font-size:24px;color:#A4163D;}
h2		{font-size:14px;color:#A4163D;}
h3		{font-size:12px;font-weight:bold;}
h4		{font-size:14px;color:#666666;}
h5		{font-size:14px;font-weight:bold;text-align:center;background:#333333;border:1px solid #A4163D;padding:2px;}
em		{font-style:normal;font-weight:bold;color:#A4163D;}

input,textarea{border:1px solid #000000;font:11px Arial, Helvetica, sans-serif;}

marquee	{font-size:16px;font-weight:bold;color:#A4163D;height:20px;text-align:center;border:1px solid #666666;}
.cuadro	{float:left;width:17px;height:17px;margin:6px 2px 0px 0px;background:#A4163D;}
.cuadro2{float:left;width:9px;height:9px;margin:6px 4px 0px 4px;background:#FFFFFF;}

#central{width:780px;border:4px solid #000000;background:#333333;}
.bt1	{background:#C41A49;border-bottom:1px solid #333333;}
.bt2	{background:#CE355F;border-bottom:1px solid #333333;}
.bt3	{background:#D44E73;border-bottom:1px solid #333333;}
.bt4	{background:#DA6887;border-bottom:1px solid #333333;}
.bt5	{background:#E0819B;}

.top3	 {width:500px;padding-left:2px;}
.top3 a  {display:block;text-decoration:none;color:#FFFFFF;font-weight:bold;height:25px;text-indent:5px;font-size:13px;}
.top3 a:hover{color:#000000;text-indent:10px;background:#A4163D;}

.fila1	 	  {vertical-align:top;background:#000000;}
.fila2	  	  {height:360px; background:url(img/fondo1.gif);}
#fila3		  {vertical-align:top;padding:0px 10px 5px 10px;}
#fila3 a 	  {color:#A4163D;text-decoration:none;}
#fila3 a:hover{text-decoration:underline;}
#fila3 span a:hover{border:1px solid #FFFFFF;}
#fila3 cite a:hover{border:2px solid #A4163D;}

.contacto		 {background:#000000;padding:3px;text-align:center;border-top:2px solid #A4163D;}
.contacto a		 {text-decoration:none;color:#666666;}
.contacto a:hover{color:#C41A49;}
.contacto em	 {color:#666666;font-style:normal;}

#mapa1		{position:relative;top:140px;left:240px;font-weight:bold;width:190px;padding:5px;z-index:5;}
#mapa2		{position:relative;top:120px;left:200px;font-weight:bold;width:150px;padding:5px;z-index:4;}
#mapa3		{position:relative;top:75px;left:200px;font-weight:bold;width:150px;padding:5px;z-index:3;}
#mapa4		{position:relative;top:30px;left:160px;font-weight:bold;width:150px;padding:5px;z-index:2;}
#mapa5		{position:relative;top:-220px;left:30px;font-weight:bold;width:150px;padding:5px;z-index:1;}

#mapa1 span,#mapa2 span,#mapa3 span,#mapa4 span,#mapa5 span {visibility:hidden;}
#mapa1 a,#mapa2 a,#mapa3 a,#mapa4 a,#mapa5 a	{color:#FFFFFF;}
#mapa1 a:hover,#mapa2 a:hover,#mapa3 a:hover,#mapa4 a:hover,#mapa5 a:hover{color:#000000;text-transform:uppercase;text-decoration:none;}

