body	    {margin:0;font:11px Arial, Helvetica, sans-serif;z-index:0;}
#fondo		{position:absolute;top:130px;width:100%;height:207px;background:#377363;}
#central    {position:absolute;width:300px;margin-left:-380px;left:50%;z-index:1;width:500;height:auto;}

h2			{margin:5px 0 20px 0;font:16px Arial, sans-serif;font-weight:bold;color:#333;background:url(img/ico_verde.gif) no-repeat left;line-height:16px;padding:0 0 0 14px;text-indent:4px;}
h4			{margin:0px;padding:3px;text-align:center;font-size:12px;background:#476f66;color:#FFFFFF;}
a			{text-decoration:none;outline:none;}
em			{font-style:normal;}
cite		{font-style:normal;color:#aaaaaa;display:block;margin:20px 0 0 0;}
input,textarea{display:block;}
.superior	 		{background:#ffffff; width:765px; height:88px;border-bottom:25px solid #fff; margin-top:4px;z-index:-999}
.superior div		{position:absolute;top:20px;left:274px;text-align:right;width: 481px;}
.superior a	 		{color:#476f66;padding:0 0 0 8px;}
.superior a:hover 	{color:#000000;}

.botones			{position:absolute;top:104px;left:54px;z-index:2;width: 775px;margin-left:-54px;} /*background-color:#deebe8;*/
.botones img		{border:0;padding:0;margin:0;}	
.botones div a		{display:block;padding:6px 0 5px 6px;color:#333333;}
.botones a:hover	{}

.boton2				{margin-right:-1px;}
.boton1:hover #capa1,#capa1:hover{visibility:visible;}
.boton2:hover #capa2,#capa2:hover{visibility:visible;}
.boton3:hover #capa3,#capa3:hover{visibility:visible;}

#capa1		{position:absolute;visibility:hidden;width:133px;height:180px;top:25px;left:0;background:#deebe8;z-index:2;}
#capa2		{position:absolute;visibility:hidden;width:180px;height:170px;top:25px;left:135px;background:#deebe8;z-index:2;}
#capa3		{position:absolute;visibility:hidden;width:120px;height:70px;top:25px;left:302px;background:#deebe8;z-index:2;}

.noticias	{ overflow:auto;position:absolute;top:385px;left:592px;width:160px;height:190px;padding:10px 0 0 0;border:1px solid #476f66;z-index:1;}
.noticias p	{margin:0 10px 6px 10px;}
.noticias a {color:#333333;}
.noticias a:hover{color:#666666;}

.bordeverde 	{border:1px solid #377363;margin:0 16px 8px 0;}
.minis			{height:60px;border:1px solid #666666;}
#dhtmltooltip	{position:absolute;width:350px;visibility:hidden;z-index:3;}

.centro		{width:743px;padding:10px 0 0 15px;background:#deebe8; height:auto; clear:both; /*position:absolute;border-right:205px solid #deebe8;*/}
.centro a	{color:#000000;font-weight:bold;}
.centro a:hover{text-decoration:underline;}
.centro p   {line-height:16px;color:#333333;text-align:justify;font-size:12px;margin-right:200px;font-weight:normal;}
.centro li	{line-height:16px;color:#333333;font-size:12px;}

.pie		{ clear:both; width:768px;padding:8px 0 8px 0;float:left; background:#ffffff;color:#666666;border-bottom:1px solid #377363;}
.pie a		{font-size:11px;color:#999999;font-weight:normal;}

#cabecera {width:774px;height:194px;padding:13px 0 0 0;}
#cabecera #FlashID object div {font-weight: bold;}

marquee	{background:#cccccc;width:748px;padding:2px 5px 5px 5px;font-size:14px;font-style:italic;font-weight:bold;}
noticiasID {overflow:scroll;}
