body	{margin:0;background:url(img/fondo.gif) fixed;}
.tabla1	{width:870px;height:100%;}
td		{font:12px Trebuchet MS, Arial, sans-serif;vertical-align:top;}
a		{text-decoration:none;color:#a30306;}
a:hover	{text-decoration:none;}
em		{font-style:normal;}
ul		{text-align:justify;}

.logo1	   {width:230px;height:170px;text-align:center;background:#000000;vertical-align:middle;}
.logo2	   {width:640px;height:170px;}

.a1		   {background:#a30306;text-align:right;height:30px;padding:0 10px 0 0;vertical-align:middle;}
.a2		   {background:#e38918;text-align:right;height:30px;padding:0 10px 0 0;vertical-align:middle;}
.a3		   {background:#17581b;text-align:right;height:30px;padding:0 10px 0 0;vertical-align:middle;}
.a1 a,.a2 a,.a3 a{color:#FFFFFF;font-weight:bold;}
.a1 a:hover,.a2 a:hover,.a3 a:hover{ text-transform:uppercase;}

.centro	     {width:640px;}
.centro p    {margin:0 0 15px 25px;text-align:justify;}
.centro table{margin:0 0 15px 25px;}
h1		     {padding:4px 0 3px 25px;font:18px Trebuchet MS, Arial, sans-serif;font-weight:bold;color:#ffffff;}
.b1		     {background:#a30306;}
.b2			 {background:#e38918;}
.b3			 {background:#17581b;}

#dhtmltooltip     {position:absolute;visibility:hidden;z-index:5;}
