body	   	{margin:0;background:#f9e8dd;}
#central   	{position:absolute;left:50%;top:50%;width:720px;height:420px;margin-left:-375px;margin-top:-210px;
			background:#542d10;font:12px Arial, Helvetica, sans-serif;color:#ffffff;border:1px solid #542d10;}

h1		    {background:#28330b;margin:0;font-size:14px;padding:4px 0 4px 4px;}
a			{text-decoration:none;outline:none;color:#ffffff;}
a:hover		{color:#999999;}
form		{margin:20px;}
textarea,input{font:12px Arial, Helvetica, sans-serif;}
.mini		{width:40px;height:29px;border:1px solid #ffffff;}

.boton_top    {top:0;left:560px;width:160px;height:30px;position:absolute;background:#542d10;opacity:.8;filter:alpha(opacity=80);}
.boton_top a  {line-height:28px;margin:0 0 0 15px;}
.boton_top img{border:0;margin:3px 0 0 0;}

.boton_sub    {top:422px;left:-1px;width:720px;height:40px;position:absolute;background:#542d10;border:1px solid #542d10;}
.boton_sub a  {line-height:40px;margin:0 0 0 20px;}
.boton_sub img{margin:0 0 0 5px;}

.verde		  {position:absolute;top:50px;left:35px;width:650px;height:345px;background:#3b4b13;opacity:.9;filter:alpha(opacity=90);border:1px solid #ffffff;}
.verde p	  {margin:20px;line-height:16px;}
.verde table  {margin:20px;line-height:18px;}

.blanca_logos {background:#ffffff;width:280px;vertical-align:top;text-align:center;color:#000000;}
.bodas		  {vertical-align:top;}
.bodas img	  {border:1px solid #ffffff;width:40px;height:25px;}

#dhtmltooltip     {position:absolute;visibility: hidden;z-index:5;}
#dhtmltooltip img {border:1px solid #ffffff;}