body {margin:16px;/*background:url(images/img0x.gif) top repeat-x;*/}
td	 {font-size:12px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

.botonera		 {height:65px;background:url(images/fondo_botonera2.gif) center no-repeat;text-align:center;}
.botonera a		 {font-size:18px;letter-spacing:-1px;color:#000000;text-decoration:none;padding:0px 10px 0px 10px;}
.botonera a:hover{color:#ffffff;}

#columna0	{width:185px;vertical-align:top;color:#000000;padding:0 5px 0px 6px;font-size:11px}
#columna1	{width:415px;vertical-align:top;color:#333333;padding:10px;background:#f4f4f4;border:2px solid #a6c954;}
#columna2	{width:185px;vertical-align:top;color:#000000;padding:0 0px 0px 6px;font-size:11px;}


h1		{letter-spacing:-1px;font-size:22px;color:#7da51f;margin:0px;}
h2 		{font-size:16px;color:#000000;background:url(images/img3.gif) no-repeat;height:32px;padding:4px 0px 0px 12px;}
h3		{margin:0;padding:0 0 0 15px;font-size:13px;color:#000000;background:url(images/flecha.gif) left no-repeat;}

em		{font-weight:bold;font-style:italic;color:#a6c954;}