td		  {font:13px "Trebuchet MS", Arial, sans-serif;}
h1		  {font-size:24px;color:#910029;}

.botonera 		 {width:700px;height:151px;background:url(img/cabecera1.jpg);padding:125px 0px 0px 0px;text-align:center;}
.botonera a	 	 {text-decoration:none;color:#FFFFFF;font-weight:bold;padding:0px 10px 0px 10px;}
.botonera a:hover{border-bottom:4px solid #FFFFFF;}

.cuerpo  {width:664px;background:url(img/fondo1.gif) repeat-y;padding:18px 18px 36px 18px;}

.pie	 {font-size:11px;font-weight:bold;text-align:center;color:#910029;}