<p><b>Reforma del Hostal Putxet</b></p><span>&nbsp;</span><p>El 15 de diciembre se iniciaron las obras de reforma del Hostal Putxet.

Se trata de la rehabilitación integral de los interiores de un edificio de 3 plantas, con 21 habitaciones.

Está previsto ejecutar las obras en dos meses.</p>