<p><b>Mantenimiento Grupo Tragaluz</b></p><span>&nbsp;</span><p>TDF se ha adjudicado el mantenimiento de los locales de restauración del GRUPO TRAGALUZ. Aprovechando la implantación del programa de Gestion de Mantenimiento Asistida por Ordenador (GMAO), podemos ofrecer a nuestros clientes un servicio de mantenimiento en el que el cliente puede hacer un seguimiento en tiempo real de las actuaciones que se realizan en sus propiedades.

</p>