.tabla1		{width:870px;height:100%;border-top:20px solid #ffffff;}
td			{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
a			{text-decoration:none;outline:none;}
input,select,textarea{font:11px Verdana, Arial, Helvetica, sans-serif;}
h3			{color:#666666;font-size:11px;font-weight:normal;margin:20px;border-bottom:1px solid #666666;}
h4			{margin:20px 0 0 20px;}
th			{background:#dddddd;font-weight:bold;}

.cabecera    {width:970px;height:50px;background:url(http://www.sleepbcn.com/img/cabecera.gif) left no-repeat;}

iframe		{width:600px;height:400px;}

.izq2	    {width:160px;background:#cecece;vertical-align:top;}
.izq2 form	{margin:15px;}
.der2		{min-width:800px;background:#efeaeb;vertical-align:top;}
.der2 p		{margin:25px;}
.der2 a		{color:#0000ff;}
.bt_privado	{display:block;margin:6px 0 6px 15px;color:#000000;}
.bt_privado:hover{color:#ffffff;}
.bt_privado2	{display:block;margin:6px 0 6px 15px;color:#009933;}

.nuevo_formulario      {margin:15px;}
.nuevo_formulario td a {color:#000000;}
.listadopisos	  		{width:790px;margin:20px 0 20px 20px;background:#cccccc;}
.listadopisos td  		{background:#efeaeb;}

.dia_ 				{width:22px;}
.dia_ocupado 		{width:22px;background:#ff0000;}
.dia_ocupado a		{color:#000000;text-decoration:underline;}
.dia_ocupado_x1 	{width:22px;background:url(http://www.sleepbcn.com/img/leyenda_1a.gif) no-repeat;}
.dia_oferta15 		{width:22px;background:#ffff00;}
.dia_oferta20 		{width:22px;background:#fefe88;}
.dia_oferta25		{width:22px;background:#e9e900;}