body,html	{height:100%;margin:0;}
.tabla1		{width:870px;height:100%;border-top:20px solid #ffffff;}
td			{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
a			{text-decoration:none;outline:none;}
em			{font-style:normal;color:#ff6532;}
input,select,textarea{font:11px Verdana, Arial, Helvetica, sans-serif;}
h1			{font-size:15px;padding:0 0 0 250px;}
h2			{font-size:13px;margin:5px 0 0 0;}
h3			{color:#ff6532;font-size:11px;font-weight:bold;margin:0 0 5px 0;}
h4			{color:#666666;font-size:11px;font-weight:normal;margin:10px 0 10px 0;border-bottom:1px solid #666666;}
h5			{color:#ff6532;font-size:11px;font-weight:bold;margin:20px 0 20px 0;border-bottom:1px solid #ff6532;}

.calendario	{width:560px;height:330px;margin:0;}

#idiomas 	{position:absolute;margin:35px 0 0 605px;}
.fechas		{color:#ffffff;padding:0 0 0 15px;}

.cabecera    	 {width:870px;height:50px;background:url(http://www.sleepbcn.com/img/cabecera.gif) no-repeat;}
.cabecera div	 {padding:15px 0 0 265px;}
.cabecera a      {color:#000000;}
.cabecera a:hover{color:#ff6532;}

.boton1     {color:#000000;text-transform:uppercase;}
.boton2     {color:#000000;text-transform:uppercase;padding-left:25px;}
.boton3     {color:#000000;text-transform:uppercase;padding-left:32px;}
.boton4     {color:#000000;text-transform:uppercase;padding-left:38px;}
.boton5     {color:#000000;text-transform:uppercase;padding-left:21px;}

.boton1i    {color:#000000;text-transform:uppercase;padding-left:5px;}
.boton2i    {color:#000000;text-transform:uppercase;padding-left:57px;}
.boton3i    {color:#000000;text-transform:uppercase;padding-left:67px;}
.boton4i    {color:#000000;text-transform:uppercase;padding-left:49px;}
.boton5i    {color:#000000;text-transform:uppercase;padding-left:27px;}

.izq	 	{width:250px;background:#cecece;vertical-align:top;}
.izq form	{margin:10px 0 15px 20px;}
.izq em	 	{font-style:normal;color:#666666;letter-spacing:-1px;}
.izq a		{font-weight:bold;color:#ff6532;}
.azul		{background:#44485a;min-height:80px;margin:0 25px 0 20px;padding:15px 15px 15px 15px;color:#cccccc;}
.precios	{color:#ffffff;background:#999999;font-weight:bold;text-transform:uppercase;padding:5px;}
.precios2	{color:#cccccc;background:#44485a;text-align:center;}
.precios3a	{color:#cccccc;background:#44485a;text-align:right;}
.precios3b	{color:#cccccc;background:#44485a;text-align:left;}
.tabla_precios{background:#cccccc;margin:10px 0 0 0;}

.der	 	{width:600px;background:#efeaeb;border-right:20px solid #cecece;}
.der a		{font-weight:bold;color:#ff6532;}
.der a:hover{color:#cccccc;}
.caja200    {width:200px;margin:0 0 4px 0;}
.caja400    {width:400px;margin:0 0 5px 0;}
.caja400gris{width:360px;margin:0 0 5px 0;background:#cccccc;}
.caja_m5    {margin:0 0 5px 0;}

.arriba	 	{margin:20px;height:245px;border-bottom:1px solid #ff6532;line-height:15px;color:#666666;}
.arriba img	{margin:0 15px 0 0;border:1px solid #999999;}

.pisos		{margin:20px;}
.pisos p	{font-size:10px;margin:0;line-height:14px;}
.pisos td	{font-size:10px;line-height:14px;}
.pisos1		{margin:20px;height:140px;}
.pisos1 p	{font-size:10px;margin:0;line-height:14px;}

.minipic1	{float:left;width:192px;height:140px;margin:0 10px 0 0;border:1px solid #666666;}
.minipic2	{width:65px;height:55px;margin:0 3px 0 0;border:1px solid #666666;}
#imgrande	{display:block;margin:0 0 10px 0;text-align:center;border:1px solid #666666;}

.contacto	{margin:20px;}
.contacto p	{font-size:11px;margin:0;line-height:16px;}
.faq 		{margin:20px;color:#666666;line-height:16px; text-align:justify;}

.inf1		{height:30%;background:#cecece;}
.inf2		{height:30%;background:#efeaeb;border-right:20px solid #cecece;}
.inf2 p		{margin:20px;font:11px Arial, Helvetica, sans-serif;color:#666666;}
.inf2 a  	{color:#666666;font-weight:bold;}

.bloque		{display:block;}
.img_azul	{display:block;border:0;margin:0 25px 0 20px;}