body	{text-align:center;margin:16px 0;font-family:Arial, Helvetica, sans-serif;}
h1		{text-align:left;color:#000066;margin:6px 0 0 0;font-size:15px;text-transform:capitalize;}
h2		{color:#000066;margin-top:0;text-align:left;}
a		{outline:none;}
table	{margin:15px 0 0 0;}
td		{vertical-align:top;}

#arriba		{margin:0 auto;width:860px;height:170px;background:url(img/cabecera0.jpg) top no-repeat;font-size:12px;}
.bandera	{padding:100px 0 0 0;color:#000066;text-align:right;font-weight:bold;}
.bandera img{margin:0 0 0 20px;border:0;}
.boton		{margin:10px 0 0 0;}
.boton a	{padding:0 28px;text-decoration:none;color:#ffffff;font-weight:bold;}
.suboton	{height:15px;margin:10px 0;text-align:left;background:#cccccc;}
.suboton a	{text-decoration:none;color:#000066;padding:0 16px 0 0;}
#sub1		{display:none;}
#sub2		{display:none;}
#sub3		{display:none;}
#sub4		{display:none;}

#centro 	{margin:0 auto;width:860px;min-height:300px;}
#centro p	{text-align:left;}
#centro ul	{text-align:left;}

/*home*/
.azul		{color:#000066;font-size:14px;}
.azul a 	{color:#ff0000;}
.azul2 a	{color:#000066;font-size:14px;}
.busq a		{color:#000066;}

/*cursos*/
.izquierda		{width:160px;padding:0 10px 0 0;text-align:left;}
.lista_curso	{display:block;margin:0 0 5px 0;font-size:11px;color:#000066;text-decoration:none;}
.lista_ejercicio{display:block;margin:0 0 5px 0;font-size:11px;color:#000000;text-decoration:none;padding:5px;background:#cccccc;}
.columna_curso	{width:355px;height:250px;text-align:left;font-size:12px;vertical-align:top;padding:5px;background:#eeeeee;}
.columna_curso p{font:11px Tahoma, Geneva, sans-serif;}
.columna_curso li{font:11px Tahoma, Geneva, sans-serif;}
.columna_curso strong{color:#000066;}

.imgside		{margin:0 0 0 100px;}

.imprimir	{}
.imprimir a 	{color:#666666;padding:12px 24px;text-decoration:none;font-size:12px;}
.imprimir img	{border:0;}

/*abajo*/
#abajo		{margin:0 auto;width:860px;}
#abajo img  {border:0;}
#abajo a	{color:#333399;font-size:12px;padding:0 8px;}