.padre	{background:#00003F;margin:0px 8px 64px 8px;}
		
marquee	{color:#CCCCCC;font:11px Arial, Helvetica, sans-serif;width:872px;}

h1		{font-size:18px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
h2		{font-size:16px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#00003F;margin:0;}
h3		{font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#00003F;font-weight:bold;}
h4		{font-size:11px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;margin:0px;}

#centro					{background:#00003F;}
input,textarea,select	{color:#666666;font:11px Arial, Helvetica, sans-serif;}

#botonera			{width:170px;padding:6px;;vertical-align:top;color:#FFFFFF;}
#botonera span		{color:#FFFFFF;text-indent:0px;font-weight:bold;font-size:12px;}
#botonera a			{color:#FFFFFF;text-decoration:none;display:block;text-indent:18px;}
#botonera a:hover	{color:#FFFF00;}

#botonera,#idiomas	{font:11px Arial, Helvetica, sans-serif;}

#idiomas			{padding-left:12px;color:#FFFFFF;}
#idiomas a			{color:#BBBBBB;text-decoration:none;}
#idiomas a:hover	{color:#FFFF00;}

.noticia_ce	{background:#FFFFFF;}
.noticias	{color:#FFFFFF;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin:0px;}
.noticias1	{vertical-align:top;width:150px;color:#00003F;border:1px solid #00003F;font-size:11px;}

.cuerpo	   	{width:675px;padding:8px 4px 8px 8px;background:url(img/fondo1.gif) no-repeat #FFFFFF;margin:0px;font:10px Verdana, Arial, Helvetica, sans-serif;text-align:justify;
		     scrollbar-arrow-color:#00003F;scrollbar-base-color:#CCCCCC;scrollbar-dark-shadow-color:#FFFFFF;scrollbar-track-color:#CCCCCC;scrollbar-face-color:#FFFFFF;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;}
.cuerpo2	 {width:675px;padding:8px 4px 8px 8px;background:url(img/fondo1.gif) no-repeat #FFFFFF;margin:0px;font:10px Verdana, Arial, Helvetica, sans-serif;text-align:center;
		     scrollbar-arrow-color:#00003F;scrollbar-base-color:#CCCCCC;scrollbar-dark-shadow-color:#FFFFFF;scrollbar-track-color:#CCCCCC;scrollbar-face-color:#FFFFFF;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;}
.cuerpo td		{font-size:11px;}
.cuerpo img 	{border:1px solid #00003F;}		
.cuerpo a  		{display:block;height:25px;font-size:11px;color:#666666;text-decoration:none;}
.cuerpo a:hover {text-decoration:underline;}
.cuerpo	li		{list-style:square;color:#000099;}
