body	{margin:50px 0 0 0;}
td		{font:10 Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}

h2		  {font-size:18px;font-weight:bold;margin:0 0 4px 0;}
h3		  {font-size:10px;text-align:right;color:#ffffff;font-weight:normal;margin:10px 0 0 0;}
h3 a	  {color:#cccccc;}
h3 a:hover{color:#6666FF;}
a		  {text-decoration:none;}
a:hover	  {text-decoration:none;}
.azul	  {color:#6666FF;}
input	  {display:block;font:10px Verdana, Arial, Helvetica, sans-serif;}
.rayado	  {width:70px;background:url(img/rayado.gif);border-top:22px solid #999999;border-bottom:22px solid #999999;}

.tabla1	     {padding:25px 22px 0 10px;background:#999999;}
.tabla1 table{width:530px;}
.top	     {height:150px;background:url(img/cabecera.jpg) no-repeat;background-position:20px 0;text-align:right;vertical-align:bottom;}
.top a		 {color:#cccccc;text-transform:uppercase;}
.top a:hover {color:#6666FF;}

.areaprivada	{width:200px;height:500px;padding:190px 0 0 70px;background:url(img/areaprivada.gif) no-repeat #cccccc;background-position:25px 210px;}
.areaprivada a	{color:#6666FF;}

.cuerpo	 {padding:22px 0 0 10px;text-align:right;}
.cuerpo2 {padding:22px 0 0 10px;text-align:left;}
.cuerpo a{color:#000000;}

#barra		{height:255px;overflow:auto;padding:0 0 0 20px;direction:rtl;
			scrollbar-3dlight-color:#999999;scrollbar-arrow-color:#000000;
			scrollbar-base-color:#cccccc;scrollbar-darkshadow-color:#999999;
			scrollbar-face-color:#ffffff;scrollbar-highlight-color:#ffffff;
			scrollbar-shadow-color:#ffffff;scrollbar-track-color:#cccccc;}

