body	{margin:0 0 5px 0;}
a		{text-decoration:none;}
td		{font:10px Verdana, Arial, Helvetica, sans-serif;word-spacing:-1px;vertical-align:top;}
em		{color:#A82E3B;font-style:normal;}
i		{color:#999999;font-style:normal;}
input	{display:block;border:1px solid #CCCCCC;font:10px Verdana, Arial, Helvetica, sans-serif;color:#333333;}
textarea{display:block;border:1px solid #CCCCCC;font:10px Verdana, Arial, Helvetica, sans-serif;color:#333333;}
select	{font:10px Verdana, Arial, Helvetica, sans-serif;}
marquee {font:10px Verdana, Arial, Helvetica, sans-serif;width:200;height:100;border-bottom:1px solid #A82E3B;}
marquee a{color:000000;}
hr		{color:#A82E3B;}

ul		{margin:0 0 0 0;padding:0;}
li		{margin:0 0 0 15px;padding:0;}
h1		{font-size:10px;color:#A82E3B;border-bottom:1px solid #A82E3B;padding:13px 0 0 0;}
h2		{font-size:10px;color:#666666;background:#EEEEEE;padding:5px 0 5px 5px;}
.enviar	{width:80px;color:#FFFFFF;background:#A82E3B;margin:20px 0 0 215px;}

#idiomas     {position:absolute;padding:7px 0 0 686px;}
#idiomas img {margin:0 2px 0 2px;border:1px solid #eeeeee;}

#co1		{width:200px;}
#co1 a		{display:block;border-bottom:1px solid #999999;padding:4px 0 6px 20px;color:#999999;background:url(img/arrow.gif) left no-repeat;}
#co1 a:hover{color:#A82E3B;border-bottom:1px solid #A82E3B;font-weight:bold;}
#co1 marquee a{border:0;background:#ffffff;color:#666666;padding:4px;}

#co2		{width:315px;padding:0 20px 0 15px;text-align:justify;}
#co2 p		{line-height:17px;}
#co2 a		{color:#A82E3B;}
#co2 a:hover{font-weight:bold;}
#co2 img	{border:2px solid #EEEEEE;}

#co3			{width:200px;}
#co3 a			{color:#000000;display:block;}
#co3 a:hover img{opacity:.5;filter:alpha(opacity=50);}	

#conot		{width:420px;padding:0 10px 0 15px;text-align:justify;}
#conot a	{color:#000000;}
#conot a:hover{color:#999999;}

#imagen		{border:2px solid #EEEEEE;margin:4px 0 10px 2px;}
#carta1		{display:none;}
#carta2		{display:none;}
#carta3		{display:none;}
#carta4		{display:none;}
#carta5		{display:none;}
#carta6		{display:none;}
#carta7		{display:none;}
#carta8		{display:none;}
#carta9		{display:none;}
#menu1		{display:none;}
#menu2		{display:none;}
#menu3		{display:none;}
#menu5		{display:none;}