
body 		{margin-bottom:-10px;background:#101b2e;border:none;font-family:'Lato', Helvetica, sans-serif !important;-webkit-font-smoothing:antialiased;color:#f4f4f4;font-size:13px}
h3 			{font-family:'Lato', Helvetica, sans-serif !important;font-size:150%;text-transform:uppercase}
h5 a 		{color:#fff}
.tc 		{text-align:center}
.logo 		{padding:10px 0}
#footer 	{background:url(../images/logo-bottom.png) right 2em top 1em no-repeat #002e4d; min-height:150px;font-family:'Lato', Helvetica, sans-serif !important}
.navbar .nav>li>a 				{font-weight:bold;text-transform:uppercase;padding:10px} 
.navbar-inverse .navbar-inner 	{background:#005e94;height:48px;border:0 solid #d4d4d4;border-radius:0;box-shadow:0 0 0 rgba(0,0,0,0.065)}
.navbar-inverse .brand, .navbar-inverse .nav>li 	{line-height:28px}
.navbar-inverse .brand, .navbar-inverse .nav>li>a 	{font-family:'Lato', Helvetica, sans-serif !important;font-size:16px;font-weight:bold;color:#FFF}
.navbar-inverse .nav>li>a:hover, .navbar-inverse .nav .active>a:hover,.hovered 	{background:#333}
.dropdown-menu li.active:before {content:'';position:absolute;width:0;margin-left:8px;border-right:17px solid transparent;border-top:34px solid #015a95}
.dropdown-menu li.active:after 	{content:'';position:absolute;width:8px;height:34px;margin-top:-34px;background:#015a95}
.navbar-inverse .nav .active>a 	{background:#101b2e}
.nav-collapse.collapse 			{font-family:'Lato', Helvetica, sans-serif !important}
.dropdown-menu 					{background:#002e4d;border:0;border-radius:0;padding:0;width:100%}
.dropdown-menu>li>a 			{line-height:20px;font-family:'Lato', Helvetica, sans-serif !important;font-size:16px;font-weight:700 !important;font-style:italic;color:#FFF;padding:7px 15px;text-indent:1em}
.dropdown-menu>li>a:hover 		{background:#11405f}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {color:#fff;background-color:#002e4d}

.more 					{color:#e3e3e3;background:none;border-color:#e3e3e3 #e3e3e3 #e3e3e3;text-shadow:none;text-transform:uppercase;font-weight:bold}
.more:hover 			{color:#fff;background:none;border-color:#fff;box-shadow:0 0 5px #fff;transition:all 0.5s linear}
.btn-small 	 			{width:47%;padding:1px;font-size:10px}
.info >.desc 			{height:50%;overflow:hidden;margin-top:-5px}
.showcaseMovie 			{cursor:pointer;overflow:hidden}
.showcaseMovie > .info  {bottom:-400px;position:absolute}
.movieItem 				{position:relative;display:inline-block;width:25%}
.movieItem img 			{width:100%}
#detail .movieItem img  {width:auto;margin-top:10%}
.movieItem > .info 		{background:#222;padding:10px;margin:5px;height:50%;position:absolute;bottom:0;visibility:hidden;color:#f4f4f4;font-family:'Lato', Helvetica, sans-serif !important}
#detail .movieItem > .info {visibility:visible;position:static;min-height:130px;margin-top:0}
#detail .info p 		{height:45px;overflow:hidden}
.movieItem:hover > .info{visibility:visible}	
.movieItem > .info > h3 {font-size:105%;margin:-5px 0 0 0}
.movieItem em   		{color:#999}
.movieItem > .movieImg 	{border:5px solid #fff}
#detail .movieItem > .movieImg {text-align:center;background:#ccc;border-bottom:0;height:250px}
.moreHolder a + a 		{background:#005e94}
.movieTitle  			{background:#222222;font-size:120%;line-height:normal;padding:5px 10px;text-transform:uppercase;font-weight:bold;margin-bottom:20px}

.subnav {
	margin-bottom:60px;width:100%;height:36px;background-color:#eee;background-repeat:repeat-x; /* Repeat the gradient */
	background-image:-moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */background-image:-ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image:-o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image:linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);border:1px solid #e5e5e5;border-radius:4px}
.subnav .nav {margin-bottom:0}
.subnav .nav > li > a {margin:0;padding-top:11px;padding-bottom:11px;border-left:1px solid #f5f5f5;border-right:1px solid #e5e5e5;border-radius:0}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {padding-left:13px;color:#777;background-color:#e9e9e9;border-right-color:#ddd;border-left:0;box-shadow:inset 0 3px 5px rgba(0,0,0,.05)}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {border-top-color:#777}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {border-left:0;padding-left:12px;border-radius:4px 0 0 4px}
.subnav .nav > li:last-child > a {border-right:0}
.subnav .dropdown-menu {border-radius:0 0 4px 4px}

section 			{box-sizing:border-box;padding:1em;background:#fff}
h1 					{font-size:30px;margin:30px 10px;text-align:center;color:#333}
h1 span 			{position:relative;top:-10px;padding:0 0.5em;background:#fff}
h1:before       	{content:"";float:left;width:100%;border-bottom:1px solid #666}
.navbar-inner 		{padding-left:0}
.main,section 		{width:1200px;margin:0 auto}
#detail .main,#detail section {width:925px}
header.main 		{background:url(../images/nav-bg.png) right no-repeat;margin-top:10px}
header b 			{font-size:2em;position:relative;top:6px;left:12px}
footer h5 			{float:left;margin:0;padding:1em;font-size:1em;font-weight:normal}
footer p 			{padding:2em 8em 0 0;text-align:right}
.navbar 			{margin-bottom:0}
#detail 			{background:url(../images/bigbg.jpg) no-repeat center top #fff}
#detail section 	{display:none;color:#000}
#detail section.on 	{display:block;min-height:500px}
#detail .movieItem 	{margin-right:-4px}
#detail header   	{visibility:hidden}
.navbar-fixed-top > div {background:#101b2e}
#main-menu-left li 	{background:#005e94}
#home .homelink 	{display:none}
.homelink 			{text-align:right}
.homelink small 	{display:inline-block;width:60px;height:30px;vertical-align:middle;margin:2px 8px;background:url(../images/uip-logo.png);background-size:cover}
.homelink a 		{display:inline-block;width:120px;padding-right:10px;background:#101b2e;font-weight:bold;color:#fff;text-decoration:none}
.homelink:before 	{content:"";display:inline-block;width:0;position:absolute;margin:0 0 0 -15px;border-right:15px solid #101b2e;border-top:34px solid transparent}

@media (max-width:1200px) {
	.main,section 		{width:auto}
}
@media (max-width:979px) {
	.main,section,#detail .main,#detail section {width:auto}
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {padding:9px;font-weight:bold;color:#fff;border-radius:0; font-size:14px;font-weight:bold;text-shadow:none;text-transform:uppercase}
	.nav-collapse .nav>li>.dropdown-menu:after	{top:39px}
	.nav-collapse .nav>li>.dropdown-menu:before	{top:38px}
	.navbar .btn-navbar		{border:none;background:transparent none;margin-top:10px}
	.navbar .btn-navbar .icon-bar {display:block;width:32px;height:3px;background-color:#fff;border-radius:10px;box-shadow:none;border:#024c7b solid 1px}
	.movieTitle			{font-size:105%}
	.movieItem 			{width:50%}
	.movieItem > .info 	{position:static;visibility:visible}
	.moreHolder 		{position:static}
	#detail .movieItem img  {margin-top:5%}
}
@media (max-width:767px) {
	.subnav  					{position:static;top:auto;z-index:auto;width:auto;height:auto;background:#fff;box-shadow:none}
	.subnav .nav > li 			{float:none}
	.subnav .nav > li > a 		{border:0}
	.subnav .nav > li + li > a 	{border-top:1px solid #e5e5e5}
	.subnav .nav > li:first-child > a,
	.subnav .nav > li:first-child > a:hover {border-radius:4px 4px 0 0}
	h1 				{text-align:left}
	h1 span 		{position:static;padding:0;background:none}
	h1:before       {content:none}
	header,.homelink+.navbar,.homelink {display:none}
	.movieItem 		{display:block;width:100%}
	.movieItem img  {width:auto}
	#detail .movieItem img  {margin-top:1%}
}
@media (max-width:480px) {
	.info		{position:relative;	display:block;bottom:0px}
	.navbar-fixed-top .navbar-inner	{padding:0px}
	.main	{margin-left:-20px}
	#detail .movieItem img  {margin-top:0}
}
