body	    {margin:4px 0 0 0;background:#eeeeee;font-family:Verdana, Arial, Helvetica, sans-serif;}
#contenedor {position:absolute;left:50%;width:900px;margin-left:-450px;background:#ffffff;}

.imghome	{float:left;width:50px;margin:0 10px 0 0;}

a			{text-decoration:none;outline:none;}
a:hover		{text-decoration:none;}
em			{font-style:normal;color:#0084d7;}
h2			{margin:0 16px 16px 16px;}
h3			{margin:0 24px 8px 16px;padding:4px;background:#cccccc;color:#333333;}
td			{font-size:10px;background:#dddddd;}
form		{margin:16px;}
input,textarea	{display:block;margin:0 0 5px 0;font:11px Verdana, Arial, Helvetica, sans-serif;}

.arriba		{clear:both;}
.arriba	img	{display:block;border:0;}

.central	{width:898px;height:100%;display:table;border-left:1px solid #bebebe;border-right:1px solid #bebebe;}

.izq		{float:left;clear:right;width:199px;}
.izq p		{margin:0 10px 0 0;text-align:right;font-size:10px;}
.izq .super	{display:block;padding:0 18px 2px 0;font-size:12px;line-height:24px;color:#333333;border-bottom:1px solid #bebebe;background:url(img/ico_flecha2.gif) no-repeat right;}
.izq .super2{display:block;padding:0 18px 2px 0;font-size:12px;line-height:24px;color:#333333;border-bottom:1px solid #bebebe;background:url(img/ico_periodico2.gif) no-repeat right;}
.izq .sub	{display:block;padding:0 10px 2px 0;line-height:18px;color:#333333;border-bottom:1px solid #bebebe;background:#eeeeee;}

.cuerpo			{float:left;width:510px;min-height:630px;}
.cuerpo p   	{font-size:10px;margin:8px 0 12px 16px;}
.cuerpo ul,.cuerpo ol,cuerpo li{font-size:10px;margin-right:0;}
.cuerpo a		{color:#0084d7;}
.cuerpo .noticia		{margin:8px 0 8px 16px;padding:4px;height:64px;border:1px solid #666666;font-size:11px;}
.cuerpo .noticia a		{color:#333333;}
.cuerpo .noticia img	{width:60px;height:60px;float:left;margin:0 12px 0 8px;}
.cuerpo .noticia p		{margin-bottom:0px;}

.der		{position:absolute;top:165px;left:729px;width:169px;border-left:1px solid #bebebe;}
.der p		{font-size:10px;}
.der img	{display:block;margin:0;border:0;}
.der .gris	{color:#ffffff;background:#0066aa;padding:6px;margin:0 0 5px 0;font-size:11px;}
.der .gris a{color:#ffffff;}
.der .azul  {display:block;padding:0 6px 12px 6px;color:#0066aa;word-spacing:-1px;}

.abajo		{clear:both;}
.abajo a	{color:#0084d7;}
.abajo p	{margin:0;padding:12px 0 0 0;border-right:1px solid #bebebe;border-left:1px solid #bebebe;font-size:10px;text-align:center;}
.abajo img	{display:block;}