<table cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td align="center" height="40" bgcolor="#d7d7d7">
		<span style="font-family:Arial,san-serif;font-size:11px;line-height:11px;color:#666666;">
		If you're having trouble seeing this e-mail <a href="http://uk.madbid.com/" style="color:#666666;font-weight:bold;text-decoration:underline;">click here!</a>
		</span>
	</td>
</tr>
<tr>
<td bgcolor="#d7d7d7">

	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" style="" >
        	<a title="Madbid" href="http://uk.madbid.com/"><img width="139" height="28" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/logo.gif"></a>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" align="right" style="" >
			<a title="Madbid Facebook" href="http://www.facebook.com/MadBid.Auctions"><img width="33" height="33" border="0"  alt="Madbid Facebook" src="http://de.madbid.com/opt/email/icon_facebook.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Twitter" href="http://twitter.com/madbid"><img width="33" height="33" border="0"  alt="Madbid Twitter" src="http://de.madbid.com/opt/email/icon_twitter.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Youtube" href="http://www.youtube.com/MadBidtv"><img width="33" height="33" border="0"  alt="Madbid Youtube" src="http://de.madbid.com/opt/email/icon_youtube.gif"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#d7d7d7" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
	</table>




	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" ><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:30px;line-height:32px;font-weight:bold;letter-spacing:-1px;color:#f8991d;"><b>It was great to see you on MadBid.com recently...</b></span><br />
            <br />
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000000;">We noticed that  you didn't complete your registration, can we help with anything? MadBid have a dedicated customer service line on hand to handle all your queries so don&rsquo;t hesitate to give us a call on <b>08456809716</b>.</span>
			<br /><br />        
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
			<a title="Madbid" href="http://uk.madbid.com/"><img width="354" height="232" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/products.jpg"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    
    <tr>
    	<td width="25" bgcolor="#ffffff"></td>
		<td width="570" height="100" bgcolor="#ffffff" align="center" colspan="3">
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:20px;line-height:25px;letter-spacing:-1px;color:#666666;">
            As a thank you we would like to offer you a <b>15% EXTRA FREE BIDS</b> on your next purchase.
            </span>
        </td>
        <td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="80" bgcolor="#ffffff" align="center" colspan="5">
        <a title="Use Code" href="http://uk.madbid.com/register/?KW=VE"><img width="210" height="49" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/use_code.gif"></a>
        </td>
	</tr>
    
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#d7d7d7" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>


	<tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top">
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:24px;line-height:28px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">
            RECENT BARGAINS<br /><br />
            </span>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" valign="top">
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:24px;line-height:28px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">
            Why everyone loves MadBid...<br /><br />
            </span>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top">
        	<a title="Madbid" href="http://uk.madbid.com/closed/"><img width="195" height="335" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/products1.jpg"></a>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" valign="top">
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000000;text-align:justify">
            &bull; MadBidders save an average 80% discount on all their favourite products.<br />
            &bull; There are more than 1,500 different products to choose from.<br />
            &bull; More than 15,000 auctions have closed at 2p or less.<br />
            &bull; More than 64,000 auctions have closed at 99p or less.<br />
            &bull; There are more than 1 million users at MadBid so far.<br />
            &bull; On average an auction closes every 10 minutes.<br />
            <br /><br />
            Aside from offering incredible bargains, MadBid is also fun, exciting and entertaining just ask some of our 1 million users why they choose to shop smart at MadBid.com!
            </span>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	</table>

	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="25"></td>
		<td width="570" height="100" align="center">
			<span style="font-family:Arial,san-serif;font-size:11px;line-height:15px;color:#666666;">
			MadBid.com is a trading name and registered trademark of Marcandi Ltd, Co Reg No: 6609609 and VAT Reg No: 934 925792. Place of Registration: England. Registered Address: The Courtyard, High Street CHOBHAM, Surrey GU24 8AF, UK. 
			</span>
		</td>
		<td width="25"></td>
	</tr>
	</table>
</td>
</tr>
</table>
