<table cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td align="center" height="40" bgcolor="#d7d7d7">
		<span style="font-family:Arial,san-serif;font-size:11px;line-height:11px;color:#666666;">
		If you're having trouble seeing this e-mail <a href="http://uk.madbid.com/" style="color:#666666;font-weight:bold;text-decoration:underline;">click here!</a>
		</span>
	</td>
</tr>
<tr>
<td bgcolor="#d7d7d7">

	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" style="" >
        	<a title="Madbid" href="http://uk.madbid.com/"><img width="139" height="28" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/logo.gif"></a>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" align="right" style="" >&nbsp;
			
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#d7d7d7" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
	</table>


	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="245" bgcolor="#ffffff" valign="top" colspan="3">
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:30px;line-height:32px;font-weight:bold;letter-spacing:-1px;color:#f8991d;"><b>Hi</b></span>
            <br /><br />
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;letter-spacing:-1px;color:#666666;">
	        You were bidding on the Gourmet Society 1 Year Membership but were unfortunately outbid, but all is not lost, we're a generous lot here at MadBid and really want you to have one of these vouchers as we love meals out and we love discounts - so with any package of credits you buy THIS WEEKEND we will give you a Gourmet Society 1 Year Membership for free!
	        </span>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#d7d7d7" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="245" bgcolor="#ffffff" valign="top" style="width:245px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            With the <span style="color:#f8991d;">Gourmet Society card</span> (RRP: &pound;69.95), you are able to get: <b>2 for 1 meals, 50% off food or 25% off</b> food and drink for a whole year at almost 4500 restaurants throughout the UK!
            <br /><br />
            They have restaurants to suit all tastes and budgets and on average Gourmet Society cardholders <b>save &pound;25 on each visit to a restaurant</b>. If you eat out once a week that equates to over &pound;1300 of Gourmet Society saving in a year!
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="305" bgcolor="#ffffff" style="width:305px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
			<a title="Madbid" href="http://uk.madbid.com/"><img width="300" height="212" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/gourmet_society_cardfree.jpg"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="245" bgcolor="#ffffff" align="center" colspan="3">
			<a href="http://uk.madbid.com/buy/" style="text-decoration:none"><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:30px;line-height:32px;font-weight:bold;letter-spacing:-1px;color:#f8991d;text-decoration:none">GET YOUR BIDS</span></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	</table>

	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="25"></td>
		<td width="570" height="100" align="center">
			<span style="font-family:Arial,san-serif;font-size:11px;line-height:15px;color:#666666;">
			MadBid.com is a trading name and registered trademark of Marcandi Ltd, Co Reg No: 6609609 and VAT Reg No: 934 925792. Place of Registration: England. Registered Address: The Courtyard, High Street CHOBHAM, Surrey GU24 8AF, UK. 
			</span>
		</td>
		<td width="25"></td>
	</tr>
	</table>
</td>
</tr>
</table>