<table cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td align="center" height="40" bgcolor="#faca05">
		<span style="font-family:Arial,san-serif;font-size:11px;line-height:11px;font-weight:bold;color:#666666;">
		If you're having trouble seeing this e-mail <a href="http://uk.madbid.com/" style="color:#666666;text-decoration:underline;">click here!</a>
		</span>
	</td>
</tr>
<tr>
<td bgcolor="#faca05">

	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="630" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="15" bgcolor="#ffffff"></td>
		<td width="425" bgcolor="#ffffff">
        	<a title="Madbid" href="http://uk.madbid.com/"><img width="139" height="28" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/logo.gif"></a>
            <br /><br />
            <table cellpadding="0" cellspacing="0" >
            <tr>
            	<td><a href="http://uk.madbid.com/how/"><img src="http://uk.madbid.com/opt/email/special/button1.jpg" border="0" /></a></td>
                <td>&nbsp;</td>
            	<td><a href="http://uk.madbid.com/support/"><img src="http://uk.madbid.com/opt/email/special/button2.jpg" border="0" /></a></td>
                <td>&nbsp;</td>
            	<td><a href="http://uk.madbid.com/register/"><img src="http://uk.madbid.com/opt/email/special/button3.jpg" border="0" /></a></td>
                <td>&nbsp;</td>
            	<td><a href="http://uk.madbid.com/faq/"><img src="http://uk.madbid.com/opt/email/special/button4.jpg" border="0" /></a></td>
            </tr>
            </table>
            
        </td>
		<td width="15" bgcolor="#ffffff"></td>
		<td width="150" bgcolor="#ffffff" align="right" style="" >
            <a title="Madbid Facebook" href="http://www.facebook.com/MadBid.Auctions"><img width="33" height="33" border="0"  alt="Madbid Facebook" src="http://de.madbid.com/opt/email/icon_facebook.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Twitter" href="http://twitter.com/madbid"><img width="33" height="33" border="0"  alt="Madbid Twitter" src="http://de.madbid.com/opt/email/icon_twitter.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Youtube" href="http://www.youtube.com/MadBidtv"><img width="33" height="33" border="0"  alt="Madbid Youtube" src="http://de.madbid.com/opt/email/icon_youtube.gif"></a>
            <br /><img src="http://uk.madbid.com/opt/email/special/questions.gif" border="0" />
        </td>
		<td width="15" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="630" height="2" bgcolor="#dd7122" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
	</table>



	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="630" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="15" bgcolor="#ffffff"></td>
		<td width="425" bgcolor="#ffffff" style="" >
        	
            <table cellpadding="0" cellspacing="0" bgcolor="#fbe461" border="0">
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td><img style="display:block" src="http://uk.madbid.com/opt/email/special/block1.jpg" border="0" /></td>
                <td width="15">&nbsp;</td>
                <td>
                	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight:bold;color:#dd7122;">
                    	Title of the section</span><br />
                    <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#000000;">
                    	Curabitur dapibus cursus justo, at dictum tortor volutpat quis. Integer arcu leo, tincidunt a dignissim sit amet, ullamcorper sed diam. Maecenas facilisis pretium ante sit amet vestibulum. Curabitur dapibus cursus justo, at</span><br />
                    <a style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:24px;font-weight:bold;color:#dd7122;text-decoration:underline" href="#">
                    	Find out more</a>
                </td>
                <td width="15">&nbsp;</td>   
            </tr>
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            </table>
            
            <p><img style="display:block" src="http://uk.madbid.com/opt/email/special/banner.jpg" border="0" /></p>
            
            <table cellpadding="0" cellspacing="0" bgcolor="#dddddd" border="0">
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td><img style="display:block" src="http://uk.madbid.com/opt/email/special/block2.jpg" border="0" /></td>
                <td width="15">&nbsp;</td>
                <td>
                	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight:bold;color:#dd7122;">
                    	Title of the section</span><br />
                    <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#000000;">
                    	Curabitur dapibus cursus justo, at dictum tortor volutpat quis. Integer arcu leo, tincidunt a dignissim sit amet, ullamcorper sed diam. Maecenas facilisis pretium ante sit amet vestibulum. Curabitur dapibus cursus justo, at</span><br />
                    <a style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:24px;font-weight:bold;color:#dd7122;text-decoration:underline" href="#">
                    	Find out more</a>
                </td>
                <td width="15">&nbsp;</td>   
            </tr>
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            </table>
            <br />
            
            
            <!-- AUCTIONS-->
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
            	<td colspan="5">
                	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight:bold;color:#00000;">
                    Live Auctions</span>
                 </td>
            </tr>
            <tr>
				<td height="3" bgcolor="#dd7122" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
			</tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td align="center"><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;font-weight:bold;color:#666666;">
                	<br />The Big Apple<br /><br /></span>
                </td>
                <td width="15">&nbsp;</td>
                <td align="center"><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;font-weight:bold;color:#666666;">
                	<br />Samsung 40'' Full HD LED TV<br /><br /></span>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td><a href="#"><img src="http://imgsrv.madbid.com/en-UK/3/9/01271839.jpg" border="0" /></a></td>
                <td width="15">&nbsp;</td>
                <td><a href="#"><img src="http://imgsrv.madbid.com/en-UK/1/3/00116713.jpg" border="0" /></a></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td align="center"><br />
                	<a href="#"><img style="display:block" src="http://uk.madbid.com/opt/email/special/btn_bidnow.gif" border="0" /></a>
                </td>
                <td width="15">&nbsp;</td>
                <td align="center"><br />
                	<a href="#"><img style="display:block" src="http://uk.madbid.com/opt/email/special/btn_bidnow.gif" border="0" /></a>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
            	<td colspan="5" height="15">&nbsp;</td>
            </tr>
            <tr>
            	<td colspan="5">
                	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight:bold;color:#00000;">
                    Upcoming Auctions</span>
                </td>
            </tr>
            <tr>
				<td height="3" bgcolor="#dd7122" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
			</tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td align="center"><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;font-weight:bold;color:#666666;">
                	<br />Xbox 360 Console with Kinect<br /><br /></span>
                </td>
                <td width="15">&nbsp;</td>
                <td align="center"><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:16px;font-weight:bold;color:#666666;">
                	<br />Harman Kardon Soundsticks III<br /><br /></span>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td><a href="#"><img src="http://imgsrv.madbid.com/en-UK/3/1/01269631.jpg" border="0" /></a></td>
                <td width="15">&nbsp;</td>
                <td><a href="#"><img src="http://imgsrv.madbid.com/en-UK/6/3/01210163.jpg" border="0" /></a></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
            	<td align="center"><br />
                	<a href="#"><img style="display:block" src="http://uk.madbid.com/opt/email/special/btn_reminder.gif" border="0" /></a>
                </td>
                <td width="15">&nbsp;</td>
                <td align="center"><br />
                	<a href="#"><img style="display:block" src="http://uk.madbid.com/opt/email/special/btn_reminder.gif" border="0" /></a>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
            </table>
            <!-- AUCTIONS-->
            
            
            <br />
            <table cellpadding="0" cellspacing="0" bgcolor="#9ad0fe" border="0">
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            <tr>
            	<td width="15">&nbsp;</td>
                <td>
                	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:18px;line-height:24px;font-weight:bold;color:#000000;">
                    	Title of the section</span><br />
                    <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#000000;">
                    	Curabitur dapibus cursus justo, at dictum tortor volutpat quis. Integer arcu leo, tincidunt a dignissim sit amet, ullamcorper sed diam. Maecenas facilisis pretium ante sit amet vestibulum. Curabitur dapibus cursus justo, at</span><br />
                    <a style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;line-height:24px;font-weight:bold;color:#000000;text-decoration:underline" href="#">
                    	Find out more</a>
                </td>
                <td width="15">&nbsp;</td>
                <td><img style="display:block" src="http://uk.madbid.com/opt/email/special/block3.jpg" border="0" /></td>               
                <td width="15">&nbsp;</td>   
            </tr>
            <tr>
            	<td height="15" colspan="5">&nbsp;</td>
            </tr>
            </table>
            
        </td>
		<td width="15" bgcolor="#ffffff"></td>
		<td width="160" bgcolor="#ffffff" valign="top">
			<a href="#"><img style="display:block" src="http://uk.madbid.com/opt/banner/2011-02-14.png" border="0" /></a>
            <a href="#"><img style="display:block" src="http://uk.madbid.com/opt/banner/2011-02-14.png" border="0" /></a>
        </td>
		<td width="15" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="630" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	</table>
    
    
        
	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="25"></td>
		<td width="570" height="100" align="center">
			<p style="font-family:Arial,san-serif;font-size:11px;line-height:13px;font-weight:bold;color:#666666;">
            <a style="color:#333333" href="http://uk.madbid.com/how/">How It Works?</a> | <a style="color:#333333" href="http://uk.madbid.com/support/">Customer Support</a> | <a style="color:#333333" href="http://uk.madbid.com/register/">Register</a> | <a style="color:#333333" href="http://uk.madbid.com/faq/">FAQ</a> | <a style="color:#333333" href="http://uk.madbid.com/my/">Unsubscribe</a>
            <br /><br />
			MadBid.com is a trading name and registered trademark of Marcandi Ltd, Co Reg No: 6609609 and VAT Reg No: 934 925792. Place of Registration: England. Registered Address: The Courtyard, High Street CHOBHAM, Surrey GU24 8AF, UK. 
			</p>
		</td>
		<td width="25"></td>
	</tr>
	</table>

</td>
</tr>
</table>