<table cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td align="center" height="40" bgcolor="#cccccc">
		<span style="font-family:Verdana, Arial,san-serif;font-size:10px;line-height:12px;color:#666666;">
		E-Mail wird nicht richtig angezeigt? <a href="#" style="color:#333333;text-decoration:underline;">Klick hier!</a>
		</span>
	</td>
</tr>
<tr>
<td bgcolor="#cccccc">

	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" style="" >
        	<a title="Madbid" href="http://de.madbid.com/"><img width="142" height="37" style="display: block;" border="0"  alt="Madbid" src="http://de.madbid.com/opt/email/logo.gif"></a>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" align="right" style="" >
			<a title="Madbid Facebook" href="http://www.facebook.com/MadBid.de"><img width="33" height="33" border="0"  alt="Madbid Facebook" src="http://de.madbid.com/opt/email/icon_facebook.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Twitter" href="https://twitter.com/MadBidDE"><img width="33" height="33" border="0"  alt="Madbid Twitter" src="http://de.madbid.com/opt/email/icon_twitter.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Youtube" href="http://www.youtube.com/Madbidde"><img width="33" height="33" border="0"  alt="Madbid Youtube" src="http://de.madbid.com/opt/email/icon_youtube.gif"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="5" bgcolor="#cccccc" colspan="5" style="font-size:4px;line-height:4px;">&nbsp;</td>
	</tr>
	</table>




	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
        	<img width="195" height="155" border="0" style="display: block;" alt="" src="http://de.madbid.com/opt/email/winner.jpg"><br />
            <b>Gail Mutch hat mehr als 200 Auktionen gewonnen</b>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            <span style="font-family:Arial,san-serif;font-size:24px;line-height:24px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">Spare ein Verm&ouml;gen und gehe wie ein Profi einkaufen!</span><br /><br />
			Jedes Jahr zu Weihnachten gehen wir einkaufen und geben viel zu viel Geld aus. Wir lassen unseren Stresspegel steigen und oftmals kaufen wir Geschenke, die wir nicht m&ouml;chten. Es gibt eine neue Art zu Shoppen! Du kannst nicht nur viel Geld sparen, sondern mit viel Spa&szlig; au&szlig;ergew&ouml;hnliche Einkaufserfahrungen sammeln. Jetzt kann man qualitative Produkte zu Schn&auml;ppchenpreisen bekommen. Und dies auch noch mit minimalem Aufwand! All das ist m&ouml;glich und noch viel mehr - mit der &auml;ltesten online Auktionsidee:  Die pay-to-bid-Auktionen! Bei pay-to-bid-Auktionen zahlt man pro Gebot einen kleinen Betrag und erh&auml;lt gro&szlig;artige Schn&auml;ppchen. Eine der Profinutzer ist Gail Mutch aus Edinburgh. Sie bietet nun schon seit 2 Jahren und hat mehr als 200 Auktionen auf der Auktionsseite Madbid gewonnen.
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="50" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            <span style="font-family:Arial,san-serif;font-size:14px;line-height:14px;font-weight:bold;color:#f8991d;">Geschickte Weihnachtseinkäufe und hohe Ersparnisse</span>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            <span style="font-family:Arial,san-serif;font-size:24px;line-height:24px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">Wie pay-to-bid-Auktionen funktionieren</span>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            Gail hat hunderte Online Auktionen gewonnen. Hier sind nur einige ihrer besten Schn&auml;ppchen: <br />
            <b>Sony PS3  61,90 &euro;<br />GHD Haargl&auml;tter 20,87 &euro;<br />
            Home Cinema System 88,55 &euro;<br />Canon IXUS Kamera 22,61 &euro;<br />
            &euro; 100 Gutscheinkarte 14,65 &euro;<br />HP Laptop 15,18 &euro;<br />
            &euro; 150 Gutscheinkarte  5,17 &euro;<br />Dell15&rdquo; laptop 24,14 &euro;<br /></b>
            Alle Preise inklusive MwSt. , Versand, Bearbeitung und Gebotskosten.
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" valign="top" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            Du hast dich online registriert, Gebote gekauft und dir eine Auktion ausgesucht. Was nun? Wenn du auf den BIETEN-Button klickst, bist du automatisch der H&ouml;chstbietende. Der Auktionspreis erh&ouml;ht sich nur um einen Cent und der Countdown (zwischen 20 und 60 Sekunden) beginnt abw&auml;rts zu z&auml;hlen. In dieser Zeit, k&ouml;nnen andere Nutzer ein Gebot platzieren. Der Countdown startet daraufhin erneut. Wenn niemand ein Gebot abgibt, bevor der Timer 0 erreicht, bist du der Gewinner der Auktion!
            <br /><br />
            <a href="https://de.madbid.com/register/"><img width="355" height="61" border="0" style="display: block;" alt="" src="http://de.madbid.com/opt/email/button.gif"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="50" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
            <img width="195" height="300" border="0" style="display: block;" alt="" src="http://de.madbid.com/opt/email/products.jpg">
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;">
            <span style="font-family:Arial,san-serif;font-size:24px;line-height:24px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">Durchschnittlich 87% Nachlass &ndash; Zu sch&ouml;n, um wahr zu sein?</span><br /><br />
            2008 erreichte ein neues Auktionsph&auml;nomen das Vereinigte K&ouml;nigreich. Das pay-to-bid-Auktionskonzept wurde zun&auml;chst kritisch beobachtet. Die ersten Auktionsgewinner berichteten allerdings von unglaublichen Ersparnissen von 87% der UVP. Danach erkannte man, das dies kein Betrug war. Auktionswebseiten wie MadBid sind mit mehr als 38.000 neuen Auktionsgewinnen sehr erfolgreich. <br />
			Der durchschnittliche Preisnachlass von 87% beinhaltet auch die gesetzten Gebote. Daher ist die eigentliche Ersparnis weitaus h&ouml;her. <br />
			Bieten in einer pay-to-bid-Auktion ben&ouml;tigt Geschick  und nicht Gl&uuml;ck, wie von vielen vermutet. Fakt ist, dass die Profinutzer mehrere hundert Auktionen gewonnen haben. Dies ist ein Beweis daf&uuml;r, das Gewinnen nichts mit Gl&uuml;ck zutun hat.
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	</table>
    
    
    
    
    
    
    
    
	
	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="25"></td>
		<td width="570" height="100">
			<span style="font-family:Verdana, Arial,san-serif;font-size:10px;line-height:12px;color:#666666;">
			MadBid.de ist ein eingetragenes Warenzeichen der Marcandi Ltd, The Courtyard, High Street, Chobham, Surrey GU 24 8AF, Gro&szlig;britannien. Alle Rechte vorbehalten. Finanzamt Hannover-Nord. Ust-IdNr:DE 266 108 080.
			</span>
		</td>
		<td width="25"></td>
	</tr>
	</table>

</td>
</tr>
</table>