<table cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td align="center" height="40" bgcolor="#f8991d">
		<span style="font-family:Arial,san-serif;font-size:11px;line-height:11px;font-weight:bold;color:#ffffff;">
		If you're having trouble seeing this e-mail <a href="http://uk.madbid.com/" style="color:#ffffff;text-decoration:underline;">click here!</a>
		</span>
	</td>
</tr>
<tr>
<td bgcolor="#f8991d">

	<table cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" style="" >
        	<a title="Madbid" href="http://uk.madbid.com/"><img width="139" height="28" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/logo.gif"></a>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" align="right" style="" >
			<a title="Madbid Facebook" href="http://www.facebook.com/MadBid.Auctions"><img width="33" height="33" border="0"  alt="Madbid Facebook" src="http://de.madbid.com/opt/email/icon_facebook.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Twitter" href="http://twitter.com/madbid"><img width="33" height="33" border="0"  alt="Madbid Twitter" src="http://de.madbid.com/opt/email/icon_twitter.gif"></a>&nbsp;&nbsp;
            <a title="Madbid Youtube" href="http://www.youtube.com/MadBidtv"><img width="33" height="33" border="0"  alt="Madbid Youtube" src="http://de.madbid.com/opt/email/icon_youtube.gif"></a>
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
	<tr>
		<td width="620" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#f8991d" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
	</table>




	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="25" bgcolor="#ffffff"></td>
		<td width="195" bgcolor="#ffffff" valign="top" style="width:195px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:30px;line-height:32px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">
            Get an Average 80% Saving on your Favourite Products</span><br /><br />
            <span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000000;">
            <b>Imagine if you could save 80% when shopping for your favourite products!</b><br />
			At MadBid.com you can! Take a look at some of the best bargains that have sold at auction.</span>
        </td>
		<td width="20" bgcolor="#ffffff"></td>
		<td width="355" bgcolor="#ffffff" style="width:355px;font-family:Arial,san-serif;font-size:12px;line-height:18px;color:#343434;" >
			<img width="354" height="232" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/products.jpg">
        </td>
		<td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#f8991d" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
    	<td width="25" bgcolor="#ffffff"></td>
		<td width="570" height="25" bgcolor="#ffffff" align="center" colspan="3">
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:20px;line-height:21px;font-weight:bold;letter-spacing:-1px;color:#666666;">
            Check out these bonkers best bargains
            </span>
        </td>
        <td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
    	<td width="25" bgcolor="#ffffff"></td>
		<td width="570" height="25" bgcolor="#ffffff" align="center" colspan="3">
        	<img width="470" height="361" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/products2.jpg">
        </td>
        <td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
    	<td width="25" bgcolor="#ffffff"></td>
		<td width="570" height="25" bgcolor="#ffffff" align="center" colspan="3">
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:20px;line-height:22px;font-weight:bold;letter-spacing:-1px;color:#f8991d;">
            Over 15,000 auctions have closed for 5p or less and more than 64,000 have closed for 99p or less!</span>
        </td>
        <td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="25" bgcolor="#ffffff" colspan="5">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#f8991d" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
    <tr>
    	<td width="25" bgcolor="#ffffff"></td>
		<td width="570" height="100" bgcolor="#ffffff" align="center" colspan="3">
        	<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:20px;line-height:25px;font-weight:bold;letter-spacing:-1px;color:#666666;">
            Too good to be true? Find out for yourself! Sign up today and get 3 FREE BIDS to get you started. Use code: 3BIDS
            </span>
        </td>
        <td width="25" bgcolor="#ffffff"></td>
	</tr>
    <tr>
		<td width="620" height="2" bgcolor="#f8991d" colspan="5" style="font-size:2px;line-height:2px;">&nbsp;</td>
	</tr>
    <tr>
		<td width="620" height="120" bgcolor="#ffffff" align="center" colspan="5">
        <a title="Sign Up" href="http://uk.madbid.com/register/"><img width="358" height="61" style="display: block;" border="0"  alt="Madbid" src="http://uk.madbid.com/opt/email/signup.gif"></a>
        </td>
	</tr>
	</table>
    
    
    
    
	<table cellpadding="0" cellspacing="0" align="center" border="0">
	<tr>
		<td width="25"></td>
		<td width="570" height="100" align="center">
			<span style="font-family:Arial,san-serif;font-size:11px;line-height:13px;font-weight:bold;color:#ffffff;">
			MadBid.com is a trading name and registered trademark of Marcandi Ltd, Co Reg No: 6609609 and VAT Reg No: 934 925792. Place of Registration: England. Registered Address: The Courtyard, High Street CHOBHAM, Surrey GU24 8AF, UK. 
			</span>
		</td>
		<td width="25"></td>
	</tr>
	</table>

</td>
</tr>
</table>