<table cellspacing="0" cellpadding="0" align="center" width="100%">
<tbody><tr>
<td height="60" bgcolor="#d7d7d7" style="font-family: Verdana,Arial,san-serif; font-size: 10px; text-align: center; color: rgb(102, 102, 102);">
	<span><p>If you're having trouble seeing this e-mail <a style="color: rgb(51, 51, 51); text-decoration: underline;" href="%URL_ROOT%show_newsletter/%NEWSLETTER_ARCHIVE_ID%">click here</a></p></span>
</td>
</tr>

<tr>
<td bgcolor="#d7d7d7">
		
	<table cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr>
		<td width="20"><img height="120" width="20" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_4.gif"></td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="120" bgcolor="#ffffff" width="312">
			<a href="http://uk.madbid.com"><img height="65" border="0" width="250" style="display: block;" alt="" src="https://uk.madbid.com/opt/email/newsletter_logo.gif"></a>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>

		<td height="120" bgcolor="#ffffff" width="312" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 11px;">
			<span>As seen on:</span> &nbsp; <a href="http://uk.madbid.com"><img height="30" border="0" align="absmiddle" width="230" alt="" src="http://uk.madbid.com/opt/email/newsletter_top_2.gif"></a>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20"><img height="120" width="20" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_5.gif"></td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>

		<td bgcolor="#ffffff" align="center" width="680" colspan="5">
			<a href="http://uk.madbid.com"><img height="310" border="0" width="660" style="display: block;" alt="" src="https://uk.madbid.com/opt/email/newsletter_banner.jpg"></a>
		</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>	
		<td height="40" bgcolor="#ffffff" align="center" width="630" colspan="3" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 12px; color: rgb(102, 102, 102);">
			<span class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></span>
			<br><br>

		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td width="680" colspan="5">
			<img height="50" width="680" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_1.gif">
		</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="100" bgcolor="#ffffff" align="center" width="630" colspan="3" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 40px; letter-spacing: -2px;">
			<a style="color: rgb(36, 36, 36); text-decoration: none; line-height: 40px;" href="http://uk.madbid.com"><b>BEST BARGAINS</b></a><br>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td bgcolor="#ffffff" width="310" style="text-align: center;">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">Audi A3 Sportback</span>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>

		<td bgcolor="#ffffff" width="310" style="text-align: center;">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">Sony PS3 250GB</span>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com/closed/"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/2/3/01201023.jpg"></a>
			<p><del style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £16,320</del></p>
			<p>
			<span style="font-family: Arial,san-serif; font-size: 22px; line-height: 22px; font-weight: bold; letter-spacing: -1px;">SOLD FOR:</span>
			<span style="font-family: Arial,san-serif; font-size: 36px; line-height: 36px; font-weight: bold; letter-spacing: -2px;">£1,209<small style="font-size: 18px;">.67</small></span>

			</p>
			<span style="line-height: 12px;">&nbsp;</span>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com/closed/"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/7/3/01241773.jpg"></a>
			<p><del style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £285</del></p>

			<p>
			<span style="font-family: Arial,san-serif; font-size: 22px; line-height: 22px; font-weight: bold; letter-spacing: -1px;">SOLD FOR:</span>
			<span style="font-family: Arial,san-serif; font-size: 36px; line-height: 36px; font-weight: bold; letter-spacing: -2px;">£50<small style="font-size: 18px;">.93</small></span>
			</p>
			<span style="line-height: 12px;">&nbsp;</span>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr style="line-height: 6px;">
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="680" colspan="5">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td bgcolor="#ffffff" width="630" colspan="3">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">Apple iPod nano 16GB</span>

		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">Thorntons' Chocolates</span>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>

		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com/closed/"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/6/3/01248363.jpg"></a>
			<p><del style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £138</del></p>
			<p>
			<span style="font-family: Arial,san-serif; font-size: 22px; line-height: 22px; font-weight: bold; letter-spacing: -1px;">SOLD FOR:</span>

			<span style="font-family: Arial,san-serif; font-size: 36px; line-height: 36px; font-weight: bold; letter-spacing: -2px;">£9<small style="font-size: 18px;">.98</small></span>
			</p>
			<span style="line-height: 12px;">&nbsp;</span>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com/closed/"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/2/3/01239523.jpg"></a>

			<p><del style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £50</del></p>
			<p>
			<span style="font-family: Arial,san-serif; font-size: 22px; line-height: 22px; font-weight: bold; letter-spacing: -1px;">SOLD FOR:</span>
			<span style="font-family: Arial,san-serif; font-size: 36px; line-height: 36px; font-weight: bold; letter-spacing: -2px;">£1<small style="font-size: 18px;">.12</small></span>
			</p>
			<span style="line-height: 12px;">&nbsp;</span>

		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td height="100" bgcolor="#ffffff" width="680" colspan="5">
			<img height="50" width="680" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_2.gif">
		</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="100" bgcolor="#ffffff" align="center" width="630" colspan="3" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 40px; letter-spacing: -2px;">
			<a style="color: rgb(36, 36, 36); text-decoration: none; line-height: 40px;" href="http://uk.madbid.com"><b>OPENING SOON</b></a><br><br>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td bgcolor="#ffffff" width="310" style="text-align: center;">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">iMac 27"</span>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>

		<td bgcolor="#ffffff" width="310" style="text-align: center;">
			<span style="font-family: Trebuchet MS,Arial,san-serif; font-size: 17px;">Apple iPod touch 32GB</span>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/6/3/01207763.jpg"></a>
			<p><span style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £1,599</span></p>
			<span style="line-height: 12px;">&nbsp;</span>
		</td>
		<td bgcolor="#ffffff" width="6">&nbsp;</td>
		<td bgcolor="#ffffff" align="center" width="310" style="border: 1px solid rgb(204, 204, 204);">
			<span style="line-height: 12px;">&nbsp;</span>
			<a href="http://uk.madbid.com"><img height="200" border="0" width="300" vspace="10" style="display: block;" alt="" src="http://imgsrv.madbid.com/en-UK/9/3/01244193.jpg"></a>
			<p><span style="font-family: Arial,san-serif; font-size: 16px; line-height: 16px; color: rgb(255, 0, 0); letter-spacing: -1px;">RRP £210</span></p>
			<span style="line-height: 12px;">&nbsp;</span>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="100" bgcolor="#ffffff" align="center" width="630" colspan="3" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 40px; letter-spacing: -2px;">
			<a href="http://uk.madbid.com"><img height="40" border="0" width="235" src="http://uk.madbid.com/opt/email/news_button.jpg" alt="See Next Auctions" style="display: block;"></a>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="120" bgcolor="#ffffff" align="center" width="630" colspan="3" style="font-family: Trebuchet MS,Arial,san-serif; font-size: 40px; letter-spacing: -2px;">
			<a style="color: rgb(36, 36, 36); text-decoration: none; line-height: 40px;" href="http://uk.madbid.com/bids4kids"><img height="120" border="0" width="630" style="display: block;" src="http://uk.madbid.com/opt/email/charity1.jpg"></a>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	<tr>
		<td width="20"><img height="120" width="20" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_6.gif"></td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>
		<td height="120" bgcolor="#ffffff" align="center" width="630" colspan="3">
			<a style="color: rgb(36, 36, 36); text-decoration: none; line-height: 40px;" href="http://uk.madbid.com/bids4kids"><img height="120" border="0" width="630" style="display: block;" src="http://uk.madbid.com/opt/email/charity2.jpg"></a>
		</td>
		<td bgcolor="#ffffff" width="25">&nbsp;</td>

		<td width="20"><img height="120" width="20" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_7.gif"></td>	
	</tr>
	<tr>
		<td width="720" colspan="7">	
			<img height="35" width="720" style="display: block;" alt="" src="http://uk.madbid.com/opt/email/bg_3.gif">
		</td>
	</tr>
	<tr>
		<td width="20">&nbsp;</td>
		<td width="25">&nbsp;</td>

		<td height="150" width="630" style="font-family: Verdana,Arial,san-serif; font-size: 10px; line-height: 12px; color: rgb(102, 102, 102);" colspan="3">
			You are receiving this email because you are a Registered Madbid user. If you would no longer like to receive communications from Madbid, you may <a style="color: rgb(51, 51, 51); text-decoration: underline;" href="http://uk.madbid.com/my">unsubscribe</a>.
			<br><br>
			MadBid.com is a trading name and registered trademark of Marcandi Ltd, Co Reg No: 6609609 and VAT Reg No: 934 925792. Place of Registration: England. Registered Address: The Courtyard, High Street CHOBHAM, Surrey GU24 8AF, UK.
		</td>
		<td width="25">&nbsp;</td>
		<td width="20">&nbsp;</td>	
	</tr>
	</tbody></table>

</td>
</tr>
</tbody></table>