body	    {margin:0;font-family:Arial, Helvetica, sans-serif;background:#017AC9;}
em			{font-style:normal;font-weight:bold;color:#133e6e;}
.bloque		{display:block;}
.blanco		{color:#ffffff;text-decoration:none;}
.gris		{color:#666666;}
select		{font-size:12px;font-family:Arial, Helvetica, sans-serif;}
ul,li		{font-size:11px;font-family:Arial, Helvetica, sans-serif;}

#idiomas    	{position:absolute;left:50%;width:900px;height:40px;margin-left:-450px;background:url(http://www.timesavers.es/img/fondo_top.gif) no-repeat bottom #67b0df;text-align:right;border-left:8px solid #ffffff;border-right:8px solid #ffffff;}
#idiomas span	{position:absolute;top:10px;left:10px;}
#idiomas p		{margin:10px 10px 0 0;font-size:11px;color:#ffffff;}
#idiomas a		{text-decoration:none;color:#ffffff;font-size:11px;}
#idiomas a:hover{color:#000000;}

#logo			{position:absolute;left:50%;width:900px;height:100px;margin-left:-450px;top:40px;background:#ffffff;border-left:8px solid #ffffff;border-right:8px solid #ffffff;}
#logo .izq		{margin:8px 0 0 0;border:0;float:left;}
#logo p			{margin:22px 0 0 0;font-size:22px;font-weight:bold;text-align:right;color:#4a698d;}
#logo a			{text-decoration:none;color:#4a698d;}
#logo a:hover	{text-decoration:underline;}

#botonera   		{position:absolute;left:50%;width:900px;height:240px;margin-left:-450px;top:140px;background:url(http://www.timesavers.es/img/fondo_botonera3.gif) no-repeat #ffffff;border-left:8px solid #ffffff;border-right:8px solid #ffffff;}
#botonera a			{text-decoration:none;color:#000000;text-align:center;}
#botonera a:hover	{text-decoration:underline;}
#botonera form		{font-size:11px;position:absolute;top:8px;left:654px;color:#ffffff;}
#botonera form a	{color:#ffffff;outline:none;text-decoration:underline;font-size:9px;}
#botonera form p	{margin:4px 0 0 83px;font-size:9px;}
.caja1		{font-size:10px;width:90px;border:0;height:12px;margin:4px 0 0 2px;}
.caja2		{font-size:10px;width:60px;border:1px solid #000000;height:16px;margin:0 0 0 22px;}
.caja3		{font-size:10px;width:90px;border:0;height:12px;margin:5px 0 0 28px;}

.boton1		{font-size:11px;position:absolute;top:22px;left:16px;}
.boton2		{font-size:11px;position:absolute;top:30px;left:110px;}
.boton3		{font-size:11px;position:absolute;top:22px;left:192px;}
.boton4		{font-size:11px;position:absolute;top:30px;left:286px;}
.boton5		{font-size:11px;position:absolute;top:30px;left:376px;}
.boton6		{font-size:11px;position:absolute;top:30px;left:465px;}
.boton7		{font-size:11px;position:absolute;top:30px;left:540px;}

#cuerpo			{position:absolute;left:50%;width:900px;margin-left:-450px;top:370px;background:#ffffff;border-left:8px solid #ffffff;border-right:8px solid #ffffff;}
#cuerpo h2		{margin:8px 0 0 0;border-bottom:1px solid #133e6e;color:#133e6e;}
#cuerpo h3		{margin:12px 0 6px 0;font-size:18px;color:#133e6e;}	
.colum1			{float:left;width:240px;font-size:12px;background:#67b0df;border-top:12px solid #ffffff;border-bottom:12px solid #ffffff;}
.colum1bla					{float:left;width:240px;font-size:12px;background:#ffffff;border-top:12px solid #ffffff;border-bottom:12px solid #ffffff;}
.colum1 p,.colum1bla p		{margin:18px;text-align:justify;}
.bt 			{height:24px;border-bottom:4px solid #ffffff;background:url(http://www.timesavers.es/img/fondo_boton.gif) no-repeat;}
.bt a			{margin:0 0 0 16px;text-decoration:none;color:#000000;line-height:22px;}
.bt a:hover		{color:#ffffff;}
.bt2 			{height:48px;border-bottom:4px solid #ffffff;background:url(http://www.timesavers.es/img/fondo_boton2.gif) no-repeat;}
.bt2 a			{display:block;padding:8px 6px 0 12px;text-decoration:none;color:#000000;line-height:14px;}
.bt2 a:hover	{color:#ffffff;}
.bt3 			{height:64px;border-bottom:4px solid #ffffff;background:url(http://www.timesavers.es/img/fondo_boton4.gif) no-repeat;}
.bt3 a			{display:block;padding:8px 6px 0 12px;text-decoration:none;color:#000000;line-height:14px;}

.colum2								{float:left;width:400px;margin:0 20px 20px 20px;}
.colum2 p,.colum2_larga p			{margin:12px 0 12px 0;font-size:12px;text-align:justify;}
.colum2 a,.colum2_larga a			{text-decoration:none;color:#4a698d;}
.colum2 a:hover,.colum2_larga a:hover 	{text-decoration:underline;}
.colum2_larga						{float:left;width:620px;margin:0 0 20px 20px;}
.colum2_larga table		{margin:15px 0;}
.colum2_larga td		{font-size:12px;font-family:Arial, Helvetica, sans-serif;}

.colum3		{float:left;width:220px;font-size:12px;background:#4a698d;border-top:12px solid #ffffff;border-bottom:12px solid #ffffff;}
.colum3 p	{margin:6px 0 6px 0;text-align:center;}
.colum3bla	{float:left;width:220px;font-size:12px;background:#ffffff;border-top:12px solid #ffffff;border-bottom:12px solid #ffffff;}
.colum3bla p{margin:6px 0 6px 0;text-align:center;}
.colum3bla a{text-decoration:none;color:#666666;}
.colum3 a	{text-decoration:none;color:#666666;}

#pie		{position:relative;clear:both;border-top:1px solid #666666;background:#ffffff;}
#pie p		{font-size:12px;margin:8px 0 16px 0;text-align:center;color:#666666;}
#pie a		{text-decoration:none;color:#666666;}
#pie a:hover{text-decoration:underline;}

/***gestiones***/
.filazul_1 td	{font-size:12px;background:#00B0F0;}
.filazul_2 td	{font-size:12px;background:#C6D9F1;}

/***servicios***/
.tb1		{margin:0;}
.tb1 td		{width:200px;border-right:12px solid #ffffff;}
.celda		{background:#4a698d;text-align:center;}
.celda2		{font-size:12px;border-bottom:6px solid #ffffff;border-top:6px solid #ffffff;vertical-align:top;}
.celda img	{width:140px;}

/***formularios***/
.contacta1	{width:390px;display:block;margin:-10px 0 -4px 0;font:11px Arial, Helvetica, sans-serif;}
.contacta2  {width:390px;display:block;margin:-10px 0 -4px 0;font:11px Arial, Helvetica, sans-serif;}
.form_registro	{margin:20px 0;}
.registro		{width:300px;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#666666;border:1px solid #666666;}

#dhtmltooltip	{position:absolute;width:250px;padding:2px;visibility:hidden;z-index:5;}

/*zona de usuarios*/
.linea_us	{margin:10px 0 0 0;height:7px;}
.colum_us	{padding:6px 0;font-size:12px;font-family:Arial, Helvetica, sans-serif;border:10px solid #67B0DF;}
.btus		{float:left;width:140px;height:20px;padding:4px 0 0 0;margin:0;background:url(http://www.timesavers.es/img/fondo_boton3.gif) no-repeat;text-align:center;border-bottom:1px solid #ffffff;border-right:4px solid #ffffff;}
.btus a		{font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;text-decoration:none;}
.exit		{position:absolute;left:120px;width:100px;text-decoration:none;}
.exit img	{border:2px solid #ffffff;margin:20px 0 0 0;}
.datos		{width:320px;height:18px;background:url(http://www.timesavers.es/img/fondo_boton5.gif) no-repeat;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#000000;border:0;padding:0 0 0 10px;}

.tb_user	{margin:15px 15px 25px 25px;}
.tb_user td {font-size:11px;}
.tb_user p	{text-align:justify;}
.tb_user a	{text-decoration:none;font-weight:bold;color:#133e6e;}
th			{background:#4A698D;font-weight:bold;color:#ffffff;text-align:left;}
.thead_1	{width:80px;text-align:center;}
.thead_2	{width:100px;text-align:center;}	
.thead_3	{width:70px;text-align:center;}
.thead_4	{width:100px;text-align:center;}
.thead_5	{width:60px;text-align:center;}
.thead_6	{width:80px;text-align:center;}
.thead_7	{width:60px;text-align:center;}
.thead_8	{width:60px;text-align:center;}
.thead_9	{width:70px;text-align:center;}
.filagris	{background:#dddddd;}
.filagris form{margin:0;float:left;}

h4			{margin:0;padding:0;} /*noticias*/
.solicita	{width:330px;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#666666;border:1px solid #666666;}
.bt4		{width:210px;height:22px;padding:6px 0 0 10px;background:url(http://www.timesavers.es/img/fondo_boton4.gif) no-repeat;color:#ffffff;font-weight:bold;}
.bt4 a		{color:#ffffff;text-decoration:none;}