body	{margin:16px 0;font-family:Arial, Helvetica, sans-serif;}
h1		{margin:16px 0 16px 36px;font-family:Georgia, "Times New Roman", Times, serif;}
h2		{margin:16px 0 16px 36px;font-family:Georgia, "Times New Roman", Times, serif;color:#865027;}
h2 span	{color:#543015;}
h4		{color:#865027;margin:0 36px 16px 36px;border-bottom:1px dotted #865027;}
h6		{margin:48px 0;font-family:Georgia, 'Times New Roman', Times, serif;font-size:32px;font-weight:bold;}
input   {display:block;border:1px solid #333333;font:12px Arial, Helvetica, sans-serif;}
textarea{display:block;border:1px solid #333333;font:12px Arial, Helvetica, sans-serif;}
a		{outline:none;}
em		{font-style:normal;color:#865027;}
.gris	{color:#666666;}

#arriba		{margin:0 auto;width:830px;height:50px;padding:60px 60px 0 0;background:url(http://www.cafeoperabcn.com/img/fondo_cabecera.gif) top no-repeat;text-align:right;}
#arriba	img	{border:1px solid #333333;margin:0 8px;}

#centro 	{margin:0 auto;width:890px;display:table;background:url(http://www.cafeoperabcn.com/img/fondo_centro.gif) repeat-y;}
.fondo_home {padding:0 0 32px 0;background:url(http://www.cafeoperabcn.com/img/fondo_home.jpg) no-repeat;background-position:320px 0;text-align:center;}
.fondo_home div{padding:0 180px 0 0;}
.imgp		{margin:0 36px 16px 16px;float:right;border:1px solid #666666;}
.imgi		{margin:0 16px 16px 36px;float:left;border:1px solid #666666;}

#boton		{float:left;width:220px;}
#boton img	{border:0;margin:-40px 0 20px -10px;}
#boton a	{display:block;margin:4px 0 4px 60px;padding-bottom:4px;color:#000000;text-decoration:none;text-align:left;font-size:12px;border-bottom:1px dotted #bb9674;}
#boton a:hover{color:#666666;}

#cuerpo		{float:left;width:650px;}
#cuerpo	td	{font-size:12px;}
#cuerpo p	{font-size:12px;margin:16px 36px;}
#cuerpo a   {color:#543015;}
#cuerpo ul	{margin:16px 36px;}
#cuerpo li	{font-size:12px;}
#cuerpo p img{border:1px solid #666666;}
#cuerpo form{font-size:12px;margin:16px 36px;}
.fondo1		{background:url(http://www.cafeoperabcn.com/img/fondo_logo2.jpg) no-repeat;background-position:300px 90px;}

#abajo		{margin:0 auto;width:890px;height:74px;padding:32px 0 0 0;font-size:12px;background:url(http://www.cafeoperabcn.com/img/fondo_piecera.gif) top no-repeat;color:#865027;font-weight:bold;text-align:center;}
#abajo a	{color:#543015;text-decoration:none;}