body{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
.tabla2		{font-size:12px;}
.txtcentro	{padding-left:16px;padding-right:16px;padding-top:16px;}
.txtcentro2	{padding-left:16px;padding-right:16px;}
#numeros	{padding-left:24px;padding-right:24px;}

a:link		{text-decoration:none;color:black;}
a:visited	{text-decoration:none;color:black;}
a:active	{text-decoration:none;color:black;}
a:hover		{text-decoration:none;color:#999999;}

.titulo1	{color:#FFFFFF;font-size:52px;height:60px;}
.titulo2	{color:#E34559;font-size:26px;}
.capa1		{visibility:hidden;position:absolute;left:290px;}

#cptit1		{position:absolute;top:90px;}
#cptit2		{position:absolute;top:90px;}
#cptit3		{position:absolute;top:90px;}
#cptit4		{position:absolute;top:90px;}
#cptit5		{position:absolute;top:90px;}
#cptit6		{position:absolute;top:90px;}
#cptit7		{position:absolute;top:90px;}
#cptit8		{position:absolute;top:90px;}
#cptit9		{position:absolute;top:90px;}

#bt1{background:#F4B5BD;padding:8px;}
#bt2{background:#E34559;padding:8px;}
#bt3{background:#C4DB0D;padding:8px;}
#bt4{background:#F4B5BD;padding:8px;}
#bt5{background:#E34559;padding:8px;}
#bt6{background:#C4DB0D;padding:8px;}
#bt7{background:#F4B5BD;padding:8px;}
#bt8{background:#E34559;padding:8px;}
#bt9{background:#C4DB0D;padding:8px;}
#bt10{background:#F4B5BD;padding:8px;}
#bt11{background:#C4DB0D;padding:8px;}

#centro1{
	font-size:11px;
	background:#F4B5BD;
	width:100%;
	height:100%;
	background-image:url(imgs/fondo1b.gif);
	background-repeat:no-repeat;
	background-position:bottom left;}
#centro2{
	background:#E34559;
	width:100%;
	height:100%;
	font-size:11px;
	background-image:url(imgs/fondo2.gif);
	background-repeat:no-repeat;
	background-position:bottom left;}
#centro3{
	background:#C4DB0D;
	width:100%;
	height:100%;
	font-size:11px;
	background-image:url(imgs/fondo3.gif);
	background-repeat:no-repeat;
	background-position:bottom left;}