body	    {margin:5px 0 0 0;}
#central    {position:absolute;left:50%;width:1000px;height:737px;margin-left:-500px;background:url(img/fondo_web.jpg) no-repeat;}
a			{color:#076E07;}
em			{color:#076E07;font-style:normal;}

h3			{color:#076E07;font:16px Verdana, Arial, Helvetica, sans-serif;margin:6px 0;font-weight:bold;}

.idiomas	{text-align:center;}
.idiomas a	{font:12px Verdana, Arial, Helvetica, sans-serif;color:#333333;}

.izquierda	{position:absolute;top:140px;left:165px;}
.izquierda p{margin:4px 400px 4px 0;font:13px Verdana, Arial, Helvetica, sans-serif;color:#333333;}

.pie		{margin:750px 0 0 0;font:12px Verdana, Arial, Helvetica, sans-serif;text-align:center;border-bottom:20px solid #ffffff;}

/*tabla*/
.principal	{width:1000px;height:737px;background:url(img/fondo_web.jpg) no-repeat;}
.principal div{width:450px;margin:140px 0 0 160px;}
.principal div p {margin:6px 0;}
td			{font:12px Verdana, Arial, Helvetica, sans-serif; vertical-align:top;}