body	    	{margin:16px 0 0 0;background:#ffffff;font-family:Verdana, Arial, Helvetica, sans-serif;}
a				{text-decoration:none;outline:none;}
a:hover			{text-decoration:underline;}
p,td,div,li		{font-size:11px;}
input,select,textarea{font-size:11px;font-family:Verdana, Arial, Helvetica, sans-serif;}
h3				{text-transform:uppercase;}

.iframe_captcha	{width:160px;height:70px;border:0;margin:10px -30px -10px 0;}

/*arriba*/
.zonas		{position:absolute;top:40px;left:236px;width:280px;text-align:center;}
.zonas div	{width:50%;float:left;}
.zonas a	{color:#ffffff;font-weight:bold;}
.arriba		{clear:both;background:#ffffff;}
.arriba span{position:absolute;top:42px;left:0;font-size:9px;color:#333333;}
.idiomas	{position:absolute;top:36px;left:600px;}
.idiomas a	{color:#333333;}
.busqueda	{position:absolute;top:72px;left:16px;}
.paginador	{margin:0 36px 0 0;text-align:right;font-weight:bold;}

/*izquierda*/
.izq		{float:left;width:180px;}
.izq p		{margin:8px;}
.boton		{margin:6px 0 6px 12px;display:block;color:#333333;}
.titulo		{position:absolute;font-weight:bold;color:#ffffff;margin:4px 0 0 18px;}
.saludo		{height:48px;margin:8px;}
.saludo img	{width:48px;float:left;margin:0 2px 0 0;}

/*centro*/
.cuerpo		{float:left;width:600px;}
.cuerpo p	{margin:12px 24px 12px 24px;}
.cuerpo h2	{font-size:18px;margin:0 0 0 36px;}

/*derecha*/
.der			{float:left;width:180px;}
.der p			{margin:8px;}

/*abajo*/
.abajo			{clear:both;background:#ffffff;padding:0 0 8px 0;text-align:center;}
.abajo a		{color:#333333;}

/*enlaces*/
.listalinks		{margin:24px;}
.listalinks dd	{padding:8px 0;margin:0;}
.listalinks img	{float:left;margin:12px 12px 0 0;border:1px solid #000000;}