body	{margin:20px 0 0 0;background:#000000;}
table	{width:100%;}
td		{font:11 Verdana, Arial, Helvetica, sans-serif;vertical-align:top;color:#FFFFFF;}

.noticias  		{padding:5px;margin:0 0 0 20px;width:160px;height:80px;border:1px solid #AB114A;}
.noticias a		{color:#999999;}
.pie			{margin:20px 0 0 0;width:190px;text-align:right;}

a		{text-decoration:none;color:#333333;}
a:hover	{text-decoration:underline;color:#666666;}
em		{font-style:normal;font-weight:bold;color:#333333;}
form	{margin:0 0 0 20px;}
input	{display:block;font:11 Verdana, Arial, Helvetica, sans-serif;}
textarea{display:block;font:11 Verdana, Arial, Helvetica, sans-serif;}

h1		{font:18px "Trebuchet MS", Arial, sans-serif;color:#000000;font-weight:bold;padding:15px 0 5px 15px;}

.top_logo			  {width:210px;border-right:20px solid #000000;}
.top_logo img		  {border:0;}
.top_boton			  {width:520px;}
.top_boton img		  {display:block;border:0;}
.top_boton a:hover img{opacity:.9;filter:alpha(opacity=90);}

.sub_boton			  {padding:10px 0 0 0;border-right:20px solid #000000;}
.sub_boton img		  {display:block;border:0;}
.sub_boton a:hover img{opacity:.7;filter:alpha(opacity=70);}
.sub_centro			  {width:500px;height:400px;background:#E91563;border-top:10px solid #000000;}
.sub_centro p		  {margin:10px 10px 10px 15px;}
.sub_centro table	  {margin:0 0 0 15px;}
.sub_centro table td  {text-align:center;padding:0 0 4px 0;}

.vacia2	{background:#AB114A;border-top:10px solid #000000;}
.vacia3	{background:#AB114A;border-top:10px solid #000000;border-left:15px solid #000000;}

.capa	{height:60px;margin:0 10px 0 0;}
.capa2	{height:40px;margin:0 10px 0 0;}
.capa3	{height:300px;margin:0 20px 0 0;}

#dhtmltooltip{position:absolute;width:250px;padding:2px;visibility: hidden;z-index:5;}
#dhtmltooltip img {border:1px solid #ffffff;}