body	    {margin:0;font:11px Verdana, Arial, Helvetica, sans-serif;}
h1			{margin:5px 0;height:100px;text-align:center;background:url(http://www.outletdepisos.es/img/fondo1.gif) repeat-x;}
h1 img		{border:0;}
h1 a		{outline:none;}
h2			{margin:0 0 5px 0;padding:20px 0;background:#cccccc;text-align:center;}
#central    {position:absolute;left:50%;width:990px;margin-left:-495px;}
select,input,textarea{font:11px Verdana, Arial, Helvetica, sans-serif;}
em			{}
hr			{color:#dddddd;}

#especial	{position:absolute;top:50%;left:50%;width:640px;height:480px;margin-left:-320px;margin-top:-240px;background:#333333;z-index:5;opacity:.9;filter:alpha(opacity=90);text-align:center;color:#ffffff;display:none;}
#especial p {margin:200px 0 0 0;}
.eslogan	{position:absolute;top:-185px;left:680px;color:#ffffff;font-weight:bold;}

.bt_160		{width:160px;height:18px;padding:5px 0 0 0;background:url(http://www.outletdepisos.es/img/boton160.gif) no-repeat;color:#ffffff;text-align:center;}
.bt_200		{width:200px;height:18px;padding:5px 0 0 0;background:url(http://www.outletdepisos.es/img/boton200.gif) no-repeat;color:#ffffff;text-align:center;}

.abajo		{position:relative;margin:20px 0;height:16px;padding:6px 0;background:url(http://www.outletdepisos.es/img/fondo2.gif) repeat-x;text-align:center;color:#ffffff;}
.abajo a	{color:#ffffff;}

/*caja central*/
#cuerpo			{position:absolute;top:270px;width:790px;}
#cuerpo p a		{color:#666666;}

/*caja de botonera*/
.botonera 		{position:absolute;top:-10px;left:0;width:270px;padding:10px 0;}
.botonera a		{display:block;margin:0;width:200px;height:18px;padding:5px 0 0 0;background:url(http://www.outletdepisos.es/img/boton200.gif) no-repeat;color:#ffffff;border-bottom:2px solid #ffffff;text-decoration:none;text-align:center;}
.botonera a:hover{font-weight:bold;}

/*caja de buscador*/
#caja_buscar			{position:absolute;width:270px;height:260px;top:0;left:220px;}
#caja_buscar .mid 		{width:160px;margin:0 0 3px 0;display:block;}
#caja_buscar form		{margin:10px 0 0 0;}

/*caja de flash*/
#caja_f			{position:absolute;width:290px;height:260px;top:0;left:500px;text-align:center;}
#caja_f img		{border:1px solid #065583;margin:15px 0 0 0;}
#caja_f a		{color:#ffffff;text-decoration:none;}
#caja_f a:hover	{font-weight:bold;}
#caja_f	.bt_200	{margin:0 0 0 45px;}	

/*caja del login*/
#caja_login			{position:absolute;width:180px;height:260px;top:0;left:800px;}
#caja_login	a		{color:#0075BA;}
#caja_login	form	{margin:15px 0 0 0;text-align:center;}
#caja_login	input	{width:120px;}
#caja_login	form p	{margin:0 0 4px 0;}
#caja_login .bt_160	{margin:0 0 0 10px;}

/*tabla home*/
#principal		{width:790px;text-align:center;border:1px solid #dddddd;}
.fila1 a		{color:#ffffff;text-decoration:none;}
.fila1 td		{background:url(http://www.outletdepisos.es/img/fondo2.gif) repeat-x;height:16px;padding:6px 0;color:#ffffff;text-align:center;}
.fila2 a		{color:#000000;text-decoration:none;}
.fila2 td		{border-bottom:1px solid #dddddd;}
.fila2 img		{height:60px;border:0;}
.fstar			{background:url(http://www.outletdepisos.es/img/ico_star.gif) no-repeat center;font-weight:bold;}

/*registro*/
.tabla_registro	{width:790px;border:1px solid #dddddd;}
.tabla_registro select{width:140px;}
.caja1			{width:280px;}
.caja2			{width:140px;}

/*tabla piso.php*/
.tb_piso		{width:790px;border:1px solid #dddddd;}
.tb_piso p		{text-align:justify;margin:15px 20px;}
.tb_piso td		{vertical-align:top;}
.tb_piso ul		{background:#dddddd;padding:10px 20px;margin:20px;}
.lineagris		{background:url(http://www.outletdepisos.es/img/fondo3.gif) repeat-x;height:16px;padding:6px 0;color:#ffffff;font-weight:bold;}
.fondo			{background:#dddddd;padding:5px;}
.pic			{width:90px;height:90px;border:0;}

/*pagina usuarios.php*/
.tb_bt_users	{width:100%;background:url(http://www.outletdepisos.es/img/fondo2.gif) repeat-x;margin:0 0 10px 0;}
.tb_bt_users a	{color:#ffffff;}
.minis			{width:120px;height:120px;border:0;}

/****lightbox****/
#lightbox		{background-color:#eee;padding:30px;}
#lightboxDetails{font-size:0.8em;padding-top:0.4em;}	
#lightboxCaption{float:left;}
#keyboardMsg	{float:right;}
#closeButton	{top:5px;right:5px;}
#lightbox img	{border:none;clear:both;} 
#overlay img	{border:none;}
#overlay		{background-image:url(http://www.outletdepisos.es/img/ico_overlay.png);}
* html #overlay	{background-color: #333;back\ground-color: transparent;background-image: url(blank.gif);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.outletdepisos.es/img/ico_overlay.png", sizingMethod="scale");}