body	    {margin:0;background:#ffffff;font-family:Verdana, Geneva, sans-serif;}
#central    {position:absolute;left:50%;top:0;width:900px;margin-left:-450px;}
a			{outline:none;}
em			{font-style:normal;font-weight:bold;color:#CF9F00;}
h3			{font-size:12px;}

#top img	{border:0;}
#top .img1	{position:absolute;top:58px;left:14px;outline:none;}
#top .img2	{margin:0 0 0 340px;}
#top a		{text-decoration:none;color:#666666;}
#top a:hover{text-decoration:underline;}
#top .top1	{float:left;width:499px;padding:4px 0;text-align:right;font-size:11px;}
#top .top2	{float:left;width:401px;padding:4px 0;text-align:right;font-size:11px;}

#medio			{margin:40px 0;}
#botones		{float:left;width:300px;border-right:40px solid #ffffff;}
#botones a		{display:block;padding-left:70px;text-decoration:none;color:#333333;font-size:12px;font-weight:bold;}
#botones a:hover{color:#000000;}
#botones .bot0	{padding:5px 0 0 70px;margin:0 0 9px 3px;}
#botones .bot1	{background:url(http://www.profesyclases.com/img/boton1.gif) left no-repeat;height:32px;margin:0 0 3px 0;border-top:1px solid #eeeeee;border-bottom:1px solid #cccccc;}
#botones .bot2	{background:url(http://www.profesyclases.com/img/boton2.gif) left no-repeat;height:32px;margin:0 0 3px 0;border-top:1px solid #eeeeee;border-bottom:1px solid #cccccc;}
#botones img	{margin:0 0 0 15px;border:0;}
#botones .sub1	{font-size:11px;color:#999999;margin:0 0 5px 0;}

#cuerpo		{float:left;width:560px;padding-bottom:10px;border-bottom:4px solid #CF9F00;}
#cuerpo	h2	{font-size:18px;margin-top:0;color:#CF9F00;border-bottom:1px dotted #CF9F00;}
#cuerpo	p	{font-size:11px;}
#cuerpo ul	{font-size:11px;}
#cuerpo li	{color:#666666;}
#cuerpo	a	{color:#333333;font-weight:bold;}

.img_der	{float:right;margin:0 0 10px 15px;border:1px dotted #CE1508;}
.img_izq	{float:left;margin:0 15px 10px 0;border:1px dotted #CE1508;}

/*formulario*/
.caja1		{display:block;width:400px;margin:0 0 5px 0;font:11px Verdana, Geneva, sans-serif;color:#666666;border:1px solid #333333;}
form p		{margin:0 0 4px 0;}