body		{margin:0px;background:#A7C2BE;/*background-image:url(img/fondo.gif);*/}
td			{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

#linea2a a		{text-decoration:none;color:#638B85;font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
#linea2a a:hover{color:#000000;}
.linea2b a		{text-decoration:none;color:#000000;}
.linea2b a:hover{text-decoration:none;color:#FFFFFF;}

.principal2 
	{height:100%;background:#FFFFFF;border-left:2px solid #0B4A41;border-right:2px solid #0B4A41;}

.linea1		{height:100px;}
#linea2a	{height:24px;padding-left:6px;border-bottom:1px dotted #0B4A41;}
.linea2b	{height:24px;border-bottom:1px dotted #0B4A41;background:#638B85;text-align:center;}
#linea3		{height:100px;}
#linea4 	{width:710px;background:#EEE8BE;padding:10px;vertical-align:top;}
#linea4 td 		{vertical-align:top;}
#linea4 a  		{font-weight:bold;text-decoration:none;color:#000000;}
#linea4 a:hover {font-weight:bold;text-decoration:none;color:#CCCCCC;}
#linea5			{height:24px;background:#DCD5A6;text-align:right;padding-right:6px;}
#linea5 a  		{text-decoration:none;color:#000000;}
#linea5 a:hover {text-decoration:none;color:#666666;}

.bloque1{width:165px;height:240px;background:#638B85;text-align:center;}

h1	{font-size:54px;font-family:"Times New Roman", Times, serif;color:#0B4A41;
	padding-left:4px;margin-top:8px;line-height:36px;}
h2	{font-size:18px;font-weight:bold;color:#638B85;}
h3	{font-size:12px;font-weight:bold;color:#91AEA9;}

#capamapa	{position:absolute;background:#000000;text-align:center;color:#FFFFFF;visibility:hidden;
			z-index:1;padding-top:4px;font-family: Tahoma, Arial, Helvetica, sans-serif;font-size:12px;}
#capamapa a {color:#638B85;text-decoration:none;padding-left:120px;}