html	    {height:100%;}
body	    {height:100%;margin:0;background:#dddddd;font:11px Verdana, Arial, Helvetica, sans-serif;}
#central    {height:100%;position:absolute;left:50%;width:800px;margin-left:-400px;background:url(img/fondo_3.gif) repeat-y;}

#top	 	{width:800px;height:159px;margin:0 0 0 20px;background:url(img/cfr_top.gif) no-repeat;}
#top span	{position:absolute;left:175px;top:135px;}
#top span a	{border-left:12px solid #0071be;padding:0 5px 0 5px;}
#top a		{color:#000000;}
#top a:hover{color:#eeeeee;}
#top cite	{position:absolute;left:680px;top:40px;text-align:right;}
#top cite a {border-right:13px solid #945992;font-style:normal;display:block;margin:0 0 5px 0;}

#imagen	img	{margin:0 0 0 20px;}

h1			{font-size:22px;margin:5px 0 5px 40px;padding-top:15px;color:#a0bfd0;font-weight:bold;}
h2			{font-size:20px;margin:20px 220px 15px 40px;color:#333333;border-bottom:1px solid #333333;}
#cuerpo	   	{width:800px;background:url(img/fondo_3.gif) repeat-y;}
#cuerpo p  	{margin:5px 220px 15px 40px;line-height:16px;}
#cuerpo a	{color:#333333;text-decoration:underline;}
#pie		{margin:10px 20px 0 20px;padding:10px 0 10px 0;text-align:center;background:#0071be;}
#pie a		{color:#ffffff;}

h3			{font-size:14px;margin:15px 0 15px 10px;font-weight:bold;color:#a0bfd0;}
#derecha	{position:absolute;top:330px;left:600px;width:180px;}
#derecha p	{margin:5px 10px 10px 10px;color:#0b619c;font-size:10px;}
#derecha img{margin:0 0 2px 5px;}

a		   	{text-decoration:none;outline:none;}
em		   	{font-style:normal;}
ul,li		{margin:0 120px 0 25px;line-height:16px;}