body	{margin:0;}
td		{font:10px Verdana, Arial, sans-serif;vertical-align:top;}
span	{color:#FF0000;font-weight:bold;}
a		{text-decoration:none;color:#000000;}
a:hover	{text-decoration:none;}
em		{font-style:normal;color:#263AB0;font-weight:bold;}
.noticia{background:#eeeeee;width:170px;margin:0 0 0 15px;padding:10px 10px 10px 0;}

h1		{background:#263AB0;font-size:11px;padding:17px 0 23px 25px;margin:0;color:#ffffff;}
h2		{background:#eeeeee;font-size:11px;padding:5px 0 5px 25px;margin:0;}
h4		{text-align:center;font:10px Verdana, Arial, sans-serif;font-weight:normal;}
h5		{font:11px Verdana, Arial, sans-serif;font-weight:bold;background:#eeeeee;margin:15px 0 0 15px;padding:10px 0 10px 0;text-align:center;}

.celda_0		{width:250px;padding:83px 0 0 0;}
.celda_0 img	{border:0;}
.celda_1		{width:170px;padding:7px 0 0 0;background:url(img/base.gif) bottom no-repeat #eeeeee;}
.celda_1x		{width:170px;padding:7px 0 0 0;background:#eeeeee;}

.celda_2		{width:560px;border-left:2px solid #ffffff;border-bottom:60px solid #ffffff;}
.celda_2 p		{margin:15px 0 15px 20px;text-align:justify;line-height:14px;}
.celda_2 p img	{border:0;}
.celda_2 a:hover img{filter:alpha(opacity=70);opacity:.7;}
.celda_2x		{width:560px;border-left:2px solid #ffffff;}

.celda3			{width:720px;}
.celda3 p		{margin:15px 0 15px 20px;text-align:justify;line-height:14px;}
.celda3 table	{margin:0;}

.boton_idioma {background:url(img/circulo.gif) right no-repeat #eeeeee;text-align:right;padding:5px 8px 5px 0;border-bottom:2px solid #ffffff;display:block;font-size:11px;font-weight:bold;color:#666666;}
.boton_idioma2{background:url(img/circulo.gif) right no-repeat #eeeeee;text-align:right;padding:5px 8px 5px 0;border-bottom:2px solid #ffffff;display:block;font-size:11px;color:#888888;}
.boton		  {background:url(img/circulo.gif) right no-repeat #eeeeee;text-align:right;padding:5px 8px 5px 0;border-bottom:2px solid #ffffff;display:block;font-size:11px;font-weight:bold;}
.boton:hover  {background:#ffffff;color:#263AB0;}
.cabecera	  {display:block;border-bottom:2px solid #ffffff;border-left:0;border-right:0;border-top:0;}
.info		  {padding:0 0 0 5px;width:160px;font:10px Verdana, Arial, Helvetica, sans-serif;word-spacing:-1px;}
.pic		  {padding:0 0 5px 0;height:90px;}
.pic img	  {border:1px solid #cccccc;}
.enlaces	  {font-weight:bold;display:block;margin:0;background:url(img/mouse.gif) left no-repeat;padding:0 0 4px 20px;}
.bordeazul	  {width:170px;background:url(img/base.gif) bottom no-repeat #eeeeee;border-top:2px solid #ffffff;}

.detalles img {cursor:pointer;}