@font-face {font-family:'bliss_2light';font-weight:normal;font-style:normal;src:url('../font/bliss-light-webfont.eot');src:url('../font/bliss-light-webfont.eot?#iefix') format('embedded-opentype'),url('../font/bliss-light-webfont.woff') format('woff'),url('../font/bliss-light-webfont.ttf') format('truetype'),url('../font/bliss-light-webfont.svg#bliss_2light') format('svg')}
@font-face {font-family:'premier';font-weight:normal;font-style:normal;src:url('../font/premierleague-webfont.eot');src:url('../font/premierleague-webfont.eot?#iefix') format('embedded-opentype'),url('../font/premierleague-webfont.woff') format('woff'),url('../font/premierleague-webfont.ttf') format('truetype'),url('../font/premierleague-webfont.svg#premier') format('svg')}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,img,input,button,select,p,th,td,hr,figure{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0} caption,th,ul li{text-align:left} ol,ul{list-style:none}
abbr,caption,em,strong,th,var{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6,a,b,p,li,dt,dd,caption,td,th,label,select,option,input,button,aside,footer{font-family:bliss_2light,sans-serif;font-size:13px;line-height:1.5em;font-weight:normal;color:#333}
body,fieldset.search:hover{background:#f0f0f0}
body:before         	{content:"";position:absolute;left:0;top:60px;width:100%;height:2px;background:#ccc;box-shadow:0 2px 10px #999;z-index:-1}
h1,h2.alt           	{font-size:1.2em;padding-top:0.1em;color:#050429}
h1,h2.alt,header.main a.top{font-family:premier}
h2                  	{font-size:1.5em}
h3                  	{border-top:1px solid #000;border-bottom:1px solid #000}
h3,caption,.caption th  {line-height:2em}
h3,caption,th  			{font-size:1.2em}
caption 				{border-top:1px solid #000}
.em1,.toggle .right,.toggle.right .left{color:#999}
table               	{width:100%;margin-bottom:1em;border-top:1px solid #000;border-bottom:1px solid #000}
a,.toggle label,tr.header td{text-decoration:none;color:inherit;cursor:pointer}
a.alt2 					{color:#f03d46}
abbr,article h3			{text-transform:uppercase}
button 					{padding:0.5em 1em;border-radius:6px;font-weight:bold;background:#007362;color:#fff;cursor:pointer}
button:hover 			{background:#40968a}
.tc,td              	{text-align:center}
.tr                 	{text-align:right}
.ico,td.asc:after,td.desc:after{display:inline-block;vertical-align:middle;width:16px;height:16px;background:url(../img/sprites.png)}
.main               	{max-width:1050px;margin:0 auto;position:relative}
.ext                	{position:relative;background:#050429}
.ext.e1:before 			{content:"";position:absolute;bottom:-16px;left:50%;width:16px;height:16px;margin-left:-8px;background:url(../img/sprites.png) 0 -51px}
.fl,.major li 			{float:left}
.fr,.search         	{float:right}
.menu      				{position:relative;display:inline-block}
.bl,abbr,.clicked ul	{display:block}
.hr,h2,dt				{margin-top:1.5em}
.major:hover ul 		{display:block}
.major:hover a 			{border-bottom:15px solid #fff;background-color:#fff}
.major a:hover,.major:hover a.top{color:#419FD4}
.major ul 				{width:400px;padding:1em;right:1px;top:46px}
.major ul,.major li		{border:none;border-radius:0;box-shadow:none}
.major ul:before 		{content:none}
.major li 				{width:50%;padding:1em 0;border-bottom:1px dotted #ccc}
ul,.homelink em     	{position:absolute;z-index:2;background:#fff;border:5px solid #f0f0f0;border-radius:8px;box-shadow:0 0 2px #666}
ul:before           	{content:"";position:absolute;top:-13px;left:30px;width:16px;height:16px;background:url(../img/sprites.png) 0 -67px;margin-left:-8px}
ul li               	{border-bottom:1px solid #ccc;white-space:nowrap}
ul label				{display:block;padding:0.5em;cursor:pointer}
ul li:hover 			{background:#eee}
ul label > b   			{display:inline-block;min-width:13em}
ul.alt li           	{display:inline-block;border:0}
ul.alt input 			{margin-right:5px}
ul.alt li:hover 		{opacity:.8}
ul.alt li:hover,.major ul li:hover{background:none}
ul.alt label 			{padding:1em}
ul.large 				{width:14em;height:300px;overflow:auto}
header.main         	{min-height:120px;padding-top:1em}
header.main nav     	{position:absolute;right:0;top:1em}  
header.main .toggle 	{float:right;margin:-17px 0 0 17px}
a.top   				{display:inline-block;padding:0.5em 0.8em;color:#050429;border-right:1px dotted #050429}
a.top:last-child		{padding-right:0;border:none}
form.main,nav.main  	{margin-bottom:2em;padding:1em 0}
form.main ul        	{top:3.5em;left:0}
fieldset,.homelink		{display:inline-block;margin:0 0.5em 0.5em 0;border-radius:6px;background:#f0f0f0;cursor:pointer}
fieldset.inactive		{opacity:.5}
fieldset:hover 			{box-shadow:inset 0 0 24px #666/*background:#c1c0c8*/}
fieldset:hover .fl 		{border-right:1px solid #fff}
fieldset .fl,fieldset .fr{height:40px;padding:20px 15px 0 15px}
fieldset .fl,fieldset.search:hover .fl{border-right:1px solid #fff}
fieldset .fr 			{border-left:1px solid #ccc}
fieldset.seasons label b{text-transform:capitalize}
fieldset.clubs ul   	{width:490px}
fieldset.competitions ul,fieldset.channels ul{width:300px}

.box 					{display:inline-block;border:1px solid #050429;border-bottom:0;border-radius:6px 6px 0 0;background:#fff}
.toggle             	{padding:0.5em 1em} 
.toggle .radio      	{width:40px;height:20px;position:relative;margin:0 0.5em;background:#050429;border-radius:5em}
.toggle .radio small	{position:absolute;left:2px;top:2px;height:16px;background:#fff;border-radius:100%;transition:left 250ms}
.toggle.right small 	{left:22px}
.toggle .left,.toggle.right .right{color:#050429}
/*.toggle.inactive 		{visibility:hidden}*/
.select > label     	{display:inline-block;width:10em;height:18px;padding-left:8px;border:1px solid #999;background:linear-gradient(#fff,#aaa);border-radius:8px;text-align:left}
.select .ico        	{float:right;background-position:-117px -52px;width:18px;height:20px;margin:-1px -2px 0 0}
.select ul 				{top:26px}
section 				{overflow:hidden}
figure              	{height:300px;margin-top:1em}   
article             	{position:relative;border-bottom:1px solid #000;margin-bottom:1em}
article.fl          	{width:49%}
article.alt         	{margin-right:2%}
article aside			{margin-top:1px}
article aside span,article aside em {margin-right:1em}
aside.load 				{position:absolute;width:100%;height:100%;margin-top:-2.5em;background:url(../img/load.gif) no-repeat center 4em #fff;opacity:.9;z-index:3}
.subsection 			{width:200%;position:relative;left:0;transition:left 500ms}
.subsection.right 		{left:-100%}
.subsection > div 		{float:left;width:50%}
.subsection > div:last-child	   {height:300px}
.subsection.right > div:first-child{height:300px}
.subsection.right > div:last-child {height:auto}
footer.main        	 	{margin-top:2em;padding:1em 0 4em 0;color:#fff}
.homelink,header.tc		{position:relative}
.homelink a.bl 			{padding:1.5em}
.homelink aside 		{position:absolute;right:3px;top:36px;}
.homelink em 			{opacity:0;width:18em;top:1.5em;left:-8em;padding:1em;transition:opacity 500ms;z-index:-1}
.homelink:hover em 		{opacity:1;z-index:1}
.home div.main h1		{font-size:2em}
.home img 				{margin:5em 0 0 5em}
.home p,.home li,.home dd{line-height:2em}
.home article 			{width:22%;padding:0 1%;position:relative;height:250px;margin:24px 14px 0 0;border-top:1px solid #000}
.home article:nth-child(4n){margin-right:0}
.home article a 		{position:absolute;right:1em;bottom:1em;text-transform:uppercase}
.home .arrow2 			{margin:0 1em}

td,td > .title 			{font-size:11px;font-family:arial,helvetica,sans-serif;padding:10px 0}
td.alt 					{background:#dadadf;min-width:4em}
td:not(.alt) + .alt,.demographic{border-left:1px solid #050429}
thead td            	{padding:0.5em 0;font-weight:bold}
tfoot td 				{padding:0.5em 0;background:#fff;border-top:1px solid #050429;border-bottom:1px solid #050429;font-weight:bold}
td > .title 			{padding:0.3em 0.6em;border:1px solid #ccc;border-radius:4px;background:#fff;text-transform:uppercase}
td > .title:empty 		{display:none}
td span.fr 				{margin-right:1em}
td span.fl 				{margin-left:1em}
td.asc:after,td.desc:after{content:""}
td.asc:after 			{background-position:0 -189px}
td.desc:after 			{background-position:-17px -189px}
.vs span 				{visibility:hidden}
.vs em + span 			{visibility:visible}
.caption td,.caption th {border-bottom:1px solid #000}
.paginate span a 		{display:inline-block;padding:1px 6px}
.paginate .active		{border-radius:100%;color:#fff;background:#050429}
.paginate + aside 		{margin-top:70px;padding:20px;width:380px;border-radius:10px;background:#fff}
.paginate + aside p 	{font-size:1.2em} 
.export .ico 			{background-position:-117px -74px}
.export,.groupby 		{padding:0.2em 0.5em}
article .export	 		{display:inline-block;padding:10px 10px 9px 10px;border:0;border-left:1px solid #050429;background:#fff}
.groupby				{left:0}
.groupby,header.tc .legend{position:absolute;bottom:0}
.search input 			{width:12em;margin-top:-1em;background:inherit}
.search .fr .ico    	{background-position:0 -83px}
.demographic			{background:#fff}
.demographic ul 		{left:-5em}
.demographic ul:before 	{left:10em}
header.tc .legend 		{right:0}

.ico.default 			{background-position:-720px -208px}
.ico.info 				{background-position:-17px -206px}
.ico.logo          	 	{width:100px;height:100px;background-position:-17px 0;margin:-10px 10px 10px 0}
.ico.arrow0         	{background-position:-117px -34px;margin-right:0.5em}
.ico.arrow1         	{background-position:-117px 0}
.ico.arrow2         	{background-position:-117px -17px}
.ico.arrow3         	{background-position:0 -34px}
.ico.arrow4         	{background-position:0 -17px}
.ico.arrow5 			{background-position:0px -206px}
.ico.pdf 				{background-position:-648px -172px}
.ico.csv,.ico.xls,.ico.xlsx,.ico.xlsm{background-position:-684px -172px}
.ico.doc,.ico.docx		{background-position:-648px -208px}
.ico.ppt,.ico.pptx		{background-position:-684px -208px}
.ico.barclays-premier-league{background-position:-136px 0}
.ico.fifa-club-world-cup{background-position:-237px 0}
.ico.uefa-champions-league{background-position:-338px 0}
.ico.uefa-super-cup 	{background-position:-439px 0}
.ico.fa-cup         	{background-position:-136px -25px}
.ico.uefa-europa-league{background-position:-237px -25px}
.ico.facom          	{background-position:-338px -25px}
.ico.capital-one-cup	{background-position:-439px -25px}
.ico.carling-cup 		{background-position:-641px -25px}
.ico.barclays-asia-trophy{background-position:-641px -50px}
.ico.uefa-cup 			{background-position:-641px -75px}
.ico.bt-sport-1     	{background-position:-136px -50px}
.ico.bt-sport-2     	{background-position:-237px -50px}
.ico.bbc1           	{background-position:-338px -50px}
.ico.bbc2           	{background-position:-439px -50px}
.ico.setanta-sports-1	{background-position:-136px -75px}
.ico.espn           	{background-position:-237px -75px}
.ico.itv1           	{background-position:-338px -75px}
.ico.itv4           	{background-position:-439px -75px}
.ico.sky1				{background-position:-742px 0}
.ico.sky1-1				{background-position:-742px -25px}
.ico.sky-sports-1   	{background-position:-540px -0px}
.ico.sky-sports-2   	{background-position:-540px -25px}
.ico.sky-sports-3   	{background-position:-540px -50px}
.ico.sky-sports-4   	{background-position:-540px -75px}
.ico.sky-sports-news	{background-position:-641px 0}
em.ico 					{width:35px;height:35px;overflow:hidden;text-indent:-666px}
strong.ico          	{width:100px;height:24px;overflow:hidden;text-indent:-666px}
.ico.arsenal        	{background-position:0 -100px}
.ico.aston-villa        {background-position:-36px -100px}
.ico.birmingham-city   	{background-position:-72px -100px}
.ico.blackburn-rovers   {background-position:-108px -100px}
.ico.blackpool      	{background-position:-144px -100px}
.ico.bolton-wanderers  	{background-position:-180px -100px}
.ico.burnley        	{background-position:-216px -100px}
.ico.portsmouth     	{background-position:-252px -100px}
.ico.chelsea        	{background-position:-288px -100px}
.ico.everton        	{background-position:-324px -100px}
.ico.fulham         	{background-position:-360px -100px}
.ico.hull-city          {background-position:-396px -100px}
.ico.liverpool      	{background-position:-432px -100px}
.ico.manchester-united  {background-position:-468px -100px}
.ico.manchester-city    {background-position:-504px -100px}
.ico.newcastle-united   {background-position:0 -136px}
.ico.norwich-city      	{background-position:-36px -136px}
.ico.queens-park-rangers{background-position:-72px -136px}
.ico.reading        	{background-position:-108px -136px}
.ico.southampton    	{background-position:-144px -136px}
.ico.middlesbrough      {background-position:-180px -136px}
.ico.stoke-city         {background-position:-216px -136px}
.ico.swansea-city       {background-position:-252px -136px}
.ico.tottenham-hotspur  {background-position:-288px -136px}
.ico.sunderland     	{background-position:-324px -136px}
.ico.west-bromwich,.ico.west-bromwich-albion{background-position:-360px -136px}
.ico.west-ham-united    {background-position:-396px -136px}
.ico.wigan-athletic     {background-position:-432px -136px}
.ico.wolverhampton-wanderers{background-position:-468px -136px}
.ico.cardiff-city 		{background-position:-504px -136px}
.ico.crystal-palace		{background-position:-540px -100px}
.ico.brighton 			{background-position:-540px -136px}
.ico.coventry-city 		{background-position:-576px -100px}
.ico.nottingham-forest	{background-position:-576px -136px}
.ico.derby-county		{background-position:-612px -100px}
.ico.bristol-city 		{background-position:-612px -136px}
.ico.southend-united	{background-position:-648px -100px}
.ico.hartlepool-united	{background-position:-648px -136px}
.ico.leicester-city		{background-position:-684px -100px}
.ico.leeds-united		{background-position:-684px -136px}
.ico.huddersfield,.ico.huddersfield-town{background-position:-720px -100px}
.ico.sheffield-united	{background-position:-720px -136px}
.ico.watford			{background-position:-756px -100px}
.ico.exeter-city		{background-position:-756px -136px}
.ico.preston-north-end	{background-position:-792px -100px}
.ico.bristol-rovers 	{background-position:-792px -136px}
.ico.mansfield			{background-position:0 -244px}	
.ico.aldershot 			{background-position:-36px -244px}
.ico.bradford-city 		{background-position:-72px -244px}
.ico.brentford 			{background-position:-108px -244px}
.ico.crawley-town 		{background-position:-144px -244px}
.ico.gilingham 			{background-position:-180px -244px}
.ico.notts-county,.ico.nottingham-county{background-position:-216px -244px}
.ico.leyton-orient 		{background-position:-252px -244px}

.menu .base				{margin-top:-8px}
.company .base 			{background-position:-36px -172px}		.clicked.company .base 		{background-position:-36px -208px}
/*.broadcaster .base 	{background-position:-72px -172px}	 	.clicked.broadcaster .base 	{background-position:-72px -208px}*/
.seasons .base 			{background-position:-108px -172px}		.clicked.seasons .base 		{background-position:-108px -208px}
.clubs .base 			{background-position:-144px -172px}		.clicked.clubs .base 		{background-position:-144px -208px}
.programme-types .base 	{background-position:-180px -172px}		.clicked.programme-types .base{background-position:-180px -208px}
.competitions .base		{background-position:-216px -172px}		.clicked.competitions .base {background-position:-216px -208px}
/*.duration .base 		{background-position:-252px -172px}		.clicked.duration .base 	{background-position:-252px -208px}*/
.product .base 			{background-position:-288px -172px}		.clicked.product .base 		{background-position:-288px -208px}
.category .base 		{background-position:-324px -172px}		.clicked.category .base 	{background-position:-324px -208px}
.research .base 		{background-position:-360px -172px}		.clicked.research .base 	{background-position:-360px -208px}
.packages .base			{background-position:-396px -172px}		.clicked.packages .base		{background-position:-396px -208px}	
.territory .base 		{background-position:-432px -172px}		.clicked.territory .base 	{background-position:-432px -208px}
.timeslots .base 		{background-position:-468px -172px}		.clicked.timeslots .base 	{background-position:-468px -208px}
.channels .base 		{background-position:-504px -172px}		.clicked.channels .base 	{background-position:-504px -208px}
.region .base			{background-position:-540px -172px}		.clicked.region .base		{background-position:-540px -208px}
/*.advertiser .base 	{background-position:-576px -172px}		.clicked.advertiser .base	{background-position:-576px -208px}*/
.kickoff .base 			{background-position:-612px -172px}		.clicked.kickoff .base 		{background-position:-612px -208px}

.none,ul,.myfilters,footer input{display:none}
td em.ico 				{transform:scale(.75);-webkit-transform:scale(.75);-ms-transform:scale(.75);margin:-2px 0}
td strong.ico 			{transform:scale(.90);-webkit-transform:scale(.90);-ms-transform:scale(.90)}
td.date 				{width:80px}
article footer em.ico 	{position:absolute;margin:70px 0 0 -18px}
.uk td.title			{width:10em}
.attendance .hour 		{display:none}
.attendance g.highcharts-data-labels + g.highcharts-axis-labels text{visibility:hidden}
.auditing .groupby 		{position:relative;bottom:0}
.inter header.tc 		{height:2em}
.inter .ptitle,.inter .channel{max-width:150px}
.download td.alt  		{text-transform:uppercase}
.download td .ico  	 	{transform:none;-webkit-transform:none;-ms-transform:none}
::-moz-selection 		{background:#e81333;color:#fff}
::selection				{background:#e81333;color:#fff}

@media screen and (max-width:830px)
{
	body:before,ul:before  		{content:none}
	.ico.logo 					{margin:-15px 10px -15px 15px}
	header.main h1 				{width:5em;height:1.5em;text-indent:-7.5em;overflow:hidden}
	header.main h2				{font-size:1.2em;clear:left;padding:0.5em 0;text-align:center;box-shadow:0 -2px 10px #ccc}
	header.main nav  			{width:100%;top:0;text-align:right;z-index:1}
	header.main nav > a,header.main nav small,.major li:last-child,.export,.home img,.homelink aside{display:none}
	header.main .toggle 		{float:none;margin:0;text-align:center}
	.major a.top 				{width:35px;height:28px;background:url(../img/sprites.png) -720px -172px;border:28px solid #f0f0f0;padding:0;color:transparent;box-shadow:0 -1px 1px #999}
	.major a.top.active 		{background-color:#fff;border-color:#fff}
	.major a.top.active + ul 	{display:block}
	.major:hover a.top 			{color:transparent}
	.major:hover ul 			{display:none}
	.major ul 					{position:static;width:100%;padding:0;box-shadow:0 10px 10px #ccc}
	.major li 					{padding-left:1em}
	.major li a					{font-size:1.5em}
	fieldset ul label > b 		{float:left;min-width:0}
	fieldset,.homelink			{display:block;margin:0 0 2px 0;border-radius:0}
	fieldset .fl,fieldset .fr 	{border:none}
	fieldset.clubs ul,fieldset.competitions ul,fieldset.channels ul{width:auto}
	fieldset .fl,fieldset .fr,.search{float:none;height:auto}
	fieldset h4.fl 				{padding:1em 1em 1em 5em;font-size:1em}
	fieldset h4 .arrow2,.homelink .arrow2{float:right}
	fieldset .menu,.toggle,.major,.major li a{display:block}
	fieldset .menu label		{display:block;text-align:right;font-size:1.5em}
	fieldset .base 				{position:absolute;top:-38px;left:1em}
	form.main ul 				{position:static;background:#ddd;padding:0;border:none;border-radius:0;box-shadow:none}
	form.main button 			{margin-top:1em}
	.myfilters,.home div.main 	{padding:1em}
	.groupby 					{position:static;border:0;background:none}
	.select > label 			{padding-left:4px;margin-bottom:4px}
	article.fl,article.fr,.major li,ul.large{float:none;width:100%}
	footer.paginate ,.uk .caption th,.inter .caption th{line-height:1em;text-align:center}
	footer.paginate label 		{float:none;display:block;margin-bottom:1em}
	fieldset .fr 				{padding:0}
	td.alt 						{min-width:0}
	.uk td.season,.uk td.broadcast,.uk .caption em,
	.uk-audience-all td.date,.uk-audience-all td.channel,.uk-audience-all td.type,.uk-audience-all td.title,.uk-audience-all td.competition,
	.uk-audience-top10 td.date,.uk-audience-top10 td.season,.uk-audience-top10 td.channel,.uk-audience-top10 td.type,.uk-audience-top10 td.title,.uk-audience-top10 td.competition,
	.inter td.date,.inter td.ptitle,.inter td.season,.inter td.broadcast,.international-audience-all td.territory,.international-audience-channel td.territory,.international-audience-all td.channel,.international-audience-all td.type,.inter .caption em,
	.attendance td.broadcast 	{display:none}
	.attendance td.vs 			{white-space:nowrap}
	.attendance g.highcharts-data-labels + g.highcharts-axis-labels text{visibility:visible}
}