body				{margin:0 20px;}
*					{font-family:Arial, Helvetica, sans-serif;}
td,p,input,textarea	{font-size:12px;}
input				{border:1px solid #000000;}
textarea			{width:400px;height:250px;border:1px solid #000000;}
a					{color:#54C3EC;}
h2					{color:#000066;border-bottom:1px dotted #000066;}
h2 img				{margin:0 0 30px 0;}

.tabla1		{background:#666666;}
.cab		{background:#999999;font-weight:bold;}
.cab2		{background:#ffffff;}

.caja1		{width:200px;}