@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

#container{
	width: 300px;
	height: 250px;
	position: relative;
	top: 0px;
	left:0px;
	overflow: hidden;
}

#content{
	position: absolute;
    width: 298px;
    height: 248px;
    top: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 100;
    overflow: hidden;
    border: 1px solid #25A6DF;            
    opacity: 1;
}

#copy0 {

    background-image: url("copy0.png");
    
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    
    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#copy1 {

    background-image: url("copy1.png");
    
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    
    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#copy2 {

    background-image: url("copy2.png");

    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;

    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#copy3 {

    background-image: url("copy3.png");

    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0x;

    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#copy4 {

    background-image: url("copy4.png");

    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
;
    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#copy5 {

    background-image: url("copy5.png");

    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;

    z-index: 3;
    background-size: 100% auto;
    background-repeat:  no-repeat;
        width: 300px;
    height: 250px;
}

#c1 {

    background-image: url("c1.jpg");
    left: 300px;
    opacity: 1;
    position: absolute;
    top: 300px;
    z-index: 2;
    background-size: 100% auto;
    background-repeat:  no-repeat;
    width: 300px;
    height: 300px;
}

#c2 {

    background-image: url("c2.jpg");
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 300px;
    z-index: 2;
    background-size: 100% auto;
    background-repeat:  no-repeat;
    width: 300px;
    height: 300px;
}

#c3 {

    background-image: url("c3.jpg");
    left: -300px;
    opacity: 1;
    position: absolute;
    top: 0px;
    z-index: 2;
    background-size: 100% auto;
    background-repeat:  no-repeat;
    width: 300px;
    height: 300px;
}

#cta {

    background-image: url("cta.png");
    left: 141px;
    opacity: 0;
    position: absolute;
    top: 187px;
    z-index: 3;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 30px;
    width: 148px;
}

#logo {

    background-image: url("logo.png");
    left: 129px;
    opacity: 0;
    position: absolute;
    top: 21px;
    z-index: 3;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 166px;
    height: 60px;
    height: 250px;
}


/* Background Move */
/*@-webkit-keyframes bg_move {
  0%    { -webkit-transform: scale(1.4) translate(-40px, 0); }
  100%  { -webkit-transform: scale(0.7) -webkit-translate(100px, 87px); 
}

@keyframes bg_move {
  0%    { transform: scale(1.4) translate(-40px, 0); }
  100%  { transform: scale(0.7) translate(100px, 87px); }
}*/

/*:focus {outline:none;}
::-moz-focus-inner {border:0;}*/
