body,html	{height:100%;margin:0;}
.tabla1		{width:870px;height:100%;border-top:20px solid #ffffff;}
td			{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
a			{text-decoration:none;outline:none;}
em			{font-style:normal;color:#185c16;}
input,select,textarea{margin:0 0 4px 0;font:11px Verdana, Arial, Helvetica, sans-serif;border:1px solid #000000;}
h1			{font-size:15px;padding:0 0 0 250px;}
h2			{font-size:13px;margin:5px 0 0 0;color:#000000;}
h3			{color:#666666;font-size:11px;font-weight:bold;margin:0 0 5px 0;}
h4			{color:#666666;font-size:11px;font-weight:normal;margin:10px 0 10px 0;border-bottom:1px solid #666666;}
h5			{color:#ff6532;font-size:11px;font-weight:bold;margin:20px 0 20px 0;border-bottom:1px solid #ff6532;}

.calendario	{width:560px;height:330px;margin:0;}
.fechas		{color:#ffffff;padding:0 0 0 15px;}

.cabecera    	 {width:870px;height:50px;background:url(http://www.sleepbcn.com/casas-rurales/img/cabecera.gif) no-repeat;}
.cabecera div	 {padding:15px 0 0 265px;}
.cabecera a      {color:#000000;}
.cabecera a:hover{color:#185c16;}
#idiomas 	{position:absolute;margin:35px 0 0 606px;}
#idiomas img{border:0;}

.boton1     {color:#000000;text-transform:uppercase;padding-left:25px;}
.boton2     {color:#000000;text-transform:uppercase;padding-left:68px;}
.boton3     {color:#000000;text-transform:uppercase;padding-left:62px;}
.boton4     {color:#000000;text-transform:uppercase;padding-left:48px;}
.boton5     {color:#000000;text-transform:uppercase;padding-left:40px;}

.izq	 	{width:250px;background:#6c9e64;vertical-align:top;}
.izq form	{margin:10px 0 15px 20px;border-bottom:1px solid #dddddd;}
.izq em	 	{font-style:normal;color:#666666;letter-spacing:-1px;}
.izq a		{font-weight:bold;color:#ff6532;}
.bloques	{background:#aaaaaa;margin:20px;padding:15px;border:1px solid #ffffff;}
.bloques span{text-transform:uppercase;font-weight:bold;}
.izq .pic	{width:175px;border:1px solid #009900;}


.der	 	{width:600px;background:#dddddd;border-right:20px solid #6c9e64;}
.der a		{font-weight:bold;color:#185c16;}
.der a:hover{color:#000000;}
.arriba	 	{margin:20px;line-height:15px;color:#444444;}

.inf1		{height:30%;background:#6c9e64;}
.inf2		{height:30%;background:#dddddd;border-right:20px solid #6c9e64;}
.inf2 p		{margin:20px;font:11px Arial, Helvetica, sans-serif;color:#666666;}
.inf2 a  	{color:#666666;font-weight:bold;}

#dhtmltooltip{position:absolute;width:150px;height:150px;background:#333333;opacity:.8;color:#ffffff;visibility:hidden;z-index:5;}

/*listado de casas en casas.php y hoteles.php*/
.casas1		{margin:20px;height:140px;}
.casas1 p	{font-size:10px;margin:0;line-height:14px;}
.casas1 img	{float:left;width:192px;height:140px;margin:0 10px 0 0;border:1px solid #666666;}

/*ficha de la casa*/
.casas		{margin:20px;}
.casas p	{font-size:10px;margin:0;line-height:14px;}
.casas td	{font-size:10px;line-height:14px;}
#imgrande	{display:block;margin:0 0 10px 0;text-align:center;border:1px solid #666666;}
.imgpeque	{width:65px;height:55px;margin:0 3px 0 0;border:1px solid #666666;}

.tabla_precios{background:#cccccc;margin:10px 0 0 0;}
.precios	{color:#ffffff;background:#666666;font-weight:bold;text-transform:uppercase;padding:5px;}
.precios2	{color:#ffffff;background:#3f863d;text-align:center;}
.precios3a	{color:#ffffff;background:#3f863d;text-align:right;}
.precios3b	{color:#ffffff;background:#3f863d;text-align:left;}

.caja200    {width:200px;margin:0 0 4px 0;}
