body		{margin:0;padding:0;height:100%;}
a			{outline:none;}
em			{color:#BD0000;font-style:normal;font:12px Arial,Helevetica,san-serif;}
h4			{font:14px Arial,Helevetica,san-serif;margin:6px 0;padding:5px;font-weight:bold;color:#0C0;border:1px solid #ccc}
h5			{font:14px Arial,Helevetica,san-serif;margin:8px 0 0 0;padding:5px;font-weight:bold;background:#999;color:#fff;text-align:center;text-transform:capitalize;}
h6			{font:12px Arial, Helvetica, sans-serif;font-weight:bold;margin:15px 0;border-bottom:1px solid #ccc;text-transform:capitalize;}
form		{font:12px Arial, Helvetica, sans-serif;}
label		{font:12px Arial, Helvetica, sans-serif;font-weight:bold;display:block;}
cite		{font-size:11px;display:block;}
fieldset	{border:1px solid #ccc;margin:10px 0;padding:10px;}
legend		{color:#BD0000;}
select		{font:12px Arial, Helvetica, sans-serif;}
option		{font:12px Arial, Helvetica, sans-serif;}
textarea	{font:12px Arial, Helvetica, sans-serif;border:1px solid #666666;}
input		{font:12px Arial, Helvetica, sans-serif;border:1px solid #666666;}
input:focus		{background:#bbe3ff;}
textarea:focus	{background:#bbe3ff;}
hr				{color:#fff;margin:0;}
iframe			{}

#left 		{position:absolute;left:0;top:0;width:190px;height:120%;background:#dddddd;font:12px Arial, Helvetica, sans-serif;}
#left div a	{display:block;padding:6px 0 6px 15px;color:#333;text-decoration:none;}
#left div a:hover	{color:#BD0000;background:#fff;}
#left img[alt="Logo"]{margin:15px 0;border:10px solid #fff;}
#left form	{padding:10px;}
#left input	{display:block;}
#left input[type="submit"] {width:120px;margin:8px 0 0 0;}

#centro		{position:absolute;top:64px;left:210px;width:700px;font:12px Arial, Helvetica, sans-serif;}

/*tabla editar*/
#editar		 	{}
#editar th	 	{text-align:left;font-weight:bold;text-transform:capitalize;}
#editar	input	{width:300px;}
#editar	textarea{width:500px;height:80px;}
#editar	input[type="submit"]{width:100px;}
#editar	input[type="button"]{width:100px;}
#editar table td			{padding:0 8px;}
.ancho150					{width:150px;}

/*tabla listar*/
#listar			{}
#listar th  	{background:#ddd;color:#000;}
#listar th a	{color:#000;text-decoration:none;}
#listar	td		{background:#fff;}
#listar img		{border:0;}
#listar a[title="modificar"]{color:#069;}
#listar a[title="eliminar"]	{color:#f00;}

/*calendario*/
.leyenda1	{color:#093;font-weight:bold;padding:0 25px 0 0;}
.leyenda2	{color:#C60;font-weight:bold;padding:0 25px 0 0;}
.leyenda3	{color:#06F;font-weight:bold;padding:0 25px 0 0;}
.leyenda4	{color:#FC0;font-weight:bold;padding:0 25px 0 0;}
.leyenda5	{color:#BD0000;font-weight:bold;}

/*popup*/

/***********************sortable**************************/
table.sortable 	{background:#cccccc;}

