.main				{width:90%}
aside.main,aside.side,[title="placeholder"],div[style]{display:none}
section.main div.main,section.main div.side{float:none;width:auto;margin:auto}
header.main,footer.main{background:#fb0;background:-webkit-linear-gradient(#fb0,#f60)}

@media screen and (max-width:640px)
{
	h1,h2,h3,h4,h5,h6,nav,p,li,dt,dd,caption,td,th,form,fieldset,textarea,select,option,input,button,address{font-size:18px}
	h1							{background:#f60;padding:1em;color:#fff}
	a.logo,.ico,nav.main		{display:none}
	.main						{width:100%}
	.pagination					{padding:1em;background:#fb0}
	form.header					{padding-bottom:3em}
	form.header select			{width:50%}
	form.header nav				{padding:1em 0}
	header.main > nav a			{display:block;border-top:1px solid #fff}
	footer.main					{padding:1em}
	footer.main form			{display:none}
	footer.main a				{display:0 1em}
	[type="text"],button		{padding:0.5em}
	
	div.main .place				{float:none;width:100%}
	div.side a.prev,div.side a.next{background:#039;padding:0.1em;border-radius:20px;box-shadow:0 0 6px 6px #666;font-size:48px;color:#fff;text-decoration:none}
	.search header				{margin-bottom:2em}
	.search [type="text"]		{width:75%;padding:0.5em}
	.search .trip1				{display:inline-block;margin-left:6em}
	.search .trip2,.search header em{display:inline-block}
	.search .passengers,.search .flexible,.search footer{float:none;width:auto}
	.search .passengers select	{width:75%}
	.search .place button:before,.times button:after{content:"+";font-size:24px}
	.search .cabin button		{padding:1em}
	.time form.search footer	{text-align:left;float:none;margin:-2em 1em 0 1em}
	footer button				{width:100%;padding:1em}
	
	form.news					{padding:1em;background:#f60}
	form.news > p				{float:none}
	.news label					{display:block;padding:1em 0}
	.offermain .offers h3,.offermain .offers article p{margin-left:25%}
	.csrc header				{padding:1em}
	.main .smap > div			{float:none;width:auto}
	.smap > div li				{padding:0.5em 0}
	.faq nav a					{display:block;padding:1em}
	.fedb .type-1 label:nth-of-type(2){padding-left:3em}
	.fedb em					{float:none;display:block;width:auto}
	.fedb [type="text"],textarea{width:80%;padding:0.5em}
	.fedb small					{display:none}
	.time .time nav a			{float:none;padding:0 1em;color:#fff}
	.time caption				{background:#fb0}
	.time h2,.time h3			{text-align:left}
	.time thead td				{background:#333;color:#fff}
	.time td,.time th			{font-size:12px}
	.time tbody tr:nth-child(odd) td{background:#eee}
}