body  {margin:8px 0;background:#e67701;}
a     {outline:none}
a img {border:0;}
h1    {margin:0 24px 8px 24px;font-family:Tahoma,Geneva,sans-serif;}
h2    {margin:0 24px 16px 24px;font-family:Tahoma,Geneva,sans-serif;color:#333333;border-bottom:1px dotted #333333;}
form  {margin:0 0 24px 24px;}
input	{border:1px solid #333333;}
textarea{border:1px solid #333333;}
label {display:block;font-family:Tahoma,Geneva,sans-serif;font-size:12px;}
input {font-family:Tahoma,Geneva,sans-serif;font-size:12px;}
textarea{font-family:Tahoma,Geneva,sans-serif;font-size:12px;}
dl		{margin:0 24px 12px 24px;}
dt		{font:13px Tahoma,Geneva,sans-serif;padding:0 0 0 20px;font-weight:bold;text-transform:capitalize;background:url(http://www.rinconesdeeuropa.com/img/fondo_boton.gif) no-repeat;}
dt a	{color:#333333;}
dd		{font:13px Tahoma,Geneva,sans-serif;}
dd a	{color:#666666;}

#central  {width:940px;margin:0 auto;}

/*arriba*/
.baner	  {height:50px;padding:20px 0 0 0;text-align:right;}
.baner img{margin:0 0 0 6px;}
.boton    {height:80px;padding:15px 0 0 15px;background:url(http://www.rinconesdeeuropa.com/img/fondo_top.gif) no-repeat bottom;text-align:center;}
.boton a  {float:left;width:100px;height:28px;padding:12px 0 0 0;border-right:1px solid #ffd9ba;font:13px Tahoma,Geneva,sans-serif;color:#000000;}

.izq      {float:left;width:215px;height:100%;margin-right:15px;}
.izq img  {display:block;}
.izq a img{border:0;}
.izq div  {background:#ffffff;font:13px Tahoma,Geneva,sans-serif;border-left:4px solid #ffd9ba;border-right:4px solid #ffd9ba;border-bottom:4px solid #ffd9ba;}
.izq .pais{display:block;margin-left:55px;padding:0 0 5px 22px;background:url(http://www.rinconesdeeuropa.com/img/fondo_boton.gif) left no-repeat;color:#000000;}
.izq p    {margin-top:0;}
.izq p a  {color:#993300;font-family:Tahoma,Geneva,sans-serif;font-size:11px;}
.der      {float:left;width:710px;}

.cuerpo   {min-height:400px;background:#ffffff;border-left:4px solid #ffd9ba;border-right:4px solid #ffd9ba;border-bottom:4px solid #ffd9ba;}
.cuerpo p {font:13px Tahoma,Geneva,sans-serif;margin:0 24px 12px 24px;}
.cuerpo p a{color:#333333;}
.cuerpo div{font:13px Tahoma,Geneva,sans-serif;}

.imgcentro  {border:1px solid #cccccc;margin-bottom:8px;}
.imgborde   {margin:15px 0 0 0;}
.imgficha	{margin:0 5px 0 0;border:2px solid #333333;}
.imgreserva {margin:0 0 6px 0;}

/*paises.php listado*/
.listado	{min-height:110px;padding:8px 8px 8px 24px;border-bottom:1px dotted #ffd9ba;}
.listado fieldset{position:absolute;width:530px;margin:0 0 0 140px;border:0;padding:0;}
.listado a	{color:#e67701;}
.listado .img1{width:100px;margin:0 16px 0 24px;border:2px solid #333333;}
.listado .img2{margin:0 0 8px 16px;border:0;text-decoration:none;}

/*viajes.php ficha*/
.listado3	{padding:8px 8px 8px 24px;border-bottom:1px dotted #ffd9ba;}
.listado3 a	{color:#e67701;}

/*reservar*/
.reserva	{margin:16px 0;border:1px solid #666666;background:#dddddd;}
.reserva td {padding:2px 16px 2px 16px;}