<p><strong>Rincones de Europa</strong> nace con la intenci&oacute;n de compartir nuestras vivencias con todos los que quieran acercarse a nuestra web. Muy cerca, a s&oacute;lo unas horas en avi&oacute;n y a un precio muy razonable, <strong>en Europa podemos encontrar paisajes muy variados</strong>, ciudades para todos los gustos y sobre todo gente con ganas de pasarlo bien.</p>

<p>Somos <strong>una agencia de viajes joven</strong>, que empez&oacute; en 2005 a compartir ilusiones y experiencias, porque de eso se trata cuando se organiza un viaje. Nuestro personal lleva muchos a&ntilde;os viajando y organizando viajes, aunque todav&iacute;a nos quedan muchos <strong>Rincones de Europa por conocer</strong>.</p>

<p align="center"><img title="Postales de Europa" src="http://www.rinconesdeeuropa.com/img/postales_europa.jpg" alt="Postales de Europa"/></p>

<p>Si quieres compartir con nosotros tus experiencias, proponernos alg&uacute;n destino o ayudarnos a mejorar este sitio web, puedes ponerte en contacto con nosotros a trav&eacute;s del correo electr&oacute;nico <a href="mailto:info@rinconesdeeuropa.com">info@rinconesdeeuropa.com</a>. Estaremos encantados de recibir tus comentarios.</p>