body	{margin:0;background:#64A610;}
a		{text-decoration:none;color:#D2327A;font-weight:bold;}
a:hover {color:#ffffff;}

h2		{font-size:14px;border:1px solid #ffffff;margin:10 420 0 0;padding:2 0 2 0;text-align:center;color:#ffffff;}
h3		{font-size:14px;border:1px solid #ffffff;margin:10 0 0 430;padding:2 0 2 0;text-align:center;color:#ffffff;}	
h4		{font-size:14px;border:1px solid #ffffff;margin:10 320 0 0;padding:2 0 2 0;text-align:center;color:#ffffff;}
h5		{font-size:14px;border:1px solid #000000;margin:10 420 0 0;padding:2 0 2 0;text-align:center;color:#000000;}
em		{color:#003772;font-style:normal;font-weight:bold;}

table	{width:760px;}
td		{font:11px "Trebuchet MS", Arial, sans-serif;vertical-align:top;text-align:center;}
input,textarea	{font:11px "Trebuchet MS", Arial, sans-serif;}

.foto1	{border:1px solid #eeeeee;margin:0 0 0 20px;}
.foto2	{border:1px solid #eeeeee;margin:0 20px 0 0;}

#tienda	  {padding:15px;background:#D2327A;text-align:left;}
#chancla  {padding:15px;background:#E1DB2C;text-align:left;}
#situacion{padding:15px;background:#08A54C;text-align:left;}
#contactar{padding:15px;background:#C340A2;text-align:left;}

.minis a img	  {border:1px solid #000000;}
.minis a:hover img{border:1px solid #ffffff;filter:alpha(opacity=60);opacity:.6;}
.pie			  {font-size:12px;color:#000000;padding:10px 0 10px 0;}
