.boxText 				{font-family:Arial, sans-serif;font-size:13px;}
.errorBox 				{font-family:Arial, sans-serif;font-size:13px;background:#ffb3b5;font-weight:bold;}
.stockWarning 			{font-family:Arial, sans-serif;font-size:13px;color:#cc0033;}
.productsNotifications 	{background:#f2fff7; }
.orderEdit 				{font-family:Verdana, Arial, sans-serif;font-size:13px;color:#70d250;text-decoration:underline;}

body		{background: #ffffff;color: #000000;margin:0 20px 0 20px;}
td			{font:13px Arial, Helvetica, sans-serif;}
a			{color:#000000;text-decoration: none;}
a:hover 	{color:#AABBDD;text-decoration: underline;}
form 		{display:inline;}
CHECKBOX,INPUT,RADIO,SELECT {font:11px Arial, Helvetica, sans-serif;}
TEXTAREA 					{font:11px Arial, Helvetica, sans-serif;width: 100%;}

.central				{width:934px;border:0;}
.celda_central			{width:100%;vertical-align:top;padding:10px 30px 0 30px;}
	
TR.header 				{background:#ffffff;}
TD.headerNavigation 	{background:#333333;color:#ffffff;font-weight:bold;padding:4px 0 4px 0;border-bottom:5px solid #df0c7a;}
A.headerNavigation 		{color:#FFFFFF;}
A.headerNavigation:hover{color:#ffffff;}
TR.headerError 			{background:#ff0000;}
TD.headerError 			{background:#ff0000;color:#ffffff;font-weight:bold;text-align:center;}
TR.headerInfo 			{background:#00ff00;}
TD.headerInfo 			{background:#00ff00;color:#ffffff;font-weight:bold;text-align:center;}
TR.footer 				{background:#333333;}
TD.footer 				{background:#333333;color:#ffffff;font-weight:bold;padding:5px 0 5px 0;border-top:10px solid #ffffff;}
	
.infoBox 				{background: #333333;}
.infoBoxContents 		{background: #ffffff;} /*antes #f8f8f9;*/
.infoBoxNotice 			{background: #FF8E90;}
.infoBoxNoticeContents 	{background: #FFE6E6;}
TD.infoBoxHeading 		{font-weight:bold;background:#333333;color:#ffffff;padding:3px 0 3px 0;text-align:center;border-top:10px solid #ffffff;}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {background: #ffffff;} /*antes #f8f8f9;*/
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {background: #ffffff;} /*antes #f8f8f9;*/
TABLE.productListing {border: 1px;border-style: solid; border-color: #333333;border-spacing: 1px;} 

.productListing-heading {background: #333333;color: #FFFFFF;font-weight: bold;}

A.pageResults 					{color: #0000FF;}
A.pageResults:hover 			{color: #0000FF;background: #FFFF33;}
TD.pageHeading, DIV.pageHeading {font-size:16px;font-weight: bold;color: #666666;}
TR.subBar 						{background: #f4f7fd;}
TD.subBar 						{color: #000000;}
TD.main, P.main 				{font-size:13px; text-align:justify;}

.smallText  img	 {display:block;}
TD.smallText, SPAN.smallText, P.smallText 	{font-size: 13px;border-bottom:20px solid #ffffff;}
TD.accountCategory 							{font-size: 13px;color: #aabbdd;}

TD.fieldKey 		{font-size: 13px;font-weight: bold;}
TD.fieldValue 		{font-size: 13px;}
TD.tableHeading 	{font-size: 13px;font-weight: bold;}
SPAN.newItemInCart 	{color: #ff0000;}
SPAN.greetUser 		{font-size: 13px;color: #f0a480;font-weight: bold;}
TABLE.formArea 		{background: #f1f9fe;border-color: #7b9ebd;border-style: solid;border-width: 1px;}
TD.formAreaTitle 	{font-size: 13px;font-weight: bold;}

SPAN.markProductOutOfStock 	{font-size: 13px;color: #c76170;font-weight: bold;}
SPAN.productSpecialPrice 	{color: #ff0000;}
SPAN.errorText 				{color: #ff0000;}

.moduleRowOver 					{background-color:#D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected 				{background-color:#E9F4FC; }
.checkoutBarFrom, .checkoutBarTo{font-size:13px;color: #8c8c8c; }
.checkoutBarCurrent 			{font-size:13px;color: #000000; }

/* message box */
.messageBox { font-size: 13px; }
.messageStackError, .messageStackWarning {  font-size: 13px; background-color: #ffb3b5; }
.messageStackSuccess {  font-size: 13px; background-color: #99ff00; }

/* input requirement */
.inputRequirement { font-size: 13px; color: #ff0000; }

TD.infoBox, SPAN.infoBox {
  font-family: Arial, sans-serif;
  font-size: 13px;}