    <div class="bottom">
    	<p class="txtr">
        <small><a href="info/about/">About us</a> | <a href="info/affiliates/">Affiliates</a> | <a href="info/privacy/">Privacy</a> | <a href="info/terms/">Terms &amp; Conditions</a> | &copy; MadBid.com 2008-2011. All rights reserved.</small>
        </p>
    </div>
</div>

<script type="text/javascript" src="javascript.js"></script>
</body>
</html>