</head>
<body>

<div class="section">
	<div class="top txtc">
        <a title="HOME" href="" class="glow"><span>HOME</span> <small>&nbsp;</small></a>
        <a title="PHILOSOPHY" href="info/philosophy/" class="glow"><span>PHILOSOPHY</span></a>
        <a title="PRODUCTS" href="products/" class="glow"><span>PRODUCTS</span></a>
        <a title="CONTACT" href="info/contact/" class="glow"><span>CONTACT</span></a>        
    </div>