
/* ----------------------------- */
/* Summary */
/* ----------------------------- */

/*
1- @Main
2- @Aside
3- @Header
4- @Footer
5- @Content
6- @Pages
*/

/* ----------------------------- */
/* @Main */
/* ----------------------------- */

body .wrap, .breadcrumb, .footer {
	background: url(../img/ie_bg_body.png) repeat-y 0 0;
	border: 0;
}

body div .wrap {
	background: none 
}

.main {
	padding-left: 5px;
	padding-right: 5px;
	z-index: 1 !important;
	width: 978px;
}

.main.wrap {
	position: static;
}

.section {
	margin-top:20px;
	padding-left:10px;
	width:740px
}


/* ----------------------------- */
/* @Aside */
/* ----------------------------- */

/*.aside .head {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	zoom: 1;
}


/* ----------------------------- */
/* @Header */
/* ----------------------------- */

.header {z-index: 15 !important;}

.header .slope.s1 {
	margin-top: -9px;
	margin-top: 5px;
	right: 7px;
	position: absolute;
}

.header ul.alt {right: 4px;}

/* @Nav */

.nav {	
	background: url(../img/ie_bg_tabs1.png) repeat-x 0 0;
	padding: 0; 
	width: 988px
}

.nav .absolute {
	background: url(../img/ie_bg_tabs2.png) repeat-x 0 0;
	border-left: 1px solid #6A7DE2;
	border-right: 1px solid #4757BA;
	z-index: 3000;
}

.nav .absolute a:hover,.nav .absolute.select {
	background: url(../img/ie_bg_tabs2_hover.png) repeat-x 0 0;
}

.nav .absolute ul a:hover, .nav div.float-left ul a:hover {
	background: none;
}

.nav div.float-left a:hover {	
	background: url(../img/ie_bg_tabs1_hover.png) repeat-x 0 0;
}

.caption2, .nav ul/*, .header ul */{
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 ); 
}

.nav div.v1 { 
	background: url(../img/ie_bg_bleft.png) no-repeat 0 0;
}

.nav div.v1 a:hover { 
	background: url(../img/ie_bg_bleft_hover.png) no-repeat 0 0;
}

.nav div.v4 { 
	background: url(../img/ie_bg_bright.png) no-repeat right 0;
	border-right: 0;
	width: 202px
}

.nav div.v4 a:hover { 
	background: url(../img/ie_bg_bright_hover.png) no-repeat right 0;
}

.nav div.v6 { 
	left: 298px; 
}

.nav div.v7 {
	left: 377px;
}

.nav div.v8 {
	left: 445px;
	width: 108px;
}

.nav div.v9 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2871', endColorstr='#132382',GradientType=0 ); 
	width: 315px;
}

.nav div.v9:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141f60', endColorstr='#0c1769',GradientType=0 );
}

.nav ul.alt li {
	display: inline;
	zoom: 1;
}

/*.nav ul {
	position: relative;
}*/

.nav div.float-left .slope { 
	border-left: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-top: 4px solid #000;
    left: 32px;
    margin: 7px 4px 0 -15px;
	position: absolute;
	top: -7px
}

.nav div.absolute .slope { 
	border-left: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-top: 4px solid #2F40A1;
    left: 32px;
    margin: 7px 4px 0 -15px;
	position: absolute;
	top: -7px
}


/* ----------------------------- */
/* @Footer */
/* ----------------------------- */


/* ----------------------------- */
/* @Content */
/* ----------------------------- */

fieldset .grid3.bold {
	display: inline;
	clear: none;
	float: none;
	zoom: 1;
	vertical-align: top;
}

fieldset .float-left.boxm {
	display: inline;
	float: none;
	zoom: 1;
	vertical-align: top;
}

/* ----------------------------- */
/* CROSSBROWSING GERARD MOREAU  01-10-12 */
/* ----------------------------- */

/* GENERAL */

body *{zoom:1;}

button, .button {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #F0F0F0);
	padding: 2px;
	zoom: 1;
}

button:hover{-pie-background: linear-gradient(#ffffff, #ffffff)}

.article div {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
}

h3.wdk-toggle-opened .ico, h5.wdk-toggle-opened .ico {background-position: -68px -17px; margin-top:5px;}
h3.wdk-toggle-closed .ico, h5.wdk-toggle-closed .ico {background-position: -51px -17px; margin-top:5px;}

button.alt {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#FF9E33, #FF0000);
	padding: 2px;
	position: relative;
}

button.alt:hover, .nav ul li:hover, .header .alt li:hover {-pie-background: #FF6D00;}

/* ERROR MESSAGE */

.error, .noerror, .warning2 {
	border-bottom: 1px solid #ababab;
	border-right: 1px solid #ababab;
	border-top: 1px solid #ababab;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	padding: 9px;
	zoom: 1;
}

.ico.oops{height:31px !important;width:129px !important;}

/* HEADER */

.header form input{margin-right:5px;}

.header a.input {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);		
	width: 90px;
	text-align: left;
}

.header ul{
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#ffffff, #e6eaff);
	zoom:1;
	border-style:hidden;
}

.header ul li{position: static; zoom:1; margin-left:-15px;}

.header ul li.nolink hr{margin-left:-15px; position:relative;}

.header ul li:hover a{text-decoration:none; color: #FFF;}

.header ul li.float-right:hover a{color: #2683F9;}

.header ul li.float-right a{margin-left:0;}

.header img{
	margin-top:0;
	bottom:-9px;
	position:relative;
	display: block;
	}

/* MENU HEADER */

.main.nav{
	background: none transparent;
	margin-bottom:-3px;
	margin-top:7px;
	}

.main.nav .float-left a{
	color:#FFF;
	text-decoration: none;
	cursor: hand;
	display:inline;
	zoom:1;
	padding: 24px 0 20px 15px;
	}
	
.nav div.v5 a.h5, .nav div.v6 a.h5, .nav div.v7 a.h5, .nav div.v8 a.h5{
   	color:#FFF;
	text-decoration: none;
	cursor: hand;
	display:block;
	position:relative;
}

.nav div.v5 a.h5{padding: 33px 0 8px 13px;}

.nav div.v6 a.h5, .nav div.v7 a.h5, .nav div.v8 a.h5{padding: 33px 0 8px 8px;}

.nav div.v3 {background: url(../img/ie_bg_tabs1.png) repeat-x 0 0;}

.nav div.v3, .nav div.v1{border-right: 1px solid #333333;}

.nav div.v4{border-left: 1px solid #666666;}

.nav div.v3 {width: 232px;}

.nav ul {margin:0; position:absolute;}

.nav ul.alt li {display: inline; zoom: 1; width:125px;}
.v5 ul.alt li {width:155px;}

.nav ul.alt li:hover a{text-decoration:none; color: #FFF;}

.nav ul li.nolink hr, .aside hr{height:0;}

/* V1 - 3 - 4 */

.v1 ul a, .v3 ul a, .v4 ul a{
	color:#2683F9 !important;
	text-decoration: none;
	cursor: hand;
	display:inline !important;
	zoom:1 !important;
	padding: 0 !important;
	}
	
.v1 ul a:hover, .v3 ul a:hover, .v4 ul a:hover{color:#FFFFFF !important;}

.v1 ul, .v3 ul, .v4 ul{left:15px; top:70px;}

/* ASIDE */

.aside .head {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#ffffff, #EBEFFF);
	position: static;
	zoom: 1;
	border-style: hidden;
	width: 184px;
	float:right;
}

.aside h3,.side	{
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#1F2E7E, #6177DE);
	position: relative;
}

.article.first, 
.article.first h3 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
	zoom:1;
}

.article.first {top: -5px; right: -4px;}

.aside #shoppingCartCollapsed {clear: both; zoom: 1;}

.aside .slope.s3 {top: 3px; z-index: 3;}

.aside .total {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;
}

.date em{background:#FFB400}

.date em {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFB400', endColorstr='#E37600',GradientType=0 );
	zoom: 1;
}

.aside .slope.s2 {position:static;}

.aside P.em0{padding-left:0;}

.aside .article div.background {padding-top:0; padding-bottom:0;}

.aside .article div.background div{margin-bottom:3px;}

.aside .slope.s3 {border-top-color: #5E74DA; top:0;}

.aside p.wrap *{position: static; zoom:1; display: inline;}

.aside p.wrap span.block{float:left;}

.aside .date {margin-right:0;}

.date var.h5 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	zoom: 1;
}

.aside p a.float-right, .aside p.br span.float-right{ margin-top:-16px;}

/* POPIN */

.southwest-tooltip{zoom:1}

.caption5{background-color:#5164D5 !important;}

.southwest-tooltip {background-color:#5164d5; width: 305px !important;}

.southwest-tooltip table{background-color:#FFF;}

.ui-tooltip-close span {float: right;}

.pop4{margin-right:-1px !important;}

.caption3 th, .caption3 td {border-bottom: 1px dotted #999999;}

/* ASST */

#asst legend {position:absolute;}

.section .box2 div.indent3{width:60%; float:right; margin-top: -3px;}