/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
1- @Gradient
2- @Main
3- @Aside
4- @Header
5- @Footer
6- @Content
7- @Pages
*/

/* ----------------------------- */
/* @Gradient */
/* ----------------------------- */

/*.caption1 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7f4', endColorstr='#e5e7f4',GradientType=0 );
	zoom: 1;
}*/

.caption2,.nav ul {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6eaff',GradientType=0);
	zoom: 1;
}

.caption4,td.caption4 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#daddec',endColorstr='#4557B9',GradientType=0);
	zoom: 1;
} 

.caption6 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#caccc9',GradientType=0 );
	zoom: 1;
}

.caption7 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ece9e9',GradientType=0);
	zoom: 1;
}

.caption10 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6177de',endColorstr='#1f2e7e',GradientType=0);
	zoom: 1;
}

.caption11 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBF9DC',endColorstr='#FAE98B',GradientType=0);
	zoom: 1;
}

.caption11.error {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBF9DC',endColorstr='#FAE98B',GradientType=0);
	zoom: 1;
}


/* ----------------------------- */
/* @Main */
/* ----------------------------- */

.main.wrap, .breadcrumb, .footer, .main.footer2 {
	background: url(../img/ie_bg_body.png) repeat-y 0 0;
	border: 0;

}

.main {
	padding-left: 5px;
	padding-right: 5px;
	z-index: 1;
	width: 978px;
}

.main.wrap {
	position: static;
}

.section {
	margin-top:20px;
	padding-left:10px;
	width:740px
}


/* ----------------------------- */
/* @Aside */
/* ----------------------------- */

.aside .head {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#fff, #EBEFFF);
	position: relative !important;
	zoom: 1 !important;
}

.aside h3,.side	{
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#1F2E7E, #6177DE);
	position: relative;
}

.aside h5 {
	height: 26px;
}

.article.first, 
.article.first h3 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
}

.article.first {
	top: -10px !important;
}

div.article {
	zoom: 1;
}

.aside #shoppingCartCollapsed {
	clear: both;
	zoom: 1;
}

.aside .slope.s3 {
	top: 3px;
	z-index: 3;
}

.aside .total {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;
}

.date em	{background:#FFB400}

/* ----------------------------- */
/* @Header */
/* ----------------------------- */

.menu ul.grid2  {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
}

.header.main {
	z-index: 15 !important; 
}

.header .slope.s1 {
	margin-top: 5px;
	right: 7px;
	position: absolute;
}

.header ul.alt {
	right: 4px
}

.header ul li.nolink {
	height: 14px;
	margin: 0 0 7px 0;
	padding: 0
}

.header ul li.nolink hr {
	height:0;
	margin: 0;
	padding: 0
}

.header a.input {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);		
	width: 90px;
}



/* @Nav */

.nav.main {	
	background: url(../img/ie_bg_tabs1.png) repeat-x 0 0;
	margin-top: 7px;
	padding: 0;
	position: relative;
	width: 988px;
}

.nav .absolute {
	background: url(../img/ie_bg_tabs2.png) repeat-x 0 0;
	border-left: 1px solid #6A7DE2;
	border-right: 1px solid #4757BA;
	z-index: 300;
}

.nav .absolute a:hover,.nav .absolute.select {
	background: url(../img/ie_bg_tabs2_hover.png) repeat-x 0 0;
}

.nav .absolute ul a:hover, .nav div.float-left ul a:hover {
	background: none;
}

.nav > div.float-left a:hover {	
	background: url(../img/ie_bg_tabs1_hover.png) repeat-x 0 0;
}

.footer2.rel {
	z-index: 0 !important;
}

.main.nav {
	z-index: 10
}

.nav div.v1 { 
	background: url(../img/ie_bg_bleft.png) no-repeat 0 0;
}

.nav div.v1 a:hover { 
	background: url(../img/ie_bg_bleft_hover.png) no-repeat 0 0;
}

.nav div.v4 { 
	background: url(../img/ie_bg_bright.png) no-repeat right 0;
	border-right: 0;
	width: 202px
}

.nav div.v4 a:hover { 
	background: url(../img/ie_bg_bright_hover.png) no-repeat right 0;
}

.nav div.v6 { 
	left: 298px; 
}

.nav div.v7 {
	left: 377px;
}

.nav div.v8 {
	left: 445px;
	width: 108px;
}

.nav div.v9 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2871', endColorstr='#132382',GradientType=0 ); 
	width: 315px;
}

.nav div.v9:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141f60', endColorstr='#0c1769',GradientType=0 );
}

.nav ul {
	position: relative;
}

.nav ul.alt li {
	display: inline;
	zoom: 1;
}

.nav ul, .header ul, .caption2 {
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 ); 
}

.nav div.float-left .slope { 
	border-left: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-top: 4px solid #000;
    left: 32px;
    margin: 7px 4px 0 -15px;
	position: absolute;
	top: -7px
}

.nav div.absolute .slope { 
	border-left: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-top: 4px solid #2F40A1;
    left: 32px;
    margin: 7px 4px 0 -15px;
	position: absolute;
	top: -7px
}

.nav small.slope {
	height: 5px
}

/* ----------------------------- */
/* @Footer */
/* ----------------------------- */


/* ----------------------------- */
/* @Content */
/* ----------------------------- */

/*ads*/

.article div {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
}

h3.side {
	top: 10px;
	margin-bottom: 20px;
	zoom: 1;
}

.breadcrumb {
	font-size: 0
}

.bound thead td:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#B9C1ED',GradientType=0 );
	zoom: 1;
}

.bound tbody td.on {	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A484B', endColorstr='#757470',GradientType=0 );
	zoom: 1;
}

.bound tbody td.on div {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596A7C', endColorstr='#6E829D',GradientType=0 );
	zoom: 1;
}

.bound tr.teaser td {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757470', endColorstr='#ABA9AA',GradientType=0 );
	zoom: 1;
}

.bound tbody td.on span.em10, .bound tbody td.on small {
	left: 0
}

.bound tbody td.on {
	border-bottom: 0 !important;
}

.box2 .box2 {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	filter: none;
	position: relative;
}

.box2 fieldset.box2 {
	margin-top: 10px;
}

.box3 legend {	
	border: 1px solid #ccc;
	border-bottom: 0;
	left: -8px ;
	position: absolute;
	top: -10px;
	width: 605px	
}

.box3 legend + .wrap{	
	margin-top: 20px	
}

.box5 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;	
}

.box7 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

.box8 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

button, .button {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #F0F0F0);
	padding: 2px;
	zoom: 1;
}

button.alt {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#FF9E33, #FF0000);
	padding: 2px;
	position: relative;
}

button.alt:hover, .nav ul li:hover, .header .alt li:hover {
	-pie-background: #FF6D00;
}

button.alt2 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#8390d7, #243184);
}

button.link {
	-pie-background: none;
	margin-left: 0;
}

.calendar, .fare {
	border-collapse: collapse;
}


.calendar tbody td {
	border: 2px;
}

caption {
	padding-bottom: 5px;
	zoom: 1;
}

.columns h3 a.midst {
	margin-top:-16px
}

.columns .grid3.box3 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	border-bottom: 0;
	height: auto;
	margin-left:10px;	
	position: relative;
	zoom: 1 !important;
}

.columns .grid3.box3.pie_first-child {
	border-bottom: 1px solid #CCC;
	margin-left: 0 !important;
	position: relative !important;
}

.columns .grid3.box3 .box8 {
	background: #FFE77F;
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #FFE77F);
	margin-bottom: 7px;
	zoom: 1;
}

.columns .grid3.box3 .box8 button {
	padding:0
}

.columns p.caption7 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #ECE9E9);
	filter: none;
	position: static !important;
	width: 217px;
	zoom: 1 !important;
	border-style: hidden !important;
}

.confcode {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
	top: 7px
}

.date var.h5 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	zoom: 1;
}

.date em, .caption0 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#FFB400, #E37600);
	filter: none;
	position: relative;	
}

.date li em {
	-pie-background: #FEAA00;
}

.date li.select em {
	-pie-background: #fff;
}

.date li.unselect em {
	-pie-background: #999;
}

div.text-center a img {
	float:none;
	margin:0 30px
}

em.inline-block.grid3 {
	vertical-align: top;
} 

.error, .noerror, .warning2 {
	border-bottom: 1px solid #ababab;
	border-right: 1px solid #ababab;
	border-top: 1px solid #ababab;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	padding: 9px;
	zoom: 1;
}

.fare td.box9 > b {
	float: left;
}

.fare td.box9 >  .small.text-right.block {
	clear: both;
} 

fieldset.box2.indent3 > legend p {
	display: block;
	width: 686px;
}

fieldset.box3.br {
	margin-top: 20px;
	margin-bottom: 10px
}

fieldset.contact-info legend {
	display: block;
	width: 686px;
}

fieldset.grid8 label.float-left {
	margin-right: 2px; 
	zoom: 1;
}

fieldset.grid8 label.float-left.indent-small {
	margin-left: 0;
	margin-right: 1px; 
}

fieldset.grid8 label.float-left.grid5 {
	width: 49%
}

fieldset.grid8 label.float-left.grid5 + label.float-left.grid5 {
	float: right
}

.footer2 .wrap.line2t {
	z-index: 5;
}

.footer2 p.midst {
	margin-right: 0;
}

.footer2 p.midst.float-right {
	margin-right: 10px;
}

form.box1.caption1 .wrap.first  label.float-left {
	width: 230px
}

form.box1.caption1 .ico.calendar {
	margin-top: 2px
}

form.box1 button.alt {
	bottom: 30px;
	position: absolute;
}

h3.h4 em.float-right {
	position: absolute;
	right: 8px
}

h3.caption0.text-center {	
	-pie-background: #FEAA00;
	width: 133px;
}

hr.line2,
hr.caption3,
hr.line11,
hr.boxb {
	height: 0;	
}

.ico {
	display: inline;
	zoom: 1;
}

.ico.outlook,
.ico.calendar2,
.ico.disability,
.ico.red2,
.ico.plane,
.ico.green,
.ico.passport, {
	margin-right: 3px;
}
.ico.plane.midst {
	margin-right: 10px;
}

.ico.nuts {
	position: relative !important;
	z-index: 10 !important;
	zoom: 1 !important;
}

.ico.passportbig {
	top: 15px
}

.inline-block {
	display: inline;
	zoom: 1;
}

label b.inline-block {
	vertical-align: top;
}

.line5 td,
.line5 th {
	border-bottom: 2px dotted #ccc
}

p.float-right.hr.text-center {
	position: absolute;
	right: 5px;
}

.pop6 .inner button {
	margin-right: 4px
}

.ui-tooltip-close span {
	float: right
}

.ui-tooltip .ui-tooltip-tip{
	bottom: -12px !important
}

ul.date {
	width: 100%
}

ul.date var.h5 {
	filter: none;
}

ul.default li {	
	background: url(../img/ie-bullet.png) no-repeat 0 4px;
	padding-left: 10px
}

ul.small li.column2	{
	position:relative;
	top:-100%;
	left:52%
}

.nav_1 {
	width: 968px
} 

.nav_1 a {
	vertical-align: middle;
} 

.nav_1.menu .float-left {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: #fff;
	margin-left: -5px;
}

.nav_1 .slope.s3 {
	left: 7px;
	top: 12px;
	position: absolute;
}

.rsrch-form {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #F3F4F9 );
	position: relative;	
}

.rsrch-form .caption9.box4.text-right {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #F3F4F9 );
	position: relative;	
}

.rsrch-form .wrap.indent {
	margin-left: 0;	
	padding-left: 50px;
}

.shadowl {
	border-left: 1px solid #ababab;
}

td.caption1, 
th.caption1, 
tr.caption1 td, 
tr.caption1 th {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6eaff',GradientType=0)
}

tr.line2 td,
tr.line2 th {
	border-bottom: 1px dotted #666
}

tr.teaser {
	line-height: 22px
}

.teaser h5 {
	line-height: 22px
}

.teaser .ico.arrow {
	position: absolute;
	z-index: 1000
}

.teaser .teaser {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#6E829D, #909FB4);
	position: relative;
}

.teaser .upsell small {
	line-height: 14px;
	z-index: 1000;
	zoom: 1;
}

.teaser small.hidden {
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute !important;
	zoom: 1;
}

.teaser td {
	border-bottom: 0 !important;
	border-top: 0 !important;
}

tr.caption2 td {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 ); 
}

tr.caption3 td,
tr.caption3 th {
	border-bottom: 1px dotted #999
}
.warning2.box4 .brsmall {
	display: inline;
	zoom: 1;
	margin-top: 0;
}

.wrap.box1 a.float-left.var {
	cursor: pointer;
	text-decoration: none
}


/* ----------------------------- */
/* @Pages */
/* ----------------------------- */

#arconf button.alt2 {
	padding-left: 0;
	padding-right: 0;
}

#asst legend 		{position:absolute;left:0;width:280px}
#asst legend + div	{margin-left:300px}
#asst legend b		{display:block;width:270px}

#bkgd .box2-radius .indent2,
#conf .box2-radius .indent2,
#rconf .box2-radius .indent2,
#uconf .box2-radius .indent2 {
	float: left;
	margin-left: 5px;
}

#bkgd .box-default,
#conf .box-default,
#rconf .box-default,
#uconf .box-default {
	overflow: hidden;
	position: relative;
}

#bkgd .tdefault button.h8 {
	width: 170px;	
}

.caption4,td.caption4	{background:#daddec} 
.caption2				{background:#e6eaff}

#ebconf .ico.print {
	margin-top: 2px
}

#emit hr.line2,
#sere hr.line2 {
	margin: 0;
	padding: 0 
}

#logi form.box7.br {
	margin-bottom: 20px;
	top: 10px;
}
#occl p.grid3 {
	position: absolute;
	right: 0
}

#occl .float-right.grid2.box1 {
	margin-left: 10px
}

#ocup label.float-left {
	float: left;
}

#ocup .first label.float-left > b {
	float: left;
}

#ocup form.box1 .none {
	display: none ;
}

form.box1.caption1 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #E5E7F4 );
	filter: none;
	margin-bottom: 18px;
	padding: 10px;
	position: relative;		
	top: 8px;
	zoom: 1;
}

#prch a.inline-block.button {
	margin-right: 5px;
}

#purc fieldset select {
	font-size: 13px;
}

#purc fieldset label.grid1,
#reco fieldset label.grid1,
#ureco fieldset label.grid1 {
	width: 11%
}

#uapis fieldset.wrap select.grid5 {
	width: 14%
}

td.caption1, th.caption1, tr.caption1 td, tr.caption1 th{background:#e6eaff}
.section .calendar .caption8	{background:#fe9b00}

/*purc*/
/*.box2 fieldset.box2	legend 		{position:absolute;left:-8px;width:592px;padding:5px 0 0 10px;margin-top:-35px;border:1px solid #ccc;border-bottom:none;background:#fff}*/
