/* ----------------------------- */
/* Summary */
/* ----------------------------- */

/*
1- @Gradient
2- @Main
3- @Aside
4- @Header
5- @Footer
6- @Content
7- @Pages
*/


/* ----------------------------- */
/* @Gradient */
/* ----------------------------- */

/*.caption1 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7f4', endColorstr='#e5e7f4',GradientType=0 );
}*/

.caption2,.nav ul {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6eaff',GradientType=0);
}

.caption4,td.caption4 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#daddec',endColorstr='#4557B9',GradientType=0)
} 

.caption6 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#caccc9',GradientType=0 );
}

.caption7 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ece9e9',GradientType=0)
}

.caption10 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6177de',endColorstr='#1f2e7e',GradientType=0)
}

.caption11 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBF9DC',endColorstr='#FAE98B',GradientType=0)
}

.caption11.error {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBF9DC',endColorstr='#FAE98B',GradientType=0)
}


/*occl and fare*/
.section .calendar .caption8	{background:#fe9b00/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca00',endColorstr='#fe9b00',GradientType=0)*/}
.date li.select em			{filter:none}


/* ----------------------------- */
/* @Main */
/* ----------------------------- */

.main.wrap, .breadcrumb, .footer, .main.footer2 {
	background: url(../img/ie_bg_body.png) repeat-y 0 0;
	border: 0;
}

.main {
	padding-left: 5px;
	padding-right: 5px;
	width: 988px
}

/* ----------------------------- */
/* @Aside */
/* ----------------------------- */

.aside h3, .side {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#1F2E7E, #6177DE);
	position: relative;
}

.aside h3.wdk-toggle-closed {
	-pie-background: linear-gradient(#6177DE, #1F2E7E);	
}

.aside h5 {
	height: 26px;
}

.aside p.wrap span {
	clear: both;
	display: block;
	text-align: right
}

.aside p.wrap {
	text-align: right
}

.aside p.wrap span.float-left {
	clear: none;
	display: inline;
	text-align: left
}

.aside p.wrap span.float-left {
	clear: none;
	display: inline;
	text-align: left
}



.aside .head {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	-pie-background: linear-gradient(#ffffff, #ebefff);
	position: relative;
}

.aside .slope.s3 {
	top: 3px;
	z-index: 3;
}


.aside .total {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;
}


/* ----------------------------- */
/* @Header */
/* ----------------------------- */

.menu ul.grid2  {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
}

.header ul.alt {
	right: 4px
}

.header a.input {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);		
	position: relative;
}

.header button {
	padding: 2px;
}

.header ul,
.nav ul	{
	background:#fff
}

/* @Nav */

.nav.main {	
	box-sizing: content-box;
	background: url(../img/ie_bg_tabs1.png) repeat-x 0 0;
	padding: 0; 
	width: 988px
}

.nav .absolute {
	background: url(../img/ie_bg_tabs2.png) repeat-x 0 0;
	border-left: 1px solid #6A7DE2;
	border-right: 1px solid #4757BA;
}

.nav .absolute a:hover,.nav .absolute.select {
	background: url(../img/ie_bg_tabs2_hover.png) repeat-x 0 0;
}

.nav .absolute ul a:hover, .nav div.float-left ul a:hover {
	background: none;
}

.nav div.v9 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2871', endColorstr='#132382',GradientType=0 ); 
}

.nav div.v9:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141f60', endColorstr='#0c1769',GradientType=0 );
	/*position: static;*/
}

.nav > div.float-left a:hover {	
	background: url(../img/ie_bg_tabs1_hover.png) repeat-x 0 0;
	z-index: 2000;
}

/*
.nav ul {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #e6eaff);	
	filter: none;
	position: relative;
	z-index: 1000;
}
*/
.nav div.v1 { 
	background: url(../img/ie_bg_bleft.png) no-repeat 0 0;
}

.nav div.v1 a:hover { 
	background: url(../img/ie_bg_bleft_hover.png) no-repeat 0 0;
}

.nav div.v4 { 
	background: url(../img/ie_bg_bright.png) no-repeat right 0;
	border-right: 0;
	width: 208px
}

.nav div.v4 a:hover { 
	background: url(../img/ie_bg_bright_hover.png) no-repeat right 0;
}

.nav div.v6 { 
	left: 298px; 
}
.nav div.v7 {
	left: 377px;
}
.nav div.v8 {
	left: 445px;
	width: 105px;
}

.nav ul:before,
.nav ul.alt:before {
	top: 0;
}

.nav ul {
	position: relative;
}

/*temp*/

/* ----------------------------- */
/* @Footer */
/* ----------------------------- */


/* ----------------------------- */
/* @Content */
/* ----------------------------- */

.article.first, 
.article.first h3 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
}

.article div {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);
	position: relative;	
}

.bound thead td:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#B9C1ED',GradientType=0 );
}

.bound tbody td.on {	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A484B', endColorstr='#757470',GradientType=0 );
}

.bound tbody td.on div {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596A7C', endColorstr='#6E829D',GradientType=0 );
}

.bound tr.teaser td {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757470', endColorstr='#ABA9AA',GradientType=0 );
}

.box2 .box2 {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	filter: none;
	position: relative;
}

.box2-radius {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

.box3 legend {	
	border: 1px solid #ccc;
	border-bottom: 0;
	left: -1px ;
	position: absolute;
	top: -10px;
	width: 607px	
}

.box3 legend + .wrap{	
	margin-top: 20px	
}

.box5 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;	
}

.box7 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

.box8 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

button, .button {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #F0F0F0);
	position: relative;
}

button:hover, .button:hover {
	-pie-background: #ffffff;
}

button.alt {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#FF9E33, #FF0000);
	position: relative;
	filter: none;
}

button.alt:hover, .nav ul li:hover, .header .alt li:hover {
	-pie-background: #FF6D00;
}

button.alt2 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#8390d7, #243184);
}

button.link {
	-pie-background: none;
}

.columns .grid3.box3 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	border-bottom: 0;
	height: 262px;
	position: relative;
}

.columns .grid3.box3.pie_first-child {
	border-bottom: 1px solid #CCC;
	margin-left: 0 !important;
}

.columns .grid3.box3 .box8 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #FFE77F);
	margin-bottom: 7px;
	position: relative;
}

.columns p.caption7 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #ECE9E9);
	filter: none;
}

.confcode {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	position: relative;
}

.caption0,
.date em {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#FFB400, #E37600);
	filter: none;
	position: relative;	
}

.date li em {
	-pie-background: #FEAA00;
}

.date li.select em {
	-pie-background: #fff;
}

.date li.unselect em {
	-pie-background: #999;
}

.date var.h5 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F0F0F0',GradientType=0 );
}

.error, .noerror,.warning2 {
	border-bottom: 1px solid #ababab;
	border-right: 1px solid #ababab;
	border-top: 1px solid #ababab;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebefff',GradientType=0 );
	/*border:1px solid #ccc;*/
}

.fare .caption2.em10 td {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #e6eaff);
	filter: none;
	position: relative;		
}

fieldset.box3.br {
	margin-top: 20px
}

form.box1 button.absolute	{position:absolute} 

form.box1.caption1 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #E5E7F4 );
	filter: none;
	margin-bottom: 18px;
	position: relative;		
	top: 8px;	
	zoom: 1;
}

.footer2 p.midst {
	margin-right: 0;
}

.footer2 p.midst.float-right {
	margin-right: 10px;
}

hr.clear.line2 {
	width: 175px;
}

.main.nav .slope.s3 {
	top: 3px;
	z-index: 50
}

.nav_1 { 
	width: 980px
} 
.nav_1.menu .float-left {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: #fff;
	margin-left: -5px;
}

.rsrch-form {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #F3F4F9 );
	position: relative;	
}

.rsrch-form .caption9.box4.text-right {	
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #F3F4F9 );
	position: relative;	
}

.shadowl {
	border-left: 1px solid #ababab;
}

.teaser .teaser {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E829D', endColorstr='#909FB4',GradientType=0 );
}

td.caption1, 
tr.caption1, 
tr.caption1 td, 
th.caption1, 
tr.caption1 th,
td.caption2 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc) !important;	
	-pie-background: linear-gradient(#ffffff, #E6EAFF) !important;
	filter: none !important;
	position: relative !important;	
}

td.caption7 {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #ece9e9);
	filter: none;
	position: relative;	
}

#travelToolsMenu {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 );
}

.ui-tooltip .ui-tooltip-tip{
	bottom: -12px !important
}

ul.date var.h5 {
	filter: none;
}

.wrap.box1 a.float-left.var {
	cursor: pointer;
	text-decoration: none
}
/* ----------------------------- */
/* @Pages */
/* ----------------------------- */


/*.box2 fieldset.box2				{margin-top:50px}
.box2 fieldset.box2	legend 		{position:absolute;left:-1px;width:603px;padding:5px 0 0 10px;margin-top:-35px;border:1px solid #ccc;border-bottom:none;background:#fff}*/
fieldset.contact-info legend	{position:absolute}
fieldset.contact-info div.wrap	{padding-top:40px}

#occl .date li.float-left {
	margin-top: 9px
}

/*modify search*/

/* ptsc */
#ptsc thead th {
	behavior: url(../@WDS_STATIC_FILES_PATH@/pie/PIE.htc);	
	-pie-background: linear-gradient(#fff, #E6EAFF);
	filter: none;		
}

#ptsc tbody tr:first-child td {
	border-top: 1px dotted #999;
}

#ptsc table {
	border-collapse: separate;
	border-spacing: 1px 0;
}

#ptsc table tbody tr:first-child td {
	border-top: 1px dotted #999 !important;
}

#ptsc td.caption2 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 );
}


#conf tr.caption1 th {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaff',GradientType=0 ) !important;
	border-spacing: 1px 0 !important;
	border-collapse: separate;
}