body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,select,textarea,p,th,td{font-family:Verdana,Tahoma,sans-serif;font-size:11px;line-height:16px;margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}caption,strong,em,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}hr{border:none}
/*css reset*/
h1,h2,h3,h4,h5,h6,a,p,li,caption,td,th,label,input,select,option,button,legend,.default,strong,span{font-family:Verdana,Tahoma,sans-serif;font-size:11px;line-height:16px}
a,button,.logo:hover{color:#2683F9;text-decoration:none}
a:hover,.link:hover	{text-decoration:underline}
var,.var			{font-family:Helvetica,arial,sans-serif;font-weight:bold}
small,.small,.small li,.small td,.small th,.bound td,.bound td a,small strong, small span{font-size:10px}
.smaller			{font-size:9px}
table,legend		{width:100%}
legend				{float:left;clear:both;margin-bottom:10px;box-sizing:border-box;-moz-box-sizing:border-box}
legend + .wrap		{clear:both}	
ul.default			{margin-left:40px}
ul.default.alt		{margin-left:15px}
ul.default li		{list-style:disc}
button,.button		{padding:2px 5px;border:1px solid #ccc;border-radius:4px;cursor:pointer;background:-moz-linear-gradient(#fff 50%,#F0F0F0 51%);background:-webkit-linear-gradient(#fff 50%,#F0F0F0 51%);font-weight:bold}
.button.big			{padding-left:20px;padding-right:20px}
button.link			{background:none;border:0;padding:0;font-weight:normal}
button.link:hover	{background:none}
button:hover,.button:hover{background:#fff;text-decoration:none}
button.alt,button.alt2{padding:2px 20px;color:#fff;border:none}
button.alt			{background:-moz-linear-gradient(#ff9e33 30%,#ff0000 100%);background:-webkit-linear-gradient(#ff9e33 30%,#ff0000 100%)}
button.alt2			{background:-moz-linear-gradient(#8390d7 50%,#243184 100%);background:-webkit-linear-gradient(#8390d7 50%,#243184 100%)}
button.alt:hover,.nav ul li:hover,.header li:hover{background:#ff6d00}
input[type="text"],input[type="password"] {height:18px;padding:1px 4px;line-height:18px}
input[type="checkbox"],input[type="radio"]{position:relative;top:3px}
input[type="radio"]	{margin-right:3px;top:2px}
caption 			{margin-bottom:5px}
.main				{width:980px;margin:0 auto;box-sizing:border-box;-moz-box-sizing:border-box}
.section			{width:750px;margin-top:20px;padding-left:10px}
.section_1col		{margin-top:20px;padding-left:10px;padding-right:10px}
.aside				{width:200px;margin:20px 0}
.main.wrap,.breadcrumb,.nav_1,.footer,.footer2{border-left:1px solid #999;border-right:1px solid #999;box-shadow:-3px 0px 3px -3px #bcbcbc,3px 0 3px -3px #bcbcbc}
.wrap				{position:relative;overflow:hidden}
.float-left,.float-right{position:relative;box-sizing:border-box;-moz-box-sizing:border-box}
.float-left			{float:left}
.float-right		{float:right}
.absolute			{position:absolute}
.rel,.nav_1			{position:relative}
.clear				{clear:both}
.grid1				{width:10%}
.grid2				{width:25%}
.grid3				{width:33%}
.grid4				{width:40%}
.grid5				{width:50%}
.grid6				{width:66%}
.grid7				{width:73%}
.grid8				{width:80%}
.grid9				{width:94%}
.text-center,.text-center td,.text-center th{text-align:center}
.text-right,.text-right td,.text-right th{text-align:right}
.text-left			{text-align:left}
.text-upper			{text-transform:uppercase}
.vertical-top,.vertical-top td,.vertical-top th{vertical-align:top}
.vertical-top .ico,table.fare .ico.change{margin-top:-4px}
.vertical-middle, td.vertical-middle{vertical-align:middle}
.brsmall			{margin-top:5px}
.br					{margin-top:10px}
.hr					{margin-top:20px}
.btr				{margin-bottom:15px}
.midst				{margin-left:10px;margin-right:10px}
.midst2				{padding-left:10px;padding-right:10px}
.block				{display:block}
.inline-block		{display:inline-block}
.none				{display:none}
.hidden				{visibility:hidden}
.bold,.bold	th		{font-weight:bold}
.em0				{color:#f00}/*red*/
.em1				{color:#999}
.em10				{color:#666}
.em11				{color:#ccc}
.em12				{color:#333}
.em13				{color:#e7e7e8}
.em2				{color:#F7990D}/*orange*/
.em3				{color:#090}/*green*/
.em4				{color:#F25C1B}/*dark orange*/
.em5				{color:#38469B}/*blue*/
.em7				{color:#81BAF2}/*light blue*/
.em8				{color:#091d86}/*dark blue*/
.h1					{font-size:24px;line-height:29px;letter-spacing:-1px;font-weight:bold}
.h2					{font-size:22px;line-height:29px;letter-spacing:-1px}
.h3					{font-size:20px;line-height:30px}
.h4,.h4 span		{font-size:18px;line-height:24px;letter-spacing:-1px}
.h5					{font-size:14px;line-height:21px;letter-spacing:-0.5px}
.h6					{font-size:12px;line-height:18px}
.h7					{font-size:11px;line-height:22px}
.h8,tr.h8 td		{white-space:nowrap}
.h9					{line-height:32px}
.text-12			{font-size:12px}
.text-13			{font-size:13px}
.text-15			{font-size:15px}
.text-16			{font-size:16px}
.text-19			{font-size:19px}
.input				{padding:2px;border:1px solid #ccc;border-radius:2px}
.input-large		{width:170px}
fieldset.input-large{width:182px}
select				{height:24px;padding:2px 0}
.ico				{display:inline-block;width:16px;height:16px;vertical-align:middle;background:url(../img/sprites.png)}
span.ico			{width:24px;height:24px}
p,li,label.block	{margin-bottom:5px}
.indent				{margin-left:50px}
.indent2			{margin-left:30px}
.indent3			{margin-left:20px}
.indent-small,.header p a{margin-left:5px}
.rindent-small		{margin-right:5px}
.toggle,.wdk-toggle-closed,.wdk-toggle-opened{cursor:pointer}

.header						{height:75px;position:relative;}
.header form				{padding-top:15px}
.header a.input				{padding-left:5px;padding-right:15px;text-decoration:none;border:1px solid #ccc;border-radius:3px;}
.header button				{padding:0 2px}
.header img					{margin-top:4px}
.header ul					{background:-moz-linear-gradient(#fff 70%,#e6eaff);background:-webkit-linear-gradient(#fff 70%,#e6eaff);cursor: default;}
.header ul.alt				{position:absolute;right:0;z-index:1000;width:200px;padding:5px 5px 0 5px;border-radius:4px;border:1px solid #7f9db9}
.header ul li				{cursor:pointer;padding:0 2px;margin:0 0 2px}
.header ul li.float-right:hover,.header ul li.float-right:hover a{background:none;color:#2683F9}
.header ul li.nolink		{height:0;margin:7px 0;padding:0}
.header ul li.nolink hr		{height:0;margin:0;padding:0}
.header ul .ico.close		{background-position:-100px -34px}
.nav_1 > a,.nav_1 div > a	{display:inline-block;padding:6px}
.nav_1 div					{margin-right:16px;padding-left:12px;padding-right:8px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-radius:0 0 10px 0;box-shadow:2px 0 2px #ccc}
.nav_1 div ul				{display:none}
.nav_1 div:hover ul			{display:block}
.nav_1 div:hover 			{border-radius:0 10px 0 0;border-bottom-color:#fff}
.nav_1 > a:last-child		{border-right:1px solid #ccc}
.nav_1 .slope.s3			{position:relative;left:-2px;top:-2px;border-top-color:#2683F9}
.nav_1 ul.absolute			{width:170px;left:0;top:29px;border-color:#ccc;border-top:0;border-radius:0 12px 12px 0}
.breadcrumb p				{padding:10px;margin:0}
.footer2 ul					{width:183px;padding:12px 0 0 22px;border-right:1px solid #fff}
.footer2 ul.big				{width:245px}
.footer2 .line2t			{padding-top:10px}
.footer2 .box				{margin-top:-15px;background:-moz-linear-gradient(#F2F7FD 10%,#fff);background:-webkit-linear-gradient(#F2F7FD 10%,#fff)}
.footer2 .box.alt			{background:#F2F7FD}
.footer2 .ico.toggle		{top:0;right:0}
.footer2 li.h8				{margin-bottom:12px}

.nav						{height:86px;margin-top:1px;position:relative}
.nav > div.float-left		{height:100%;border-right:1px solid #333;border-left:1px solid #666;z-index:1;background:-moz-linear-gradient(#545558 0%, #5e6063 5.8%, #5e6063 18.60%, #212123 60.46%, #1d1e1f 84.88%, #040404 100%);background:-webkit-linear-gradient(#545558 0%, #5e6063 5.8%, #5e6063 18.60%, #212123 60.46%, #1d1e1f 84.88%, #040404 100%)}
.nav > div.float-left > a	{display:block;padding:24px 0 20px 15px}
.nav div.float-left.v3 > a,.nav div.float-left.v4 > a{padding-left:11px}
.nav div.v1					{width:230px;border-left:0;border-radius:12px 0 0 0;z-index:8;box-shadow:-2px 0px 3px #bcbcbc}
.nav div.v2					{width:321px}
.nav div.v3					{width:229px;z-index:3}
.nav div.v4					{width:200px;border-radius:0 12px 0 0;z-index:2;box-shadow:2px 0px 3px #bcbcbc}
.nav div.v4 small			{font-size:9px;position:absolute;margin:-5px 0 0 2px}
.nav .absolute				{top:0;width:70px;height:62px;margin-top:-6px;color:#fff;background:-moz-linear-gradient(#7689ef 0%,#3041a2 96%);background:-webkit-linear-gradient(#7689EF 0%, #3041A2 96%)}
.nav .absolute:before,.nav .absolute:after{content:"";position:absolute;top:0;width:1px;height:100%}
.nav .absolute:before		{left:0;background:-moz-linear-gradient(#7689ef 0,#6a7de2 20.13%,#1a2b8a 98.87%,#222f79 97.43%);background:-webkit-linear-gradient(#7689ef 0,#6a7de2 20.13%,#1a2b8a 98.87%,#222f79 97.43%)}
.nav .absolute:after 		{right:0;background:-moz-linear-gradient(#7689ef  0,#7487ed 20.13%,#4e60c3 96.8%);background:-webkit-linear-gradient(#7689ef  0,#7487ed 20.13%,#4e60c3 96.8%,#222f79 98.5%)}
.nav .absolute:hover:before	{background:-moz-linear-gradient(rgba(30,42,123,0),rgba(30,42,123,100));background:-webkit-linear-gradient(rgba(30,42,123,0),rgba(30,42,123,100))}
.nav .absolute:hover:after	{background:-moz-linear-gradient(rgba(30,42,123,100),rgba(30,42,123,0));background:-webkit-linear-gradient(rgba(30,42,123,100),rgba(30,42,123,0))}
.nav .absolute > a			{display:block;padding:40px 0 10px 10px}
.nav .absolute .ico			{position:absolute;top:13px;left:9px}
.nav div.v5					{left:230px;width:66px;z-index:7}
.nav div.v6					{left:296px;width:77px;z-index:6}
.nav div.v7					{left:373px;width:66px;z-index:5}
.nav div.v8					{left:439px;width:112px;border-right:none;z-index:4}
.nav div.v9					{left:230px;width:312px;top:56px;position:absolute;padding:0 0 0 9px;z-index:1;background:-moz-linear-gradient(#1b2871 0%,#253594 20%,#132382 100%);background:-webkit-linear-gradient(#1b2871 0%,#253594 20%,#132382 100%);border-right:none;cursor:pointer}
.nav div.v9 .bold			{font-size:10px;color:#c2caf1;display:block;line-height:30px}
.nav div.v9 .bold:after		{content:"";display:inline-block;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #c2caf1;margin-left:5px}
.nav div:hover > ul			{display:block}
.nav ul						{display:none;width:200px;padding:10px;border-radius:8px;border:2px solid #000}
.nav ul.alt					{width:350px;border-color:#2F40A1}
.nav ul:before				{content:"";position:absolute;left:28px;top:71px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000}
.nav ul.alt:before			{left:18px;top:64px;border-top:4px solid #2F40A1}
.nav > div.float-left ul	{margin:-15px 0 0 10px}
.nav ul.alt li				{display:inline-block;width:155px;margin-right:5px}
.nav li						{padding:2px 4px;margin-bottom:0}	
.nav > div.float-left > a,.nav .absolute > a,.nav ul li:hover a,.header ul li:hover a{color:#fff;text-decoration:none}
.nav > div.float-left:hover	{background:-moz-linear-gradient(#5e5e60 0,#7c7d7e 9.30%,#7c7d7e 20.93%,#49494a 61.62%,#252525 100%);background:-webkit-linear-gradient(#5e5e60 0,#7c7d7e 9.30%,#7c7d7e 20.93%,#49494a 61.62%,#252525 100%)}
.nav .absolute.select		{background:-moz-linear-gradient(#0e1c73,#4e60c4);background:-webkit-linear-gradient(#0e1c73,#4e60c4)}
.nav .absolute:hover		{background:-moz-linear-gradient(#4e60c4,#0e1c73);background:-webkit-linear-gradient(#4e60c4,#0e1c73)}
.nav div.v5 .ico			{background-position:-17px 0;left:12px}	.nav div.v5:hover .ico,.nav div.v5.select .ico{background-position:-85px 0}
.nav div.v6 .ico			{background-position:-33px 0;left:5px}	.nav div.v6:hover .ico{background-position:-102px 0}
.nav div.v7	.ico			{background-position:-51px 0}			.nav div.v7:hover .ico{background-position:-119px 0}
.nav div.v8	.ico			{background-position:-68px 0}			.nav div.v8:hover .ico{background-position:-136px 0}
.nav .absolute.v5 > a		{padding:33px 0 8px 13px}
.nav .absolute.v6 > a,.nav .absolute.v7 > a,.nav .absolute.v8 > a{padding:33px 0 8px 8px}
.nav .absolute.v5 > a,.nav .absolute.v6 > a,.nav .absolute.v7 > a,.nav .absolute.v8 > a,.nav .v9 > a{text-shadow:0px -2px 0px #303ea2}
.nav .v1 b,.nav .v3 b,.nav .v4 b{text-shadow:-1px 0 0 #121214}
.nav div.v9:hover			{background:-moz-linear-gradient(#141f60 0%,#1f308c 21%,#1f308c 32%,#101d76 85%,#0e1b71 96%,#0c1769 100%);background:-webkit-linear-gradient(#141f60 0%,#1f308c 21%,#1f308c 32%,#101d76 85%,#0e1b71 96%,#0c1769 100%)}
.nav div.v9:hover .bold		{color:#fff;text-decoration:none}
.nav div.v9:hover .bold:after{border-left-color:#fff}
.nav .absolute.v7 li.nolink	{margin-bottom:-5px}
.nav ul li.nolink:hover,.header li.nolink:hover{background:none;cursor: default;}
.nav .absolute.v6 li,.nav .absolute.v7 li,.nav .absolute.v8 li{width:125px}
.nav .absolute.v6 ul,.nav .absolute.v7 ul,.nav .absolute.v8 ul{width:280px}
.nav a sup					{font-size:8px}
.nav li.column2				{position:relative;top:-15px}

.aside .head				{border:1px solid #ccc;background:-moz-linear-gradient(#fff,#EBEFFF);background:-webkit-linear-gradient(#fff,#EBEFFF);border-radius:12px 0 0 0;}
.aside div					{padding:3px}
.aside .cart div			{padding:0}
.aside h3					{font-family:Helvetica,arial,sans-serif;font-size:13.5px;line-height:16px}
.aside h3,.side				{background:-moz-linear-gradient(#1f2e7e,#6177de);background:-webkit-linear-gradient(#1f2e7e,#6177de);padding:10px;color:#fff}
.aside h3.wdk-toggle-closed	{background:-moz-linear-gradient(#6177de,#1f2e7e);background:-webkit-linear-gradient(#6177de,#1f2e7e)}
.aside h2.h6				{font-size:13px;line-height:19px}
.aside p.em0				{padding-left:15px}
.aside p.em0 .slope			{left:5px}
.aside input.em10			{margin:2px 0}
.aside .message				{border:solid 1px #FFB000;line-height:12px;padding:5px;border-radius:3px}
.aside .total				{background:#fbf2c9;padding:4px 0;border-radius:3px}
.aside .date				{margin-right:5px}
.article div.background		{background:#5E74DA;padding:3px;border-radius:0}
.aside .article,.article .wdk-toggle-closed + div.background{padding:0}
.article.first				{margin-top:-10px/*;box-shadow:0 -8px 6px -6px #505050*/}
.article.first,.article.first h3{border-radius:12px 0 0 0}
.article h3.wdk-toggle-closed{border-radius:0 0 0 12px}
.article.first h3.wdk-toggle-closed,.article.first h3.last{border-radius:12px 0 0 12px}
.article.points				{margin-right:-5px;box-shadow:none}
.article.points var			{margin-left:-10px;width:110px;color:#fc0}
.article.points h3			{background:#14257F}
.article.points a.block		{line-height:8px}
.article .ico.plane			{margin-right:5px}
.article div				{background:#fff;padding:8px;border-radius:6px}

.inner					{padding:2px 10px}
.box-default			{position:relative;padding:5px;background:#fff}
.box1					{position:relative;padding:10px;background:#f2f2f2}
.box1.alt				{background:#E9EAF5}
.box2					{position:relative;padding:15px;background:#F6F6FF}
td.box2					{position:static;background:#F6F6FF}
.alt3 .box2 			{background:#F6F6FF}
.box2 .box2				{border-radius:6px;border:1px solid #ccc;padding-bottom:10px;background:#fff}
.box2.alt				{box-shadow:inset 0 0 3px #999}
.box2.alt h2			{margin:-15px 15px 15px -15px;padding-top:5px;width:40px;height:55px;background:-moz-linear-gradient(#7082E8,#4F60C1);background:-webkit-linear-gradient(#7082E8,#4F60C1);color:#fff;text-shadow:1px 1px 1px #ccc}
.box2.alt .h1			{font-size:28px}
.box2.alt .h1.var		{margin-top:-4px}
.box2-radius			{position:relative;padding:20px;background:#F6F6FF;border-radius:10px;border:1px solid #E6E9F0}
.box2-radius .date		{margin:0 auto;width:53px}
.box3					{position:relative;border:1px solid #ccc}
.box3 legend			{background:#ABCDF8}
.box3 > div,.box3 > p	{padding:5px 10px}
.box4					{padding:10px}
.box5					{position:relative;border:5px solid #0C34A4;border-radius:15px}
.box7					{border:5px double white;border-radius:12px}
.box8					{border:1px solid #999;border-radius:8px}
.box8 .caption0			{border-radius:8px 8px 0 0}
.box8 a:hover			{text-transform:none}
.box9					{background:#ebebf6;border-top:solid 2px #fff;border-bottom:solid 2px #fff}
.box11					{border:1px solid #090}/*hotel*/
.box12					{border:1px solid #81BAF2}/*car*/
.box11,.box12			{margin:5px -1px 0;height:152px;background:#fff;position:relative}
.box11 ul,.box12 ul		{margin-left:16px}
.box11 button,.box12 button{position:absolute;bottom:5px;right:5px}
.box3 > .box11,.box3 > .box12{height:211px}
.boxb					{border-bottom:1px solid #ccc;padding-bottom:10px}
.box-center				{margin-left:auto;margin-right:auto}
.caption1				{background:-moz-linear-gradient(#e5e7f4 0%,#fff 20%,#fff 80%,#e5e7f4 100%);background:-webkit-linear-gradient(#e5e7f4 0%,#fff 20%,#fff 80%,#e5e7f4 100%)}
tr.caption1 td,tr.caption1 th{background:-moz-linear-gradient(#fff,#e6eaff);background:-webkit-linear-gradient(#fff,#e6eaff)}
.caption2,.nav ul		{background:-moz-linear-gradient(#fff,#e6eaff);background:-webkit-linear-gradient(#fff,#e6eaff)}
.caption3,.breadcrumb p	{border-bottom:1px dotted #999}
.caption4,td.caption4	{color:#fff;background:-moz-linear-gradient(#daddec 0%,#5f6dc1 50%,#4557b9 51%,#7588ed 100%);background:-webkit-linear-gradient(#daddec 0%,#5f6dc1 50%,#4557b9 51%,#7588ed 100%);border-bottom:1px solid #5061ca}
.caption5 				{background-color:#5164D5;color:#fff}
.caption6				{background:-moz-linear-gradient(#F5F5F5,#CACCC9);background:-webkit-linear-gradient(#F5F5F5,#CACCC9)}
tr.caption6 td			{background:#FBF2C9}
.caption7				{background:-moz-linear-gradient(#fff,#ece9e9);background:-webkit-linear-gradient(#fff,#ece9e9)}
.section .calendar .caption8{background:-moz-linear-gradient(#ffca00,#fe9b00);-moz-box-shadow:inset -1px -1px 15px -3px #594700;background:linear-gradient(#ffca00,#fe9b00);box-shadow:inset -1px -1px 15px -3px #594700}
.caption9 				{background:-moz-linear-gradient(#fff,#f3f4f9);background:-webkit-linear-gradient(#fff,#f3f4f9)}
.caption10				{background:-moz-linear-gradient(#6177de,#1f2e7e);background:-webkit-linear-gradient(#6177de,#1f2e7e);padding:10px;color:#fff}
.caption11				{background:linear-gradient(#fbf9dc,#fae98b);background:-webkit-linear-gradient(#fbf9dc,#fae98b)}
.subtotal				{width:300px;display:inline-block;padding:8px}
form.box1				{border-radius:6px;border:1px solid #ccc}
form.box1 button.alt	{right:10px;bottom:10px}
form.box1 .ico.calendar,.rsrch-form .ico.calendar{position:absolute;right:3px;top:20px}
form input.alt1			{width:220px} 
form input.alt3			{width:92px}

ul.date					{height:61px;padding-top:20px;border:0;border-bottom:2px solid #ffb000}
ul.date:before			{content:"";position:absolute;left:10px;margin-top:62px;width:740px;height:1px;background:#f00}
.date, ul.date li,.bg1 td{background:#fff}
.date em				{padding:0;background:linear-gradient(#FFB400,#E37600);background:-webkit-linear-gradient(#FFB400,#E37600);color:#fff;}	
.date li.float-left		{width:38px;margin-right:5px;cursor:pointer}
.date li.float-left	var	{font-size:15px;padding:5px 0;line-height:9px}
.date li.select			{width:55px;margin-top:-9px;border-left:1px solid #ffb000;border-right:1px solid #ffb000;border-top:1px solid #ffb000;border-bottom:2px solid #fff;cursor:default;padding-bottom:5px}
.date li.select em		{background:#fff;color:#091d86;font-weight:bold}
.date li.select var		{font-size:22px;line-height:28px;padding:0}
.date li.unselect a		{color:#999;cursor:default}	
.date li.unselect em	{background:#999}
.date li a				{color:#000}
.date li a:hover		{text-decoration:none}
.date li em,.caption0	{background:#FEAA00;color:#fff}
.date li .box3 			{border-top:none}
.date + h2				{line-height:40px;margin:0 0 5px 70px}
.date li var.h5			{padding:8px 0}
.date var.h5			{background:linear-gradient(#fff 50%,#F0F0F0 51%);border:1px solid #ccc;border-top:0;background:-webkit-linear-gradient(#fff 50%, #F0F0F0 51%)}
ul.date var.h5			{background:#fff}
.lowfare				{margin:16px 12px 0 0}

thead td,tfoot td		{vertical-align:top}
thead td, thead th		{padding:2px;border-left:1px solid #fff}
.flow-redemption thead td.caption2,.flow-revenue thead td.caption2,.flow-companion thead td.caption2{background:-moz-linear-gradient(#fff,#f2f4ff);background:-webkit-linear-gradient(#fff,#f2f4ff);/*border-bottom-color:#b9c1ed;*/width:110px}
.flow-redemption thead td.caption2.alt,.flow-revenue thead td.caption2.alt,.flow-companion thead td.caption2.alt{background:-moz-linear-gradient(#f2f4ff,#e6eaff);background:-webkit-linear-gradient(#f2f4ff,#e6eaff);vertical-align:bottom}
tfoot tr.caption1 td	{border-right:1px solid #fff}/*fare*/
tr.noborder td,ul.noborder{border:0}
td:hover small.block.bold{visibility:visible}
tr.alt3 td,tr.alt3 th	{background:#eee}
var sup					{font-size:10px;position:relative;top:2px}
/*.bound thead td:hover	{border-bottom-color:#7385ec;color:#203291;background:-moz-linear-gradient(#fff,#b9c1ed);background:-webkit-linear-gradient(#fff,#b9c1ed)}*/
.bound thead td:hover a	{color:#203291}
.bound thead td			{cursor:pointer/*;border-bottom:1px solid #ccc*/}
.bound tbody tr:nth-child(even) td{background:#ECECEC;border-color:#FFF}
.bound tbody td			{border:1px solid #f8f8f8;cursor:pointer}
.bound tbody td.h6		{white-space: nowrap}
.bound tbody td.price div{position:relative;cursor:pointer}
.bound tbody td.price a:hover, .bound tbody td.price a:focus{text-decoration:none}
.bound tbody td label	{padding-top:10px;display:block;cursor:pointer}
.bound tbody td.price small.absolute {left:0;width:100%}
.bound tbody td.on small{color:#fff}
.bound tbody td.on		{padding:0 5px 0;border-bottom:solid 1px #757470;background:linear-gradient(bottom, #757470 0%, #4a484b 50%)}
.bound tbody td.on div	{color:#fff;top:7px;background:linear-gradient(bottom, #6e829d 0%, #596a7c 50%)}
.bound .sub				{display:block;margin-top:-6px;margin-bottom:-12px}
.bound tr.teaser td		{background:linear-gradient(bottom, #aba9aa 0%, #757470 50%)}
.bound .noavailable		{background:url(../img/ff_unavailable.gif) center top repeat-y #f7f7f7}
.bound tbody .h8 a		{line-height:11px}
.bound a.var.small		{margin-top:-4px}/*+$2.50*/
.flow-certificate-transitional .bound a.var.small{margin-top:0;margin-bottom:4px}
.bound .noline			{line-height:11px;padding:4px 0}
.teaser td				{height:67px;padding:5px}
.teaser .teaser			{height:65px;color:#fff;position:relative;background:linear-gradient(bottom, #909fb4 0%, #6e829d 50%)}
.teaser h5				{padding-top:5px;font-size:18px;text-transform:uppercase}
.teaser h6				{font-size:16px;border-bottom:solid 1px #fff;padding:10px 10px 5px;margin:0 10px 3px}
.teaser .teaser-center	{padding:20px 20px 7px;height:40px}
.teaser .teaser-center h5{padding-top:0}
.teaser .upsell			{background:#fff;width:432px;height:65px;padding:0 5px;line-height:10px}
.teaser .ico.close		{background-position:-150px -59px;position:absolute;bottom:0;right:0}
.teaser .ico.arrow		{background-position:-138px -84px;width:44px;height:44px;position:absolute;top:-21px;right:45px}
.calendar,.fare			{border-collapse:separate}
table.calendar			{width:auto}
.calendar thead td		{width:68px;padding:4px}
.calendar tbody td		{vertical-align:top;border:1px solid #fff}
.calendar td.family:hover{border-color:#000;cursor:pointer}
.calendar var,#ebconf h2.line2{padding-bottom:10px}
.calendar .out			{background:#ccc;height:50px}
.calendar .noavailable	{background:#ddd}
.calendar .certificate	{height:47px}
.calendar .f1,small.f1	{background:#A39FE7}
.calendar .f2,small.f2	{background:#BBCBF2}
.calendar .f3,small.f3	{background:#DEE9F4}
.calendar small.em10	{padding-left:2px}
.line1					{border-bottom:1px solid #FFB000}
.line1t					{border-top:1px solid #FFB000}
.line2					{border-bottom:1px dotted #666}
.line2t					{border-top:1px dotted #666}
.line3					{border-right:1px solid #ddd}
.line4 					{border-bottom:1px solid #C2CAF1}
.line5 					{border-bottom:2px dotted #CCC}
.line6 					{border-left:2px solid #5164D5}
.line7 					{border-left:1px solid #fff}
.line7a 				{border-left:2px solid #fff}
.line8 					{border-bottom:2px solid #fff}
.line9 					{border-bottom:1px solid #000}
.line10 				{border-bottom:1px solid #f0f0f0}
.line11 				{border-bottom:1px solid #ccc}
.line12,tr.line12 td	{border-top:1px solid #ccc}			
.fare td,.fare th		{padding:8px}
.fare.border			{border-collapse:collapse}
.fare.border td			{border:1px solid #F7F7F7}
.fare tr.thin td,.fare td.thin{padding:2px}
#fare .side				{border-radius:12px 12px 0 0}
.fare a.block.text-12	{letter-spacing:-1px}
.fare dt.absolute		{margin-left:-40px}
td[colspan="5"] p.midst2:before{content:"";position:absolute;height:54px;border-left:1px solid #fff;left:0}
td[colspan="5"] p.midst2:after{content:"";position:absolute;height:47px;border-right:1px solid #fff;right:-10px;top:0}
td[colspan="5"] p.grid7:after{content:"";position:absolute;height:47px;border-right:1px solid #fff;right:0;top:0}
ul.small.default		{margin-left:10px;margin-top:-2px}
ul.small				{height:50px}
ul.small li				{width:48%;margin-bottom:0;line-height:12px;font-family:Helvetica,arial,sans-serif}
ul.small li.column2		{position:relative;top:-100%;left:54%}
.menu ul 				{background:#fff;border:1px solid #ECECF0;border-radius:3px;box-shadow:0 2px 2px #BCBCBC;padding:10px;position:absolute;right:0;z-index:2}
.columns .grid3.box3	{width:32%;height:262px;margin-left:14px;border-radius:6px}
.columns .grid3.box3:first-child {margin-left:0}
.columns .grid3.box3 .box8{border-color:#ccc;margin:0 4px 0 4px;padding:2px 5px;background:-moz-linear-gradient(#fff 25%,#FFE77F);background:-webkit-linear-gradient(#fff 25%,#FFE77F)}
.columns h3 span.h3		{position:relative;top:8px}
.columns p.caption10	{margin:5px 0 0 0}
.columns h3 a.midst		{margin-top:18px}
.columns p.smaller		{line-height:12px}
.columns p.caption7		{bottom: 0;border-radius: 0 0 6px 6px;border-top:1px solid #ccc;margin-bottom:0;width:215px}
.confcode				{width:220px;background:#D1D8FE;border-radius:16px}

.slope,.nav ul:before,.nav div.v9 .bold:after{width:0;font-size:0;line-height:0}
.slope.s1				{margin:7px 4px 0 -15px;border-left:4px solid #fff;border-right:4px solid #fff;border-top:4px solid #ff6d00}
.slope.s2				{margin:5px 6px 0 6px;border-top:3px solid #fff;border-bottom:3px solid #fff;border-left:3px solid #ff4202}/*color*/
.slope.s3				{position:absolute;left:12px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #4e5db5}
.aside .slope.s3		{border-top-color:#5E74DA}
h2 .slope.s3			{margin:8px 0 0 5px}/*senior message*/
.ico.info				{background-position:0 -17px}
.ico.ok					{background-position:-17px -17px}
.ico.arrow				{background-position:-34px -17px}
.ico.arrow2				{background-position:-170px 0}
li .ico.arrow2			{float:left;margin-bottom:5px}
li.nomargin .ico.arrow2	{margin-bottom:0}
.aside .ico.arrow		{background-position:-203px -19px}
.aside p.wrap .ico.arrow{margin:0 10px 0 -10px}
.wdk-toggle-closed > .ico{background-position:-51px -17px}
.wdk-toggle-opened > .ico{background-position:-68px -17px}
.ico.bag				{background-position:-85px -17px}
.ico.eye				{background-position:-102px -17px}
.ico.add				{background-position:-119px -17px}
.ico.plane				{background-position:0 -34px;margin-top:-2px}
.ico.calendar			{background-position:-153px -17px}
.ico.calendar2			{background-position:-221px 0}
.ico.card				{background-position:-258px -146px;width:26px}
.ico.option1			{background-position:-25px -34px}
.ico.option2			{background-position:-50px -34px}
.ico.change				{background-position:-125px -34px}
.ico.disability			{background-position:-136px -17px}
.ico.done				{background-position:-170px -17px}
.ico.check				{background-position:-240px -22px;height:12px}
.ico.paypal				{background-position:-258px -163px;width:37px}
.ico.texta				{background-position:-150px -34px}
.ico.textb				{background-position:-175px -34px}
.ico.texteb				{background-position:-200px -34px}
.ico.textum				{background-position:-225px -34px}
.ico.print				{background-position:-187px 0}
.ico.addcal				{background-position:-187px -17px}
.ico.email				{background-position:-218px -19px}
.ico.phone				{background-position:-204px 0}
.ico.car				{background-position:-250px -34px}
.ico.hotel				{background-position:-275px -34px}
.ico.blackplane			{background-position:-250px -59px}
.ico.green				{background-position:-200px -59px}
.ico.red2				{background-position:-225px -59px}
.ico.close				{background-position:-125px -59px}
.ico.outlook			{background-position:-238px 0}
.ico.passport			{background-position:-272px 0}
.ico.passportbig		{background-position:-258px -113px;width:32px;height:32px}
.ico.passportbig.absolute{left:-40px}
.ico.done2				{background-position:-75px -59px}
td .ico.done2			{margin-top:-12px}
.ico.done3				{background-position:-50px -59px;left:-30px}
.ico.oops				{background-position:0 -84px;height:31px;width:129px}
.ico.air-text			{background-position:-183px -113px;height:65px}
.ico.irreg 				{background-position:-25px -59px}
.ico.valid				{background-position:-255px 0}
.ico.invalid			{background-position:-272px -17px}
.ico.info2				{background-position:-274px -59px}
.ico.excl				{background-position:-175px -59px;left:-30px}
.ico.family 			{width:32px;height:32px}
.ico.ebcheckin			{background-position:-183px -84px;width:106px;height:28px;margin:5px 0}
.ico.text-align 		{float:left;margin:-3px 2px 0 -4px}
.ico.facebook			{background-position:-75px -34px}
.ico.twitter			{background-position:-158px -154px}
.ico.chat				{background-position:0 -59px}
.ico.youtube			{background-position:-133px -129px}
.ico.flickr				{background-position:-158px -129px}
.ico.nuts				{background-position:-208px -113px;height:50px;margin-left:-10px;z-index:2}
.ico.collapse			{background-position:-233px -113px;height:40px}
.ico.expand				{background-position:-233px -153px;height:40px}
.ico.swetravel,.ico.swecargo{width:91px;height:24px;bottom:-40px;overflow:hidden;text-indent:-666px;text-decoration:none}
.ico.swetravel			{background-position:0 -148px;right:120px}
.ico.swecargo			{background-position:0 -173px;right:10px}
.ico.enjoy				{background-position:-150px -179px;width:82px;height:30px;margin:6px 24px 0 0}
.ico.promoribbon		{background-position:-133px -154px;height:28px;position:absolute;right:0}
.tdefault td,.tdefault th{padding:4px 2px}
.tdefault .ico.info2	{margin-right:-5px}
.fdetails td, .fdetails th{padding:8px}
.fdetails th:first-child{border-left:0}
.fdetails .valid 		{margin-top:3px}
.fdetails .absolute		{margin-top:-8px}/*module apply travelfunds*/
.error,.noerror,.warning{box-shadow:-1px 0 5px 0px #333 inset;position:relative;border-left:40px solid #f00;background:-moz-linear-gradient(#fff,#EBEFFF);background:-webkit-linear-gradient(#fff,#EBEFFF)}
.error					{box-shadow:-1px 0 5px 0px #C5A1A1 inset}
.noerror				{border-left-color:#090}
.warning				{border-left-color:#38469B}
.error.caption11		{background:linear-gradient(#fbf9dc,#fae98b);background:-webkit-linear-gradient(#fbf9dc,#fae98b)}
.error .oops			{margin:3px 10px 0 -47px}
.error ul				{margin-left:100px}
.error .irreg			{margin-left:-42px;position:absolute}
.add-field				{bottom:4px;left:260px}
.nomargin				{margin-bottom:0}
hr.nomargin				{margin:0}
.nopadding,tr.nopadding td,tr.nopadding th{padding-top:0;padding-bottom:0}
.nopadding hr.line2		{margin-top:-5px}
.contact-info label.indent{margin-left:65px}
.wdk-card-payment em.grid3{width:32.2%}

.rsrch-form 			{border:1px solid #ccc;border-top:none;border-radius:0 0 10px 10px;box-shadow:0 0 2px #A0A0A8}
.rsrch-form .caption9.box4.text-right{border-radius:0 0 10px 10px}
.rsrch-form .ico.calendar{top:22px}
fieldset.grid8			{width:88%}/*purc and uapis*/
fieldset.grid8 .ico.info{margin-top:-2px}
fieldset.grid8 label.float-left{min-height:42px}
#fare var.wrap			{top:-2px}
#ocup div.box1 .float-right{background:#ddd;margin:-8px;padding:10px 6px}/*fares in*/
#occl .date li			{margin-top:15px}
#occl .date li.float-left{width:48px}
#occl .date li.float-left.select{width:65px;margin-top:-10px}
#occl .date li:not(.select){margin-top:10px}
#occl .box8 a			{color:#000}
#occl p.grid3			{margin-top:36px;margin-right:100px;line-height:12px}
#occl.flow-revenue p.grid3{margin-top:32px}
#occl a.var.small		{margin:-6px 0}
#occl .ico.info2		{margin:0 4px}
#purc .bound td,#purc .bound th{padding:8px}
#purc .grid3 fieldset.box2{width:80%;height:200px;padding-top:10px}
#ebpurc td.grid1		{width:8%}
#reco .grid3.float-left {width:32%;margin-left:13px}
#reco .grid3.float-left:first-child {width:32%;margin-left:0}
#refo .tdefault td,#refo .tdefault th{padding-left:0}
#rsrch .caption9.text-right{background:-moz-linear-gradient(#fff,#E9EAF5);background:-webkit-linear-gradient(#fff,#f3f4f9)}
#sfup .section div.absolute{top:20px;right:20px}
#uapis select.block		{width:350px}
#ufare ul.btr li:nth-child(2) small{margin-bottom:20px}
#upsl td.box2			{padding:0}
#upsl form > h4			{padding-bottom:3px}
#upsl sup.absolute		{margin-top:-4px}
#upsl sup.smaller		{font-size:8px;font-weight:normal}
#travelToolsMenu li:last-child{padding:0;margin:0 0 -5px 0}
fieldset.input-large select.grid5{width:48%}/*apis in purc*/
div.steb				{height:163px;background:url(../img/steb_earlybird.png) no-repeat}
.shadowl				{box-shadow:6px 0 4px -4px #ccc inset;padding-left:10px}
.senior					{padding-bottom:0}
.pop2 dt.absolute		{margin-left:-38px}
.pop1					{width:307px;border:3px solid #5164D5}
.pop2					{width:410px;border:3px solid #5164D5}
.pop3					{width:800px;border:3px solid #5164D5}
.pop4					{width:300px;border:3px solid #5164D5}
.pop5					{width:360px;border:3px solid #5164D5}
.pop6,.pop8				{width:480px;border:3px solid #5164D5}
.pop7,.pop8				{width:600px;background:#fff}
/*southwest.qtip QTIP customization, it can be improved*/
.southwest-tooltip .ui-tooltip-content{padding:0;background-color:#fff}
.southwest-tooltip{background-color:#5164D5;max-width:806px}
.southwest-tooltip .ui-tooltip-titlebar{height:0;visibility:hidden;border:3px solid #5164D5;background-color:#5164D5;margin:-3px;padding:0;min-height:0}
a.ui-tooltip-close{font:11px/17px Verdana,Tahoma,sans-serif;position:absolute;top:2px;right:0;color:#fff}
.flow-revenue .ui-dialog .ui-dialog-titlebar {display:none}
.flow-revenue .ui-dialog,.flow-revenue .ui-dialog .ui-dialog-content{padding:0}
.flow-revenue .ui-widget-content {border:none;background:none}
.flow-revenue .pop7 div.box5{background:#fff}
.ui-datepicker-header,.ui-state-highlight, .ui-widget-content .ui-state-default.ui-state-highlight{background:-moz-linear-gradient(#ff9e33 30%,#ff0000 100%);background:-webkit-linear-gradient(#ff9e33 30%,#ff0000 100%);border:0;border-radius:0;color:#fff}
.ui-datepicker .ui-datepicker-title span{font:bold 14px Arial, Helvetica, sans-serif}
.ui-datepicker-calendar thead th span{font:bold 11px Arial, Helvetica, sans-serif;color:#999}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{padding:4px 6px 4px 0;border:0;background:#fff;color:#2683F9;font:10px Arial, Helvetica, sans-serif}
.ui-widget-header .ui-icon{background:none}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-w,.ui-widget-header .ui-icon.ui-icon-circle-triangle-e{width:0;height:0;font-size:0;line-height:0;border-top:8px solid transparent;border-bottom:8px solid transparent}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-w{border-right:8px solid #fff}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e{border-left:8px solid #fff}
