.bound tbody td.on/*,.section .bound td.on.alt1*/{background: -webkit-linear-gradient(bottom, #757470 0%, #4a484b 50%);background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #757470),color-stop(0.5, #4a484b))}
.bound tbody td.on div{background: -webkit-linear-gradient(bottom, #6e829d 0%, #596a7c 50%);background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6e829d),color-stop(0.5, #596a7c))}
.bound tr.teaser td{background: -webkit-linear-gradient(bottom, #aba9aa 0%, #757470 50%);background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #aba9aa),color-stop(0.5, #757470))}
.teaser .teaser{background: -webkit-linear-gradient(bottom, #909fb4 0%, #6e829d 50%);background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #909fb4),color-stop(0.5, #6e829d))}
.section .calendar .caption8{background:-webkit-linear-gradient(#ffca00,#fe9b00);-webkit-box-shadow: inset -1px -1px 15px -3px #594700}
.columns p.caption7{width:214px}
.box3 > .box11,.box3 > .box12{height:212px}

@-webkit-keyframes clip1
{
	0%	{opacity:1}
	100%{opacity:1}
}
.nav div:hover > ul			{-webkit-animation:clip1 0.5s ease forwards 0.5s}
.nav ul						{opacity:0}