html		{height:100%;}
body	    {height:100%;margin:0;background:url(img/fondo_mid.gif) repeat-y  center #E4E4E4;font-family:Arial, Helvetica, sans-serif;}

.top		{position:absolute;left:50%;margin-left:-413px;width:826px;background:url(img/fondo_top.gif) repeat-y;color:#666666;}
.top .logo	{margin:15px 0 0 40px;border:0;}
.top .txt2	{position:absolute;top:20px;left:680px;font-size:12px;text-align:left;}
.top .txt3	{position:absolute;top:288px;left:690px;font-size:11px;color:#ffffff;}
.top a		{color:#ffffff;}
.top .imagen{margin:15px 0 0 13px;display:block;border-top:15px solid #E6E8E7;border-bottom:30px solid #42678C;}

.mid			 	{position:absolute;width:825px;left:50%;top:310px;margin-left:-412px;}
.mid .botones	 	{position:absolute;top:2px;left:13px;}
.mid .botones div	{width:201px;height:31px;background:url(img/bt_li.gif) no-repeat;}
.mid .botones a		{padding:0 0 0 50px;line-height:32px;color:#666666;text-decoration:none;font-size:12px;}
.mid .botones a:hover{color:#000000;}
.mid h2				{margin:5px 110px 10px 250px;color:#42678C;}
.mid h3				{margin:5px 110px 10px 250px;color:#999999;}
.mid p,.mid ul		{margin:5px 110px 10px 250px;font-size:12px;text-align:justify;}

.galerias img		{border:1px solid #333333;}

/****lightbox****/
#lightbox		{background-color:#eee;padding:10px;border-bottom:2px solid #666;border-right:2px solid #666;}
#lightboxDetails{font-size:0.8em;padding-top:0.4em;}	
#lightboxCaption{float:left;}
#keyboardMsg	{float:right;}
#closeButton	{top:5px;right:5px;}
#lightbox img	{border:none;clear:both;} 
#overlay img	{border:none;}
#overlay		{background-image:url(http://www.generaldesagues.com/img/ico_overlay.png);}
* html #overlay	{background-color: #333;back\ground-color: transparent;background-image: url(blank.gif);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.generaldesagues.com/img/ico_overlay.png", sizingMethod="scale");}