body	{margin:80px 0 40px 0;}
td		{font:11px Arial, Helvetica, sans-serif;vertical-align:top;}
img     {border:0;}
.tabla1	{width:750px;}
a		{text-decoration:none;color:#000000;}
a:hover	{text-decoration:none;color:#999999;}
em		{font-style:normal;color:#000099;}

.n1  	 {font-size:30px;font-family:Georgia, Times New Roman, Times, serif;font-style:normal;font-weight:bold;color:#4b74a8;}
.n2  	 {font-size:12px;font-family:Georgia, Times New Roman, Times, serif;font-style:normal;font-weight:bold;color:#666666;}
h2		 {font-size:11px;font-weight:normal;height:230px;}
h4		 {font-size:11px;font-weight:normal;height:330px;}
h5		 {font-size:11px;font-weight:normal;height:500px;}
h6		 {font-size:14px;background:#4b74a8;color:#ffffff;padding:20px;}

h1						   {font-size:13px;margin:0;}
h2 img,h4 img,h5 img	   {margin:0 20px 0 0;border:1px solid #999999;}
h2 a img,h4 a img,h5 a img {margin:0 5px 0 0;border:0px;}

.inicial 			 {text-align:center;}
.inicial  a:hover img{filter:alpha(opacity=80);opacity:.8;}

.celda_bio	   {padding-left:30px;}
.celda_bio p   {text-align:justify;line-height:16px;}
.celda_azul	   {background:#4b74a8;}
.celda_azul img{margin:0 0 20px 0;border:1px solid #999999;}
.celda_azul p  {font-size:11px;font-family:Georgia, Times New Roman, Times, serif;color:#ffffff;margin:15px 0 15px 20px;line-height:18px;}
.txtgris	   {color:#666666;}  
.txtazul	   {color:#000099;}
.txtblanco	   {color:#4b74a8;padding:5px 0 5px 0;font-size:16px;font-style:italic;font-weight:bold;}

.celda_recull	{width:310px;padding:0 10px;background:#4b74a8;}
.celda_recull p	{font-size:13px;color:#ffffff;}

.celda_libro1	  {width:33%;padding-left:15px;}
.celda_libro1c	  {width:33%;padding-left:5px;}
.celda_libro1 img,.celda_libro1c img{border:1px solid #999999;}
.celda_libro2     {vertical-align:top;padding:10px 0 10px 0;}