html		{height:100%;}
body	    {height:100%;margin:0;font:11px Arial, Helvetica, sans-serif;}
#central    {height:100%;position:absolute;width:840px;margin-left:-420px;left:50%;border-left:1px solid #476f66;border-right:1px solid #476f66;}

h1		{margin:60px 0 0 30px;font:22px Trebuchet MS, Arial, sans-serif bold;color:#476f66;border-left:16px solid #476f66;line-height:16px;padding:0;text-indent:4px;}
h4		{margin:0px;padding:3px;text-align:center;font-size:12px;background:#476f66;color:#FFFFFF;}
a		{text-decoration:none;outline:none;}
em		{font-style:normal;color:#476f66;font-weight:bold;}
input	{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;}
textarea{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;}

.superior	{position:absolute;width:840px;height:140px;background:#476f66;z-index:2;}	
.botones	{position:absolute;top:60px;left:45px;}
.boton		{width:120px;height:25px;}
.boton2		{width:100px;height:20px;}

.centro		 {position:absolute;width:660px;left:180px;height:100%;background:#deebe8;}
.centro form {margin:20px 0 20px 30px;color:#333333;}
.centro p	 {margin:20px 0 10px 30px;color:#333333;}
.centro table{margin:20px 0 20px 30px;}

.tbnoticias p{margin:0;display:inline;}
.tbnoticias form{margin:0;}