body	{margin:50 0 0 0;}
td		{font:12 Arial, Helvetica, sans-serif;vertical-align:top;}
a		{text-decoration:none;}
input	{font:12 Arial, Helvetica, sans-serif;color:#AAAAAA;display:block;}
textarea{font:12 Arial, Helvetica, sans-serif;color:#AAAAAA;display:block; width:356;}
form	{margin:5 0 5 0;}

h5		{font-size:12px;color:#FDB924;margin:0 0 10 0;}
h6		{font:12 Arial, Helvetica, sans-serif;color:#999999;margin:0;padding:10 25 0 25;text-align:justify;}

#capainfo{position:absolute;top:495;margin:0 0 0 290;z-index:2;}

.izq 	{width:380;height:70;border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.izq div{position:absolute;top:10;}
.der	{width:380;padding:0 20 10 0;font-size:16px;color:#CCCCCC;border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC;font-weight:bold;vertical-align:bottom;text-align:right;}

#catalogo	{display:none;padding:0 0 0 40;}
#tienda		{display:none;padding:0 0 0 40;}
#contacta	{display:none;}
#contacta2	{display:none;color:#BBBBBB;width:360;}

#extra		{height:360;overflow:auto;	
			scrollbar-face-color:#FFF9E8;scrollbar-3dlight-color:#FFF9E8;scrollbar-arrow-color:#666666;scrollbar-highlight-color:#FFF9E8;
			scrollbar-shadow-color:#FFF9E8;scrollbar-darkshadow-color:#FFF9E8;scrollbar-track-color:#FFF9E8;scrollbar-base-color:#FFF9E8;}

#catalogo2		  {width:360;height:360;background:url(img/fondo.gif) no-repeat;}

#rosa0			  {width:160;}
#rosa1     	  	  {width:85;height:360;background:#FFF9E8;padding:5 0 0 5;}
#rosa1 a		  {color:#999999;}
#rosa1tit		  {display:none;position:absolute;top:260;width:400;font-size:18px;color:#BBBBBB;margin:0 0 0 70;}
#rosa2     	  	  {width:85;height:360;background:#FFF9E8;padding:5 0 0 0;}
#rosa2 img		  {border:1px solid #999999;}
#rosa2 a:hover img{filter:alpha(opacity=50);opacity:.5;}	

.cuerpo1        {padding:30 0 0 0;border-left:1px solid #CCCCCC;}
.cuerpo1 a	    {display:block;color:#BBBBBB;margin:0 0 5 0;}
.cuerpo1 a:hover{color:#FDB924;}
#cuerpo2		{height:400;padding:30 0 0 0;border-right:1px solid #CCCCCC;}

.bot1	      {background:#FDB924;padding:0 0 0 25;}
.bot1 a       {color:#FFFFFF;font-weight:bold;height:30;padding:8 15 0 15;display:table-cell;}
.bot1 a:hover {background:#FFF9E8;color:#FDB924;}
.bot2	      {background:#FDB924;padding:0 5 0 267;}
.bot2 a       {color:#FFFFFF;font-weight:bold;height:30;padding:6;font-size:11px;display:table-cell;}
.bot2 a:hover {background:#FFF9E8;color:#FDB924;}

.pie			{font:11 Arial, Helvetica, sans-serif;text-align:right;border-top:1px solid #CCCCCC;}
.pie a			{color:#BBBBBB;}
.pie a:hover	{color:#FDB924;}
.fondo1		    {width:30;background:url(img/lateral1.gif) top left no-repeat;}
.fondo2		    {width:30;background:url(img/lateral2.gif) top left no-repeat;}