body			{margin:24px;}
*				{font-family:Arial, Helvetica, sans-serif;}
td,p			{font-size:12px;background:#ffffff;}
form			{}
a				{color:#003399;outline:none;}
a img			{border:0;}
h2				{border-bottom:1px dotted #666666;margin:0;}
h3				{font-size:13px;color:#666666;}
h4				{font-size:13px;color:#009900;background:#eeeeee;padding:2px;}
th				{background:#dddddd;text-align:left;font-size:12px;padding-left:4px;text-transform:uppercase;}
th a			{text-decoration:none;}
input,textarea	{font-size:12px;border:1px solid #333333;}
label			{font-size:12px;}

.botonera		{padding:8px 0;margin:0 0 16px 0;border-bottom:1px dotted #666666;font-size:12px;}
.botonera a		{padding:0 24px 0 0;}

.caja1			{width:320px;padding:2px;}
.caja2			{width:325px;}
textarea		{width:480px;height:240px;}

.minipic		{width:100px;}
/***********************sortable**************************/
table.sortable {background:#cccccc;}
