<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.nealine.net/es/news/Sociedad/Estilo-de-Vida/nace-timesavers-la-empresa-que-ofrece-tiempo-a-sus-clientes-1937682722.html" target="_blank">&ldquo;Nace  TimeSavers&rdquo;, Nealine.Net, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.accesomedia.com/display_release.html?id=47673" target="_blank">&ldquo;Nace  TimeSavers&rdquo;, AccesoMedia.Com, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.infocomercial.com/noticias/prn_articulos.php?tipo_art=unico&id_articulo=34520&cod_sitio=11" target="_blank">&ldquo;Nace  TimeSavers&rdquo;, Infocomercial.Com, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.gremicarn.net/EspacioPyme/BaseDocumental.nsf/BuscarNoticias/D348C4E860999A7AC125747400368D2D?OpenDocument" target="_blank">&ldquo;Nace  TimeSavers&rdquo;, EspacioPyme.Com, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.diariodirecto.com/noticias-empresas/desarrollo-noticia.html?idnoticia=4979" target="_blank">&laquo;&nbsp;Nace  TimeSavers&nbsp;&raquo;, DiarioDirecto.Com, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://winred.com/notas-de-prensa/nace-timesavers-la-empresa-que-ofrece-tiempo-a-sus-clientes/gmx-niv117-con9529.htm" target="_blank">&laquo;&nbsp;Nace  TimeSavers&nbsp;&raquo;, WinRed.Com, 26.06.2008</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="files/dossier_economic.pdf" target="_blank">&ldquo;Assessors personals a la carta&rdquo;, El Punt/Dossier Econ&oacute;mic, 26.07.2008 (PDF)</a></p>