<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.timesavers.es/files/nace_timesavers.pdf" target="_blank">&ldquo;Nace TimeSavers&rdquo;, 20.06.2008 (PDF)</a></p>
<p><img src="http://www.timesavers.es/img/ico_bola.gif" align="absmiddle" alt=""/> <a href="http://www.timesavers.es/files/presentacion_timesavers_prensa.pdf" target="_blank">&ldquo;Presentaci&oacute;n  TimeSavers&rdquo;, 05.09.2008 (PDF)</a></p>