<p><a href="http://www.timesavers.es/files/nace_timesavers.pdf" target="_blank">Nace TimeSavers, 20.06.2008 (PDF)</a></p>
<p><a href="http://www.timesavers.es/files/presentacion_timesavers_prensa.pdf" target="_blank">Presentaci&oacute;n  TimeSavers, 05.09.2008 (PDF)</a></p>