body 	{background:#cccccc;margin:0px;}
td		{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
.color	{font-style:normal;color:#08325D;text-decoration:none;}

.tabla1	{width:850px;background:#FFFFFF;}
.tabla2	{background:#FFFFFF;}
.boton1	{width:850px;background:#999999;color:#000000;text-align:center;padding:4px 2px 4px 2px;}
.boton1 a{font-family:Georgia, Times New Roman, Times, serif;font-size:11px;color:#ffffff;font-weight:bold;text-decoration:none;}
.boton1 a:hover{color:#cccccc;}

.noticias  {padding:10px;background:#08325D;color:#ffffff;}
.noticias a{color:#ffffff;font-size:11px;text-decoration:none;}

.marcas	{background:#092541;font-weight:bold;font-size:11px;text-align:center;width:190px;color:#ffffff;}
.titulo	{text-align:center;font-size:36px;color:#CF302A;margin:0 0 25px 0;}
.celda0	{width:630px;background:#FFFFFF;padding-right:24px;padding-left:8px;}
.celda2	{background:#FFFFFF;padding-left:4px;}
.celda1	{background:#08325D;color:#ffffff;}
.celda1b	{background:#092541;font-weight:bold;padding:4px;color:#ffffff;}
.celda3	{background:#cccccc;font-size:10px;}

.fondo		{background:#092541;width:25px;}
/*.fondo	{background-image:url(../pics/fonslateral3.gif);background-repeat:repeat-y;width:25px;}*/
/*.fondo	{background-image:url(../pics/fonslateral3.gif);background-repeat:repeat-y;width:25px;}*/
.destac	{font-size:24px;color:#CF302A;font-weight:bold;}

a.linkhome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
a.linkhome2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
a.linkhome:hover,a.linkhome2:hover  {
	text-decoration: underline;	
}