.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedTwo {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*fadein*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility:hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility:hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*fade out*/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility:visible;
  }

  100% {
    opacity: 0;
    visibility:hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility:visible;
  }

  100% {
    opacity: 0;
    visibility:hidden;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


/*zoom in*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 1;
    width: 300px;
    bottom:0;
    left: 0;
  }

  100% {
    opacity: 1;
    width:480px;
    bottom:0;
    left: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 1;
    width: 300px;
    bottom:0;
    left:0;
  }

  100% {
    opacity: 1;
    width:480px;
    bottom:0;
    left: 0;
  }
}

.zoomIn{
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@font-face {
  font-family: 'jaguarbold';
  src: url('jaguar-bold-webfont.eot');
  src: url('jaguar-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('jaguar-bold-webfont.woff') format('woff'),
       url('jaguar-bold-webfont.ttf') format('truetype'),
       url('jaguar-bold-webfont.svg#jaguarbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust:none; 
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

a img { border: 0; }

.bg-img{
  opacity: 0;
  position: absolute;
  width: 300px;
  height: auto;
  z-index:1;
  bottom: 0px;
  left: 0;
}

#jsf-container {
  position: absolute;
  border: 1px solid #000000;
  overflow: hidden;
  width: 300px;
  height: 250px;
  background-color: #1a1a18;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#backgroundexit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
  color: transparent;
  text-decoration: none;
  cursor: pointer;
}

#text-background {
  opacity:1;
  position:absolute;
  background:#000000;
  width:300px;
  height:85px;
  right:0;
  top:0;
  z-index:2;
}

h1 {
  font-family: 'jaguarbold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.3;
  font-weight: normal;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 3;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 6px;
  width: 200px;
  margin: 0;
}

h2{
  font-family: 'jaguarbold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 8px;
  line-height: 1.3;
  font-weight: normal;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 3;
  opacity: 0;
  position: absolute;
  top: 12px;
  left: 6px;
  width: 200px;
  margin: 0;
}

h1#text-1, h1#text-2, h1#text-5, h1#text-6{
  top:26px;
}

span#dynamic-field-dealership{
  text-transform: uppercase;  
}

img#jaguar-logo{
  width: 80px;
  height: auto;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}

#cta{
  visibility:hidden;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  opacity: 0;
  background: #9e1b32;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 6;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 0px 4px 10px;
  letter-spacing: 1px;
  vertical-align: middle;
  text-align: left;
  cursor:pointer;
}


#cta img{
  display: inline-block;
  vertical-align: middle;
  padding: 0 2px 2px;
}

#important-info{
    visibility:hidden;
    position: absolute;
    bottom: 6px;
    left: 10px;
    width: 280px;
    font-size: 8px;
    font-weight:bold;
    color: #FFFFFF;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    opacity: 0;
    z-index: 6;
    text-transform:uppercase;
    text-decoration:underline;
    cursor:pointer;
}