body			{margin:24px;}
*				{font-family:Arial, Helvetica, sans-serif;}
td,p			{font-size:13px;background:#ffffff;}
form			{}
a				{color:#003399;outline:none;}
a img			{border:0;}
h1				{width:250px;padding:5px;margin:3px;font-size:16px;text-align:center;}
h1 a			{color:#ffffff;text-decoration:none;}
h2				{width:250px;padding:10px;font-size:16px;background:#9797d7;color:#ffffff;}
h3				{font-size:13px;color:#666666;}
h4				{font-size:13px;color:#009900;background:#eeeeee;padding:2px;}
th				{background:#9797d7;color:#ffffff;text-align:left;font-size:14px;padding-left:4px;text-transform:uppercase;}
th a			{text-decoration:none;color:#ffffff;}
input,textarea	{font-size:13px;border:1px solid #333333;}
label			{color:#666666;font-weight:bold;}

.botonera		{height:30px;margin:8px 0 64px 0;font-size:18px;font-weight:bold;}
.botonera a		{float:left;width:130px;height:30px;padding:18px 0;background:#0099CC;border-right:6px solid #ffffff;color:#ffffff;text-decoration:none;text-align:center;}

.caja1			{width:320px;padding:2px;}
.caja2			{width:325px;}
textarea		{width:320px;height:100px;}

/*****index.php***/
.f_busq input	{padding:6px;margin:8px;font-size:20px;}

/*******parkings****/
.fondo0		{background:#CC6600;color:#ffffff;} 	/*fuera de venta*/
.fondo1		{background:#0066FF;color:#ffffff;} 	/*en venta*/
.fondo2		{background:#000099;color:#ffffff;} 	/*destacados*/
.fondo3		{background:#00CC66;color:#ffffff;} 	/*pendientes*/
.fondo4		{background:#CCCC00;color:#ffffff;} 	/*vendidos*/
.fondo-1	{background:#000000;color:#ffffff;} 	/*todos*/
.fondo-2	{background:#666666;color:#ffffff;} 	/*exportar*/

/***********************sortable**************************/
table.sortable {background:#cccccc;}

.icono			{border:0;}
