h1.alt				{width:450px}
h2 + ul				{margin-left:16px;margin-bottom:32px}
.main p,ul			{font:14px 'Gotham-Light';margin:20px 0;z-index:2}
.graph				{height:198px;background-size:360px 198px;margin-top:20px}
.popup .graph		{width:817px;height:450px;background-size:817px 450px;float:none;margin:20px auto}
.popup .graph:before{content:'';position:absolute;top:152px;left:166px;width:540px;height:205px;background:rgba(255,255,255,1)}
.popup.p1 ul		{margin:15px 0}
.graph div			{position:absolute;top:152px;width:32px;height:0;-webkit-transition:height 2s ease-in-out;-webkit-transform:translate3d(0,0,0)}
.graph div span		{position:absolute;left:7px;bottom:-25px}
.xA					{background:#e7eabf}
.xB					{background:#d4da85}
.xC					{background:#baca33}
.xD					{background:#888}
.graph.start div	{border:1px solid #000;border-top:none}
.start .group1.xA	{left:188px;height:138px}
.start .group1.xB	{left:220px;height:168px}
.start .group1.xC	{left:252px;height:184px}
.start .group1.xD	{left:285px;height:32px}
.start .group2.xA	{left:364px;height:136px}
.start .group2.xB	{left:396px;height:180px}
.start .group2.xC	{left:428px;height:186px}
.start .group2.xD	{left:461px;height:26px}
.start .group3.xA	{left:544px;height:130px}
.start .group3.xB	{left:576px;height:160px}
.start .group3.xC	{left:608px;height:178px}
.start .group3.xD	{left:641px;height:22px}
#cube .c2 ul		{float:left;width:300px;margin-top:20px}