/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,select,textarea,p,th,td,img,figure,hr,button::-moz-focus-inner{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0;width:100%}caption,strong,em,th,var,code,address,cite,dfn{font-style:inherit;font-weight:inherit}caption,th{text-align:left}

/*css normalize*/
h1,h2,h3,h4,h5,h6,nav,p,li,dt,dd,caption,td,th,form,fieldset,textarea,select,option,input,button,address{font-family:Verdana, Geneva, sans-serif;font-size:11px;line-height:1.5em;font-weight:normal;color:#333}
input[type="checkbox"],input[type="radio"]{position:relative;top:5px;border:0}
input,select,textarea{border:1px solid #999;color:#999;box-sizing:border-box;-moz-box-sizing:border-box}
input					{height:20px}
select					{height:20px;padding:1px;color:#333}
textarea				{width:99%}
[maxlength="2"]			{width:3em}
[maxlength="4"]			{width:5em}
body					{background:url(../img/background.jpg) top center no-repeat}
body.popin				{background:none}
ol,ul					{list-style:none}
dl						{overflow:hidden}
dt,dd					{display:inline-block}
li						{padding-left:1.5em}
a						{color:#325a9c}
p						{padding-bottom:1em}
h1,.smap h2 a,.fedb h3	{font-size:14px;font-weight:bold;padding-bottom:8px;margin-bottom:16px;border-bottom:2px solid #ccc;color:#f80203}

/*css generic*/
.column2l div.main,.column2r div.main{width:75%}
.column2l div.main,.column2r aside.main,div.side,aside.side{float:right}
.column2l aside.main,.column2r div.main,.column2 div.main,.column3 aside.main,.column3 div.main{float:left}
.column2 div.main,.column2 div.side{width:49%}
.column3 div.main		{width:50%;margin-left:2%}
aside.main,aside.side	{width:23%}
.main					{width:980px;margin:0 auto}
.none					{display:none}
body > .main			{box-shadow:-3px 0px 3px -3px #ddd,3px 0 3px -3px #ddd;border-left:2px solid #fff;border-right:2px solid #fff;background:-moz-linear-gradient(left,#f1f1f1,#fff 10%,#fff 90%,#f1f1f1);background:-webkit-linear-gradient(left,#f1f1f1,#fff 10%,#fff 90%,#f1f1f1)}
header.main				{height:160px;margin-top:16px;background:-moz-linear-gradient(#f80203,#d61419);background:-webkit-linear-gradient(#f80203,#d61419)}
nav.main a,nav.main em	{text-decoration:none}
nav.main em				{color:#325a9c;font-weight:bold}
nav.main div			{padding:16px 24px}
nav.main div .ico,.news article footer .ico,.smap h3 .ico,.smap h4 .ico{background-position:-85px 0}
nav.main a:first-child .ico{display:none}
section.main			{overflow:hidden}
footer.main				{width:988px;height:55px;padding-top:180px;box-shadow:none;background:url(../img/footer.png), -moz-linear-gradient(left,#f1f1f1,#fff 10%,#fff 90%,#f1f1f1);background:url(../img/footer.png), -webkit-linear-gradient(left,#f1f1f1,#fff 10%,#fff 90%,#f1f1f1)}
footer.main p.type-2	{float:right;margin:32px 120px 0 0}
footer.main a			{color:#333;text-decoration:none}
footer.main address		{margin-top:32px}
form.search-site,header.main nav,header.main aside,footer.main form{display:none}

/*css common*/
.ico					{display:inline-block;width:16px;height:16px;vertical-align:middle;background:url(../img/sprites.png)}
a.logo					{float:left;margin:30px 0 0 15px;width:225px;height:100px}
footer button,.news button,.news > footer a,.time nav a{padding:6px 38px 7px 6px;font-weight:bold;border-radius:4px;color:#fff;cursor:pointer;background-image:url(../img/spritesv.png),-moz-linear-gradient(#cb1402,#ed1a02);background-image:url(../img/spritesv.png),-webkit-linear-gradient(#cb1402,#ed1a02);background-repeat:no-repeat;background-position:right 0;box-shadow:0 8px 6px -6px #333333}
.pagination				{margin-top:16px;text-align:center}
.pagination a,.pagination em{display:inline-block;padding:4px 8px;border-radius:4px}
.pagination a			{background:#ccc;text-decoration:none;color:#fff}
.pagination em,.pagination a.prev,.pagination a.next{background:#e30d10}
.pagination em			{color:#faec03;font-weight:bold}
.menu					{margin-left:24px}
.menu a					{color:#333}
.menu h2 .ico			{background-position:-222px 0}
.menu h2,.time caption,.time + footer,form.offer header,.homenews h2,.homebook h2,.homeoffer h2{background:-moz-linear-gradient(#828282,#484848);background:-webkit-linear-gradient(#828282,#484848)}
.menu h2				{padding:12px;cursor:pointer}
.menu h2:first-child	{border-radius:4px 4px 0 0}
.menu h2 a				{color:#fff}
.menu li,.time thead td	{background:-moz-linear-gradient(#fff,#f2f2f2);background:-webkit-linear-gradient(#fff,#f2f2f2)}
.menu li				{padding:4px 4px 4px 12px;cursor:pointer}
.menu li .ico			{background-position:-187px 0}
.menu li h3 .ico		{background-position:-240px 0}
.menu li.submenu		{padding:0}
.menu li.submenu li		{padding-left:24px;border-top:1px solid #fecd29;background:#faec03}
.menu > ul > li			{border-left:1px solid #ccc;border-right:1px solid #ccc}
.menu > ul:last-child > li:last-child{border-radius:0 0 4px 4px;border-bottom:1px solid #ccc}
.menu h3				{padding:8px 8px 8px 12px;background:#fecd29}
.menu h3 a				{color:#f80203}
.placeholder			{display:none}

/*form search*/
.search						{overflow:hidden}
.search	header label		{display:inline-block;position:relative;min-width:110px;padding:6px;text-align:center;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;cursor:pointer;background:-moz-linear-gradient(#e6e6e6 50%,#f3f3f3 51%);background:-webkit-linear-gradient(#e6e6e6 50%,#f3f3f3 51%)}
.search	header input		{display:none}
.search label.active		{font-weight:bold;border-color:#cb1402;color:#fff;background:-moz-linear-gradient(#e68a81 50%,#dd1702 51%);background:-webkit-linear-gradient(#e68a81 50%,#dd1702 51%)}
.search label.active:before{content:"";position:absolute;width:16px;height:16px;left:50%;bottom:-16px;margin-left:-8px;background:url(../img/sprites.png) -204px 0}
.search fieldset label em{display:block;font-weight:bold}
.search label sup,.search .flights .flexible i{display:none}
.search [type="text"]		{width:85%}
.search footer				{float:right;margin-top:16px}
.trip2 .ico					{margin-right:4px;background-position:-51px 0}
.trip2.active .ico			{background-position:-17px 0}
.trip1 .ico					{margin-right:4px;background-position:-34px 0}
.trip1.active .ico			{background-position:-68px 0}
.search .flights,.search .passengers,form.offer,form.news,.sort{border:1px solid #ccc;border-radius:4px;background:-moz-linear-gradient(#fff,#ddd);background:-webkit-linear-gradient(#fff,#ddd)}
.search .flights,.search .passengers{padding:16px}
.search .flights			{border-radius:0 4px 4px 4px}
.search .flights .ico		{display:none}
.search .flights i			{display:block;font-size:inherit;font-style:italic;color:#666}
.search .place button,.times button,.offer p button{width:24px;height:24px;position:relative;top:2px;border-radius:0 4px 4px 0;background:url(../img/sprites.png);cursor:pointer;}
.search .place				{float:left;width:48%;position:relative}
.search .place button,.offer p button{background-position:-25px -17px}
.search .times button		{background-position:0 -17px}
.search .times				{float:right;width:48%}
.search .flexible			{float:left;width:52%;clear:left}
.search .cabin				{float:left}
.search .cabin h3			{font-weight:bold}
.search .cabin p			{padding-bottom:0}
.search .cabin button		{padding:4px 6px;border:1px solid #999;cursor:pointer;background:-moz-linear-gradient(#fff,#ccc);background:-webkit-linear-gradient(#fff,#ccc)}
.search .cabin button:hover	{background:#ccc}
.search .cabin button.type-1{border-radius:4px 0 0 4px;background:#ccc}
.search .cabin button.type-2{border-left:0;border-right:0;margin:0 -4px}
.search .cabin button.type-3{border-radius:0 4px 4px 0}
.search .passengers			{float:left;width:48%;margin-top:16px}
.search .passengers p		{overflow:hidden}
.search .passengers h3		{padding:8px;margin:-16px -16px 8px -16px;border-radius:4px 4px 0 0;background:-moz-linear-gradient(#fff,#ddd);background:-webkit-linear-gradient(#fff,#ddd);color:#666}
.search .passengers label	{float:left;width:33%}
.search .passengers	i		{color:#999;font-weight:normal}
.search .passengers select	{width:75%}

/*camp*/
.camp .search footer	{margin:60px 0 0 0}

/*cscr*/
.csrc					{margin:0 24px}
.csrc header 			{padding:16px;border:1px solid #ccc;border-radius:4px;background:#f9f9f9}
.csrc header p			{padding-bottom:0}
.csrc output			{float:right}
.csrc article			{margin:16px 0}
.csrc h3 a				{font-weight:bold;text-decoration:none}
.csrc h4,.csrc article p{padding-left:16px;margin:8px 0}

/*faq*/
.faq					{margin-right:24px;margin-bottom:24px}
.faq nav				{margin:16px 0}
.faq nav .ico			{display:none}
.faq h3					{font-weight:bold}
.faq h3 .ico			{background-position:-187px 0;margin-right:-6px}

/*fedb*/
.fedb					{margin-right:24px;margin-bottom:24px}
.fedb > section			{overflow:hidden}
.fedb .type-1			{float:left;width:48%;padding-right:8px}
.fedb .type-2			{float:right;width:48%}
.fedb em				{display:block;font-weight:bold}
.fedb p > select 		{position:absolute;margin-top:16px;width:60px}
.fedb [name="phone"]	{margin-left:70px;width:79%}
.fedb [name="radio_2"]	{float:left;margin:-4px 2px 0 0}
.fedb [name="booking_ref"],.fedb [name="flight_number"]{margin-left:16px;width:95%}
.fedb fieldset fieldset p:last-child{margin-left:16px}
.fedb small				{display:block;color:#999}
.fedb > footer			{text-align:right}
.fedb [name="topic"],.fedb [name="name"],.fedb [name="lastname"],.fedb [name="email"],.fedb [name="country"]{width:99%}

/*home*/
.homebook					{margin-left:24px;margin-bottom:24px}
.homebook .passengers label em{height:36px}
.homebook .search footer	{margin:70px 35px 0 0}
.homenews					{position:relative;margin-right:24px;margin-bottom:24px}
.homenews > a,.homeoffer > a{position:absolute;top:50%;width:16px;height:16px;overflow:hidden;text-indent:-16px;background:url(../img/sprites.png)}
.homenews a.prev,.homeoffer a.prev{left:2px;background-position:-136px 0}
.homenews a.next,.homeoffer a.next{right:2px;background-position:-153px 0}
.homenews p					{margin:0 24px}
.homenews h2,.homebook h2,.homeoffer h2{padding:8px;border-radius:4px 4px 0 0;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;font-weight:bold;color:#fff}
.homenews > div,.homebook > div > form,.homeoffer > div{padding:16px;background:#f9f9f9;border-radius:0 0 4px 4px;border:1px solid #ccc}
.homeoffer					{position:relative;margin-right:24px;margin-bottom:24px}
.homeoffer > div			{overflow:hidden;padding:16px}
.homeoffer article			{float:left;width:33%;text-align:center}
.homeoffer .offers p		{padding-bottom:0}
.homeoffer .offers footer,.homebook > div > header{display:none}

/*news*/
form.news					{padding:16px;margin-right:24px}
form.news select			{width:15%;margin:0 8px}
form.news > p				{float:right}
form.news > p .ico			{background-position:-170px 0;margin-right:4px}
.news						{margin-right:24px}
.news article				{margin:16px 0}
.news article footer p		{margin-bottom:0}
.news h3					{margin-bottom:8px;font-weight:bold}
.news h3 time				{display:block}

/*offers*/
.offermain					{margin-right:24px}
.offermain .offers			{margin-top:16px}
.offermain .offers article	{overflow:hidden;margin:16px 0;padding:16px;background:#f9f9f9;border:1px solid #ccc;border-radius:4px}
.offermain article aside	{clear:both;position:relative;top:16px;margin-bottom:16px}
.offermain article p		{padding-bottom:0.5em}
.offermain .offers img		{float:left}
.offermain .offers div		{float:left;width:82%;margin-left:20px}
.offermain h3,.offers h4	{padding-bottom:0.5em}
.offers h3					{font-weight:bold}
.offers h4					{color:#999}
.offer						{padding:8px;margin-left:24px}
.offer p					{padding-bottom:0}
.offer em,form.offer h3		{font-weight:bold}
.offer h3					{text-indent:-8px}
.offer header				{margin:-8px -8px 8px -8px;padding:16px 8px}
.offer header label			{color:#fff}
.offer > label				{display:block}
.offer select				{width:100px}
.offer fieldset				{margin:8px}
.offer footer				{text-align:right}
.period p input				{width:70%;margin-left:16px}
.period [type="radio"]		{float:left;margin:-4px 2px 8px 0}
.period h4					{margin-top:6px}
.sort						{padding:16px}
.sort em					{margin-right:16px;font-weight:bold}
.sort select				{width:120px}
.sort output				{float:right;color:#666}

/*smap*/
.smap						{overflow:hidden;margin:0 24px}
.smap h2					{margin-bottom:16px;border-bottom:2px solid #ccc}
.smap h2 .ico				{display:none}
.smap h2 a					{border:0}
.smap article 				{margin-bottom:16px;margin-right:16px}
.smap.type-2 div			{float:left;width:50%}
.smap.type-3 div			{float:left;width:33%}
.smap.type-4 div			{float:left;width:25%}

/*time*/
.time						{margin-right:24px;margin-bottom:24px}
.time > aside				{position:relative;top:-48px;margin-left:16px}
.time form.search footer	{margin:-56px 24px 0 0}
.time .flights				{padding-bottom:48px}
.time .search [type="text"]	{width:91%}
.time caption				{padding:8px 0}
.time h2,.time h3			{width:50%;margin:0 auto;color:#fff;text-align:center}
.time h2 em,.time h3 time,.time thead td{font-weight:bold}
.time thead td.day			{font-weight:normal;width:36px;text-transform:uppercase;background:-moz-linear-gradient(#fff,#ccc);background:-webkit-linear-gradient(#fff,#ccc)}
.time thead b				{font-weight:normal;display:block}	
.time td,.time th			{padding:8px 2px;border:1px solid #ccc;text-align:center}
.time tbody td.day			{border-left-style:dotted;border-right-style:dotted;color:#ccc}
.time td.inactive			{background:#f9f9f9}
.time + footer				{margin-top:32px;text-align:right;border-radius:4px}
.time + footer p			{padding:16px 16px 16px 0;color:#fff}
.time nav					{padding:0 8px}
.time nav a					{padding:6px;margin-top:-32px;text-decoration:none}
.time a.prev				{float:left;padding-left:18px;background-position:left -98px}
.time a.next				{float:right;padding-right:18px;background-position:right -65px}
.time .arrival				{border-right-width:2px}
.time .duration				{border-left-width:2px}
.flight .ico				{display:none}
.transfer em				{color:#f00}
.time .day .ico				{background-position:-102px 0}
.time .day.active			{background:-moz-linear-gradient(#f80203,#d61419);background:-webkit-linear-gradient(#f80203,#d61419)}
.time .day.active .ico		{background-position:-119px 0}

/*flif*/
.flif						{width:640px}
.flif h1 .ico				{display:none}
.flif table					{width:auto;margin:0 0 0 0.7em}
.flif li					{overflow:hidden}
.flif li b					{float:left;width:30%}
.flif td,.flif th			{padding:4px;border:1px solid #ccc;text-align:center}
.flif th					{background:#eee}

/*datepicker*/
.ui-datepicker-header,.ui-state-highlight,.ui-widget-content .ui-state-default.ui-state-highlight{background:#f80203;color:#fff}
.ui-datepicker-header{font:11px Verdana, Geneva, sans-serif;padding:5px;text-align:center;border:1px solid #fff}
.ui-datepicker-prev{float:left}
.ui-datepicker-next{float:right}
.ui-datepicker-calendar td{border:1px solid #fff;padding:5px;background:#eee}
.ui-datepicker-calendar thead th{border:1px solid #fff;padding:5px;background:#ddd}
.ui-datepicker-calendar .ui-datepicker-today{background:#f80203}
.ui-state-default ui-state-active{}
.ui-datepicker .ui-datepicker-title span{}

/*mockups hacks*/
#mockup-panel .mockup-skin{display:none}
.ui-datepicker{display:none}