.ico.payment {
	width: 215px;
}

.details.mark td {
	border-bottom: 1px solid #003070;
}

button.selected:hover {
	color: #666;
}

.atc_nobt {
	border-top:0;
}

.warn {
	border:1px solid #bb171e;
}

button.warn:hover {
	border:1px solid #ccc;
}

.atc-box-bt .boxw1 {
	background: none repeat scroll 0 0 #FFF;
    border-left: medium none;
    border-radius: 0 0 0 0;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 50%;
    z-index: 10;
}

.atc-box-bt fieldset.caption {
	padding-top: 0;
	position: relative;
	top:-1px;	
}

.atc-box-bt legend {
	padding-top: 16px;
	width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.atc-box-bt fieldset.caption {
		top:-2px;
	}
}

.disabled,
.disabled .boxw {
	background: #ebece6;
}

.disabled p,
.disabled h2,
.disabled b {
	opacity: 0.5;
}

.disabled .em {
	color: #7b7b73 !important;
}

.disabled a, .disabled a:hover {
	cursor: default;
	text-decoration: underline;
}

.disabled .fl small {
	opacity: 0.5;
}

.disabled > div:last-child p {
	background: #fff;
	border-color: #ff9600;
	color: #000;
	opacity: 1;
}

.ico.warning2 {
	background-position: 0 -215px;
	height: 19px;
	margin-bottom: -4px;
	opacity: 1;
	width: 20px;
}

.ico.info2 {
	background-position: 0 -237px;
	height: 25px;
	width: 25px;
}

.ico.info3 {
	background-position: -13px -182px;
	height: 15px;
	margin-bottom: -3px;
	width: 15px;
}

.boxnb {
	background: #e7e7e7;
	border:0;
}

.atc_boxg {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
}

.atc_boxp {
	padding: 8px;
}

.atc_boxp:first-child {
	background-color: #f5f5f5;
}

.h4verd {
	font:bold 14px/28px verdana,helvetica,sans-serif;
}

.captioninfo {
	padding: 0;
}

.captioninfo div {
	padding: 4px;
}

.captioninfo > b {
	padding: 4px;
	vertical-align: middle;
}

.atc_grid6 {
	width: 215px;
}
	
#searchPaneInfo .minus2.fl {
	margin: 3px 3px 0 0;
}