﻿@font-face 				{font-family:'rotis';src:url('../font/rotis13.eot?#iefix') format('embedded-opentype')}
body					{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6',endColorstr='#e5e5e5',GradientType=0);
					 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6',endColorstr='#e5e5e5',GradientType=0)";/*background:#ddd*/}
body.default			{filter:none;-ms-filter:none;background:none}					 
/*:root .price article:nth-child(2) {margin:0 1px\0/IE9; } IE9+IE10pp4*/
.teaser li				{font-family:Arial Unicode MS}
/*.column .boxl*/
.caption,.lowest		{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
				 		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)";}
thead tr.caption td {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)";
}

thead tr.caption th {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)";
}

table.cald .selected {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8242D',endColorstr='#800407',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8242D',endColorstr='#800407',GradientType=0)";
}

table.cald .caption2 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b8787',endColorstr='#c8c8c8',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b8787',endColorstr='#c8c8c8',GradientType=0)";
}

.popin-ie li {
	display: inline;
	zoom: 1;
}

.popin-ie a {
	min-height: 43px;
}

.popin-ie a span {
	cursor: pointer;
}

header .button:hover {
	-pie-background:linear-gradient(#f9f9f9 50%,#dedede 51%, #f3f3f3 100%);
} 