header.main p.fr		{margin:0 60px 0 0}
header.main h5			{display:block;width:100%;white-space:nowrap}
aside.main        		{width:230px}
.teaser					{background-image:none}
.ico {
	display: inline;
	zoom: 1;
}

.ico.dates {
	float: none;
}

header.caption4 {
	zoom: 1;
}

.main p.wrap {
	margin-bottom: 7px;
	width: 100%;
}
/*
button.main .ico {	
	position: static;
}

footer.caption4 {
	top: 8px;
}
*/

dd.h5 {
	float: right;
}

.cell {
	display: block;
	float: left;
}


.popin-ie {
	background: #bf1b22;
	margin: 0 auto;
	padding: 3px 0;
	width: 876px;
}

.popin-ie h1 {
	border-bottom: 1px solid #eb474f;
	color: #fff;
	font: normal 18px/1.1em arial;
	margin: 0 0 15px 0;
	padding: 10px 0 10px 20px;
}

.popin-ie p {
	color: #fff;
	font: normal 14px/1.1em arial;
	padding: 0 20px 20px 20px;
}

.popin-ie ul {
	background: #fff;
	color: #eb474f;
	margin: 0 3px;
}

.popin-ie li {
	display: inline-block;
	margin: 7px 50px;
}

.popin-ie a {
	color: #bf1b22;
	display: block;
	font: normal 14px/1.1em arial;
}

.popin-ie a:hover {
	text-decoration: none;
}

.popin-ie .ico {
	background-image: url(../img/ie6_popin.png);
	color: #bf1b22;
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

.popin-ie .ff-browser {
	background-position: 0 0; 
	height: 41px;
	width: 40px;
}

.popin-ie .chrome-browser {
	background-position: -42px 0; 
	height: 41px;
	width: 44px;
}

.popin-ie .safari-browser {
	background-position: -87px 0; 
	height: 42px;
	width: 38px;
}

.popin-ie .ie-browser {
	background-position: -128px 0; 
	height: 41px;
	width: 42px;
}

.popin-ie li {
	display: inline;
	zoom: 1;
}

.popin-ie a {
	display: inline;
	zoom: 1;
}

.popin-ie a span {
	cursor: pointer;
}