button small			{position:absolute;left:1px}
.menu					{z-index:2}
.menu ul 				{left:0;top:30px;}
.bound .details.mark .slope{margin:0}
body#co_cald,
body#od_cald,
body#it_cald,
body#rd_cald {
	filter: none;
}

div.main {
	margin: 0;
	padding: 0 0 20px 20px;
}

.ico {
	display: inline;
	zoom: 1;
}

.ico.dates {
	float: none;
	position: relative;
}

.ico.slope{
	bottom:-3px;
	left:-5px;
	position:relative;
	zoom:1;
	z-index: 1000;
}

.gray2.ico {
	margin-top: -16px;
} 


aside.main .gray2.ico {
	margin-top: -16px;
} 

button.main .ico {	
	position: static;
}

.main p.wrap {
	margin-bottom: 7px;
}

.main fieldset p.wrap {
	margin-bottom: 2px;
}

table.cald {
	margin-bottom: 8px;
}

.cell {
	display: block;
	float: left;
}

.cell:first-child {
	padding-top: 10px;
}
 
.main .f3 {
	border-top: 1px solid #003070;
}

.column aside.fl {
	padding-bottom: 8px;
} 

output.boxg,	
.details.mark .slope,
.list ul,
.list2 li,
figure.grid4,
small {
	display: inline;
	zoom: 1;
}

.details.mark .slope {
	border-top: none;
}

table .leftF {
	border-left-color: #fff;
}

dd.h5 {
	float: right;
}

#totalOpened a.toggle {
	clear: both;
}
/* @arrow price */

section.caption.list {
	height: auto !important;
	overflow: visible !important;
}

section.list .fl {position: static;}

section.list div.fl {padding-bottom:5px;}

section.list.caption > h2:first-child {margin-bottom: 5px}

section.caption.list ul{
	height:35px;
	width: 70px;
	float: left;
	margin-top: 0;
	position: relative !important;
	overflow: visible !important;
}

section.list .ico.slope {
	left:35px;
	top:-3px;
	z-index: 100;
	overflow: visible;
	position: absolute !important;
	display: block
}

table.bound {
	margin-top: 10px !important;
}
/* @end arrow price */

.menu {
	z-index: 1000;
}

.list {
	height: auto;
}

.list li {
	position: relative;
	z-index: 100;
	zoom: 1
}


.list.caption ul {
	width: auto;
	float: left;
	display: block;
	margin: 4px 0 4px 10px;
}

.list.caption ul + ul {
	margin: 0 0 0 10px;
}

.f1, .f2 {
	width: 55px;
}

.atc-box-bt legend {
	margin-left: -7px;
	padding-left: 8px;
	width: 650px;
}

.atc-box-bt legend.caption {
	margin-left: -7px;
	padding-left: 8px;
	width: 650px;
}

#atc_srch legend.fl {
	border: 0;
	clear: both;
	float: none;
	width: 100%;
}

.atc-box-bt fieldset.caption {
	position: relative;
	top: -1px;
}

.boxnb  small.info {
	float: left;
}

.disabled .warning {
	margin-right: 5px;
}

article,header,section,footer,div.fr, div.wrap,p.tr,p.small,.caption,button,figure,.list div.caption   {
 	zoom: 1;
}

header,article,section,aside {
	margin: 0;
}

h3.caption4,
header.caption4,
article.caption4,
aside.caption4,
footer.caption4,
section.caption4,
footer.caption4  {
	behavior:none;
	zoom: 1
}


.caption4 {
	clear: both;
	display: block;
}

.caption4 {
	zoom: 1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005599',endColorstr='#0099cc',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#005599',endColorstr='#0099cc',GradientType=0)"
}

.captioninfo > b {
	float: left;
}

header.main a:first-child {
	float: left;
}

.bound small.op {
	margin-top: 20px
}

.boxg	{	
	behavior:none !important;
	zoom:1;
}

.nav a:last-child {
	width: 200px;
}

.nav a:first-child:before	{
	behavior:url(pie.htc);
	content:"";
	position:absolute;
	left:0;
	width:16px;
	height:35px;
	border-radius:0 0 16px 0;
	top: 0;
	z-index: 100 !important;
}
.nav a.unselect {
	border-radius:0;
}

.nav a.unselect:hover {
	-pie-background:linear-gradient(#f2f2f2,#cacaca)
}


#atci article .boxg button,
#bkgd article .boxg button,
#conf article .boxg button,
#purf article .boxg button {
	width: 120px;
}

button.right:after,button.right:before {
	left: -12px;
	top: 0;
}

button.left:after {
	right: -11px;
	top: 0;
}

#atc_cald div.wrap div.fr {
	text-align: right;
}

label.caption {
	behavior:url(pie.htc);
	filter: none;
	-pie-background:linear-gradient(#ffffff,#dddddd);	
}

aside.fl .family {
	min-width: 42px;
}

aside.fl .family {
	min-width: 42px;
}

h2.caption {
	-pie-background:linear-gradient(#ffffff,#dddddd);	
	behavior:url(pie.htc);
	filter: none;	
}

#totalOpened p.tr {
	clear: both;
}

#avai table.bound button {
	width: 120px
}

li.boxg {
	behavior:url(pie.htc);
	margin-left: 5px;
}

li.boxg.middle {
	behavior:none;
}

#rd_upsl th button {
	width: 120px
}

aside.menu button {
	margin-left: 10px;
}

div.caption ul {
	display: block;
	float: left;
	height: 43px;
	width: 72px;
}

div.caption ul .ico.slope{
	left: 36px;
	top: -8px;
}

dd.h4verd {
	float: right;
}

#alpi fieldset > legend, 
#pnrs fieldset > legend, 
#wds_srch fieldset > legend {
	display: block;
	margin-left: -7px;
	width: 650px;
}

.bound small.op {
	display: block;
	margin-left:-220px;
	width: 220px
}

#wds_srch section.list{
	height: auto;
	padding-bottom: 30px;
}

#onlineSearchButton, #manageBookingButton, #onlineCheckinButton {
	display: block;
	height: 32px;
	margin-bottom: 20px;
}

#onlineSearchButton .ico.slope, #manageBookingButton .ico.slope, #onlineCheckinButton .ico.slope {
	left: 50px;
	top: -9px;
}

fieldset.form1.caption {
	behavior: url(pie.htc);
	padding-top: 15px;
	bottom: 10px;
	position: relative;
	zoom: 1;
}

fieldset.form1.caption legend {
	margin: 10px 0;
	zoom: 1;
}

table .rightF {
	border-right-color: #fff !important;
	border-left-color: #fff !important;
	zoom: 1;
}

table .rightF:first-child {
	border-left-color: #ccc !important;
}

aside.main nav .caption {
	behavior:url(pie.htc);
	filter: none;
	-pie-background:linear-gradient(#ffffff,#dddddd);
}

aside.main nav .caption:hover {
	-pie-background:#ffffff;
}

aside.main nav {
	margin: 0 !important;
	padding: 0 !important;
}

tbody tr.caption td,tfoot tr.caption td  {
	border-top: 1px solid #ccc;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)";
}

article li {
	margin-left: 0 !important;
}

.bound th.em1 {
	border-left-color: #fff;
}

.list .unselect {
	behavior: none;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0) !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)" !important;
	border-color: #999 !important;
}

#bkgd #menuShare, #bkgd #menuShare {
	left: 230px;
	top: 20px
}

.details.dotted td.right, .details.mark td:nth-child(2) {
	border-left: 0;
}

.details.dotted td.first {
	border-left: 1px solid #ccc !important;
}

.details.dotted td {
	border-bottom-width:0;
}


.fl.icoa.select {
	float: none;
}

fieldset .fl.icoa.select {
	float: left;
}

.vcp .warning.w4 {
	width: 480px;
}

.list ul {
	margin: 4px !important;
}

.formadv {
	width: 300px
}

legend output.fr {
	position: absolute;
	right: 10px;
}

button {
	margin: 0;
	padding:0;
	position: relative !important;
}

aside figure.tc {
	margin-bottom: 20px;
}

.ico.warn b {
	background: #FF9600 !important;
	opacity: 1 !important;
}