body#co_cald,
body#od_cald,
body#it_cald,
body#rd_cald {
	filter: none;
}

article,header,h4,h3.caption,.nav,section {
	margin-top: 0 !important; 
	margin-bottom: 0 !important; 
}

article.hr,header.hr,h4.hr,h3.hr,nav.hr,section.hr {
	margin-top: 20px !important; 
}

article.br,header.br,h4.br,h3.br,nav.br,section.br {
	margin-top: 8px !important; 
}

#pnrs fieldset.grid20 legend {
	margin-top: -4px
}

.nav a:last-child {
	overflow: hidden;
}

.nav.first-element {
	text-align: left;
} 

.nav a.unselect	{
	border-radius:0;
}

.nav .first.caption2:before	{
	background-position: 0 0;
}

header.caption4{
	-pie-background: url(../img/sprites_bg.png) no-repeat, linear-gradient(#005599, #0099CC); /*PIE*/
}

.cald td, .cald th {
	border-left: 1px solid #999 !important;
}


header,article,section,aside {
	margin: 0;
}

tbody tr.caption td,
tfoot tr.caption td  {
	border-top: 1px solid #ccc !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0)";
}

aside.main nav {
	margin: 0 !important;
	padding: 0 !important;
}

aside.main nav .caption:hover {
	background:#ffffff;
	filter: none	
}

.vcp .warning.w4 {
	width: 595px
}

.ico {
	vertical-align: top;
}

.ico.minus2,
.ico.plus2 {
	vertical-align: middle;
	margin: 0;
	position: relative;
}

