section.main,div.main.wrap,header.main,button.main.left,button.main.right{behavior:url(pie.htc)}
article,.boxg,.atc_boxg,.input	{behavior:url(pie.htc);position:relative}
button,.button			{behavior:url(pie.htc);-pie-background:linear-gradient(#f9f9f9 50%,#dedede 51%, #f3f3f3 100%);position:relative}
button:hover,.button:hover {-pie-background: #fff;}	
.caption4  				{behavior:url(pie.htc);-pie-background:linear-gradient(#005599,#0099cc);position:relative;}
.unselect				{border-radius:4px;behavior:url(pie.htc);-pie-background:linear-gradient(#ffffff,#dddddd)}
.nav a.unselect     	{border-radius:4px;behavior:url(pie.htc);-pie-background:linear-gradient(#f2f2f2,#cacaca)}
.nav a.unselect:hover	{behavior:url(pie.htc);-pie-background:linear-gradient(#f1f1f1,#ffffff)}
.nav a.last:after		{display:none}	


.caption2     			{behavior:url(pie.htc);-pie-background:linear-gradient(#8b8787,#c8c8c8)}
.selected,button.main 	{behavior:url(pie.htc);-pie-background:linear-gradient(#d8242d,#800407)}
button.main:hover		{behavior:url(pie.htc);-pie-background:linear-gradient(#800407,#d8242d)}

.info.boxw.em3 {
	behavior:url(pie.htc);
	position: relative;
}
.boxg.caption {
	filter: none;
	-pie-background:linear-gradient(#ffffff,#dddddd);
}

.list ul {
	behavior:url(pie.htc);
	filter: none;
	-pie-background:linear-gradient(#ffffff,#dddddd);
}

.list .selected {
	-pie-background:linear-gradient(#d8242d,#800407);
}

.ico.warning {behavior:url(pie.htc);position: relative;}
