*
{
	font-family:Arial, Helvetica, sans-serif !important;color:#000 !important;background:#fff !important;
	border:none !important;border-radius:0 !important;box-shadow:none !important;
}
.fl,.fr									{float:none;display:table-cell}
dt.fl									{float:left}
header.caption4,aside.main h3.caption4	{border-bottom:2px solid #000 !important}
header.main								{height:120px}
article.column aside.fl					{width:100px;border-right:20px solid #fff}
footer.home nav,footer.caption4,aside.main section button,aside.main nav,aside.boxg.middle,#loginDiv{display:none}
header.main h5, nav.nav, aside.menu, #panel, article p.boxg.middle, #bkgd h3.caption4:nth-of-type(2), #bkgd .tr button, #bkgd button.fr{display:none}
h3.caption4:first-of-type, aside.main article:first-of-type, header small.ico, dd small.ico, .ico.sign, .ico.gray1, .ico.gray2{display:none}
#bkgd div.main header.caption4:nth-last-of-type(1),#bkgd div.main header.caption4:nth-last-of-type(2),#bkgd article.teaser{display:none}
table.default td, table.default th		{padding:4px}

/*#conf div.main header.caption4:nth-of-type(5)	{page-break-before:always}*/