body	 {background:#DDDDDD;margin:12px 0px 0px 0px;}
a		 {text-decoration:none;color:#999999;}
a:hover	 {color:#F98800;}

td		 	  {font:13px Arial, Helvetica, sans-serif;color:#999999;vertical-align:top;}
input,textarea{border:1px solid #CCCCCC;font:11px Arial, Helvetica, sans-serif;display:block;}
#espacio div  {margin-bottom:5px;}

h2		 {font-size:13px;font-weight:normal;color:#F98800;margin:0px;}
h3		 {font-size:13px;font-weight:normal;margin:0px;padding:4px 0px 4px 0px;}
h4		 {font-size:1px;margin:0px;padding:0px;border-bottom:1px solid #DDDDDD;background:#DDDDDD;}
h4 img	 {border:1px solid #FFFFFF;}

#tcentral {width:790px;height:500px;border:1px solid #F98800;background:#FFFFFF;}
#ttop	  {padding-bottom:20px;border-bottom:1px solid #DDDDDD;height:50px;}
#tmid1 	  {width:370px;height:390px;}
#tmid2	  {width:350px;height:390px;}

#tmid1 div{position:absolute;visibility:hidden;width:350px;}
#tmid2 div{position:absolute;visibility:hidden;width:350px;}

#equipo2    {margin-top:40px;padding:5px 0px 5px 0px;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;text-align:justify;}
#equipo2 p  {margin:11px 0px 11px 0px;}
#galeria    {text-align:center;}
#contacta p	{text-align:right;padding-right:15px;}

.piepag {font:11px Arial, Helvetica, sans-serif;color:#999999;text-align:center;margin-top:4px;}
#mini	{border-top:1px solid #F98800;height:25px;}

