.left				{width:335px}
.green li		 	{margin-bottom:20px;opacity:0}
.lime 				{top:657px;left:130px;background:#bacb31;color:#fff;-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.6)}
.graph				{width:411px;height:220px;background-size:411px 220px}
.popup .graph		{width:900px;height:481px;background-size:900px 481px;float:none;margin:30px 0 0 -40px}
.mask				{width:140px;height:220px;background:#000;position:absolute;top:0;left:0;opacity:.6}
.mask,.green li		{-webkit-transition:opacity 500ms}
a.graph .m2			{left:139px}
a.graph .m3			{width:132px;left:278px}
.popup .mask		{width:304px;height:481px}
.popup .mask.m2		{width:306px;left:304px}
.popup .mask.m3		{width:290px;left:610px}
.main.start .mask	{opacity:0}
.main.start li		{opacity:1}
.main.start .m1		{-webkit-transition-delay:1000ms}
.main.start .m2		{-webkit-transition-delay:3000ms}
.main.start .m3		{-webkit-transition-delay:5000ms}