/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved. Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html version: 3.2.0 build: 2676
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
input,textarea,select	{font-family:inherit;font-size:inherit;font-weight:inherit}
h1,h2,h3,h4,h5,h6		{font-size:100%;font-weight:normal}
table 					{border-collapse:collapse;border-spacing:0}
fieldset,img 			{border:0}
caption,th 				{text-align:left}
/*
li 						{list-style:none}
input,textarea,select	{*font-size:100%}
q:before,q:after		{content:''}
abbr,acronym			{border:0;font-variant:normal}
sup						{vertical-align:text-top}
sub						{vertical-align:text-bottom}
*/
@font-face 			{font-family:'chopinscript';font-weight:normal;font-style:normal;
					src:url('img/fonts/chopinscript-webfont.eot');src:url('img/fonts/chopinscript-webfont.eot?#iefix') format('embedded-opentype'),
  						url('img/fonts/chopinscript-webfont.ttf') format('truetype'),url('img/fonts/chopinscript-webfont.svg#ChopinScriptMedium') format('svg')}

h1					{font:60px/90px chopinscript,Arial, Helvetica, sans-serif;color:#ff6}
h2					{font:20px/30px Arial, Helvetica, sans-serif;color:#666;margin:0 0 15px 0}
div,p,legend,label,input,textarea	{font:13px/21px Arial, Helvetica, sans-serif;color:#fff;text-align:justify}
body				{background:url(img/background.png) no-repeat center 300px #000}
a					{color:#fff;text-decoration:none;outline:none}
p					{padding:10px 0;overflow:}
form				{overflow:hidden}
fieldset			{float:right;position:relative;padding:0 20px;border-left:1px solid #fff}
legend				{position:absolute;left:-220px}
label em			{display:inline-block;width:90px;vertical-align:top}
input,textarea		{width:260px;padding:5px;border:0;background:#000;box-shadow:1px 1px 6px #999}
input[type="submit"]{float:right;width:100px;font-weight:bold}
small				{font-size:12px}

.box				{position:relative}
.wrap				{overflow:hidden}
.floatl				{float:left}
.txtc				{text-align:center}
.txtl				{text-align:left}
.txtr				{text-align:right}
.main				{padding:20px}
.glow				{font-size:16px;text-shadow:0 2px 2px #fff}
a.glow				{letter-spacing:-1px}
a.glow:hover		{text-shadow:0 4px 12px #fff,0 -4px 12px #fff}
.none				{display:none}
.block				{display:block}

.banner				{width:800px;height:337px;border-bottom:1px solid #fff;background:url(img/section.png)}
.banner.b1			{background-position:0 0}
.banner.b2			{background-position:0 -338px}
.banner.b3			{background-position:0 -676px}
.banner.b4			{background-position:0 -20px;height:300px}
.section			{width:800px;margin:30px auto}
.gradient			{opacity:.8;background:-moz-linear-gradient(#000,#222);-webkit-linear-gradient(#000,#222);box-shadow:4px 0 18px #333,-4px 0 18px #333}
.top				{padding:10px 0}
.top a				{position:relative}
.top span			{background:#000;padding:35px 50px 0 50px;position:relative;z-index:3}
.top a small		{width:90px;height:90px;position:absolute;top:-38px;left:50%;margin:0 0 0 -45px;z-index:2;background:-moz-radial-gradient(center 45deg, circle closest-side, #ccc 0%, #000 100%);-webkit-radial-gradient(center 45deg, circle closest-side, #ccc 0%, #000 100%)}
				
.bottom				{border-top:1px solid #fff}
.pic_gallery		{width:440px;height:240px;margin:0 20px 20px 0}
.pic_product		{width:330px;height:360px;margin:0 20px 20px 0}
p.scroll			{height:205px;padding:0 20px 0 0;overflow:auto}

#slide				{position:relative;width:100%;height:70px;overflow:hidden}
#slide div			{position:absolute}
#slide div img		{position:absolute;width:80px;height:60px;border:3px solid #fff;cursor:pointer}
#slide div img:hover{border:3px solid #ff6}
#slide_left			{position:absolute;font-size:48px;top:20px;left:-20px}
#slide_right		{position:absolute;font-size:48px;top:20px;right:-20px}