/*
darkblue 	-> #4b566c
yellow		-> #f9ee1c
black
gray dark	-> #2d2d2d
gray		-> #bfbfbf,666
gray light	-> #e7ebef,e0e0e0
white
red error	-> #c61b1b
green ok	-> #508600
*/

a							{text-decoration:none}
em							{color:#f9ee1c}
.gray						{color:#666}

/*topmenu y bottommenu*/
.menu						{height:40px;background:#2d2d2d;color:#bfbfbf}
.menu li					{float:left;position:relative;padding:12px 18px;border-left:1px solid #000;cursor:pointer}
.menu li:hover				{background:#4b566c;color:#fff}
.menu li:hover div			{visibility:visible}
.menu input					{margin:-5px 0} /*bad thing*/
.submenu					{background:#4b566c;padding:20px 0;margin:12px 0;position:absolute;left:0;display:table;visibility:hidden}
.submenu div				{display:table-cell;padding:0 20px}
.submenu a					{display:block;line-height:1.5em;white-space:nowrap;color:#fff}


/*table*/
table						{width:100%;margin:20px 0;-moz-border-radius:8px;background:#e0e0e0;border:1px solid #bfbfbf}
thead,tfoot					{font-weight:bold;color:#4b566c}
td							{padding:8px}
tbody tr:nth-child(2n+1) td {border-top:1px solid #bfbfbf;background:#e7ebef} 
tbody tr:nth-child(2n) td  	{border-top:1px solid #bfbfbf;background:#fff}
tbody tr:hover td			{background:#ffc}
/*
not possible border-radius and gradient in tables at the same time?
thead td					{background:-moz-linear-gradient(center bottom,#e0e0e0 0%,#efefef 100%)}
tfoot td					{background:-moz-linear-gradient(center top,#e0e0e0 0%,#efefef 100%)}
*/


/*form*/
form					{margin:20px 0;}
fieldset div			{padding:10px 0;overflow:hidden}
fieldset div i			{width:30%;float:right;padding:5px;background:#e7ebef;border:1px solid #bfbfbf;}
fieldset div i:empty	{display:none}
fieldset.big			{margin:20px 0;}
fieldset.small			{width:65%;float:left;}
fieldset.small label	{margin:10px;}
fieldset.small select	{width:32%;}

legend					{font-weight:bold;color:#4b566c;font-size:32px;}
label					{font-weight:bold;color:#4b566c;display:block}
select					{border:1px solid #bfbfbf;-moz-border-radius:4px;padding:4px;width:66%}
textarea				{border:1px solid #bfbfbf;-moz-border-radius:4px;padding:4px;width:65%}
input[type="text"]		{border:1px solid #bfbfbf;-moz-border-radius:4px;padding:4px;width:65%}
/*
input[type="file"]		{border:1px solid #bfbfbf;-moz-border-radius:4px;padding:4px;width:65%;}
*/
input[type="radio"]		{margin:0 10px 0 0}
input[type="checkbox"]	{margin:0 10px 0 0}

.ok i, .ok label				{color:#508600}
.ok i, .ok input[type="text"]	{border:1px solid #508600}
.ko i, .ko label				{color:#c61b1b}
.ko i, .ko input[type="text"]	{border:1px solid #c61b1b}
