/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/

body 					{font:13px/1.231 arial,helvetica,clean,sans-serif;/* for IE6/7 */ *font-size:small;/* for IE Quirks Mode */ *font:x-small;}
select,input,button,textarea,button {font:99% arial,helvetica,clean,sans-serif;}
table 					{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt 	{font-family:monospace;*font-size:108%;line-height:100%;}

h1,.h1 		{font-size:196%;font-weight:bold;color:#4b566c;}
h2,.h2 		{font-size:167%;font-weight:400;color:#4b566c;}
h3,.h3 		{font-size:146.5%;font-weight:400;color:#4b566c;}
h4,.h4 		{font-size:123.1%;font-weight:400;color:#4b566c;}
h5,.h5 		{font-size:108%;font-weight:700;;color:#4b566c;}
h6,.h6 		{font-size:108%;font-weight:400;color:#4b566c;}
/*
.category 	{font-size:108%;font-weight:400;font-style:normal;text-transform:uppercase;color:#333;}
.category a {color:#333;}
*/
