.family.fam-1	{background:#f00;color:#fff}
.family.fam-2	{background:#ff0;color:#000}
.family.fam-3	{background:#00f;color:#fff}
.family.fam-4	{background:#0ff;color:#fff}
.family.fam-5	{background:#f0f;color:#fff}
.family.fam-6	{background:#0f0;color:#fff}

.textfam-1		{color:#f00}
.textfam-2		{color:#ff0}
.textfam-3		{color:#00f}
.textfam-4		{color:#0ff}
.textfam-5		{color:#f0f}
.textfam-6		{color:#0f0}