/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,select,textarea,p,th,td,img,figure,hr{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0;width:100%}caption,strong,em,th,var,code,abbr,address,cite,dfn{font-style:inherit;font-weight:inherit}caption,th{text-align:left}
button::-moz-focus-inner{margin:0;padding:0;border:0;outline:0}

/*css normalize*/
h1,h2,h3,h4,h5,h6,nav,p,blockquote,li,dt,dd,caption,td,th,form,fieldset,textarea,select,option,input,button,address{font-family:sans-serif;font-size:12px;line-height:1.5em;font-weight:normal;color:#333}
input[type="checkbox"],input[type="radio"]{position:relative;top:0.5em;border:0}
input,select,textarea	{border:1px solid #999}
input					{height:1.5em}/*border make higher,use box-sizing*/
select					{height:1.7em}
textarea				{width:48%}
ol,ul					{list-style:none}
li						{padding-left:1em}
a						{color:#039}
p,h1					{padding-bottom:1em}
sup						{position:absolute}
button					{padding:0 0.5em;background:#039;color:#fff}
[maxlength="2"]			{width:2em}
[maxlength="4"]			{width:4em}

/*css generic*/
.column2l div.main,.column2r div.main{width:75%}	
.column2l div.main,.column2r aside.main,div.side,aside.side{float:right}
.column2l aside.main,.column2r div.main,.column2 div.main,.column3 aside.main,.column3 div.main{float:left}
.column2 div.main,.column2 div.side{width:49%}
.column3 div.main			{width:50%;margin-left:2%}
aside.main,aside.side		{width:23%}
.main,footer.side,body > .placeholder{width:980px;margin:0 auto}
.none						{display:none}
header.main					{position:relative;height:6em;background:#f9f9f9}
header.main .login			{float:right;width:23%;background:#ddd}
header.main aside			{position:absolute;right:0;bottom:0}
p.langs						{float:right;margin-left:1em}
nav.top						{text-align:right}
nav.side					{margin-top:1em;clear:left}
nav.side > ul				{}
nav.side > ul > li			{position:relative;float:left;padding:0.5em 1em}
nav.side .sub				{display:none;position:absolute}
nav.side li:hover .sub		{display:block}
nav.side .sub li			{background:#039}
nav.side .sub li a			{color:#fff}
form.search-site			{padding:1em;text-align:right}
form.search-site fieldset	{float:right}
form.login fieldset			{overflow:hidden}
form.login label			{float:left;margin-right:1em}
form.login label em			{display:block}
form.login input			{width:6em}
form.login button			{margin-top:1.5em}
section.login p				{float:right}
section.login li b			{display:inline-block;width:6em}
nav.main					{margin-top:1em;margin-bottom:1em;background:#eee}
nav.main a,nav.main	em		{display:inline-block;padding:1em}
nav.main em.active			{background:#039;color:#fff}
footer.main					{background:#f9f9f9}
footer.main .social			{overflow:hidden}
footer.main .social li		{float:right}
section.main				{overflow:hidden;margin-bottom:1em}

/*css common*/
.ico						{display:inline-block;width:16px;height:16px;vertical-align:middle;background:url(../img/sprites.png)}
a.logo						{float:left;margin:1em}
.week						{overflow:hidden}
.week a.prev				{float:left}
.week a.next				{float:right}
.pagination					{margin-top:1em;text-align:center}
.continue					{margin-top:1em;padding:1em 1em 0 1em;text-align:right;background:#ddd}
.continue p					{color:#fff}
.continue p:first-child		{float:left}
.legend						{margin-top:1em;background:#f9f9f9}
.legend li					{display:inline-block}
.error						{} /*genr*/
fieldset .error				{border:1px solid #f00}
.warning					{}
.placeholder				{background:#099}

/*form search*/
.search						{overflow:hidden}
.search fieldset em			{display:block}
.search label sup			{color:#f00}
.search label.active		{}
.search [type="text"]		{width:50%}
.search footer				{float:right;width:48%;text-align:center}
.search	i					{color:#999}
.search .place				{float:left;width:50%}
.search .flights i			{display:block}
.search .flexible			{float:left;width:50%;clear:left}
.search .flexible i			{margin-left:1em}
.search .passengers			{float:left;width:48%;margin-top:1em}
.search .passengers p		{overflow:hidden}
.search .passengers label	{float:left;width:33%}

/************************************************POPINS************************************************/

.popin > section			{width:640px}

/*lang*/
.lang > div					{overflow:hidden}
.lang ul					{float:left}
.lang ul a					{display:block;margin-left:16px}

/*apts*/
.popin > .apts				{width:320px}
.apts h3					{padding:0.25em;background:#039;color:#fff}
.apts .country ul			{height:96px;overflow:auto}
.apts li					{border-bottom:1px solid #ccc;background:#f9f9f9;cursor:pointer}
.apts .active				{background:#ddd;font-weight:bold}

/*flif*/
.flif table					{width:auto;margin:0 0 0 0.7em}
.flif li					{overflow:hidden}
.flif li > b				{float:left;width:25%}
.flif td,.flif th			{border:1px solid #ccc;text-align:center}
.flif th					{background:#eee}

/*babr*/
.babr > div					{padding:0 8em}
.babr thead td				{background:#eee}
.babr td					{padding:0.25em;border:1px solid #ccc;text-align:center}

/*mods*/
.mods > div					{padding:1em}

/*seat*/
.popin > .seats				{width:720px}
.seats > div				{overflow:hidden}
.seats form div h3			{padding-top:1em;font-weight:bold;text-align:center}
.seats form section div		{height:305px;overflow:auto}
.seats h3 em				{font-weight:normal}
.seats h4 a					{display:inline-block;width:50%;text-align:center;background:#eee;color:#333;text-decoration:none}
.seats h4 a.active			{background:#999;color:#fff}
.seats div section			{float:left;width:60%}
.seats fieldset,.seats figure{float:left;width:20%}
.seats figure				{text-align:center}
.seats td.limit .ico		{background-position:0 17px}
.seats td.active .ico		{background-position:-17px 0}
.seats td.occupied .ico		{background-position:-34px 0}
.seats td.toilet .ico		{background-position:-51px 0}
.seats td.gallery .ico		{background-position:-68px 0}

/*send*/
.send aside p,.send footer	{padding-top:1em;text-align:right}
form.send					{padding:1em}
.send h3					{font-weight:bold}
.send  em					{display:block}
.send input					{width:16em}
.send fieldset p			{float:left;width:50%}

/************************************************BOOKING************************************************/

.booking footer.main nav p	{text-align:right}

/*aside*/
aside.main > footer			{text-align:right}
.itinerary h3				{padding:0.5em;background:#ddd}
.itinerary h3 + div			{padding:0.5em;background:#f9f9f9}
.itinerary article > div	{overflow:hidden;background:#fff}
.itinerary h5,.itinerary header{float:left;width:25%;text-align:center;background:#09C}
.itinerary h5 + ul,.itinerary div > p{float:left;width:75%}
.itinerary div > p em		{padding-left:1em}
.itinerary h5 *				{display:block}
.itinerary .connection		{color:#f00}
.itinerary footer			{text-align:right}
.price						{margin-top:1em}
.price h3					{padding:0.5em;background:#ddd}
.price h3 + div				{padding:0.5em;background:#f9f9f9}
.price table				{background:#fff}
.price tfoot th,.price tfoot td{background:#eee}
.price td					{text-align:right}
.price th em				{color:#999}
.price tbody .details th	{padding-left:1em;color:#999}

/*ocup and itup*/
.dates						{overflow:hidden}
.dates li					{float:left;padding:0.5em;margin-right:0.5em;text-align:center;background:#eee}
.dates li.active			{background:#09c;color:#fff}
.dates li i					{display:block}
.ocup .bound > h3			{padding:1em;background:#eee}
.ocup .bound > h3 time		{float:right}
table.bound					{margin-top:1em}
.bound td					{border:1px solid #ccc}
.bound thead td				{white-space:nowrap;background:#eee}
.bound td label,.bound td strong,.bound .departure b,.bound .arrival b{display:block}
.bound td.departure,.bound td.arrival{width:10em}
.bound .family				{width:8em;text-align:center}
.bound .family .ico			{float:right}
.bound .details td			{background:#f9f9f9}
.bound .details.upgrade a	{float:right}
.bound .details.hide td		{text-align:right}
.filter						{background:#09c}
.filter	> h3				{float:left;margin-right:2em}
.filter > div				{overflow:hidden}
.filter .type-1 label,.filter output{display:block}
.filter .type-2				{margin:0 2em}
.filter fieldset,.filter footer{float:left}
.itup td,.itup th			{padding:0.25em;border:1px solid #ccc}
.itup thead td,.itup th		{text-align:center;background:#eee}
.itup label					{display:block;text-align:center}
#itup .bound td.departure,#itup .bound td.arrival{width:16em}
#itup .bound td label		{display:block;height:4em;text-align:center}

/*occl*/
.calendar td,.calendar th	{padding:0.25em;border:1px solid #ccc}
.calendar thead td			{text-align:center;background:#eee}
.calendar label,.calendar td i{display:block;text-align:center}
.calendar strong			{font-weight:bold}
.calendar .disabled			{background:#999}
.calendar .inactive			{background:#eee}
.calendar .active			{background:#09c;color:#fff}
.calendar td .ico			{float:right}
/*itcl*/
.calendar caption			{text-align:center;background:#ccc;font-weight:bold}
.calendar th				{text-align:center;background:#eee}
.calendar time				{display:block;white-space:nowrap}
.calendar.it td				{width:12%}
.calendar.it caption		{padding:0.5em}
.calendar.it th[rowspan] b	{display:block;position:absolute;margin:-2em 0 0 -2em;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg)}
.calendar.it th[rowspan],.calendar.it thead th{background:#ccc}
.calendar.it time :first-child{display:block}
.calendar.it time b			{font-weight:normal}

/*fare and conf*/
div.main .itinerary li{width:45%}
div.main .itinerary .cabin,div.main .itinerary  .faref,div.main .itinerary .baggage{position:relative;left:50%;top:-55px;background:#f9f9f9}
div.main .itinerary .baggage{margin-bottom:-3em}
div.main .itinerary .duration{position:relative;left:-32%;width:129%;text-align:right;background:#ddd}

/*alpi and apis*/
.alpi h3					{margin:-1em -1em 1em -1em;padding:1em}
.alpi h3 + aside			{float:right;margin-top:-3.5em;color:#fff}
.alpi > aside				{float:right;margin-top:-2.5em}
.alpi > aside sup			{margin-left:-1em}
.alpi fieldset				{padding:1em;background:#f9f9f9}
.alpi > fieldset			{margin-top:1em}
.alpi .passenger > h3		{background:#039;color:#fff}
.alpi .passenger p,.alpi .address p,.alpi .other p{display:inline-block;margin-right:0.5em}
.alpi .passenger em,.alpi .address em,.alpi .other em{display:block}
.alpi .passenger .passenger	{margin-top:1em}
.alpi .passenger fieldset	{padding-bottom:0;background:#ddd}
.alpi .contact aside		{float:right}
.alpi .contact p			{display:block}
.alpi .contact em			{display:inline-block;width:8em}
.alpi [name="nationality"]	{width:12em}
.alpi .other				{margin-top:1em}

/*purc and conf*/
.purc >section > h3			{margin-top:1em;padding:1em;background:#039;color:#fff}
.purc > ul					{float:right;margin-top:-1em}
.purc > ul li				{float:left;position:relative}
.purc > ul a + ul 			{position:absolute;border:1px solid #ccc;z-index:2;background:#fff}
.passinfo article			{overflow:hidden;border-bottom:1px solid #ccc}
.passinfo h4				{padding:1em}
.passinfo .data				{float:left;width:59%;border-right:1px solid #ccc}
.passinfo .seats			{float:right;width:39%;margin-top:1em;background:#ddd}
.passinfo .contact 			{overflow:hidden;margin:0.5em;padding:0.5em;background:#ddd}
.passinfo .contact header	{float:left}
.passinfo .contact ul		{float:right;width:48%}
.passinfo .contact li		{text-align:right}								
.purc .seat header			{overflow:hidden}
.purc .seat header > *		{float:left}
.purc .seat header h4		{width:15%}
.purc .seat header h5		{width:50%}
.purc .seat header time		{width:15%}
.purc .seat header aside	{float:right}
.purc .seat div > .ico		{float:left}
.purc .seat ul,.purc .seat article div{overflow:hidden;padding:1em;background:#ddd}
.purc .seat li				{float:left}
.insurance table			{background:#f9f9f9}
.insurance div > .ico		{float:right}
.insurance td p				{margin-left:1.4em;color:#999}
.insurance table + p		{margin-top:1em}
.insurance footer b			{display:inline-block;width:50%}
.payment fieldset > .ico	{float:right}
.payment fieldset em		{display:inline-block;width:10em}
.payment [type="text"]		{width:12em}
.payment .security			{overflow:hidden;padding:0.5em 0;margin-bottom:0.5em;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.payment i					{float:right;width:50%}
.paydetails > div			{overflow:hidden}
.paydetails .price			{float:left;width:45%;margin:0}
.paydetails .price h3		{background:none}
.paydetails .summary		{float:right;width:45%}
.paydetails .summary h3		{padding:0.5em}
.paydetails .summary li b	{display:inline-block;width:8em}
.complete h5 b				{float:right;margin-right:30%;font-size:3em;padding:0.5em}
.complete div				{padding:1em}
.complete section			{position:relative;padding:1em;background:#f9f9f9}
.complete section .ico		{position:absolute;top:45%;left:-0.5em}

/************************************************PORTAL************************************************/

/*fedb*/
.fedb em					{float:left;width:50%}
.fedb p > [type="radio"]	{float:left}
.fedb [type="radio"] + label em{width:48.2%}
.fedb p						{overflow:hidden}
.fedb small					{display:block;margin-left:50%}

/*home*/
.homebook					{margin-bottom:1em}
.homenews					{position:relative;margin-bottom:1em}
.homenews > a				{position:absolute;top:50%}
.homenews > a.prev			{left:0}
.homenews > a.next			{right:0}
.homenews p					{margin:0 2em}
.homenews h2,.homebook h2,.homeoffer h2{background:#ddd}
.homenews > div,.homebook > div,.homeoffer > div{padding:1em;background:#f9f9f9}
.homeoffer					{position:relative;margin-bottom:1em}
.homeoffer div 				{overflow:hidden;padding:1em 2em}
.homeoffer article			{float:left;width:33%}
.homeoffer a.prev			{position:absolute;top:50%;left:0}
.homeoffer a.next			{position:absolute;top:50%;right:0}

/*news*/
form.news > p				{float:right}
.news h3 time				{display:block}

/*offers*/
.offers article em			{display:block}
.offermain article aside	{clear:both}
.offermain .offers article	{overflow:hidden}
.offermain .offers img		{float:left}
.offermain .offers div 		{margin-left:25%}
form.offer fieldset p		{margin-bottom:0}
.sort output				{float:right}

/*smap*/
.smap						{overflow:hidden}
.smap.type-2 div			{float:left;width:50%}
.smap.type-3 div			{float:left;width:33%}
.smap.type-4 div			{float:left;width:25%}

/*time*/
.time .search footer		{width:auto}
table.time					{margin-top:1em}
.time caption				{background:#eee}
.time thead td				{font-weight:bold}
.time td time :first-child	{display:block}	
.time .day					{text-align:center}
.time td					{border:1px solid #ccc}
.time h2,.time h3			{text-align:center}