@import url(ff.css);
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,p,th,td/*,pre,blockquote*/,figure{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img,iframe{border:0}
caption,em,strong,th/*,var,code,address,cite,dfn*/{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}
/*h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0}*/
body						{background:-moz-linear-gradient(#c6c6c6 0%,#e5e5e5 50%, #c6c6c6 100%);background:-webkit-linear-gradient(#c6c6c6 0%,#e5e5e5 50%, #c6c6c6 100%);background:-o-linear-gradient(#c6c6c6 0%,#e5e5e5 50%, #c6c6c6 100%)}
body.default				{background:none}
body.default section		{background:#fff;padding:8px}
legend						{width:100%;box-sizing:border-box;-moz-box-sizing:border-box}
@font-face 					{font-family:'rotis';src:url('../font/rotis13.ttf') format('truetype')}
h1,.h1          			{font:20px/20px rotis,helvetica,sans-serif}
h2,.h2						{font:bold 12px/20px verdana,helvetica,sans-serif;color:#333}
h3,.h3          			{font:bold 16px/22px rotis,helvetica,sans-serif}
h4,.h4          			{font:bold 14px/28px rotis,helvetica,sans-serif;clear:both;color:#333}
h5,.h5						{font-size:18px;line-height:26px}
p,a,em,li,label,span,legend,input,output,textarea,select,option,button,.button,th,td,dt,dd{font:11px/16px verdana,helvetica,sans-serif;color:#333}
input[type="checkbox"].fl,input[type="radio"].fl{margin:2px}
small,.small				{font:10px/12px verdana,helvetica,sans-serif}
.big						{font-size:42px;line-height:42px}
p,dd,.pr,ul.pr li,ol.pr li	{padding:4px 0}
dt							{margin:4px 0 -4px 0}
table,caption				{width:100%;box-sizing:border-box;-moz-box-sizing:border-box}
.main           			{width:960px;margin:0 auto}
.wrap           			{overflow:hidden;position:relative}
.none,thead.none + tbody,.interstice *{display:none !important}
.block,.tooltip:hover div	{display:block}
.input    					{padding:3px 4px;border:1px solid #999;border-radius:12px;box-shadow:0 0 4px #ccc inset;font-size:11px;height:14px;line-height:14px;outline:0 none}
textarea.input  			{height:auto}
.mr							{margin-bottom:8px}
.br,ol.default li			{margin-top:8px}
.hr     					{margin-top:20px}
p.hr						{margin:16px 0}
ul.default					{clear:both;list-style:disc}
ul.default li,img.default	{margin:0 24px} 
.fl             			{float:left;position:relative}
.fr             			{float:right;position:relative}
.tc,.tc td,.tc th  			{text-align:center}
.tr             			{text-align:right}
.em,.em li,footer.home a:hover,footer.home a:hover *,h4.toggle:hover,.list .unselect:hover *,.menu li:hover,.cald tbody td:not(:empty):hover{color:#c0211d}
.em1,.em1 a,.em1 th,.list .disabled li{color:#999}
.em2,.em2 a,.em2 b			{color:#666}
.em3						{color:#0074AF}
.em4						{color:#ff9600}
.line						{line-height:32px}
.middle						{width:45%}
.midst						{margin-left:8px;margin-right:8px}
.ico,.icoa:after,.icob:before{display:inline-block;width:16px;height:16px;background:url(../img/sprites.png)}
.select:after				{content:"";position:absolute;background-position:0 -122px;right:3px;top:3px;z-index:2;cursor:pointer}
.interstice					{height:32px;background:url(../img/interstice.gif) no-repeat center}
.inactive					{opacity:.5}
button,.button				{font-weight:bold;padding:2px;border-radius:4px;border:1px solid #ccc;color:#666;background:-moz-linear-gradient(#f9f9f9 50%,#dedede 51%, #f3f3f3 100%);background:-webkit-linear-gradient(#f9f9f9 50%,#dedede 51%, #f3f3f3 100%);background:-o-linear-gradient(#f9f9f9 50%,#dedede 51%, #f3f3f3 100%);color:#666}
button:hover,aside.main a.caption:hover{background:#fff;cursor:pointer}

button.main,.nav a			{font:14px/22px rotis,helvetica,sans-serif;width:auto;margin:0}
button.main  				{padding:4px;position:relative;border:1px solid #c0211d;font-weight:bold;cursor:pointer}
button.main.left			{border-radius:0 0 0 6px}
button.main.right			{border-radius:0 0 6px 0}
button.left:before,button.right:after{content:"";background:url(../img/sprites.png);width:17px;height:11px;display:inline-block;margin-bottom:-2px}
button.left:after,button.right:before{content:"";background:url(../img/sprites.png);width:14px;height:30px;position:absolute;top:-1px}
button.left:before			{background-position:-93px -198px;margin-right:4px}
button.left:after			{background-position:-281px 0;right:-14px}
button.right:before			{background-position:-296px 0;left:-14px}
button.right:after			{background-position:-111px -198px;margin-left:4px}
button.main:hover			{background:-moz-linear-gradient(#800407,#d8242d);background:-webkit-linear-gradient(#800407,#d8242d);background:-o-linear-gradient(#800407,#d8242d)}
button.left:hover:after		{background-position:-152px -105px}
button.right:hover:before	{background-position:-167px -105px}

header.main      			{height:160px;position:relative;box-shadow:0 4px 6px #999;z-index:2}
header.main	img  			{margin:50px 0 0 50px}
header.main aside    		{width:400px;margin:20px 20px 0 0}
header.main h5      		{position:relative;z-index:2}
header.main article  		{width:382px;position:absolute;margin:-2px 0 0 0;background:#fff;z-index:1} /*width:100%;-moz-box-sizing*/
header.main article p.fr	{padding:0 36px 36px 8px;border-left:1px solid #ccc}
header.main label.fl		{margin:0 8px 8px 0}
header.caption4,caption.caption4{border-radius:0 24px 0 0;background-image:url(../img/sprites_bg.png), -moz-linear-gradient(#059,#09c);background-image:url(../img/sprites_bg.png), -webkit-linear-gradient(#059,#09c);background-repeat:no-repeat}
header.caption4 p.fr		{padding:8px 8px 0 0}
#logoutLink					{margin:-22px 8px 0 0;z-index:2}
footer.home             	{margin:60px auto;background:#f5f5f5}
footer.home nav,footer.home p{padding:8px 0;border-top:1px solid #fff;border-bottom:1px solid #e3e6e8}
footer.home a,a.em:hover	{text-decoration:none}
footer.home nav:first-child .ico{margin:2px 8px 0 0}
footer.home a.fl,footer.home div.fl{width:20%}
footer.home div.doble		{width:70%}
img[alt="feedback"]			{margin:0 4px -4px 0}
.nav             			{height:35px;padding:20px 0 0 0;background:#fff}
.nav a          			{padding:0 16px 0 32px;line-height:35px;text-decoration:none}
.nav a.unselect				{background:-moz-linear-gradient(#f2f2f2,#cacaca);background:-webkit-linear-gradient(#f2f2f2,#cacaca);background:-o-linear-gradient(#f2f2f2,#cacaca)}
.nav a:first-child			{margin:0 0 0 20px;z-index:7}
.nav a:first-child:before	{content:"";position:absolute;left:0;width:16px;height:35px;background:#fff;border-radius:0 0 16px 0}
.nav a:last-child			{border-radius:0 16px 0 0}
.nav a:last-child:after		{display:none}		
.nav a:after				{content:"";position:absolute;right:-16px;width:16px;height:35px;background:url(../img/sprites.png);top:0}
.nav a.unselect:after		{background-position:-51px -17px}
.nav a.selected:after		{background-position:-34px -17px}
.nav a.caption2:after		{background-position:-17px -17px}
.nav a.unselect:hover		{color:#c0211d;text-decoration:underline;background:-moz-linear-gradient(#f1f1f1,#fff);background:-webkit-linear-gradient(#f1f1f1,#fff);background:-o-linear-gradient(#f1f1f1,#fff)}
.nav a.unselect:hover:after	{background-position:0 -17px}
.nav a:nth-child(2)			{z-index:6}
.nav a:nth-child(3)			{z-index:5}
.nav a:nth-child(4)			{z-index:4}
.nav a:nth-child(5)			{z-index:3}
.nav a:nth-child(6)			{z-index:2}
.nav a.caption2				{cursor:default}

section.main 	        	{padding:20px 0 0 0;border-radius:0 0 8px 8px;background:#fff}
div.main 		       		{width:650px;margin:0 0 20px 20px}
aside.main        			{width:250px;margin:0 20px 20px}
article,.article			{padding:8px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-radius:0 0 6px 6px}
aside.main h3.caption4		{border-radius:6px 6px 0 0}
aside.main .teaser			{padding:8px 8px 16px 8px;background-image:url(../img/sprites_bg.png);background-position:0 -205px;background-repeat:no-repeat}
aside.main .column .boxw	{padding:4px}/*fsr*/
aside.main a.caption		{padding:8px;border-bottom:1px solid #ccc;text-decoration:none}
aside.main div.grid4		{margin-left:4px}/*aside_luggage*/
aside.mr					{margin:20px}/*fsr*/
.boxl						{clear:both;border-top:1px solid #ccc}
.boxb,.boxb td,.boxb th		{border-bottom:1px solid #ccc}
.boxw						{padding:8px;border:1px solid #ccc;background:#fff}
.boxg						{padding:8px;border:1px solid #ccc;background:#eee;border-radius:4px}
.points						{position:relative;border-radius:0 24px 0 0}
.points:after				{content:"";width:90px;height:37px;background-position:-292px -105px;position:absolute;bottom:0}
.caption,.unselect,.lowest	{background:-moz-linear-gradient(#fff,#ddd);background:-webkit-linear-gradient(#fff,#ddd);background:-o-linear-gradient(#fff,#ddd)}
.caption2      				{background:-moz-linear-gradient(#8b8787,#c8c8c8);background:-webkit-linear-gradient(#8b8787,#c8c8c8);background:-o-linear-gradient(#8b8787,#c8c8c8);font-weight:bold;color:#fff}
.caption3					{background-color:#eee}
.caption4  					{background:-moz-linear-gradient(#059,#09c);background:-webkit-linear-gradient(#059,#09c);background:-o-linear-gradient(#059,#09c);padding:6px;border-radius:6px;color:#fff}
.caption4.default			{border-radius:0 0 6px 6px}
th.caption4,td.caption4		{border-radius:0}
.selected,button.main		{background:-moz-linear-gradient(#d8242d,#800407);background:-webkit-linear-gradient(#d8242d,#800407);background:-o-linear-gradient(#d8242d,#800407);color:#fff}
.caption4 p,.caption4 li,.caption4 a,.caption4 span,.selected *,.family,.family p,.family li,.family h2,.family a{color:#fff}
caption.toggle:hover,.list .unselect:hover{background:#fff;color:#c0211d;border-color:#c0211d}
.formadv					{padding:0 0 0 20px;border-left:1px solid #ccc}
button.em3,.input.em3		{border-color:#0074AF;color:#666}
.input.em,.list .selected	{border-color:#c0211d;color:#666}
.form2						{margin-left:8px;z-index:2}/*purf*/
.form2 .active				{margin-left:-8px;border-right-color:#fff;font-weight:bold}
.form2 + fieldset			{margin-left:-1px;width:460px;border-left:1px solid #ccc;padding-left:20px}
.form2 + fieldset .card		{position:absolute;top:9px;left:121px;border-right:1px solid #999}
.form2 + fieldset .card:nth-child(2){left:42px}
.form2 + fieldset .card:nth-child(3){left:82px}
article.teaser img			{margin:-8px 0 8px -8px}
h2.fl.em3 + span,label.fl	{line-height:20px} /*tdefault_*/
.toggle,.list .unselect,.bound tr:not(.details) td{cursor:pointer}
.tooltip					{position:absolute;top:0;left:0;border-radius:6px;box-shadow:2px 2px 4px #666;z-index:3}
.tooltip .ico.end			{position:absolute;bottom:-13px;left:50%;width:23px;height:13px;margin:0 0 0 -12px;background-position:-359px -156px}
small.info.boxw				{padding:2px 6px;border-radius:16px;font-weight:bold}
.warning					{position:relative;border:1px solid #c0211d;border-left-width:24px;padding:8px 8px 8px 16px}
.warning:before				{content:"";position:absolute;left:-20px;width:28px;background-position:-122px -181px}
.warning.w3					{border-color:#0074AF}
.warning.w4					{border-color:#ff9600}
.warning.w3:before			{background-position:-151px -181px}
.warning.w4:before			{background-position:-93px -181px}

.grid-1,thead td.family		{width:60px}
.grid0,.grid0 td			{width:100px}
.grid1,button.short			{width:120px}
.grid2						{width:140px}
.grid2x						{width:145px;height:40px;margin:0 8px 8px 0}
.grid3,#searchPanel .grid-1 + label input{width:160px}
.grid4						{width:180px}
.grid5						{width:200px}
.grid7,.bound small.op		{width:240px}
.grid9						{width:300px}
.grid20						{width:520px}	
.grid23						{width:590px}
.column aside.fl			{width:20%;margin-bottom:8px}
.column div.fr				{width:75%}
.column2					{margin-left:20px}

.list						{height:80px} 
.list.caption				{height:70px}
.list div,.list.caption,.list .disabled,aside.main nav{border:1px solid #ccc}
.list div:nth-child(2)		{margin:0 6px}
.list ul           			{display:inline-block;position:relative;margin:4px;padding:4px;border:1px solid #999;border-radius:4px}
.list .unselect:hover .plane3{background-position:-374px -14px}
.list .unselect:hover .plane4{background-position:-374px 0}
.list .selected .ico.plane3	{background-position:-62px 0}
.list .selected .ico.plane4	{background-position:-76px 0}
.list .small				{letter-spacing:-1px}
.list2 li					{display:inline-block}
.menu button.toggle			{position:relative;z-index:3}/*share trip*/
.menu ul         			{position:absolute;width:138px;margin-top:-2px;right:0;background:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc;z-index:2}/*.article or .boxw?*/
.menu li      				{padding:12px 0;border-bottom:1px solid #ccc;text-align:left}

.ico.user					{background-position:-268px -33px;margin-bottom:-4px}
.ico.ok						{background-position:-156px -29px}
.ico.dates					{background-position:-17px -88px;margin-bottom:-4px;cursor:pointer}
.ico.share					{background-position:-34px -88px}
.ico.book					{background-position:-302px -33px}
.ico.gseat					{background-position:-319px -33px}
.ico.gseat2					{background-position:-425px -33px}
.ico.zoom					{background-position:-336px -33px} 
.ico.meal					{background-position:-285px -33px}
.ico.flight2				{background-position:0 -105px;margin-bottom:-4px}
.ico.flight3	 			{background-position:-391px -33px}
.ico.flight4				{background-position:-408px -33px}
.ico.trash					{background-position:0 -151px;margin-bottom:-4px}
.ico.top					{background-position:-173px -29px;margin-bottom:-2px}
.ico.star					{background-position:-210px -29px;margin-bottom:-4px} 
.ico.cald					{background-position:0 -88px;margin-bottom:-4px}
.ico.warn					{background:#ff9600;border-radius:8px;line-height:16px;color:#fff}
.ico.bag					{width:18px;background-position:-353px -33px}
.ico.bag2					{width:18px;background-position:-372px -33px}
.ico.tam3 					{width:24px;background-position:-243px -33px}
.ico.uncomb					{width:19px;background-position:-190px -29px;margin-bottom:-4px}
.ico.tam2					{width:29px;background-position:0 -219px;margin-bottom:-4px}
.ico.lan					{width:29px;background-position:-30px -219px;margin-bottom:-4px}
.ico.symbol					{background:#0074AF;border-radius:4px;text-indent:1px;font:bold 16px/17px Arial, Helvetica, sans-serif;color:#fff}
.ico.symbol.bem				{background:#c0211d;line-height:14px}
.ico.symbol.bem1			{background:#ccc}
.ico.tam0					{width:48px;height:48px;background-position:-332px -212px;margin:8px 8px 8px 0}
.ico.facebook				{width:24px;height:24px;background-position:-155px 0}
.ico.twitter				{width:24px;height:24px;background-position:-180px 0}
.ico.youtube				{width:24px;height:24px;background-position:-205px 0}
.ico.flickr					{width:24px;height:24px;background-position:-230px 0}
.ico.blog					{width:24px;height:24px;background-position:-255px 0}
.ico.google					{width:24px;height:24px;background-position:-311px 0}
.ico.mail		 			{width:24px;height:24px;background-position:-336px 0}
.ico.secured				{width:34px;height:34px;background-position:0 -53px}
.ico.payment				{width:396px;height:34px;background-position:-35px -53px}
.ico.people					{width:20px;height:26px;background-position:-131px -105px;margin:4px 0}
.ico.sign					{float:left;margin:2px 4px 0 2px} 
h4 .ico.sign,.h4 .ico.sign	{margin:6px 4px 0 0}
h5 .ico.sign,.h5 .ico.sign	{margin-top:0}
.plus .ico					{background-position:0 0}
.minus .ico					{background-position:-17px 0}
.minus span.sign,.plus span.sign{font-size:0;line-height:0%;width:0;margin:6px 4px 0 0}
.minus span.sign			{border-top:5px solid transparent;border-left:10px solid #fff;border-bottom:5px solid transparent}
.plus span.sign				{border-top:10px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent}
header.caption4 small.ico	{width:31px;height:31px}
.ico.guser					{background-position:-415px -105px}
.ico.seatbig				{background-position:-388px 0}
.ico.insurance				{background-position:-420px 0}
.ico.luggage				{background-position:-283px -143px}
.ico.purf					{background-position:-383px -105px}
.ico.plane1					{background-position:-383px -137px}
.ico.plane2					{background-position:-415px -137px}
.ico.plane3,.ico.plane4		{width:13px;height:13px;margin:0 0 -2px 0}
.ico.plane3					{background-position:-34px 0}
.ico.plane4					{background-position:-48px 0}
.ico.seat				 	{background-position:-51px -88px;margin-bottom:-4px;text-indent:8px}
.family .ico.seat			{background-position:-68px -88px;color:#fff}
.ico.slope					{width:20px;height:13px;position:absolute;left:50%;bottom:-13px;margin:0 0 0 -10px;background-position:-129px -198px}
.ico.cheap					{width:23px;height:26px;background-position:-335px -150px;position:absolute;top:-5px;right:-2px}
.ico.hide					{width:12px;height:11px;background-position:-361px 0}
.ico.show					{width:12px;height:11px;background-position:-361px -12px}
.ico.barcode				{width:87px;height:73px;background-position:-182px -105px}
.ico.okno	 				{width:15px;height:14px;background:none;margin-bottom:-2px}
.ico.arrow					{height:9px;background-position:0 -141px}
.ico.gray1					{width:19px;height:21px;background-position:-315px -143px;position:absolute;margin:0 0 0 -26px}
.ico.gray2					{width:11px;height:8px;background-position:-361px -24px;position:absolute;margin:-18px 0 0 0}
.ico.gray3					{width:23px;height:12px;background-position:-359px -143px;position:absolute;margin:-12px 0 0 12px}
.ico.plus2					{width:11px;height:11px;background-position:0 -168px;margin:0 0 -1px 0}
.ico.minus2					{width:11px;height:11px;background-position:0 -180px;margin:0 0 -1px 0}
.ico.close					{width:11px;height:11px;background-position:0 -192px;cursor:pointer}
.selected .ico.close		{background-position:0 -204px}
.ico.visa					{width:50px;height:32px;background-position:-179px -179px}
.ico.american	 			{width:50px;height:32px;background-position:-230px -179px}
.ico.master					{width:50px;height:32px;background-position:-281px -179px}
.ico.diners					{width:50px;height:32px;background-position:-332px -179px}
.ico.lott					{width:50px;height:32px;background-position:-383px -179px}
.ico.trustsign				{width:82px;height:45px;background-position:-96px -212px}
.ico.info					{width:20px;background-position:-270px -105px;margin-bottom:-4px}
.ico.info:hover				{background-position:-270px -122px}
.ico.p_bb 					{width:50px;height:50px;background-position:-179px -212px}
.ico.p_itau					{width:50px;height:50px;background-position:-230px -212px}
.ico.p_bradesco				{width:50px;height:50px;background-position:-281px -212px}
.seat small.ico				{width:37px;height:37px}
.ico.seat0					{background-position:-93px -143px}
.ico.seat1					{background-position:-55px -143px}
.ico.seat2					{background-position:-17px -143px;color:#fff}
.ico.seat2x					{background-position:-17px -105px;color:#fff}
.ico.seatx					{background-position:-93px -105px}
.ico.seatxl					{background-position:-55px -105px}
.ico.seatt					{background-position:-55px -181px}
.ico.seatg					{background-position:-17px -181px}
.ico.seate					{background-position:-131px -143px}

table.default td,table.default th{padding:8px}
.cald td,.cald th			{padding:4px;border:1px solid #ccc}
.bound td,.bound th,caption	{padding:4px 2px;border:1px solid #ccc}
.bound thead small			{font-size:0;line-height:0;width:0;margin:4px 0 0 0}
.bound thead small.down		{border-top:7px solid #000;border-left:4px solid transparent;border-right:4px solid transparent}
.bound thead small.up		{border-bottom:7px solid #000;border-left:4px solid transparent;border-right:4px solid transparent}
.bound thead small.right	{border-left:7px solid #000;border-top:4px solid transparent;border-bottom:4px solid transparent}
.bound thead .family small.down{border-top-color:#fff}
.bound thead .family small.up{border-bottom-color:#fff}
.bound thead .family small.right{border-left-color:#fff}
.bound small.op				{position:absolute;margin-left:-167px}
.bound th					{height:45px;white-space:nowrap}
.details td.right,.seat td:first-child{border-right:1px solid #ccc}
.details.dotted td			{border-top:1px dotted #ccc;border-bottom:1px dotted #ccc}
.details.mark .slope		{display:inline-block;width:0;margin-bottom:-1px;border-left:10px solid #fff;border-right:10px solid #fff}
.details.mark td			{padding:0;line-height:2px;border-top-color:#fff}
.details.first td			{border-top:2px solid #ccc}
.details.last p.tr			{margin:0 -2px -4px -2px}
.details.last button		{margin:-4px 8px 0 0}
.details .rowspan			{border-right-color:#fff;vertical-align:bottom}
.details .line				{line-height:24px}
table .rightF				{border-right-color:#fff}
table .rightE				{border-right-color:#eee}
table .bottomF				{border-bottom-color:#fff}
table .topF					{border-top-color:#fff}
table .dottedB td			{border-bottom-style:dotted}
table .dottedT td			{border-top-style:dotted}
div.seat					{height:400px;overflow:auto;border:1px solid #ccc}
.seat td:last-child			{border-left:1px solid #ccc}
.seat small.block			{height:40px;background:#fff}
.seat .wing1				{border-radius:0 0 36px 0}
.seat .wing2				{border-radius:0 0 0 36px}

#home_online .grid-1		{width:80px}
#home_online fieldset.wrap p.midst{margin:0 22px}
#home_checkin footer,#home_manage footer {position:absolute;right:10px;bottom:10px}
#home_online p				{padding:1px 0 2px 0}
#tooltip_countries			{position:absolute;z-index:3;border:1px solid #ccc;background:#fff}/*.menu*/
#tooltip_countries div		{height:200px;overflow:auto}
#tooltip_countries li:hover	{background:#0074AF;color:#fff;cursor:pointer}
#alpi fieldset div.boxg		{padding-bottom:0}
#alpi fieldset div.boxg button:last-child{border-style:dashed;background:#f9f9f9}
#conf .top,#atc_conf .top  	{vertical-align:top}