body	    {margin:0;background:#ffffff;font-family:Arial, Helvetica, sans-serif;}
#central    {position:absolute;left:50%;width:860px;margin-left:-430px;}
td,p		{font-size:11px;}
h3			{margin:0 0 8px 0;}

a			{text-decoration:none;outline:none;}
a:hover		{text-decoration:underline;}
em			{font-style:normal;}

.izquierda	{position:absolute;top:20px;left:10px;width:140px;}

.derecha	{position:absolute;top:20px;left:160px;width:640px;}

form		{font:11px Arial, Helvetica, sans-serif;}
input		{font-size:11px;}
.boton		{width:120px;padding:5px 0 5px 0;text-align:center;}
.boton2		{width:120px;padding:4px 0 4px 0;text-align:center;}
.boton_nom  {margin:0 0 5px 0;border:1px solid #cccccc;}