body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,img,input,button,select,textarea,p,th,td,img,figure,hr{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0} caption,th{text-align:left} ul,ol{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var{font-style:inherit;font-weight:inherit}
h3,h4,h5,h6,nav,footer,p,li,dt,dd,caption,td,th,label,textarea,select,option,input,button{font-family:sans-serif;font-size:12px;line-height:1.5em;font-weight:normal;color:#fff}
a,span,small,b,i,em,strong,abbr,var{display:inline-block}

body,html,section   {width:100%;height:100%;background-color:#000}
body 				{transition:top 500ms ease-in-out}
h1,.h1				{font:bold 30px/1.5em sans-serif;letter-spacing:-1px;color:#fff}
h2,.h2				{font:bold 22px/1.5em sans-serif;letter-spacing:-0.5px;color:#00bfe5}
h3,.h3 				{font-size:16px}
.em 				{color:#00bfe5}
.em1				{color:#999}
.em2 				{color:#002d62}
.wrap,body			{overflow:hidden;position:relative}
.fl,.col2          	{float:left}
.fr,.col2 + .col2  	{float:right}
.fa             	{position:absolute}
.f1             	{width:75%}
.f2,.col2          	{width:50%}
.f3             	{width:33%}
.f4             	{width:24%}
.inner,.fl,.fr,.col2{box-sizing:border-box;-moz-box-sizing:border-box}
.inner,.col2  		{height:100%;padding:6%;background-repeat:no-repeat;background-size:cover}
.tc             	{text-align:center}
.tr             	{text-align:right}
.bo             	{font-weight:bold}
.bl   	   			{display:block}
.br             	{margin-top:2em}
.hr             	{margin-top:4em}
.none           	{display:none}
/*.ico            	{vertical-align:middle;width:48px;height:48px;background:url(img/sprites.png) no-repeat}*/
/*.btn            	{vertical-align:top;padding:0.5em;background:#f60;cursor:pointer;text-decoration:none}*/
p,li				{margin-bottom:1em}
ul.list li:before	{content:"";float:left;width:10px;height:10px;margin:4px 8px 4px 0;border-radius:6px;background:#00bfe5}

body:before 		{content:"";position:fixed;top:0;left:0;width:1em;height:100%;background:#00bfe5;z-index:2}
section   			{position:relative;background-repeat:no-repeat;background-size:cover}
nav span 			{position:fixed;right:2%;top:25%;width:12px;z-index:2}
nav span a 			{width:8px;height:8px;margin:2px 0;background:#ccc;border:4px solid #ccc;border-radius:50%;opacity:.6;overflow:hidden;text-indent:-666px}
nav a.select 		{background:#33c3e8}
a[rel]          	{position:fixed;left:50%;width:32px;height:32px;margin-left:-16px;background:url(img/sprites.png);z-index:2}
a[rel='prev']      	{top:4%}
a[rel='next']      	{bottom:4%;background-position:-33px 0}
footer p 			{position:fixed;left:6%;bottom:4%}
footer div			{position:fixed;right:6%;top:8%}
footer img 			{vertical-align:middle}
footer .logo 		{width:64px;height:40px;margin-left:1em;vertical-align:middle;background:url(img/sprites.png) -66px 0}

td 					{padding:0.5em}
thead td 			{border:1px solid #fff;background:#00bfe5}
tbody td 			{border:1px solid #00bfe5}
.play 				{position:relative}
.play:before 		{content:"";position:absolute;width:32px;height:32px;top:50%;left:50%;margin:-16px 0 0 -16px;background:url(img/sprites.png) 0 -33px}
.circle 			{width:64px;height:64px;border-radius:50%;background:#00bfe5}
img.circle 			{border:2px solid #00bfe5}
em.circle 			{line-height:64px;padding:1em}
li.f4				{display:inline-block;vertical-align:top}

img[src='img/empty.png']{border:2px dashed #00bfe5}
#p1 .fa				{width:350px;height:224px;left:50%;bottom:14%;margin-left:-175px;background:url(img/manchester.png) center no-repeat}
#p1 h1 				{margin-top:4em}
#p2 img 			{position:absolute;width:88%;bottom:6%}
#p3 .wrap .f3 		{padding:0 1%}
#p3 .inner > .f3 	{margin:2em auto}
#p3 .circle.alt 	{color:#00bfe5;background:#fff}
#p4 .circle			{width:128px;height:128px;padding:1em;opacity:.9}
#p4 .h1 			{margin-top:1em}
#p6 .col2			{background-color:#fff;color:#999}
#p6 .col2 p,#p6 .col2 h1{color:inherit}
#p7 ul 				{margin:0 20% 0 -5%}
#p7 .circle 		{width:80px;height:80px}
#p9 td img 			{vertical-align:middle;margin-right:1em}
#p10 .circle		{width:128px;height:128px}
#p11 div.fa 		{width:46%;height:0;padding-bottom:50%;top:50%;left:50%;margin:-25% 0 0 -23%;background:url(img/pie.png) no-repeat center;background-size:100%}
#p11 .fa.tc			{width:25%;height:25%;overflow:hidden}

.bg1 				{background-image:url(img/bg1.jpg)}
.bg2 				{background-image:url(img/bg2.jpg)}
.bg3 				{background-image:url(img/bg3.jpg)}
.bg4 				{background-image:url(img/bg4.jpg)}
.bg5 				{background-image:url(img/bg5.jpg)}
.bg6 				{background-image:url(img/bg6.jpg)}

@media screen and (orientation:portrait)
{
	
}
@media screen and (orientation:landscape)
{

}
@media screen and (max-width:1000px)
{

}
@media print
{
	nav,footer 	{display:none}
}