body	{margin:32px 0 0 0;background:#81252c;}
a		{outline:none;}
*		{font-family:Arial, Helvetica, sans-serif;}
h1		{font-size:15px;padding:12px 0 0 0;border-bottom:1px solid #cccccc;color:#cccccc;}
h2		{font-size:13px;color:#000000;text-transform:capitalize;}
h3		{font-size:13px;padding:0;margin:0;color:#81252c;}
h4		{font-size:14px;margin:0;}
h5		{font-size:12px;margin:6px 0;color:#81252c;}
td		{font-size:12px;}
th		{font-size:12px;text-align:right;}
fieldset{background:#dddddd;border:0;margin:0;padding:8px;}
input	{font-size:12px;border:1px solid #666666;}
textarea{font-size:12px;border:1px solid #666666;}

#central	{position:absolute;left:50%;width:800px;margin-left:-400px;background:#ffffff;border:1px solid #cccccc;}

.botones	{text-align:center;background:#dddddd;}
.botones a	{padding:6px 24px 4px 24px;font-size:12px;font-weight:bold;text-decoration:none;color:#000000;}
.botones a:hover{color:#81252c;}

/*home*/
.imghome	{text-align:center;background:#000000;border:1px solid #cccccc;}
.imghome img{margin:8px 0;}
.cuerpohome {height:110px}
.cuerpohome p{margin:0 0 0 24px;}
.cuerpohome a{font-size:12px;color:#81252c;}
.cuerpohome h2{margin:8px 0 4px 24px;}
.columna1	{float:left;width:200px;height:110px;border-right:1px solid #cccccc;background:url(../img/home-antitranspirante.jpg) no-repeat right;background-position:136px;}
.columna2	{float:left;width:199px;height:110px;border-right:1px solid #cccccc;background:url(../img/home-desodorante.jpg) no-repeat right;background-position:136px;}
.columna3	{float:left;width:198px;height:110px;border-right:1px solid #cccccc;background:url(../img/home-refrescante.jpg) no-repeat right;background-position:136px;}
.columna4	{float:left;width:200px;height:110px;background:url(../img/home-crema.jpg) no-repeat;background-position:136px;}
/**/

.cuerpo			{width:100%;height:440px;margin:8px 0;}
.cuerpo_izq		{float:left;width:40%;text-align:center;}
.cuerpo_izq img	{margin:8px 0;}
.cuerpo_der		{float:left;width:60%;}
.cuerpo_der p	{font-size:12px;margin:0 24px 12px 0;}
.cuerpo_der	a	{color:#81252c;}

.piecera	{height:24px;text-align:center;background:#dddddd;}
.piecera a	{padding:6px 16px;font-size:12px;text-decoration:none;color:#000000;font-weight:bold;}
.piecera a:hover{color:#81252c;}