body	{background:#000000;margin:8px;}
td		{font:10px Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;}
a		{color:#B10C22;text-decoration:none;}
a:hover	{color:#666666;text-decoration:underline;}

h1		{font:36px Arial, Helvetica, sans-serif;color:#7C0D1B;}
h2		{font-size:13px;color:#B10C22;margin:0px 0px 0px 0px;}
h3		{font-size:10px;font-weight:bold;margin:6px 0px 0px 0px;}

em		{color:#893942;font-style:normal;font-weight:bold;}

#tabla1	{height:500px;background:#333333;}
#centro	{width:500px;height:100%;padding:4px;}

#boton1		{height:100%;}
#boton1 td	{width:160;padding:0 0 0 20;border-top:2px solid #444444;border-left:2px solid #222222;border-right:2px solid #444444; border-bottom:2px solid #222222;}
		 
.celda1	{width:200px;background:#000000;}
.celda2	{height:90px;background:#B10C22;border-top:2px solid #DE4357;border-left:2px solid #730E1B;border-right:2px solid #DE4357; border-bottom:2px solid #730E1B;}
.celda3	{border-top:2px solid #444444;border-left:2px solid #222222;background:#555555;border-right:2px solid #444444; border-bottom:2px solid #222222;}
.celda5	{height:30px;background:#B10C22;text-align:right;color:#000000;border-top:2px solid #DE4357;border-left:2px solid #730E1B; border-right:2px solid #DE4357; border-bottom:2px solid #730E1B;}
.celda6	{background-color:#000000;text-align:center;}

#colum1	{width:210px;vertical-align:top;background:#666666;padding:0 4 0 8;}
#colum2 {width:290px;vertical-align:top;}


