body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,select,textarea,p,th,td,img,figure,hr{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0;width:100%}caption,strong,em,th,var,code,abbr,address,cite,dfn{font-style:inherit;font-weight:inherit}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6,nav,p,li,dt,dd,caption,td,th,form,fieldset,textarea,select,option,input,button,address{font-family:sans-serif;font-size:12px;line-height:1.5em;font-weight:normal;color:#333}
button::-moz-focus-inner	{margin:0;padding:0;border:0;outline:0}
html,body					{width:100%;height:100%;overflow:hidden}
body						{background:linear-gradient(#d8ecf5,#a8d3ed,#d8ecf5);background:-webkit-linear-gradient(#d8ecf5,#a8d3ed,#d8ecf5)}
a							{color:#001b60;cursor:pointer}
a:hover						{text-decoration:underline}
ul							{list-style:none}
.ico,.icob:before			{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(img/sprites.png)}
.icob:before				{content:""}

nav							{position:fixed;width:30px;top:90px;right:10px;z-index:2;cursor:pointer}
nav a.plus					{background-position:-150px 0}
nav a.minus					{background-position:-175px 0}
nav div						{position:relative;height:160px;background:url(img/sprites.png) -2px -35px}
nav div a					{position:absolute;width:24px;height:10px;background:url(img/sprites.png) -33px -109px}
figure						{position:absolute}
figure.animate				{transition:all 500ms;-webkit-transition:all 500ms}
figure li.active1 b,figure li.active2 b,.cities li:hover b{font-size:1.2em}
figure li.active1			{color:#f30}
figure li.active2			{color:#C00}
.cities li,.countries h4	{position:absolute;line-height:1em;text-shadow:-1px 0 1px #fff,1px 0 1px #fff,0 1px 1px #fff,0 -1px 1px #fff;cursor:pointer}
.cities li b				{padding-left:6px}
.cities li:before			{content:"\2022";position:absolute;top:-0.2em;left:-0.2em;font-size:2em}
.countries h4 				{font-size:1em;color:#666}
svg g path					{fill:#eee;stroke-width:0.15;stroke:#666}
svg g.active path			{fill:#ccc}
.extra path					{fill:none;stroke:none}
.extra path.visible			{stroke:#f30;stroke-linecap:round;stroke-dasharray:12,8;stroke-width:4}
#airplane path,use			{fill:#999;stroke-width:2;stroke:#666;overflow:visible}

[data-zoom="0"]	figure		{width:500px;height:312px}
[data-zoom="1"]	figure		{width:1000px;height:625px}
[data-zoom="2"]	figure		{width:2000px;height:1250px}
[data-zoom="3"]	figure		{width:4000px;height:2500px}
[data-zoom="4"]	figure		{width:8000px;height:5000px}
[data-zoom="5"]	figure		{width:16000px;height:10000px}
[data-zoom="6"]	figure		{width:32000px;height:20000px}
[data-zoom="0"]	figure li	{font-size:6px}
[data-zoom="1"]	figure li	{font-size:9px}
[data-zoom="2"]	figure li	{font-size:10px}
[data-zoom="3"]	figure li	{font-size:11px}
[data-zoom="4"]	figure li	{font-size:12px}
[data-zoom="5"]	figure li	{font-size:16px}
[data-zoom="6"]	figure li	{font-size:20px}
[data-zoom="0"] #miniarea	{width:160px;height:100px}
[data-zoom="1"]	#miniarea	{width:80px;height:50px}
[data-zoom="2"]	#miniarea	{width:40px;height:25px}
[data-zoom="3"]	#miniarea	{width:20px;height:12px}
[data-zoom="4"]	#miniarea	{width:10px;height:6px}
[data-zoom="5"]	#miniarea	{width:5px;height:3px}
[data-zoom="6"]	#miniarea	{width:2px;height:1px}
[data-zoom="0"] .countries h4,[data-zoom="1"] .countries h4{display:none}

h1							{font-size:18px;white-space:nowrap}
h2							{font-size:14px;font-weight:bold}
h3							{padding:0.5em;font-weight:bold}
h3,header					{background:linear-gradient(#ddd,#bbb);background:-webkit-linear-gradient(#ddd,#bbb)}
h4							{font-weight:bold}
.button						{display:inline-block;padding:0.25em 1em;border-radius:4px;background:linear-gradient(#2f497c 50%,#001b60 51%);background:-webkit-linear-gradient(#2f497c 50%,#001b60 51%);color:#fff}
a.print:before				{background-position:-76px 0}
a.help:before				{background-position:-100px 0}
a.full:before				{background-position:-125px 0}
a.reset:before				{background-position:-100px -25px}
body > header,body > footer,form{position:fixed;border-radius:4px;box-shadow:0 0 6px #000;opacity:0.9;box-sizing:border-box;-moz-box-sizing:border-box;z-index:2}
body > header				{width:99%;top:5px;left:5px;padding:1em}
body > header p				{float:right;margin-top:-2em;padding-bottom:0}
body > header a				{margin-left:1em}
body > footer				{width:180px;height:120px;bottom:5px;right:5px;background:url(img/minimap.png) no-repeat 10px 10px #eee;transition:all 300ms ease-in;-webkit-transition:all 300ms ease-in}
body > footer.hide			{right:-200px;bottom:-200px;box-shadow:none}
body > footer > a.ico		{position:fixed;bottom:8px;right:8px;background-position:-75px -25px}
#miniarea					{opacity:0;position:absolute;border:1px solid #fff;background:#09F;transition:all 500ms;-webkit-transition:all 500ms}
#miniarea.visible			{opacity:0.3}

form						{width:210px;height:320px;top:70px;left:5px;background:#eee;transition:all 500ms ease-in;-webkit-transition:all 500ms ease-in}
form.hide					{left:-210px;box-shadow:none}
form a.ico					{position:absolute;background-position:-25px 0;cursor:pointer}
form > a.ico				{position:absolute;width:16px;height:70px;background-position:-33px -25px;top:45%;right:-16px}
form.hide > a.ico			{background-position:-50px -25px}
form small.ico				{position:absolute;top:41px;right:42px;background-position:-50px 0;cursor:pointer}
form fieldset:first-child h3{border-radius:4px 4px 0 0}
form fieldset				{position:relative}
form fieldset div			{padding:1em}
form fieldset fieldset		{padding-left:1.5em}
form label					{display:block;margin-bottom:0.4em}
form [type="text"]			{width:13em;height:24px;padding:0 4px;border-radius:4px 0 0 4px;border:1px solid #999;box-sizing:border-box;-moz-box-sizing:border-box}
form [type="radio"]			{position:relative;top:0.2em;margin-right:0.4em}

aside						{opacity:0;background:#fff;border-radius:4px;box-shadow:0 0 6px #000;transition:opacity 1s;-webkit-transition:opacity 1s;z-index:0}
aside.visible				{opacity:0.9;z-index:2}
aside h1					{padding-right:36px}
aside h1 em					{text-transform:uppercase}
aside header				{padding:0.5em;border-radius:4px 4px 0 0}
aside header a				{position:absolute;top:10px;right:10px}
aside > div					{padding:0.5em}
aside dl					{border-top:1px solid #ccc}
aside dt					{float:left;width:65%;font-weight:bold}
aside footer p 				{margin-top:1em;padding-bottom:0;text-align:right}
aside footer a:first-child	{float:left}
figure aside				{position:absolute;margin-top:24px}
body > aside				{position:fixed;width:400px;top:25%;left:-400px}
body > aside.visible		{left:40%}
.flag						{display:inline-block;width:16px;height:11px;background:url(img/flags.png);margin-right:4px}
.AR .flag					{background-position:-252px 0}
.FR .flag					{background-position:-224px -168px}
.ES .flag					{background-position:0 -168px}
.DE .flag					{background-position:-280px -112px}
.GR .flag					{background-position:-252px -196px}
.IN .flag					{background-position:0 -392px}
.RO .flag					{background-position:-112px -448px}
.NZ .flag					{background-position:-252px -84px}
.UK .flag					{background-position:-280px -168px}
.US .flag					{background-position:0 -560px}

/*
body:before					{content:"";position:absolute;top:0;left:50%;height:100%;border-right:1px solid #f00;z-index:2}
body:after					{content:"";position:absolute;top:50%;left:0;width:100%;border-top:1px solid #f00;z-index:2}  
*/