body	{margin:50px 0 0 0;background:#000000;}
table	{width:760px;height:510px;}
.tabla0	{background:url(img/fondo0.jpg);}
.tabla1	{background:url(img/fondo1.jpg);}
.tabla2	{background:url(img/fondo2.jpg);}
.tabla3	{background:url(img/fondo3.jpg);}
#tabla4	{background:url(img/fondo_galeria.jpg);}

ul,li	 {margin:0;padding:0;}
td		 {font:11 Arial, Helvetica, sans-serif;color:#ffffff;}
a		 {text-decoration:none;outline:none;}
input	 {display:block;font:11 Arial, Helvetica, sans-serif;margin:0 0 10px 0;}
textarea {display:block;font:11 Arial, Helvetica, sans-serif;margin:0 0 10px 0;}
cite	 {color:#940084;font-style:normal;}
em		 {font-size:32px;font-weight:bold;display:block;color:#44C93A;}

#contenedor	{height:132px;}
.cont_gal	{margin:40px 0 0 0;}
#centrado	{margin:90px 0 0 90px;text-align:justify;letter-spacing:1px;word-spacing:-1px;line-height:18px;}
#informacion{position:absolute;top:496px;width:450px;text-align:center;color:#cccccc;}

h1		{background:#000000;padding:10px 0 10px 0;font-size:12px;width:140px;margin:0 0 5px 0;}
h1 a:hover img{filter:alpha(opacity=60);opacity:.6;}
h2		{background:#000000;padding:10px 1px 10px 0;font-size:12px;text-align:right;}
h2 a:hover img{filter:alpha(opacity=60);opacity:.6;width:140;}
h3	    {font-size:11px;color:#44C93A;margin:0 0 10px 0;}
h4		{background:#000000;padding:5px 0 5px 0;font-size:12px;width:140px;margin:0 0 3px 0;}
h5		{color:#44C93A;font-size:11px;margin:10px 0 0 0;}

.col_1	  {width:150px;padding:30px 0 0 0;vertical-align:top;}
#col_2	  {padding:30px 0 0 10px;vertical-align:top;}
#col_3	  {width:150px;padding:0 0 20px 0;vertical-align:top;}
#minis	  {height:380px;margin:30px 5px 0 0;}
#minis img{border:1px solid #787878;}
#minis a:hover img{border:1px solid #cccccc;filter:alpha(opacity=60);opacity:.6;}

.alineado			 {margin:0 0 0 60px;}
.alineado a img		 {border:2px solid #787878;}
.alineado a:hover img{border:2px solid #cccccc;filter:alpha(opacity=80);opacity:.8;}

.obra		{margin:70px 0 0 0;}
.papel		{margin:100px 0 0 0;}
.digit		{margin:130px 0 0 0;}
.libro		{margin:160px 0 0 0;}
