body	{margin:0 00 0 00;font:11px Arial, Helvetica, sans-serif;background:url(pics/fondo1.gif) repeat-x #231F20;}
table	{background:#FFFFFF;}
.tabla1	{width:850;height:100%;}
td		{
	font:11px Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
a		{text-decoration:none;color:#000000;}
input	{display:block;}
textarea{display:block;}
em		{font-style:normal;color:#00958E;}
hr		{color:#00958E;}

h1		{font-size:14px;color:#999999;text-align:right;margin:0 10 0 0;}
h2		{font-size:11px;font-weight:normal;margin:0 0 5 10;color:#00958E;}

.top1	  {border-left:30px solid #00958E;padding:5 0 5 10;background:#000000;color:#ffffff;}
.top2a	  {height:60;vertical-align:bottom;padding:0 0 5 10;border-bottom:1px solid #00958E;}
.top2b	  {height:60;vertical-align:bottom;padding:0 10 5 0;border-bottom:1px solid #00958E;text-align:right;}

.botonera        {
	width:120;
	height:250px;
	padding:0 5 5 0;
	text-align:right;
	vertical-align:bottom;
	background-color: #849DAA;
	font-weight: normal;
}

.botonera a      {display:block;color:#FFFFFF;font-weight:500;}
.botonera a:hover{color:#00958E;}

.cuerpo	 {
	width:100%;
	padding:10;
	vertical-align:top;
	background-color: #C9D7DE;
}

.ultimos {height:120;}
.celda1	 {width:150;padding:0 10 0 0;vertical-align:top;border-right:1px solid #00958E;}
.celda2	 {width:150;padding:0 10 0 0;vertical-align:top;border-right:1px solid #00958E;}
.celda3	 {width:150;padding:0 10 0 0;vertical-align:top;}
.celda4	 {
	vertical-align:top;
	border-right:1px solid #00958E;
	padding-top: 0;
	padding-right: 10;
	padding-bottom: 0;
	padding-left: 0;
	margin-left: 10px;
}

.pie	 {padding:10 0 0 0;text-align:center;}

.borde1	   {width:11;}
.borde1 img{margin:0 0 0 5;}
.borde2    {width:11;}
.borde2 img{margin:0 5 0 0;}
