body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,img,input,button,select,textarea,p,th,td,img,figure,hr{margin:0;padding:0;border:0;outline:0}
table{border-collapse:collapse;border-spacing:0} caption,th{text-align:left}
address,caption,cite,code,dfn,em,strong,th,var{font-style:inherit;font-weight:inherit} a,label,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,nav,p,li,dt,dd,caption,td,th,fieldset,label,textarea,select,option,input,output,button{font-family:arial,sans-serif;font-size:16px;line-height:1.2em;font-weight:normal;color:#fff}
a,span,small,b,i,em,strong,abbr,var,output{display:inline-block}
body,html,figure		{height:100%;background:#000}
h3,.h3 					{font-size:18px;margin-top:0.5em;color:inherit}
h4,h5 					{color:inherit} 
.wrap,figure  			{overflow:hidden;position:relative}
.fl             		{float:left;position:relative}
.fr            			{float:right;position:relative}
.f1       				{width:60%}
.f2						{width:50%}
.f3,td:first-child     	{width:33%}
.f4             		{width:25%}
.tc,td 		  			{text-align:center}
.tr             		{text-align:right}
tr.tl td 				{text-align:left}
.bo,tr.bo td       		{font-weight:bold}
.bl       				{display:block}
.br        				{margin-top:2em}
.hr             		{margin-top:4em}
p 						{margin-bottom:1em}
.btn					{width:64px;height:64px;line-height:64px;font-size:12px;border-radius:50%;background:#95c24a;vertical-align:middle;text-align:center}
.btn.small 				{width:48px;height:48px;line-height:48px}
.btn span 				{width:48px;line-height:16px;margin-top:16px} /*2line*/
.btn.remove 			{background:#ccc}
.none,[type='checkbox'],.tooltip p{display:none}
.ico 					{vertical-align:middle;width:16px;height:16px;background:url(img/sprites.png) no-repeat}
form > div 				{position:fixed;width:240px;top:0;left:0;padding:42px 30px 30px 30px;height:96%;background:linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,1));z-index:3}
form .flexcroll 		{height:100px}
/*form .flexcroll:after {content:"";position:absolute;bottom:0;width:100%;height:6em;background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));z-index:2}*/
form .repucom 			{margin:0 0 2em 20px}
fieldset h4				{margin:1em 0 7px 20px;font-size:18px}
ul						{list-style:none}
ul span 				{width:180px;vertical-align:top}
li 						{line-height:1.2em;margin-bottom:6px}
button.search 			{position:absolute;bottom:4%;right:2%;z-index:3}
#total					{margin:2em 0 4em 20px}
input + .ico 			{background-position:666px;margin:-4px 4px 0 0}
input:checked + .ico 	{background-position:-98px -95px}
input:checked ~ .afr,#popup .afr,label .afr:hover{color:#e6ce00}
input:checked ~ .asi,#popup .asi,label .asi:hover{color:#f7a3a3}
input:checked ~ .ams,#popup .ams,label .ams:hover{color:#b8b8b8}
input:checked ~ .eur,#popup .eur,label .eur:hover{color:#f9af3b}
input:checked ~ .amn,#popup .amn,label .amn:hover{color:#018fc2}
[type="search"]			{width:12em;border-bottom:1px dotted #fff;background:transparent;-webkit-appearance:initial}
[name="assets"] input:checked ~ span,.mod em,ul span:hover,td a{color:#95c24a}
footer p 				{position:absolute;top:0;left:45%}
.tooltip				{position:fixed;top:570px;left:24%;width:320px;padding:1em 4em 1em 1em;border:2px solid #95c24a;background-color:#000;background-repeat:no-repeat;z-index:3}
.tooltip:before 		{content:"";position:absolute;width:28px;height:67px;left:-28px;top:50%;margin-top:-34px;background:url(img/sprites.png) -170px -26px}
.tooltip .ico.close 	{position:absolute;top:50%;right:1em;margin-top:-18px}
.tooltip.dig 			{background-image:url(img/bg_dig.jpg)}
.tooltip.gen 			{background-image:url(img/bg_gen.jpg)}
.tooltip.jer 			{background-image:url(img/bg_jer.jpg)}
.tooltip.osl 			{background-image:url(img/bg_osl.jpg)}
.tooltip.ost 			{background-image:url(img/bg_ost.jpg)}
.tooltip.pre 			{background-image:url(img/bg_pre.jpg)}
.tooltip.spo 			{background-image:url(img/bg_spo.jpg)}
.tooltip.sta 			{background-image:url(img/bg_sta.jpg)}
.tooltip.sub 			{background-image:url(img/bg_sub.jpg)}
.tooltip.tro 			{background-image:url(img/bg_tro.jpg)}
.dig,.gen,.jer,.osl,.ost,.pre,.spo,.sta,.sub,.tro{width:600px;height:500px;padding:0;top:370px}
.ise .ise,.tic .tic,.map .map,.sig .sig,.pml .pml,.ful .ful,.mas .mas,.ptt .ptt,.pla .pla,.mta .mta,.hos .hos,.mcm .mcm,.oth .oth,.web .web{display:block;font-size:20px;margin:0}

#popup,header,.code		{position:fixed;box-sizing:border-box;-moz-box-sizing:border-box;width:100%;height:100%;padding:2% 0 0 22%;top:0;left:0;background:rgba(0,0,0,0);z-index:-1;transition:all 1s}
#popup.active			{background-color:rgba(0,0,0,0.7);z-index:2}
#popup section			{height:96%;box-sizing:border-box;-moz-box-sizing:border-box}
#popup nav 				{position:absolute;bottom:0}
#popup .f1 h2 			{width:192px;margin-bottom:3em}
#popup .f3 				{padding:5em 0 0 2em}
#popup .flexcroll      	{height:92%}
#popup h5 + p,td 		{font-size:12px;line-height:1.5}
.scroll article 		{display:table-row;height:192px}
article div 			{display:table-cell;min-width:192px;vertical-align:middle;padding:0 2em 2em 0}
article input,output    {width:6em;font-size:inherit;color:inherit;background:none}
article .p1 			{border-bottom:2px dotted #fff}
article em,header .f1,header .f3 a{font-size:18px}
article .s2,.mod .s1 	{display:none}
.mod .s2 				{display:initial;position:relative}
.reset 					{position:absolute;top:-28px;left:90px}
.icon 					{background:url(img/icon.png) no-repeat;background-size:100%;transition:all 500ms}
.ico.search 			{background-position:-81px -95px}
.ico.info	 			{background-position:-115px -95px;float:right;margin-right:5px;cursor:pointer}
.ico.info.active,small.ico.info:hover{background-position:-132px -95px}
.ico.done 				{background-position:-64px -95px;margin:-4px 4px 0 -22px;visibility:hidden}
.ico.close 				{background-position:-27px -95px;width:36px;height:36px;vertical-align:bottom}
.ico.arrow 				{background-position:-149px -95px;width:24px;height:24px}
.ico.repucom 			{width:180px;height:25px;background-position:-27px 0;text-indent:-666px}
.ico.guinness 			{position:absolute;top:17px;right:50px;width:142px;height:68px;background-position:-27px -26px;z-index:2}
header 					{padding:5em 0 0 0;background:url(img/welcome.png) center 5em no-repeat rgba(149,194,74,0.8)}
header.active 			{z-index:4} 		
header .repucom 		{margin-top:-1em}
header .f1 				{padding-left:22%}
header .wrap 			{width:990px;margin:290px auto 0 auto}
header .f3 				{width:32%;margin-right:2%}
header .f3 + .f3 + .f3 	{margin-right:0}
header .ico.repucom 	{margin:-15px 7px 0 7px}
.code 					{padding:0}
.code.active 			{background-color:rgba(0,0,0,0.7);z-index:4}
.code .f1 				{margin:4em auto}
.code .flexcroll 		{height:500px}
.code h6 				{font-size:13px;margin-bottom:7px;line-height:1.4em}
table 					{width:98%;background:#ccc}
td 						{padding:8px;color:#000}

figure #div 	        {position:absolute}
figure .animate        	{transition:all 500ms;-webkit-transition:all 500ms}
svg               		{width:100%;height:100%}
pattern rect 			{fill:#111}
pattern circle			{fill:#333}
path                	{fill:#333;stroke:#95c24a}
text                	{font-size:2px;font-family:arial,sans-serif;fill:#fff;visibility:hidden;text-anchor:middle}
text.small 				{font-size:1px}
#afr .selected path,#afr .selected:hover path {fill:#e6ce00}
#asi .selected path,#asi .selected:hover path {fill:#f04848}
#ams .selected path,#ams .selected:hover path {fill:#b8b8b8}
#eur .selected path,#eur .selected:hover path {fill:#f9af3b}
#amn .selected path,#amn .selected:hover path {fill:#018fc2}
#afr g:hover path,#afr g.hover path {fill:#f2e67f}
#asi g:hover path,#asi g.hover path {fill:#f7a3a3}
#ams g:hover path,#ams g.hover path {fill:#dbdbdb}
#eur g:hover path,#eur g.hover path {fill:#fcd79d}
#amn g:hover path,#amn g.hover path {fill:#80c7e0}
g g:hover 				{cursor:pointer}
g g:hover text,.mod .ico.done{visibility:visible}
g g[style] path 		{fill:#1d1d1d} 
g g[style]:hover		{cursor:default}
g g[style]:hover path  	{fill:#1d1d1d !important} @media screen and (-webkit-min-device-pixel-ratio:0){ g g[style] path,g g[style]:hover path {fill:url(#bg1) !important} }
[data-zoom="0"] #div  	{width:1200px;height:600px}
[data-zoom="1"] #div 	{width:2400px;height:1200px}
[data-zoom="2"] #div  	{width:4800px;height:2400px}
[data-zoom="3"] #div  	{width:9600px;height:4800px}
[data-zoom="0"] path    {stroke-width:0.4}
[data-zoom="1"] path    {stroke-width:0.2}
[data-zoom="2"] path    {stroke-width:0.1}
[data-zoom="3"] path    {stroke-width:0.1}
[data-zoom="0"] mark 	{top:132px}
[data-zoom="1"] mark 	{top:102px}
[data-zoom="2"] mark 	{top:62px}
[data-zoom="3"] mark 	{top:22px}
.zoom 					{position:absolute;top:42%;right:2%;width:26px;height:172px;background:url(img/sprites.png)}
.zoom a 				{position:absolute;width:24px;height:24px}
.zoom a[rel="prev"] 	{top:0}
.zoom a[rel="next"] 	{bottom:0}
.zoom mark 				{position:absolute;width:18px;height:18px;margin-left:4px;background:#fff;border-radius:50%}

/*flexcroll*/
.scrollgeneric          {position:absolute}
.vscrollerbase          {width:16px}
.vscrollerbase:before   {content:"";position:absolute;width:5px;left:7px;height:100%;border-left:1px dotted #fff}
.vscrollerbar           {width:16px;height:16px !important;background:#fff;border-radius:8px;margin-left:-1px}

@media (max-height:700px)
{
	form > div 			{overflow:auto;background-color:rgba(0,0,0,0.5)}
	ul span 			{width:150px}
}