/*html		{height:100%;}*/
/*body	    {height:100%;margin:0;background:url(http://www.newcoprintinginks.com/img/fondo_body.gif) repeat-y center;font-family:Verdana, Geneva, sans-serif;}*/
body	    {margin:0;background:url(http://www.newcoprintinginks.com/img/fondo_body2.gif);font-family:Verdana, Geneva, sans-serif;}
#central    {position:absolute;left:50%;top:0;width:800px;/*height:100%;*/background:#ffffff;margin-left:-400px;}
iframe		{width:520px;height:320px;}
a			{outline:none;}
em			{font-style:normal;color:#009FEF;font-weight:bold;}
input,textarea	{font-size:11px;font-family:Verdana, Geneva, sans-serif;}
dl			{margin:0 36px 24px 230px;}
dt			{font-size:12px;padding:8px 0;font-weight:bold;}
dd			{font-size:12px;}

.top			{width:800px;height:160px;background:url(http://www.newcoprintinginks.com/img/fondo_mapa.gif) no-repeat;background-position:260px 0;}
.top a			{outline:none;text-decoration:none;color:#333333;font-size:11px;}
.top .logo		{border:0;margin:20px 0 0 30px;}
.top .idioma	{position:absolute;top:30px;left:660px;}
.top .idioma a:hover	{color:#C1DC01;}
.top .buscar	{position:absolute;top:175px;left:16px;width:190px;height:60px;background:url(http://www.newcoprintinginks.com/img/fondo_buscar2.gif) no-repeat;}
.top form		{margin:14px 0 0 26px;}
.top form input	{border:1px solid #666666;}
.top .caja1     {width:140px;display:block;}
.top .caja2 	{width:100px;margin:2px 0 0 21px;}
.top .boton 	{position:absolute;top:70px;left:260px;}
.top .boton div	{width:130px;height:34px;padding:6px 0 0 0;float:left;background:url(http://www.newcoprintinginks.com/img/bt_verde_off.gif) no-repeat;text-align:center;}
.top .pad		{line-height:24px;}
.top .tinta		{position:absolute;top:120px;left:0;border-bottom:4px solid #cef437;}

h1				{font-size:14px;margin:20px 0 12px 230px;padding:0 0 0 20px;color:#009FEF;background:url(http://www.newcoprintinginks.com/img/logo_ico.gif) no-repeat left;text-transform:capitalize;}
h1 a			{color:#067AB5;text-decoration:none;}
h1 a:hover		{text-decoration:underline;}
h2				{font-size:13px;margin:12px 24px 12px 230px;color:#666666;border-bottom:1px solid #666666;}
h3				{font-size:13px;margin:12px 0;text-align:center;}
h4				{font-size:13px;margin:8px 0 24px 0;border-bottom:1px solid #009FEF;}
h4 a			{text-decoration:none;color:#009FEF;}

/*index*/
#inicio			{padding:16px 0 0 0;background:url(http://www.newcoprintinginks.com/img/fondo_tinta.gif) no-repeat left;background-position:0 80px;}
#inicio p,ul	{font-size:12px;margin:0 36px 24px 230px;line-height:18px;text-align:justify;}
.noticias		{float:right;width:200px;height:440px;margin:40px 20px 40px 20px;overflow:auto;background:url(http://www.newcoprintinginks.com/img/fondo_buscar.gif) top left no-repeat #d8d8d8;}
.noticias h5	{font-size:12px;margin:12px;}
.noticias div	{font-size:9px;margin:12px;width:170px;text-align:left;}
.noticias a     {color:#009FEF;}
.noticias img	{width:80px;border:1px solid #000000;}

/*empresa y expansion*/
#empresa				{padding:16px 0 0 0;}
#empresa a				{color:#067AB5;}
#empresa p,ul			{font-size:12px;margin:0 36px 24px 230px;line-height:18px;text-align:justify;}
#empresa #subsec		{position:absolute;top:270px;left:40px;font-size:11px;}
#empresa #subsec div	{width:160px;height:26px;padding:10px 0 0 0;background:url(http://www.newcoprintinginks.com/img/bt_azul_off.gif) no-repeat;text-align:center;}
#empresa #subsec a		{display:block;text-decoration:none;color:#333333;}
#empresa #subsec a:hover{color:#009FEF;}

/*productos*/
#productos				{padding:16px 0 0 0;min-height:400px;}
#productos p,ul			{font-size:11px;margin:12px 0 24px 0;line-height:18px;text-align:justify;}
#productos p a			{color:#009FEF;}
.derecha				{float:left;width:550px;}
.mini			{float:left;width:190px;height:300px;margin:30px 20px 20px 17px;background:url(http://www.newcoprintinginks.com/img/fondo_buscar.gif) top left no-repeat #d8d8d8;text-align:center;}
.mini h5		{font-size:10px;margin:12px 4px;}
.mini span		{font-size:11px;display:block;margin:8px;}
.mini label		{display:block;font-size:12px;}
.mini textarea	{width:160px;border:1px solid #666666;}
.mini input		{border:1px solid #666666;}
.mini .bte		{width:160px;margin:0 0 3px 0;}

.lista					{margin:-8px 0 0 0;padding-left:32px;}
.lista a				{color:#009FEF;}
.sublista,.sublista ul	{margin:0 0 24px 0;padding:0 15px;}
.sublista a				{color:#009;}
.intro1					{font-size:11px;color:#666666;margin:5px 0;}
.intro2					{font-size:11px;color:#333333;margin:5px 0;}

/*legal*/
#legal			{padding:16px 0 0 0;}
#legal p,ul		{font-size:12px;margin:0 36px 24px 230px;line-height:18px;text-align:justify;}

/*contacto*/
#contacto				{padding:16px 0 0 0;}
#contacto p,ul			{font-size:12px;margin:0 36px 24px 230px;line-height:18px;text-align:justify;}
#contacto #subsec		{position:absolute;top:270px;left:40px;font-size:11px;}
#contacto #subsec div	{width:160px;height:26px;padding:10px 0 0 0;background:url(http://www.newcoprintinginks.com/img/bt_azul_off.gif) no-repeat;text-align:center;}
#contacto #subsec a		{display:block;text-decoration:none;color:#333333;}
#contacto #subsec a:hover{color:#009FEF;}
#contacto form			{font-size:11px;margin:0 36px 24px 230px;}
#contacto form .caja1	{width:420px;margin:0 0 8px 0;border:1px solid #D8D8D8;display:block;}
#contacto form .caja2	{width:100px;margin:0 0 0 320px;border:1px solid #D8D8D8;display:block;text-align:center;}

.pie			{height:80px;font-size:10px;color:#666666;}
.pie .izq		{float:left;width:360px;padding:20px;border-top:2px solid #D8D8D8;border-bottom:2px solid #D8D8D8;}
.pie .der		{float:left;width:360px;padding:20px;border-top:2px solid #D8D8D8;border-bottom:2px solid #D8D8D8;text-align:right;}
.pie a			{color:#009FEF;text-decoration:none;}