body		{margin:32px 0;background:url(http://www.volumetric.eu/img/fondo_1.gif) repeat-x #fff;}
a			{outline:none;}
h1			{margin:24px 0;font:18px Verdana, Geneva, sans-serif;color:#036;}
h2			{}

h3			{width:110px;height:21px;padding:4px 0 0 0;margin:0 4px 0 0;float:left;text-align:center;font:12px Verdana, Geneva, sans-serif;}
.gris		{background:url(http://www.volumetric.eu/img/fondo_h3.gif) no-repeat;}
.azul		{background:url(http://www.volumetric.eu/img/fondo_h3_azul.gif) no-repeat;}
.gris a		{color:#333;text-decoration:none;}
.azul a		{color:#fff;text-decoration:none;}
h3 a:hover	{text-decoration:underline;}
.h3fila		{height:25px;}

h4			{margin:0 24px;font:11px Verdana, Geneva, sans-serif;font-weight:bold;}
h4 a		{color:#333;}
h4 a:hover  {color:#045f9c;}
table		{margin:16px;}
td			{vertical-align:top;font:12px Verdana, Geneva, sans-serif;}
form		{}
label		{font:12px Verdana, Geneva, sans-serif;color:#666;}
fieldset	{border:1px solid #003A6C;padding:16px;margin:16px 24px 0 24px;}
legend		{font:12px Verdana, Geneva, sans-serif;color:#003A6C;font-weight:bold;}
select,option{font:12px Verdana, Geneva, sans-serif;}
input		{font:12px Verdana, Geneva, sans-serif;border:1px solid #333;}

#central	{position:absolute;left:50%;width:900px;margin-left:-450px;}

#arriba		{height:100px;background:url(http://www.volumetric.eu/img/fondo_a.jpg) no-repeat #fff;background-position:395px 4px;border-left:1px solid #9b9b9b;border-right:1px solid #9b9b9b;}
#arriba div {width:100%;position:absolute;top:-25px;text-align:right;color:#333;}
#arriba a	{font:11px Verdana, Geneva, sans-serif;color:#fff;}
#arriba a:hover{color:#ccc;}
#arriba	img {border:0;margin:32px 0 0 16px;}

#boton			{height:72px;padding:8px 0 0 0;background:url(http://www.volumetric.eu/img/fondo_2.gif) no-repeat;}
#boton a		{font:11px Verdana, Geneva, sans-serif;letter-spacing:-1px;color:#333;font-weight:bold;text-decoration:none;}
#boton a:hover	{color:#045f9c;text-decoration:underline;}
#boton a[title="Volumetric"]{padding:0 40px 0 115px;}
#boton a[title="Curso"]		{padding:0 13px 0 0;}
#boton a[title="Terminadas"]{padding:0 50px 0 0;}
#boton a[title="Alquiler"]	{padding:0 40px 0 0;}

#centro		{background:#fff;border-left:1px solid #9b9b9b;border-right:1px solid #9b9b9b;}
#centro p   {font:11px Verdana, Geneva, sans-serif;}

/*index.php*/
.noticias	{position:absolute;margin:17px 0 0 24px;width:310px;height:320px;background:url(http://www.volumetric.eu/img/fondo_noticias.gif) no-repeat;}
.noticias h5{font:12px Verdana, Geneva, sans-serif;font-weight:bold;margin:10px 0 12px 16px;color:#fff;}
.noticias p	{margin:24px;}
.noticias a	{display:block;margin:8px 0 4px 16px;color:#003A6C;font:12px Verdana, Geneva, sans-serif;}
.phome		{margin:0;padding:16px;text-align:right;}
.phome img	{border:0;}

/*promociones.php*/
.form_busq select			{width:130px;}
.lista td					{border-bottom:10px solid #fff;}
.lista a					{color:#000;font-weight:bold;}
.lista img[alt="Logo"]		{margin:0 24px 0 0;}
.lista img[alt="Inmueble"]	{margin:0 0 0 24px;width:120px;border:4px solid #eee;}
.lista .mid					{background:#eee;padding:8px;}
/*promociones-ficha.php*/
.ficha					{margin:16px 24px 0 24px;}
.ficha .izq				{width:480px;padding:0 20px 0 0;}
.ficha .izq	p			{margin:8px 0 16px 0;}
.ficha .der				{width:360px;}
.ficha #zfoto			{margin:24px 0 0 0;}
.ficha .caja_foto		{width:360px;height:360px;margin:0 0 8px 0;text-align:center;}
.ficha #zfoto iframe	{border:5px solid #ddd;}
.ficha #zfoto img		{border:5px solid #ddd;}
.ficha h5				{height:94px;margin:0 0 8px 0;padding:8px;color:#036;font:18px Verdana, Geneva, sans-serif;border:1px solid #ccc;}
.ficha h5 a				{color:#036;}

/*quienes somos*/
.quienes	{min-height:320px;margin:0 0 0 350px;}
.quienes p	{margin:16px 32px 0 16px;}

/*legal*/
.legal p	{margin:16px 16px 0 16px;}

#abajo		{height:118px;background:url(http://www.volumetric.eu/img/fondo_3.gif) no-repeat bottom;font:11px Verdana, Geneva, sans-serif;text-align:center;}
#abajo p	{margin:0;padding:78px 0 0 0;}
#abajo a	{color:#333;}
#abajo a:hover{color:#045f9c;}