/*===== CSS theme file for CalendarXP 8.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center; font:12px Arial, Helvetica, sans-serif; color:white;}
/* Day Cell - the calendar cell of each day */
.CalCell {cursor:hand; text-align:center;}
/* Day Number Anchor style */
.CellAnchor {text-decoration:none; font:12px Arial, Helvetica, sans-serif;}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor:default; text-align:center; font:12px Arial, Helvetica, sans-serif; color:cyan;}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; font:12px Arial, Helvetica, sans-serif; background:cyan;}

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:middle; height:20px; width:18px; font:12px Arial, Helvetica, sans-serif; color:black;}
A.MonthNav:hover {color:#BD0000;}
A.MonthNav:active {color:#BD0000;}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center;}
.CalMiddle {}
.CalBottom {text-align:center;}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {vertical-align:middle; font:12px Arial, Helvetica, sans-serif; color:black;}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:0;}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {border:0;}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.Today {text-decoration:none; font:12px Arial, Helvetica, sans-serif; color:#333;}
A.Today:hover {color:#BD0000;}
A.Today:active {color:#BD0000;}

