body		{margin:16px 0;text-align:center;}
div			{font-family:Verdana, Arial, Helvetica, sans-serif;}
em			{color:#39567e;font-style:normal;font-weight:bold;}
h2			{color:#39567e;font-size:20px;}
h3			{color:#39567e;font-size:18px;margin:0;padding:12px;background:#eeeeee;}
fieldset	{margin:-52px 20px 0 20px;padding:8px;background:#eeeeee;border:1px solid #cccccc;}
input		{font:11px Verdana, Arial, Helvetica, sans-serif;}
select		{}/*{border:none;}*/
textarea	{font:11px Verdana, Arial, Helvetica, sans-serif;border:1px solid #000000;display:block;}
label		{font:11px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#39567e;}
a			{outline:none;}
iframe		{border:1px solid #cccccc;}
dl			{margin:24px;}
dt			{margin-top:8px;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;font-weight:bold;}
dd			{font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;}
ul			{margin:24px;}
li			{font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;}

#central		{width:900px;margin:0 auto;}
.top			{height:115px;margin:0 0 10px 0;text-align:right;}
.top img		{border:0;position:relative;left:-300px;}
.top a[title]	{padding:0 0 0 12px;font-size:11px;color:#888888;text-decoration:none;}
.top a:hover	{color:#39567e;}
.fsearch label	{margin:0 4px;}
.fsearch input	{padding:2px;}

/*home*/
.home-botones	 		{height:180px;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.home-botones div		{height:110px;float:left;width:398px;padding-top:70px;color:#39567e;font-weight:bold;font-size:20px;text-decoration:none;}
.home-botones a[title="Hotel Nextto"]	{height:110px;float:left;width:448px;padding-top:70px;color:#39567e;font-weight:bold;font-size:20px;text-decoration:none;background:url(../img/fondo-hotel.gif) center no-repeat;border-right:1px solid #cccccc;}
.home-botones a[title="Suites Nextto"]{height:110px;float:left;width:449px;padding-top:70px;color:#39567e;font-weight:bold;font-size:20px;text-decoration:none;background:url(../img/fondo-suite.gif) center no-repeat;}		 
.home-botones a:hover	{background:#efefef;font-size:24px;}
.home-img		 		{height:70px;padding-top:180px;border:1px solid #cccccc;background:url(../img/fondo-home2.gif) center no-repeat;}
/**/

/*hotel*/
.cuerpo_hotel	{border:1px solid #cccccc;}
.cuerpo_hotel p	{margin:24px 24px;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;line-height:18px;}
.col_1			{float:left;width:50%;}
.col_2			{float:left;width:50%;}
.col_2 img		{border:1px solid #cccccc;margin:4px;}

/*suites*/
.cuerpo_suites	{height:820px;border:1px solid #cccccc;}
.cuerpo_suites p{margin:24px 24px;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;line-height:18px;}
#columna1		{float:left;width:298px;height:100%;}
#columna2		{float:left;width:299px;height:100%;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
#columna3		{float:left;width:299px;height:100%;}
img[title="Next to Suites"] {width:200px;height:150px;margin:0 0 0 20px;border:5px solid #eeeeee;}

/*contacto*/
.f1				{margin:16px;}
.f1 label		{display:block;text-align:left;}
.f1 input		{display:block;border:1px solid #000000;}

.pie			{margin:8px 0;font-size:11px;color:#888888;}
.pie a			{color:#39567e;text-decoration:none;}