<fieldset>
        <form action="#" method="post">
          <label>Arrival Date:</label>
          DateInput('orderdate', true, 'DD-MON-YYYY')
          <input name="orderdate" value="22-JUL-2009" type="hidden" />
          <table cellpadding="0" cellspacing="2">
            <tbody>
              <tr>
                <td valign="middle">
                <select name="orderdate_Month_ID" id="orderdate_Month_ID" onchange="orderdate_Object.changeMonth(this)">
                  <option value="0">January</option>
                  <option value="1">February</option>
                  <option value="2">March</option>
                  <option value="3" selected="selected">April</option>
                  <option value="4">May</option>
                  <option value="5">June</option>
                  <option value="6">July</option>
                  <option value="7">August</option>
                  <option value="8">September</option>
                  <option value="9">October</option>
                  <option value="10">November</option>
                  <option value="11">December</option>
                </select>
                </td>
                <td valign="middle">
                <select name="orderdate_Day_ID" id="orderdate_Day_ID" onchange="orderdate_Object.changeDay(this)">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option selected="selected">7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option value="31">31</option>
                </select>
                </td>
                <td valign="middle"><input id="orderdate_Year_ID" size="4" maxlength="4" title="Year" value="2009" onkeypress="return YearDigitsOnly(window.event)" onkeyup="orderdate_Object.checkYear(this)" onblur="orderdate_Object.fixYear(this)" type="text" />
                </td>
                <td valign="middle">
                	<a id="orderdate_ID_Link" href="javascript:orderdate_Object.show()" onmouseover="return orderdate_Object.iconHover(true)" onmouseout="return orderdate_Object.iconHover(false)">
                    	<img src="http://www.grupoindian.com/nextto/img/ico-calendar.jpg" title="Calendar" align="baseline" border="0" /></a> 
                        <span id="orderdate_ID" onmouseover="orderdate_Object.handleTimer(true)" onmouseout="orderdate_Object.handleTimer(false)">
                  <table cellpadding="1" cellspacing="0" width="126">
                    <tbody>
                      <tr>
                        <td id="orderdate_Previous_ID" onclick="orderdate_Object.previous.go()" onmousedown="VirtualButton(this,true)" onmouseup="VirtualButton(this,false)" onmouseover="return orderdate_Object.previous.hover(this,true)" onmouseout="return orderdate_Object.previous.hover(this,false)" title="June" align="center"><img src="http://www.grupoindian.com/nextto/img/ico-prev.gif" /></td>
                        <td id="orderdate_Current_ID" colspan="5" onclick="orderdate_Object.displayed.goCurrent()" onmouseover="self.status='Click to view April 2009';return true;" onmouseout="self.status='';return true;" title="Show Current Month" align="center">July 2009</td>
                        <td id="orderdate_Next_ID" onclick="orderdate_Object.next.go()" onmousedown="VirtualButton(this,true)" onmouseup="VirtualButton(this,false)" onmouseover="return orderdate_Object.next.hover(this,true)" onmouseout="return orderdate_Object.next.hover(this,false)" title="August" align="center"><img src="http://www.grupoindian.com/nextto/img/ico-next.gif" /></td>
                      </tr>
                      <tr>
                        <td align="center" width="18">S</td>
                        <td align="center" width="18">M</td>
                        <td align="center" width="18">T</td>
                        <td align="center" width="18">W</td>
                        <td align="center" width="18">T</td>
                        <td align="center" width="18">F</td>
                        <td align="center" width="18">S</td>
                      </tr>
                    </tbody>
                  </table>
                  <span id="orderdate_DayTable_ID">
                    <table cellpadding="1" cellspacing="0" width="126">
                      <tbody>
                        <tr>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td onclick="orderdate_Object.pickDay(1)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',1)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">1</td>
                          <td onclick="orderdate_Object.pickDay(2)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',2)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">2</td>
                          <td onclick="orderdate_Object.pickDay(3)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',3)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">3</td>
                          <td onclick="orderdate_Object.pickDay(4)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',4)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">4</td>
                        </tr>
                        <tr>
                          <td onclick="orderdate_Object.pickDay(5)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',5)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">5</td>
                          <td onclick="orderdate_Object.pickDay(6)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',6)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">6</td>
                          <td onclick="orderdate_Object.pickDay(7)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',7)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">7</td>
                          <td onclick="orderdate_Object.pickDay(8)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',8)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">8</td>
                          <td onclick="orderdate_Object.pickDay(9)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',9)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">9</td>
                          <td onclick="orderdate_Object.pickDay(10)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',10)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">10</td>
                          <td onclick="orderdate_Object.pickDay(11)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',11)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">11</td>
                        </tr>
                        <tr>
                          <td onclick="orderdate_Object.pickDay(12)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',12)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">12</td>
                          <td onclick="orderdate_Object.pickDay(13)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',13)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">13</td>
                          <td onclick="orderdate_Object.pickDay(14)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',14)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">14</td>
                          <td onclick="orderdate_Object.pickDay(15)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',15)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">15</td>
                          <td onclick="orderdate_Object.pickDay(16)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',16)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">16</td>
                          <td onclick="orderdate_Object.pickDay(17)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',17)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">17</td>
                          <td onclick="orderdate_Object.pickDay(18)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',18)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">18</td>
                        </tr>
                        <tr>
                          <td onclick="orderdate_Object.pickDay(19)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',19)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">19</td>
                          <td onclick="orderdate_Object.pickDay(20)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',20)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">20</td>
                          <td onclick="orderdate_Object.pickDay(21)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',21)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">21</td>
                          <td onclick="orderdate_Object.pickDay(22)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'lightgrey',22)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'lightgrey')" align="center">22</td>
                          <td onclick="orderdate_Object.pickDay(23)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',23)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">23</td>
                          <td onclick="orderdate_Object.pickDay(24)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',24)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">24</td>
                          <td onclick="orderdate_Object.pickDay(25)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',25)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">25</td>
                        </tr>
                        <tr>
                          <td onclick="orderdate_Object.pickDay(26)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',26)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">26</td>
                          <td onclick="orderdate_Object.pickDay(27)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',27)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">27</td>
                          <td onclick="orderdate_Object.pickDay(28)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',28)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">28</td>
                          <td onclick="orderdate_Object.pickDay(29)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',29)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">29</td>
                          <td onclick="orderdate_Object.pickDay(30)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',30)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">30</td>
                          <td onclick="orderdate_Object.pickDay(31)" onmouseover="return orderdate_Object.displayed.dayHover(this,true,'white',31)" onmouseout="return orderdate_Object.displayed.dayHover(this,false,'white')" align="center">31</td>
                          <td> </td>
                        </tr>
                      </tbody>
                    </table>
                  </span> </span> </td>
              </tr>
            </tbody>
          </table>
          <label>Nº nights:</label>
          <br />
          <input size="4" maxlength="2" name="noches" type="text" />
          <input value="SEARCH" type="submit" />
        </form>
      </fieldset>