body	    {margin:0;font:12px Arial, Helvetica, sans-serif;color:#666666;}
a			{text-decoration:none;outline:none;}
a:hover		{text-decoration:underline;}
em			{font-style:normal;color:#076594;}
input,textarea{font:12px Arial, Helvetica, sans-serif;}
h2			{color:#076594;}
h3			{color:#666666;}

.botonera		{padding:8px 0 8px 16px;border-bottom:1px solid #999999;}
.botonera a		{padding:0 16px 0 0;color:#076594;}
.botonera img	{margin:0 0 0 32px;}

.arriba		{margin:16px 0 16px 16px;height:70px;}

/*solo la pagina index.php*/
.centrado 	{margin:64px 0 64px 0;} 

.centro		{margin:0 128px 16px 16px;}
.centro input,.centro textarea,.centro select{display:block;}

.listado	{float:left;width:745px;margin:0 32px 0 16px;}
.listado a	{color:#076594;}
.derecha	{float:left;margin:4px 0 0 0;}

.piecera	{padding:16px 0 16px 16px;border-top:1px solid #999999;} 
.piecera a	{color:#076594;}

#zona_upload	{display:none;}
#zona_progreso	{display:none;}
#zona_ultima	{display:none;}

