body    {background:#EEEEEE;margin:0;font:11px Verdana, Arial, Helvetica, sans-serif;}
td		{font:11px Verdana, Arial, Helvetica, sans-serif;}
a		{text-decoration:none;color:#4478B2;font-size:11px;font-weight:bold;}
a:hover {text-decoration:none;color:#333333;}

/*cabecera y piecera*/
.cabecera {width:890px;height:80px;padding:30px 0 0 0;background:url(img/i_bisel2.gif) no-repeat;vertical-align:top;text-align:center;}
.cabecera1{margin:0 20px 0 10px;border:0;}
.boton 	  {width:75px;height:25px;padding:10px;text-align:center;color:#4478B2;margin-top:10px;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;background:url(img/borde2.gif) bottom repeat-x;}

#popup1	  {position:absolute;top:95px;left:67px;width:502px;background:#333333;z-index:2;filter:alpha(opacity=95);opacity:.95;color:#FFFFFF;border:1px solid #FFFFFF;}
.popup2	  {background:#4478B2;height:45px;}
.piecera  {width:890px;background:url(img/bordelinea.jpg) repeat-y;padding:5px 0 0 35px;}

/*cajamid*/
.cajamid  	  {width:890px;background:url(img/bordelinea.jpg) repeat-y;}
.cajamid table{width:840px;margin:0 0 0 35px;}
.cajamid p	  {margin:0;}
.bt1		  {display:block;width:480px;height:58px;background:url(img/bt_nuevo1.gif) no-repeat;color:#999999;font-weight:normal;font-size:10px;}
.bt2		  {display:block;width:480px;height:58px;background:url(img/bt_nuevo2.gif) no-repeat;color:#999999;font-weight:normal;font-size:10px;}
.bt3		  {display:block;width:480px;height:58px;background:url(img/bt_nuevo3.gif) no-repeat;color:#999999;font-weight:normal;font-size:10px;}
.bt4		  {display:block;width:480px;height:58px;background:url(img/bt_nuevo4.gif) no-repeat;color:#999999;font-weight:normal;font-size:10px;}
.bt5		  {display:block;width:480px;height:58px;background:url(img/bt_nuevo5.gif) no-repeat;color:#999999;font-weight:normal;font-size:10px;}
.bt1 em	  	  {color:#333333;font-weight:bold;font-style:normal;}
.bt2 em		  {color:#fdb304;font-weight:bold;font-style:normal;}
.bt3 em		  {color:#22ab29;font-weight:bold;font-style:normal;}
.bt4 em		  {color:#2668aa;font-weight:bold;font-style:normal;}
.bt5 em		  {color:#aa1501;font-weight:bold;font-style:normal;}
.bt1 p,.bt2 p,.bt3 p,.bt4 p,.bt5 p	  {margin:5px 5px 0 45px;}

.marquesina	  {width:340px;height:72px;padding:14px 0 0 5px;background:url(img/boton7d.gif) no-repeat;}
marquee		  {width:325px;}

.cajaflash 	  {width:890px;background:url(img/bordelinea.jpg) repeat-y;padding:5px 0 5px 35px;}
.cajacentro	  {width:890px;background:url(img/bordelinea.jpg) repeat-y;padding:0 0 7px 7px;}

/*noticias*/
.noticias 		{width:890px;background:url(img/bordelinea.jpg) repeat-y;}
.noticias table	{width:830px;margin:5px 0 10px 35px;border:1px solid #999999;}
.noticias p		{padding:15px 0 0 35px;margin:0;}
.noticias td	{padding:4px;vertical-align:top;}
.noticias a		{color:#000000;font-weight:normal;}


.interior {margin:0px;background:url(img/i_fondolargo.gif) top left no-repeat #EEEEEE;padding:10;}
.interior2{margin:0px;}
.interior3{margin:0px;background:url(img/i_fondolargo.gif) top center no-repeat #EEEEEE;padding:10px;width:836;height:330;text-align:left;}
.interior4{margin:0px;background:url(img/fondonews.jpg) bottom center no-repeat #EEEEEE;width:860;height:335;text-align:left;}
.interior_noticia{margin:0 0 0 10px;background:#EEEEEE;padding:10px;width:836;height:auto;text-align:left;}

h1		{font-size:14px;}
h2		{font-size:10px;font-weight:bold;}
.cajacentro{text-align:center;background:url(img/bordelinea.jpg) repeat-y;}

.int td {width:155px;height:330px;background:url(img/i_columna.gif) no-repeat;vertical-align:top;padding:6;}

.contactar{width:360px;padding-left:16px;background:url(img/revista_portada.jpg) no-repeat top right;}
.caja_form{border:1px solid #000000;font-size:11px;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif;}	
