body{
	margin-top		:10px;
	margin-bottom	:0px;
	font-family		:Verdana, Arial, Helvetica, sans-serif;
	font-size		:11px;
	background-image:url(imgs/fondogris2.gif);
	background-repeat:no-repeat;}
a:link,a:visited,a:active{
	text-decoration	:none;
	color			:#339966;}
a:hover{
	text-decoration	:none;
	color			:#006600;}
.direccion{
	width:630px;
	text-align:center;}
.titulo{
	font-size		:14px;
	color			:#339966;
	padding-top		:10px;}
.texto1{
	width			:400px;
	font-size		:11px;}
.texto2{
	width			:320px;
	font-size		:11px;}
.texto3{
	width			:610px;
	text-align		:left;}
.fotos{
	float			:left;}
.izq{
	padding-right:400px;}


