body	{margin:0;background:#111111;}
#central{position:absolute;left:50%;top:50%;width:800px;height:440px;margin-left:-400px;margin-top:-210px;background:#000000;border:1px solid #333333;color:#ffffff;padding:1px;}

#top	{height:80px;background:url(img/fondo_top.gif) top repeat-x;}
#top img{border:0;margin:0 0 0 30px;}

#boton    {position:absolute;left:260px;top:047px;width:510px;text-align:right;border-bottom:1px solid #cdbc3c;}
#boton img{border:0;margin:0 0 1px 0;}
#boton a  {outline:none;}
#boton a:hover img{opacity:.7;filter:alpha(opacity=70);}

#boton2    {position:absolute;left:488px;top:75px;visibility:hidden;}
#boton2 img{border:0;}
#boton2 a  {outline:none;}
#boton2 a:hover img{opacity:.7;filter:alpha(opacity=70);}

#derecha  {position:absolute;left:400px;top:110px;width:370px;text-align:justify;font:11px Verdana, Arial, Helvetica, sans-serif;line-height:16px;}
#derecha2 {position:absolute;left:530px;top:110px;width:240px;text-align:justify;font:11px Verdana, Arial, Helvetica, sans-serif;line-height:16px;}

#izquierda{height:300px;}
.izqimg   {margin:30px 0 0 15px;}
#sub	  {height:60px;background:url(img/fondo_sub.gif) top repeat-x;}
#codigo   {background:#cccccc;color:#000000;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:center;border-top:1px solid #000000;}

a		{text-decoration:none;}
a:hover	{text-decoration:none;}
em		{font-style:normal;color:#cdbc3c;}
form	{margin:0;}
ul li a	{color:#cdbc3c;}

input	{font:11px Verdana, Arial, Helvetica, sans-serif;border:0;width:360px;display:block;margin:0 0 4px 0;background:#cccccc;}
textarea{font:11px Verdana, Arial, Helvetica, sans-serif;border:0;width:360px;display:block;margin:0 0 4px 0;background:#cccccc;}
.enviar {width:150px;background:#cdbc3c;font-weight:bold;margin:0 0 0 210px;}

h2		{font:11px Verdana, Arial, Helvetica, sans-serif;color:666666;line-height:16px;}

#capa_gal{padding:23px 0 0 40px;}
#capa_gal table td    {width:55px;height:55px;text-align:center;vertical-align:middle;}
#capa_gal table td img{width:45px;height:45px;border:0;}

#dhtmltooltip     {position:absolute;visibility:hidden;z-index:5;}