body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;}
a:link		{text-decoration:none;color:black;}
a:visited	{text-decoration:none;color:black;}
a:active	{text-decoration:none;color:black;}
a:hover		{text-decoration:underline;}
#tr1{
	position:absolute;
	width:770px;
	height:90px;
	top:0px;
	left:0px;
	padding-left:160px;
	background:#D3CF78;
	background-image:url(imgs/fondo0.gif);
	background-repeat:no-repeat;
	background-position:top left;
	z-index:2;}
#capamov1{
	position:absolute;
	width:450px;
	height:110px;
	top:-110px;
	left:170px;
	border:1px solid #D3CF78;
	background:#FFFFFF;
	z-index:1;}
#parrafo1{
	position:absolute;
	top:10px;
	left:170px;
	width:450px;
	height:130px;
	padding:12px;
	border:1px solid #D3CF78;
	background:url(imgs/fondo_izq.gif);
	background-repeat:no-repeat;
	background-position:right;}
	.parrafo0{
	color:#9B7D51;
	font-weight:bold;}
	.parrafo2{
	margin-left:36px;
	margin-top:16px;
	margin-right:36px;
	margin-bottom:16px;}
#tr2{
	position:absolute;
	width:150px;
	height:100%;
	top:10px;
	left:10px;
	border-right:1px solid #D3CF78;
	padding-top:10px;
	text-align:center;}
	.caja1{
	width:15px;
	height:15px;
	border-left:1px solid #D3CF78;
	border-top:1px solid #D3CF78;
	float:left;}
	.caja2{
	width:114px;
	height:15px;
	text-align:center;
	margin-top:1px;
	color:#000000;
	font-weight:bold;
	float:left;}
	.caja3{
	width:15px;
	height:15px;
	border-right:1px solid #D3CF78;
	border-top:1px solid #D3CF78;
	float:left;}
	.cajax{
	height:40px;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
	clear:left;}
	.caja4{
	width:15px;
	height:15px;
	border-left:1px solid #D3CF78;
	border-bottom:1px solid #D3CF78;
	margin-bottom:10px;
	float:left;}
	.caja5{
	width:114px;
	height:15px;
	margin-bottom:10px;
	float:left;}
	.caja6{
	width:15px;
	height:15px;
	border-right:1px solid #D3CF78;
	border-bottom:1px solid #D3CF78;
	margin-bottom:10px;
	float:left;}
#bloq1{
	position:absolute;
	top:170px;
	left:170px;
	width:220px;
	text-align:center;}	
#bloq2{
	position:absolute;
	top:170px;
	left:400px;
	width:220px;
	text-align:center;}
#bloq3{
	position:absolute;
	top:360px;
	left:170px;
	width:220px;
	text-align:center;}
#bloq4{
	position:absolute;
	top:360px;
	left:400px;
	width:220px;
	text-align:center;}
	#up1{
	height:125px;
	border:1px solid #006699;}
	#do1{
	background:#006699;
	padding:4px;}
	#up2{
	height:125px;
	border:1px solid #F57E00;}
	#do2{
	background:#F57E00;
	padding:4px;}
	#up3{
	height:125px;
	border:1px solid #778086;}
	#do3{
	background:#778086;
	padding:4px;}
	#up4{
	height:125px;
	border:1px solid #CCCC33;}
	#do4{
	background:#CCCC33;
	padding:4px;}
#tr4{
	position:absolute;
	width:140px;
	height:100%;
	top:0px;
	left:630px;
	float:left;
	border-left:1px solid #D3CF78;
	background-image:url(imgs/fondo0b.gif);
	background-repeat:no-repeat;
	background-position:top left;}
#pie{
	position:absolute;
	top:555px;
	left:185px;
	font-weight:bold;
	color:#9B7D51;}	
