body			{margin:0 20px;}
*				{font-family:Arial, Helvetica, sans-serif;}
td,p			{font-size:12px;}
a				{color:#54C3EC;}
h2				{border-bottom:1px dotted #54C3EC;}
input,textarea	{color:#666666;font-size:12px;}

.tabla1		{background:#666666;}
.cab		{background:#999999;font-weight:bold;}
.cab2		{background:#ffffff;}

.caja1		{width:350px;}
textarea	{width:560px;}