<div align="center" style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;background-color: #53C3EB;">
  <div style="color: #C3EBE9;width: 600px;font-size: 9px;padding-top: 10px;padding-bottom: 10px;">Si no puede ver correctamente este mensaje, pulse <a href="http://www.claronicetrips.com/panel/mailing.htm" target="_blank">aqu&iacute;</a></div>
   
	<div style="background-color: #FFFFFF;width: 600px;">
	 <div style="background-color: #FFFFFF;width: 600px;height: 100px;"><img src="http://www.claronicetrips.com/images/claro-cabecera.jpg" width="600" height="100" border="0" usemap="#Map">
       <map name="Map">
         <area shape="rect" coords="411,24,586,76" href="http://www.claronicetrips.com">
       </map>
	 </div>
		<div style="width: 560px;padding-right: 20px;padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">Introducir aqu&iacute; texto emailing, FOTOGRAF&Iacute;AS NO</div>
		<div style="background-color: #FFFFFF;width: 600px;margin: 0px;">
		  <p align="center"><strong>
		    <br>Claro nice trips, SL</strong><br>Gran V&iacute;a de les Corts Catalanes, 617 entlo 5&ordf; - 08007 Barcelona
		  <br>Tel. 933 176 525 - Fax 933 178 260<br><a href="mailto:info@claronicetrips.com">info@claronicetrips.com</a></p>
		  <p>&nbsp;</p>
		</div>
	</div>
	
	<div style="color: #C3EBE9;width: 600px;font-size: 9px;padding-top: 10px;padding-bottom: 10px;">
	  <div align="justify">En virtud de la Ley 34/2002 de Servicios de la Sociedad de la Informaci&oacute;n y de Comercio Electr&oacute;nico (LSSI-CE), en vigor desde el 12 de octubre de 2002 y de la Ley Org&aacute;nica 15/199 del 13/12/1999 de Protecci&oacute;n de Datos Espa&ntilde;ola, le comunicamos que su direcci&oacute;n de correo electr&oacute;nico forma parte de un fichero automatizado perteneciente a Claro nice trips SL, con la finalidad de enviar publicidad relativa a los productos representados y servicios ofrecidos, as&iacute; como comunicarle su opci&oacute;n de cancelaci&oacute;n o modificaci&oacute;n de estos datos. En virtud de la leyes antes mencionadas, usted tiene derecho de oposici&oacute;n, acceso, rectificaci&oacute;n y cancelaci&oacute;n de sus datos, dirigiendo un correo electr&oacute;nico a <a href="mailto:info@claronicetrips.com">info@claronicetrips.com</a>. Le recordamos que sus datos nunca son suministrados a terceros bajo ning&uacute;n concepto.</div>
	</div>
</div>