body	{margin:0 0 0 0; background:#eeeeee;}
a		{text-decoration:none;color:#9A3E3F;font-weight:bold;}
a:hover	{text-decoration:underline;color:#000000;}
.tabla1	{border:1px solid #833536;width:900px;background:#ffffff;}
td		{font:11px Arial, Helvetica, sans-serif;vertical-align:top;}

h1		  {font-size:18px;color:#9A3E3F;}
h2		  {font-size:12px;border-bottom:1px solid #9A3E3F;color:#9A3E3F;margin:0;padding:0;}
h3		  {font-size:11px;text-align:center;}
h4		  {font-size:11px;text-transform:uppercase;border-bottom:1px solid #000000;}
h5		  {font-size:11px;border-bottom:1px solid #000000;color:#000000;margin:0;padding:0;}

#top1		 {background:#9A3E3F;width:400;height:101;}
#top2		 {background:#9A3E3F;text-align:right;padding:10 10 0 0;}
#top2 a		 {color:#000000;font-weight:bold;letter-spacing:-1px;}
#top2 a:hover{color:#ffffff;}

.bot1		 {background:#833536;padding:0 0 0 209;}
.bot1 a		 {color:#dddddd;padding:8 8 0 11;display:table-cell;height:30;text-transform:uppercase;}
.bot1 a:hover{color:#ffffff;background:#9A3E3F;}

#medio		 {height:380px;padding:10 200 10 220;background:url(img/fondo.jpg) left top no-repeat;text-align:justify;}
.columna	 {position:absolute;margin:20 0 0 500;}
.columna img {display:block;margin:0 0 8 0;}

#firma		{display:none;}
#quienes	{display:none;}
#oficinas	{display:none;}
#curriculum {display:none;}
#colabora	{display:none;}
#instruments{display:none;}
#asesoria	{display:none;}
#registres	{display:none;}