.cuerpo1{margin:30 0 0 0;background:#790504;}
.cuerpo2{margin:0 0 0 0;background:url(img/fondo.jpg) fixed;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:justify;}

table	{width:800;background:url(img/fondo.jpg) #FEFEC6;}
td		{font:11px Verdana, Arial, Helvetica, sans-serif;vertical-align:top;}
input	{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;color:#999999;}
textarea{display:block;font:11px Verdana, Arial, Helvetica, sans-serif;color:#999999;}
iframe	{height:380;}

#serv	  {display:none;}
#serv a	  {font:12px Arial, Helvetica, sans-serif;text-decoration:none;color:#CCCCCC;display:block;}

#cabecera	  {height:90;}
#cabecera img {margin:30 0 30 178;}

.boton		{width:160;}
.bt1	  	{display:block;margin:0 0 3 0;text-decoration:none;color:#FEFEC6;font:16px Arial, Helvetica, sans-serif;font-weight:bold;}
.bt1:hover  {color:#000000;}

.centro			{width:300;padding:0 20 0 20;}
.cuerpo2 a		{color:#790504;text-decoration:none;font-weight:bold;}
.cuerpo2 a:hover{color:#000000;text-decoration:underline;}

h2	{background:#790504;margin:120 0 0 0;padding:10 0 10 0;font-size:11px;}
h3	{color:#790504;font-size:11px;margin:0 0 10 20;}
