/* ////////////////////////////////////// BODY */
body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#535353; background-color:#cdcdcd;}

.listado	{width:930px;}
.listado th	{background:#666666;color:#ffffff;}
.listado td	{background:#f6f6f6;}
.listado a	{color:#006699;}

#contenedor {margin:0 auto; width:986px; background:url(../images/fondo_contenedor.gif) 0 0 repeat-y;}
#contenedor_fondo {margin:0 3px; background-color:#fff;}
#cabecera {background:url(../images/fondo_cabecera.jpg) 0 0 no-repeat;}
#banner {height:252px; background-color:#111e2b; border-bottom:1px solid #06080b;}
#mensajes {width:444px; height:252px; background:url(../images/barra_lateral_mensajes.gif) 0 right repeat-y; float:left; text-align:center; font-size:14px; color:#fff;}
#foto_banner {/*width:536px; height:252px; background:url(../images/foto_banner.jpg) 0 0 no-repeat;*/ float:right;}
#logotipo {float:left;}
#copyright {padding:50px 20px 0 0; float:right; color:#2a3c4f;}
#copyright a {color:#2a3c4f; text-decoration:none;}
#copyright a:hover {color:#2a3c4f; text-decoration:underline;}

/* ///////////////////// MENU PRINCIPAL ////////////////// */
#menu_principal{height:49px; background:url(../images/fondo_menu_principal.gif) 0 0 no-repeat;}
.boton_menu_principal a {padding:17px 0 0 0; float:left; width:148px; height:32px; display:block; color:#fff; text-align:center; text-decoration:none;}
.boton_menu_principal a:hover {width:148px; display:block; background:url(../images/fondo_menu_principal_hover.gif) 0 1px no-repeat; color:#fff;}
/* ///////////////////// FIN MENU PRINCIPAL ////////////////// */
#contenido {padding:20px 0; line-height:20px;}
#columna_izquierda {padding:0 20px 20px 20px; width:690px; float:left; text-align:justify;}
#texto {padding:0 20px 20px 20px; width:690px; float:left; text-align:justify;}
#columna_derecha {padding:0 17px 20px 0; width:230px; float:left;}
#acceder {padding: 30px 0 0 25px; height:336px; background:url(../images/fondo_acceder.gif) 0 0 no-repeat;}
#has_olvidado {padding:10px 0 0 0; width:180px; color:#a7a4a2; font-weight:bold; border-top:1px solid #d5cfce;}
#has_olvidado a {color:#2b398b; text-decoration:none;}
#has_olvidado a:hover {color:#2b398b; text-decoration:underline;}
#mapa_home {width:300px; float:left;}
#canal_profesionales {width:370px; height:196px; text-align:center; background:url(../images/fondo_canal_profesional.gif) center 0 no-repeat; float:right;}
/* ///////////////////// LISTADO PARKINGS HOME PAGE ////////////////// */
#listado_home {padding:0 3px; width:900px;}
#cabecera_listado_home {padding:10px 0 0 0; height:32px; background:url(../images/fondo_cabecera_listado_home2.gif) 0 0 no-repeat;}
#contenido_listado_home {padding:0 3px; background:url(../images/fondo_listado_home2.gif) 0 0 repeat-y;}
.linia {padding:10px 5px;}
.t_l_parkings {padding:0 0 0 8px; width:300px; float:left; font-weight:bold; color:#000;;}
.t_l_barrio {width:55px; float:left; font-weight:bold; text-align:center; color:#000;}
.t_l_dimensiones {width:85px; float:left; font-weight:bold; text-align:center; color:#000;}
.t_l_precio {width:70px; float:left; font-weight:bold; text-align:center; color:#000;}
.t_l_notas {width:200px; float:left; font-weight:bold; color:#000;}
.l_parkings {width:300px; float:left;}
.l_barrio {width:55px; float:left; text-align:center;}
.l_dimensiones {width:85px; float:left; text-align:center;}
.l_precio {width:70px; float:left; text-align:center;}
.l_notas {width:200px; float:left; font-size:10px;}
.l_detalles {padding:0 0 0 5px; width:40px; float:right; background:url(../images/icono_detalles.gif) 0 5px no-repeat;}
.l_detalles a {color:#676262; text-decoration:none;}
.l_detalles a:hover {color:#676262; text-decoration:underline;}

/* ///////////////////// FIN LISTADO PARKINGS HOME PAGE ////////////////// */
#pie_listado_home {height:10px; background:url(../images/fondo_pie_listado_home2.gif) 0 0 repeat-y;}
#pie {margin:0 auto; padding:20px 3px; width:980px; height:80px; clear:both; text-align:center; background:url(../images/fondo_pie.gif) 0 0 no-repeat;}
#pie a {color:#434343; text-decoration:none;}
#pie a:hover {color:#434343; text-decoration:underline;}

.clearfloat {clear:both; height:0; line-height:0; font-size:0;}

/* /////////////////////////// TITULARES */
h1 {font-size:20px; margin:0; font-weight:normal;}
h2 {font-size:16px; margin:0;}
h3 {font-size:14px; margin:0;}
.negro {color:#000;}
.blanco {color:#fff;}
.azul_claro {color:#86c3ff;}
.telefono_banner {font-size:20px; font-weight:bold; color:#86c3ff;}

.enlace {text-decoration:none;}
.enlace a{color:#2b398b; text-decoration:underline;}
.enlace a:hover{color:#2b398b; text-decoration:none;}

/* /////////////////////////// FORMULARIOS */
#formulario_acceder {margin:0; padding:0; width:165px;}
button#entrar{border:none; margin:0 0 0 -3px; width:100px; height:41px; background-color:#eeeded;}
input[type="text"]#usuario {width:100%; height:22px; padding:6px 6px 0 6px;}
input[type="text"]#contrasena {width:100%; height:22px; padding:6px 6px 0 6px; margin:20px 0;}
