body		  {margin:10 0 0 0;}
.central	  {width:100%;height:100%;}
.central2	  {width:390;}
.central2 td  {font:11px Arial, Helvetica, sans-serif;color:#666666;}
td	  		  {font:12px Arial, sans-serif;vertical-align:top;}
a			  {text-decoration:none;color:#000000;outline:none;}
a:hover		  {color:#cccccc;}
form		  {margin:5 0 0 160;}
textarea	  {font:10px Arial, Helvetica, sans-serif;border:1px solid #999999;display:block; width:210px;}
input		  {font:10px Arial, Helvetica, sans-serif;border:1px solid #999999;display:block;}
.vacio		  {height:10px;}

h1			{font-size:18px;color:#A25238;}
h2			{font-size:14px;border-bottom:1px solid #A25238;}
h3			{height:110px;font-size:12px;margin:5 0 5 0;border:1px solid #A25238;background:url(img/consultas2.gif) left no-repeat;font-weight:normal;}
h4			{font-size:11px;text-align:center;font-weight:normal;margin:10 0 0 0;}
h5			{background:url(img/noticias.gif) top left no-repeat;margin:0;height:100px;border:1px solid #A25238;font-size:11px;font-weight:normal;}
h6			{font-size:11px;font-weight:bold;border:1px solid #A25238;padding:5px;background:#dddddd;}

.top0		{border-bottom:1px solid #A25238;}
.top1	    {width:757;height:144;vertical-align:bottom;padding:0 0 10 0;background:url(img/cabecera.gif) top left no-repeat;}
.top2		{border-top:1px solid #A25238;}

.top1 a		{color:#ffffff;}

.bt1		{padding:0 0 0 260;font-weight:bold;}
.bt2		{padding:0 0 0 30;font-weight:bold;}
.bt3		{padding:0 0 0 48;font-weight:bold;}
.bt4		{padding:0 0 0 60;font-weight:bold;}
.bt5		{padding:0 0 0 50;font-weight:bold;}
.bt6		{padding:0 0 0 56;font-weight:bold;}
.bt7		{padding:0 0 0 50;font-weight:bold;}

.columna1	 {width:220;background:#A25238;border-top:10px solid #ffffff;text-align:center;}
.columna2	 {width:392;padding:10 125 0 20;;text-align:justify;background:url(img/tramado.gif) repeat-y right;}
.columna2 img{border:1px solid #A25238;}

