A continuación te facilititamos una serie de direcciones  donde encontrarás la información más interesantes sobre BARCELONA.<br>
<br>
TURISMO DE BARCELONA [www.barcelonaturisme.com]<br>
Barcelona es una  ciudad muy bien comunicada, se puede llegar por tierra, mar y aire. Llegar es sencillo:<br>
<br>
AIRE : [www.aena.es] A Barcelona llegan y salen vuelos de todo el mundo:El aeropuerto está en la localidad del Prat de Llobregat a 12 km. de la ciudad y muy  bien conectado con Barcelona en:<br>
<br>
DESDE EL AEROPUERTO :<br>
<br>
TREN : [www.renfe.es] Su durada es de 20 minutos a Sant Estación, 26 minutos a  Paseo de Gracia, a 32 minutos a Estación de Francia y su frecuencia es de cada  30 minutos, todos los días de la semana desde la 06,00 horas hasta las 22,29  horas. Su precio es de 1,25 euros<br>
<br>
AEROBUS : [www.grupsarbus.com] Su duración aproximada es de 30 minutos desde Terminal A-B-C  hasta Plaza de España; Gran Vía de las  Corts Catalanas; Plaza Universidad y Plaza  Cataluña.Su frecuencia es cada 6 y 15 minutos todos los días de la  semana desde las 06,00 horas hasta las 01,00 horas. Su precio es de 3,90 euros.<br>
<br>
BUS NOCTURN : [www.emt-amb.com] Pasa cada 20 minutos aproximadamente desde las 22,05 horas  hasta las 5,05 horas parando en Plaza Cataluña, Ronda Universidad y Aeropuerto. El precio es de 1,25 euros<br>
<br>
TREN : [www.renfe.es] Barcelona cuenta con conexiones ferroviarias directas con Paris,  Zurich o Milán y una red interna como el tren de alta velocidad AVE que la  comunica con importantes ciudad Españolas, Zaragoza, Madrid, Sevilla, desde el  centro de la ciudad.<br>
<br>
AUTOBÚS : Existe una red de autobuses con conexiones a nivel nacional  e internacional, que salen desde la Estación Barcelona  Nord y Estación de Sants.<br>
<br>
COCHE : [www.dgt.es] Para los que eligan este transporte, existe una red de autopistas  y carreteras que os permitirán llegar a cualquier punto de la ciudad.<br>
<br>
MAR : [www.apb.es] Barcelona se ha convertido en el puerto de Cruceros más  importante de la   Mediterránea. Dispone de nueves terminales de pasajeros. Tiene  conexiones con los principales puertos de la Mediterránea y salen  Ferris diarios hacia las islas Baleares, Génova, Roma, Alger-Ora.<br>
<br>
TRANSPORTES DE BARCELONA<br>
Para moverte por la ciudad, te aconsejamos los trasportes  públicos,  que le detallamos a  continuación: <br>
<br>
METRO, FCG Y BUS : [www.emt-amb.com] [www.tmb.net] Actualmente Barcelona dispone de seis líneas de metro, que  hacen un total de 86,6   kilómetros de vías y 123 estaciones.También dispone de una red urbana de ferrocarriles de la Generalitat de  Cataluña (FCG) que completa la extensa red de metro.Además ofrece una flota de más de 1000 autobuses que cubren  más de 80 líneas para llegar a cualquier zona de la ciudad. El 100% de los  autobuses están adaptados a personas con movilidad reducida.<br>
El bono T-10 sirve para todo tipo de transporte y tiene un  coste de 7,20€ por 10 viajes. Es multipersonal. <br>
<br>
TAXI : [www.taxibarcelona.cat] Barcelona cuenta con una flota de once mil taxis, fácilmente  identificables por sus colores negro y amarillo.        