Following  there is a serie of addresses where you will find many interesting informations  about Barcelona.<br>
<br>
BARCELONA TOURISM [www.barcelonaturisme.com] Barcelona is a very good communicated city,  where you can arrive by land, sea and air.<br>
<br>
To arrive  is very easy:<br>
<br>
AIR : [www.aena.es] Flights  from all parts of the world arrive and departure in Barcelona. The EL PRAT airport is located in  Prat de Lobregat is 12 km  from the center of Barcelona  and is well connected to the city by:<br>
<br>
FROM THE EL PRAT AIRPORT :<br>
<br>
TRAIN : [www.renfe.es] It takes 20  minutes to arrive in Sants Estación, 26 minutes to Paseo de Gracia, 32 minutes to  Estación de Francia and it runs each 30 minutes on weekdays from 06:00am to  10:29pm. Price 1.25€,<br>
<br>
BUS : [www.grupsarbus.com] It takes about 30 minutes from Terminal A-B-C to Plaza de  España; Gran Via de las Corts Catalanas; Plaza Universidad and Plaza Catalunya.  It runs each 6 to 15 minutes  on weekdays from 06:00am to 01:00am. Price:  3.90€<br>
<br>
NIGHT BUS : [www.emt-amb.com] It runs  each 20 minutes from about 10:05pm to 05:05am and passes through Plaza  Catalunya, Ronda Universidad and Airport. Price:  1.25€<br>
<br>
TRAIN : [www.renfe.es] Barcelona has direct train connexions with Paris, Zurich or Milan and an  inner network as the high velocity train AVE which connects the city with  important spanish cities as Zaragoza,   Madrid, Sevilha.<br>
<br>
BUS There is a  bus network with connections in national and international levels which  departure from Estación Barcelona Nord and Estación de Sants<br>
<br>
CAR [www.dgt.es] For those  who choose this transportation, there is a highway and road network that will  let you arrive to any point of the city.<br>
<br>
SEA [www.apb.es] Barcelona has become in the most important Cruisers  Port of the Mediterranean.  There are nine passenger terminals. It has connexions with the main ports of  the Mediterranean and there are daily  departures to Baleares islands, Génova, Roma, Alger-ora.<br>
<br>
BARCELONA TRANSPORTATION<br>
To get  around the city, we recommend using the public transportation which is detailed  below.<br>
<br>
METRO, FCG AND BUS [www.emt-amb.com] [www.tmb.net] Barcelona has nowadays six metro lines that  cover a total of 86,6   kilometres with 123 stations.There is  also an urban network of ferrocarriles de la Generalitat de  Cataluña (FCG) which compete the long metro network.It also  offers a fleet of more than 1000 buses that covers 80 lines to arrive at any  area of the city. All the buses are adapted to low mobility people.The T-10  ticket can be used at any type of transportation and the price is 7.20€ for 10 rides.  It is multipersonal.<br>
<br>
TAXI [www.taxibarcelona.cat] Barcelona has a fleet of 11.000 cabs, easily  identified by its black and yellow colours.<br>
