CHECK IN / CHECK OUT TIME<br>
Check in will be done after 14:00 h. This gives us enough time to get the apartment in perfect condition for you, in case other guests leave the apartment the same day. In some cases you can leave your luggage there earlier – please contact the owner to ask him.<br>
<br>
The check-out should be done before 11:00 h of the last day. This time can be changed in case that there is nobody arriving on the same day.<br>
On your check in day the owner or his representative will be waiting for you at the apartment to welcome you, show you the apartment and to give you the keys. He/she will inform you personally about all the details of the apartment and you have to pay the remaining amount in cash as well as the refundable deposit. <br>
<br>
We would apreciate that in case of a delayed arrival you phone the owner as soon as possible to avoid unnecessary waiting times. <br>
<br>
When  you rent a room  it is not included the towels. The sharing places are cleaned daily.<br>
<br>
PAYMENT<br>
Before we make the reservation we ask for a pre-payment of the total amount of 20% plus Iva tax to secure the apartment.<br>
You can do it online with a few quick and easy steps.<br>
The pre-payment has to be done by credit card, we accept Visa, Masterdcard or Maestro.<br>
After your payment you will receive an instant confirmation with all the reservation details. <br>
<br>
SECURITY DEPOSIT <br>
Owners ask for a deposit of 150 euros, that has to be paid cash with the check-in and will be payd back with the check-out if there is no damage done at the apartment . <br>
<br>
CANCELLATION POLICY<br>
In case of a cancellation we will charge you part of the pre-payment as follows:<br>
- More than 59 days before your arrival: 25% of the pre-payment<br>
- 33-59 days before : 50% of the pre-payment<br>
- Less than 32 days before: 100% of the pre-payment. <br>
 <br>
COMPLAINS<br>
Rentals Barcelona is not responsible for occuring defects on materials/equipment in the apartment, for electricity outages, for a water decrease or outage not directly caused from it, for loss, damage or destruction because of weather conditions, demonstrations, strikes, or other independent circumstances outside of its control. <br>
Neither Rentals Barcelona nor the owner of the apartment shall be liable for any direct or indirect damages that may arise as a consequence of inappropriate use of the apartment by the client, including without limitation, damages, insurance, losses because of fires, robbery or criminal behaviour.<br>
All complaints must be communicated in written form by e-mail or fax and always during your stay at the apartment, complaints made after leaving the apartment will not be considered. <br>
<br>
LINKS AND OTHER SITES <br>
SLEEPBCN  , its contractors, agents, owners, and employees are not responsible for the content or the privacy policies of other linked web sites. <br>
<br>
BEHAIVOUR<br>
The person signing the present agreement will be liable for the correct and decent behaviour of all the persons accompanying him/her. Should that person, or any of the persons accompanying him/her not behave in accordance with normal civic standards, SLEEPBCN  shall be entitled to expel the client and the persons accompanying him/her from the apartment. In this case you lose any requirement on reimbursement.<br>
<br>
NUMBER OF GUEST<br>
The client will inform SLEEPBCN about the number of guests with the booking. Unless agreed differently by SLEEPBCN , only the number of persons indicated by the client with the booking is authorised to use the apartment.<br>
The number of persons who may use the apartment may not exceed the number of persons allocated for each apartment, this doesn’t apply for children under 2 years. <br>
In case of any infringement of the aforementioned obligations, SLEEPBCN  shall be entitled to expel the client and the persons accompanying him/her from the apartment. In this case you lose any requirement on reimbursement. <br>
<br>
PETS<br>
Sorry, pets are not allowed in all our apartments. <br>
<br>
CHILDREN POLICY ( only for the apartments rent )<br>
Babies and up to two children under ten years don’t pay anything. On request the owner sets up a cot without extra charge. <br>
 <br>
SLEEPBCN  C/Numancia, 187 3&ordm; 1&ordf; 08034 Barcelona Spain Phone (+0034) 619.766.057 - (+0034) 637.507.796 - Fax.(+0034) 935.343.492<br>
( A.M.I.E. SL , NIF. B61555645- C/ torrents de las Rosas 44,08034 Barcelona)  <br>
<br>
TURISM REGISTRED Nº EB-000348