HORA DE ENTRADA Y SALIDA A LOS APARTAMENTOS<br>
El día de su llega al apartamento, el propietario o su representante le estarán esperando en el mismo, la dirección exacta le será <br>
facilitada en el momento de efectuar su reserva mediante confirmación por e-mail. El propietario o representante le mostraran<br>
el piso y le aclararán cualquier duda que precise sobre el funcionamiento de electrodomésticos, instalaciones y varios.<br>
<br>
También se les proporcionará un juego de llaves (o más dependiendo del apartamento), en ese momento usted deberá abonar el pago<br>
de su reserva, siempre en efectivo, así como la fianza requerida para cualquier posible desperfecto que se pueda originar en el<br>
apartamento, la fianza le será devuelta en su totalidad el día de su salida si no ha habido ninguna incidencia. <br>
Es importante que en caso de tener algún retraso sobre el horario que usted ya ha comunicado al propietario, le avise con antelación<br>
suficiente para evitar esperas innecesarias en los apartamentos. artamentos. <br>
<br>
La hora de entrada será a partir de las 14:00 h. pudiendo haber flexibilidad, por favor siempre contacte con el propietario. <br>
<br>
La hora de salida deberá efectuarse antes de las 11:00 h. Este horario podrá ser flexible dependiendo de si en el apartamento hay otros clientes entrando el mismo día que usted se marche. Consulte siempre con el propietario si necesita dejar su equipaje más tarde de las 11:00 h.<br>
Entre las 11:00 h. y las 14:00 h. los apartamentos deben acondicionarse, se efectúa en este periodo la limpieza general y cambio de ropa, si usted desea dejar su equipaje durante este tiempo, indíquelo en el formulario de reserva y comuníquelo siempre al propietario, recuerde que el apartamento durante este horario no tiene la obligación de estar preparado para usted, solo a partir de las 14:00 h, pero si que se le puede facilitar que pueda dejar su equipaje.<br>
En el caso de que por fuerza mayor, SLEEPBCN no pudiera facilitar al cliente el apartamento reservado, reserva el derecho de ofrecer al huésped afectado,el alojamiento en otro apartamento de caracteristicas similares o superiores.Abonando o cargando en cuenta del cliente las diferencias de precio que pudieran ocasionar por tal cambio.<br>
<br>
PAGO DE LA RESERVA <br>
Para efectuar una reserva de un apartamento con SLEEPBCN, se le requerirá un prepago del total, equivalente a un 20% más IVA.<br>
El pago lo podrá efectuar online en nuestro sito, mediante tarjeta de crédito Visa , Mastercard o Maestro. Mediante conexión directa y segura con nuestro banco. <br>
Tras el pago recibirá confirmación inmediata de su reserva por e-mail. con todos los detalles del propietario y del apartamento (dirección exacta, nombre, teléfonos etc.) <br>
<br>
DEPOSITO / FIANZA <br>
El depósito o fianza establecida para todos nuestros apartamentos es variable desde 150 euros hasta 400 euros según los pisos, que deberán pagarse siempre en efectivo en el momento de entrar en los apartamentos. Esta fianza cubrirá los posibles daños o desperfectos que los clientes puedan causar en el mobiliario, enseres o piso. Está fianza se devolverá integralmente al finalizar su estancia si no se ha observado ninguna incidencia en los apartamentos. <br>
<br>
POLITICA DE CANCELACION <br>
En caso de cancelación de su reserva, tendrá un cargo dependiendo de la antelación que se efectúe según lo siguiente:<br>
<br>
- Si avisa con más de 59 días del día de su llegada: un 25% del prepago efectuado.<br>
- Si avisa entre 33-59 días de antelación: 50% del prepago efectuado. <br>
- Si avisa con menos de 32 días de antelación: 100% del prepago efectuado.<br>
<br>
QUEJAS<br>
SLEEPBCN no se hace responsable de los posibles cortes de suministros que las compañías puedan hacer en los apartamento tales como, agua, gas o electricidad, ni por el mobiliario y enseres de los mismos.<br>
SLEEPBCN tampoco es responsable por la pérdida o robo de objetos personales de los clientes en los apartamentos, daños derivados de la mala utilización de los servicios y mobiliario, incendios, inundaciones, ni por daños ocasionados por agentes climáticos, ni cualquier circunstancia fuera de nuestro control, es recomendable que para cualquier incidencia contrate un seguro de viaje.<br>
Tampoco SLEEPBCN se hace responsable de los daños físicos fortuitos que el cliente pueda tener durante su estancia en uno de los apartamentos.<br>
Cualquier incidencia que surgiera relacionada con el apartamento durante su estancia, deberá ser INMEDIATAMENTE comunicada al propietario o su representante, él será la persona encargada de solucionarle su problema. <br>
Cualquier queja deberá efectuarse en forma escrita mediante e-mail o fax y siempre durante su estancia, las quejas recibidas tras dejar el apartamento no tendrán consideración alguna, es importante pues que no manifieste cualquier disconformidad SIEMPRE durante su estancia. <br>
<br>
LINKS DE OTROS SITES <br>
SLEEPBCN sus agentes ni ninguno de sus empleados se hacen responsable del contenido o política de privacidad de las WEB a las que tiene un link.<br>
<br>
COMPORTAMIENTO EN LOS APARTAMENTOS <br>
En el momento de efectuar la reserva, el cliente así como sus acompañantes se comprometen al correcto comportamiento cívico dentro de los apartamentos y zonas comunes del edificio.<br>
Las fiestas y celebraciones están totalmente prohibidas.<br>
Entre las 22:00 y las 9:00 no deberán producirse ruidos excesivos y se respetará en este aspecto al resto de vecinos.<br>
Las personas que incumplan estas normas, serán llamadas a desalojar de inmediato el apartamento sin compensación alguna y sin derecho a reclamación.<br>
La basuras diaria tiene que ser bajada a la calle después de las 20,00 horas en los contenidores y nunca puesta fuera de la puerta del piso.<br>
<br>
NUMERO DE INQUILINOS EN LOS APARTAMENTOS <br>
En el momento de efectuar la reserva, el cliente informará mediante formulario de reserva a SLEEPBCN sobre el número de personas para las cuales hace la reserva. <br>
El número de personas no podrá exceder de la capacidad máxima anunciada en cada apartamento. En caso de exceder la capacidad máxima del apartamento reservado, sin haber sido previamente comunicado a SLEEPBCN o al propietario, el cliente deberá abandonar de inmediato el apartamento, perdiendo el pago efectuado y sin derecho a reclamación alguna. <br>
<br>
ANIMALES DE COMPAÑIA <br>
Lo sentimos pero no se admiten animales en ninguno de nuestros apartamentos.<br>
<br>
POLITICA DE NIÑOS <br>
Los bebes de entre 0-2 años son gratuitos, caso de necesitar una cuna, por favor asegúrese de que el apartamento que va a reservar dispone de una, (el 95% de nuestros apartamentos dispone de cuna para bebes). Siempre deberá solicitarse en el momento de efectuar la reserva.<br>
Los niños menores de 10 años (bebes no cuentan) también son gratuitos, hasta un máximo de 2, es decir caso de venir 3 niños menores de 10 años, el tercero ya pagaría como un adulto.<br>
En SLEEPBCN queremos potenciar el turismo familiar. <br>
En el momento de efectuar una reserva con SLEEPBCN el cliente ACEPTA todas nuestras condiciones. <br>
A.M.I.E. SL B61555645<br>
EMPRESA REGISTRADA EN TURISMO DE CATALUNYA <br>
Nº REAT EB-000348<br>
<br>
SLEEPBCN C/Numancia, 187 3&ordm; 1&ordf; 08034 Barcelona Spain<br>
Phone (+0034) 619.766.057 - (+0034) 637.507.796 - Fax.(+0034) 935.343.492