body
{
	text-align     				: center;
    min-width      				: 870px;
	scrollbar-arrow-color		: #D6D6D6;
	scrollbar-base-color		: #DE9118;
	scrollbar-shadow-color		: #B8B8B8;
	scrollbar-face-color		: #DE9118;
	scrollbar-highlight-color	: #F7F7F7;
	scrollbar-darkshadow-color	: #DE9118;
	scrollbar-3dlight-color		: #B8B8B8;
	//background      			: #656565 url(../images/bg.jpg);
	font-family					: Verdana, Tahoma, sans-serif;
	margin-top					: 25px;
}

body a
{
	color			: #fff;
	text-decoration	: none;
}

body a:hover
{
	color			: #cccccc;
	text-decoration	: none;
}

#bottomCopy
{
	font-size		: 11px;
	text-align		: center;
	padding			: 10px;
	margin-left		: 0px;
	background 		: #F9760E;
	color			: #8F0000;
	font-weight		: bold;
}

#content
{
	width		: 870px;
	margin-left					: auto;
	margin-right				: auto;
}

#contingut
{
	float			 : left;
	left			 : 14px;
	width			 : 856px;
	position		 : relative;
	text-align		 : left;
	background		 : #F9CDAA;
	BORDER-bottom	 : 4px solid #C3191A;
}

#contingut_main
{
	margin-top		: 0px;
	margin-left 	: 0px;

}

#menu_contingut
{
	float 		: left;
	width 		: 230px;
	background 	: #FF3737 url('../images/backMenu2.gif');
	border-right: 2px solid #C3191A;
	padding		: 4px;
	color		: #000;
	font-weight	: bold;
}

.tableNoticies
{
	margin-left		: auto;
	margin-right	: auto;
	width			: 300px;
}

.titolNoticies
{
	color:#FFB400;
	font-size : 14px;
}

.left
{
	text-align 	: right;
	vertical-align : top;
}

.success
{
	background		: #FAD68A;
	border			: 1px solid #F2BE4E;
	width			: 300px;
	padding			: 15px;
}

.cap
{
	font-weight		: bold;
}

#titolMain
{
	font-size	: 18px;
	font-weight	: bold;
	text-align	: left;
	color		: #C31B1B;
}

#titolMain img
{
	padding-right	: 5px;
}

.descNoticies
{
	color	: #fff;
	font-size	: 12px;
	font-weight	: normal;
}

.imgNoticies
{
	width			: 10px;
}

.titolPro
{
	color:#FFB400;
	font-size : 14px;
}

.fecha
{
	font-size		: 16px;
	color			: #F9CDAA;
	font-style		: italic;
	border-bottom	: 1px solid #F21131;
}

#titolMenu
{
	padding 		: 5px;
	font-weight		: bold;
	font-size 		: 14px;
	color			: #ffffff;
	background		: url('../images/backTitolMenu.jpg');
	width			: 100 px;
	height			: 28px;
}

.titolAct
{
	text-align		: right;
	color			: #F8CDAA;
	font-size		: 14px;
	background		: #C31B1B;
	padding			: 4px;
}

#contingut_dins
{
	float			: right;
	font-size		: 12px;
	padding			: 10px;
	color			: #7B4B4B;
	text-align		: center;
	width			: 580px;
	padding-top		: 10px;
}

#contingut_dins a
{
	color			: #000;
}

.descEscond
{
	display			: none;
	background		: #EBA75E;
	padding			: 4px;
	color			: #111;
	border			: 1px solid #333;
}

.numerajos
{
	font-size		: 16px;
}

#contingut_dins p
{
	text-align		: justify;
	text-indent		: 2px;
	padding			: 0px 10px 0px 10px;
}


.imgBorder
{
	border			: 2px solid #111111;
}


#header
{
	width			: 100%;
	background 		: url('../images/top.jpg');
	height 			: 139px;
}

#menuUp
{
	width : 287px;
	float : right;
	margin-top : 58px;
}

#main
{
	background		: url('../images/leftBgMain.jpg') repeat-y top left;
	width			: 870px;
	font-family		: Verdana, Tahoma;
	font-size		: 10px;
	border			: 0px solid #CCCCCC;
}

#titol
{
	font-size		: 14px;
	font-weight		: bold;
	text-align		: left;
	background		: url('../images/backTitol.jpg');
	color 			: #FFFFFF;
	padding-top		: 0px;
	height			: 40px;
}

#titolImage
{
	float : left;
	height	: 40px;
	margin  : 0px;
	padding : 0px;
	background : url('../images/tres.jpg');
	width	: 40px;
}

#textTitol
{
	float 			: left;
	padding-top		: 14px;
	margin-left		: 20px;
}

#bottom
{
	background		: url('../images/bottomBg.gif') repeat-x;
	width			: 864px;
	position		: relative;
	left			: 36px;
	font-family		: Verdana, Tahoma;
	font-size		: 10px;
	color			: #fff;
}

.ieGif
{

}

#menu
{
	padding-left	 : 14px;
	height			 : 31px;
	background		 : url(../images/background.jpg) repeat-y;
}

/* ----------------------------------------------
Navigation bar
----------------------------------------------- */

#navcontainer
{
	width			 : 100%;
    height           : 25px;
    font             : 10px Verdana, sans-serif;
    list-style-type  : none;
    background       : #F2A568;
    border-top	 	 : 5px solid #C21C1C;
    border-bottom	 : 1px solid #C21C1C;
}

#navcontainer ul
{
    margin           : 0 0 0 0;
    padding          : 0 0 0 0;
}

#navlist li
{
    float            : left;
    margin           : 0;
    padding          : 0;
    width            : 20%;
    display          : block;
    text-align		 : center;
    font-size		 : 11px;
    height			 : 25px;
}

#navlist li a, #navlist li a:link
{
    background       : #F2A568;
    color            : #C21C1C;
    text-decoration  : none;
    font-weight		 : bold;
    padding          : 5px 5px 5px 5px;
    display          : block;
}

#navlist li a:hover
{
	color			 : #F2A568;
    border-top	 	 : 0px solid #C21C1C;
    cursor           : pointer;
    background       : #C21C1C
}