body
{
	text-align     				: left;
    min-width      				: 900px;
	margin						: 0px;
	scrollbar-arrow-color		: #D6D6D6;
	scrollbar-base-color		: #DE9118;
	scrollbar-shadow-color		: #B8B8B8;
	scrollbar-face-color		: #DE9118;
	scrollbar-highlight-color	: #F7F7F7;
	scrollbar-darkshadow-color	: #DE9118;
	scrollbar-3dlight-color		: #B8B8B8;
	background      			: #fff url(../images/bg.jpg) repeat-y center;
	font-family					: Verdana, Tahoma, sans-serif;
}

body a
{
	color			: #3364A0;
	text-decoration	: none;
	border-bottom: 2px dotted #fff
}

body a:hover
{
	color			: #666666;
	text-decoration	: none;
}

#bottomCopy
{
	font-size		: 11px;
	text-align		: center;
	width			: 100%;
	padding			: 10px;
}

#content
{
	width		: 900px;
}

#contingut
{
	float			 : left;
	left			 : 56px;
	width			 : 844px;
	position		 : relative;
	text-align		 : left;
	background		 : url('../images/backMain.jpg') repeat-y left top;
}

#contingut_main
{
	margin-top		: 10px;
	margin-left 	: 10px;

}

#menu_contingut
{
	float : left;
	width : 210px;
	background 	: #BFCCF8;
	border-bottom : 2px solid #70706E;
	border-right : 2px solid #70706E;
	padding-top	: 0px;
	color		: #000;
	font-weight	: bold;
}

#titolMenu
{
	padding 		: 5px;
	font-weight		: bold;
	font-size 		: 14px;
	color			: #ffffff;
	background		: url('../images/backTitolMenu.jpg');
	width			: 100 px;
	height			: 28px;
}

.menuBoItem
{
	font-size		: 12px;
	margin			: 0px;
	margin-left		: 10px;
	padding			: 7px;
	text-indent		: 15px;
	background		: url('../images/arrowN.jpg') no-repeat center left;
	color			: #4D4D4D
}

#menu_contingut ul
{
    list-style-type  : none;
    margin			 : 0 0 0 20px;
    padding			 : 0 0 0 0;
}

#menu_contingut li
{
	font-size		: 12px;
	padding 		: 10px 15px 0px 25px;
	margin			: 0px;
	background		: url('../images/arrowN.jpg') no-repeat center left;
	color			: #4D4D4D
}

#contingut_dins
{
	float			: right;
	font-size		: 12px;
	height			: 290px;
	padding			: 10px;
	color			: #2D4767;
	text-align		: center;
	width			: 580px;
	border-bottom	: 2px solid #93ACFE;
	border-top		: 2px solid #93ACFE;
	background		: #E9EEFD;
	padding-top		: 30px;
}

.numerajos
{
	font-size		: 16px;
}

#contingut_dins p
{
	text-align		: justify;
	text-indent		: 10px;
	padding			: 0px 10px 0px 10px;
}

#header
{
	width			: 100%;
	background 		: url('../images/backTop.jpg');
	height 			: 219px;
}

#menuUp
{
	width : 287px;
	float : right;
	margin-top : 58px;
}

.menuUpItem
{
	text-align : left;
	padding-left : 30px;
	padding-right : -30px;
	width : 257px;
	padding-top : 10px;
	padding-bottom : 10px;
	align-vertical : middle;
	background : #CCCCCC;
	font-family : Verdana;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 2px;
	color : #fff;
}

.menuUpItem a
{
	color : #fff;
	text-decoration: none ; 
	border-bottom: 2px dotted #fff
}

.menuUpItem a:hover
{
	text-decoration : underline;
	border-bottom: 0px dotted #cccccc;
	color : #fff;
}

#main
{
	background		: url('../images/leftBg.jpg') repeat-y top left;
	width			: 900px;
	font-family		: Verdana, Tahoma;
	font-size		: 10px;
	border-right	: 0px solid #CCCCCC;
	min-height		: 300px;
}

#titol
{
	font-size		: 14px;
	font-weight		: bold;
	text-align		: left;
	background		: url('../images/backTitol.jpg');
	color 			: #FFFFFF;
	padding-top		: 0px;
	height			: 40px;
}

#titolImage
{
	float : left;
	height	: 40px;
	margin  : 0px;
	padding : 0px;
	background : url('../images/tres.jpg');
	width	: 40px;
}

#textTitol
{
	float 			: left;
	padding-top		: 14px;
	margin-left		: 20px;
}

#bottom
{
	background		: url('../images/bottomBg.gif') repeat-x;
	width			: 864px;
	position		: relative;
	left			: 36px;
	font-family		: Verdana, Tahoma;
	font-size		: 10px;
	color			: #fff;
}

.ieGif
{

}

#menu
{
	float			 : left;
	width			 : 267px;
	border-right	 : 1px solid #cccccc;
	background		 : url(../images/background.jpg) repeat-y;
	height			 : 500px;
}

/* ----------------------------------------------
Navigation bar
----------------------------------------------- */

#navcontainer
{
	width			 : 100%;
    height           : 25px;
    font             : 10px Verdana, sans-serif;
    list-style-type  : none;
    background       : #1C3C63;
    border-bottom	 : 1px solid #B5C7DD;
}



#navcontainer ul
{
    margin           : 0 0 0 0;
    padding          : 0 0 0 0;
}

#navlist li
{
    float            : left;
    margin           : 0;
    padding          : 0;
    width            : 20%;
    display          : block;
    text-align		 : center;
    font-size		 : 11px;
    height			 : 25px;
}

#navlist li a, #navlist li a:link
{
    background       : #1C3C63;
    color            : #D8D023;
    text-decoration  : none;
    font-weight		 : bold;
    padding          : 5px 5px 5px 5px;
    display          : block;
}

#navlist li a:hover
{
	color			 : #B5C7DD;
    border-bottom    : 0px solid #D8D023;
    cursor           : pointer;
}