#pop-up{
	position:absolute;background:#84929a;/*Old browsers*/background:-moz-linear-gradient(top,#84929a 0%, #ededef 100%); /* FF3.6+ */background:linear-gradient(to bottom,#84929a 0%,#ededef 100%); /* W3C */
	background:-webkit-gradient(linear,left top, left bottom, color-stop(0%,#84929a), color-stop(100%,#ededef)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#84929a 0%,#ededef 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,#84929a 0%,#ededef 100%); /* Opera 11.10+ */background:-ms-linear-gradient(top,#84929a 0%,#ededef 100%); /* IE10+ */	
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#84929a', endColorstr='#ededef',GradientType=0 ); /* IE6-9 */	
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;padding:5px;z-index:6001;display:none;opacity:0;top:170px;left:110px}
#pop-up-inner{
	background:#fff;/*Old browsers*/background:-moz-linear-gradient(top,  #fff 0%, #c6ced2 100%); /* FF3.6+ */background:linear-gradient(to bottom,  #fff 0%,#c6ced2 100%); /* W3C */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#c6ced2)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #fff 0%,#c6ced2 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #fff 0%,#c6ced2 100%); /* Opera 11.10+ */background:-ms-linear-gradient(top,  #fff 0%,#c6ced2 100%); /* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#c6ced2',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;padding:28px;width:761px;font-size:20px;line-height:20px}
#pop-up-inner p	{margin:0 25px 25px 0}
#pop-close		{top:10px;right:10px}
.italic 	{font-family:'fs_albert-italic'}
.noteCopy	{margin-top:-19px;font-size:18px; line-height:22px}	
body		{background:url(../FOShare/Background-brown.png) no-repeat;font-size:22px}
.ui-body-c	{background:none}
#text-P2	{background:url(../FOShare/graphBG01.png) top left no-repeat;background-size:809px;width:809px;height:560px;margin-left:108px;margin-top:22px;padding:5px 0 0 15px}
p 			{line-height:27px;font-family:'fs_albert'}
.text-P2-top-title{width:850px;margin-left:-10px}
/*jQuery mobile override*/
#multiSlider{width:492px;float:left; margin:96px 0 20px 220px}
.ui-btn-corner-all{-webkit-border-radius:0; border-radius:0;border:none;margin-left:0;background:none;width:56px; height:29px}
input.ui-slider-input {display :none !important}
div.ui-slider {height:40px; padding-right:10px; width:100%; margin-bottom:20px}
.ui-btn-down-c{border:none}
.ui-btn-inner{-webkit-background-clip:none;background:url(../FOShare/scrubberCircle.png) no-repeat;  background-size:28px 28px;  -webkit-border-radius:0;  padding:0;  text-align:left}
.ui-btn:focus{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.ui-shadow 	{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
a.ui-btn.ui-slider-handle {width:28px; height:28px; margin-left:-27px;padding:0 10px 0 10px}
.ui-slider-handle {outline:none}
#showResult	{position:absolute;background:url(../FOShare/showResultBtn.png) no-repeat;background-size:151px 67px;width:151px;height:67px;left:745px;top:573px}
#barchart	{width:570px;height:194px;left:325px;top:329px;position:absolute;display:none;overflow:hidden}
.greybar, .brownbar {position:absolute;width:0;height:33px;margin-bottom:33px;border-bottom:none;display:hidden}
.greybar 	{background:#ccc}
.brownbar 	{background:rgb(154,81,7)}
#barchart div:nth-child(1) {top:0px}
#barchart div:nth-child(2) {top:33px}
#barchart div:nth-child(3) {top:65px}
#barchart div:nth-child(4) {top:97px}
#barchart div:nth-child(5) {top:130px}
#barchart div:nth-child(6) {top:163px}
.barright	{border-radius:0 8px 8px 0;left:285px}
.barleft	{border-radius:8px 0 0 8px;right:285px}
#extraBtns	{position:absolute;left:113px;top:608px}
#extraBtns .nav-button-outer{top:38px;left:0}
#extraBtns .nav-button-outer:nth-of-type(2) {left:156px}
#extraBtns .nav-button-outer:nth-of-type(3) {left:312px}
#extraBtns p {font-size:12px}
#extraBtns p sup {font-size:8px}
#extraBtns .nav-button-inside {font-family:'fs_albertbold'!important}

#key		{position:absolute;left:113px;top:562px;width:300px;height:100px}
#key p 		{font-size:16px}
#key div p 	{margin-top:-39px;margin-left:32px}
#text-P2 > p{width:780px}
#key div:last-child p {margin:-28px 0 0 0;line-height:16px}
#key div	{display:inline-block;margin-right:30px;height:50px;position:relative;margin-left:10px;vertical-align:center}
#key div:nth-child(3){position:absolute;height:50px;left:305px;top:28px;width:145px}
#key .brown p:before,#key .grey p:before{content:'';position:absolute;width:28px;height:28px;margin-left:-32px;border-radius:6px}
#key .brown p:before	{background:#9a5106}
#key .grey p:before		{background:#adb7bc}
#key .grey p,#key .brown p{width:65px}
.ui-body-c	{text-shadow:none}
#pi-slide div.ui-btn			{position:static;height:0}
#pi-slide div.ui-btn button 	{opacity:1;line-height:normal}
#pi-slide div.ui-btn > span		{display:none}
#pi-slide .closePI				{left:870px}
#pi-slide .refLink,#pi-slide .closePI	{top:60px}

#sec-2,#sec-3,#sec-4,ol.r2,ol.r3{display:none}
#sec-2 ul.brown-bul li	{font-family:'fs_albert';margin:0 0 22px 5px}
#sec-2 .text-P2-top-title{margin-left:0}
#sec-2 .text-P2-bottom	{padding:0}
#sec-3 .text-P2-top-title2{font-size:22px;line-height:27px;padding-left:120px;padding-top:24px;font-family:'fs_albertbold'}
#sec-3 .container2		{font-family:'fs_albert';margin-left:120px;line-height:28px}
#sec-3 .container2 span	{padding-left:60px;display:block}
#sec-3 .container2 p	{margin-bottom:20px}
#sec-3 .text-P2-bottom  {width:600px;line-height:18px;margin-left:120px;padding:0}
#sec-4 .text-inner-body,#sec-4 .text-P2-bottom,#sec-4 .text-P2-bottom2{font-family:'fs_albert'}
#sec-4 .text-P2-body	{font-size:19px;line-height:23px;width:730px;height:370px}
#sec-4 .text-inner-body	{top:190px;left:127px;width:772px;height:370px;font-size:19px;line-height:23px}
#sec-4 .text-P2-bottom	{padding-left:4px;padding-top:5px;line-height:15px}
#sec-4 .text-P2-bottom2	{margin-left:130px;font-size:18px;line-height:22px;color:rgba(40,40,40,1);width:750px}
#goto4				{position:absolute;top:574px;left:751px;display:none}
#goto4 button		{font:16px/16px 'fs_albertbold'}
.image1				{position:absolute;top:215px;left:377px;background:url(../img/ImageP8.png) no-repeat;background-size:510.5px auto;width:511px;height:600px;border:0}
.row1-column1		{border-top:1px solid rgba(102,45,141,0.5)}
.row1-column2		{border-top:1px solid rgba(102,45,141,0.5);font-size:13px;text-align:left}
.column1			{float:left;width:491px;height:43px;padding:10px 0 20px 10px;border-right:1px solid rgba(102,45,141,0.5);border-bottom:1px solid rgba(102,45,141,0.5);border-left:1px solid rgba(102,45,141,0.5)}
.column2			{text-align:center;float:left;width:30.8%;height:43px;padding-left:20px;padding-top:10px;padding-bottom:20px;border-right:1px solid rgba(102,45,141,0.5);border-bottom:1px solid rgba(102,45,141,0.5)}
.row1-column2 p		{line-height:22px;text-align:left}