body	 	{margin:8px;}
td		 	{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
a:active 	{color:#AA0029;text-decoration:none;}
a:link	 	{color:#AA0029;text-decoration:none;}
a:visited	{color:#AA0029;text-decoration:none;}
a:hover  	{color:#AA0029;text-decoration:none;}

h1		{font-size:24px;color:#7F122C;font-weight:bold;font-family:"Times New Roman", Times, serif;}
h2		{font-size:14px;color:#555555;font-weight:bold;margin:0px;}
h3		{font-size:10px;color:#AA0029;margin:0px;}
h4		{font:12px Georgia, "Times New Roman", Times, serif;color:#000000;font-weight:bold;}

#celda1		{height:430px;background:#7F122C;padding:2px;}
#celda1 img	{display:block;}

#celda2			{height:440px;background:#AA0029;}
#celda2 a		{color:#AA0029;text-align:center;display:block;padding:3px;}
#celda2 a:hover	{color:#000000;background:#FFFFFF;}

.li				{border-bottom:1px solid #666666;background:#DDDDDD;height:15px;}
#areas			{border-bottom:1px solid #666666;background:#DDDDDD;height:15px;}
#profe			{border-bottom:1px solid #666666;background:#DDDDDD;height:15px;}
#lista1 a		{color:#666666;background:#F6F6F6;}
#lista1 a:hover	{color:#333333;}
#lista2 a		{color:#666666;background:#F6F6F6;}
#lista2 a:hover	{color:#333333;}

#celda3			{width:260px;height:440px;padding:15px;color:#666666;background:url(img/fondo2.gif) bottom no-repeat;border:1px solid #7F122C;}
#celda3 input	{border:1px solid #000000;font-size:11px;}
#celda3 textarea{border:1px solid #000000;font-size:11px;font-family:Arial, Helvetica, sans-serif;}

#pie		{color:#555555;text-align:center;padding-top:8px;}
#capa1		{position:relative;z-index:1;height:400px;overflow:auto;scrollbar-arrow-color:#AA0029;scrollbar-base-color:#CCCCCC;scrollbar-dark-shadow-color:#FFFFFF;scrollbar-track-color:#F4F4F4;scrollbar-face-color:#FFFFFF;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;}
#capa1 a	{color:#7F122C;}
#capa2		{position:relative;z-index:2;height:450px;background:#AA0029;padding-top:44px;}