/* GLOBAL RESET
================================= */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, embed, figure, footer, header, nav, output, ruby, section, audio, video {margin:0;padding:0;border:0;font-size:100%}
body {line-height:1} 
ol, ul {list-style:none}
table {border-collapse:collapse;border-spacing:0}
*  {-webkit-user-select:none;margin:0;padding:0}/*Prevent copy paste for all elements except text fields*/
input, textarea  {-webkit-user-select:text}
a, button, div, li {-webkit-tap-highlight-color:rgba(0,0,0,0);/* disable quick blinking when clicked on an ipad */}

/*-- Fonts  ------------------------------*/
@font-face {font-family:'fs_albertbold';src:url('../fonts/fs_albert-bold-webfont.ttf') format('truetype'),url('../fonts/fs_albert-bold-webfont.svg#fs_albertbold') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'fs_albertlight';src:url('../fonts/fs_albert-light-webfont.ttf') format('truetype'),url('../fonts/fs_albert-light-webfont.svg#fs_albertlight') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'fs_albert-italic';src:url('../fonts/fs_albert-italic-webfont.ttf') format('truetype'),url('../fonts/fs_albert-italic-webfont.svg#fs_albertlight') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'fs_albert';src:url('../fonts/fs_albert-webfont.ttf') format('truetype'),url('../fonts/fs_albert-webfont.svg#fs_albert') format('svg');font-weight:normal;font-style:normal}

.textcolor	{color:#662d8d}	/* Purple */
.textcolor2	{color:#2c2c2c}	/* Grey */
.textcolor3 {color:#9A5107}	/* Brown */
.textcolor4 {color:black}	/* Black */

/*-- Common Structure  ------------------------------*/
.hide       {display:none!important}
.clear,.clearboth {clear:both}
.floatleft  {float:left}
.floatright {float:right}
body        {position:absolute;margin:0;width:1024px;height:768px;color:#333;box-sizing:border-box;font-family:'fs_albert';font-size:18px;background-size:1024px 768px;overflow:hidden;opacity:0}
h1          {font-weight:normal}
p           {margin:10px 0}
ul li       {margin:0 0 5px 0}
sup         {font-size:0.6em;font-weight:normal;vertical-align:super;line-height:0}
sub         {font-size:0.5em;vertical-align:sub;line-height:0}
small       {font-size:11px}
#main-mask  {display:none;position:absolute;z-index:6000;width:1024px;height:768px;left:0;top:0;background:rgba(0, 0, 0, 0.6)}/* prevents interaction with page when Pi is on screen */

.text-P2           {padding-top:80px;padding-left:110px}
.text-P2-top       {width:900px;padding:30px 0 0 0}
.text-P2-top-title {font-size:45px;padding-left:130px;line-height:54px}
.text-P2-top-title sup{font-size:0.5em}
.text-P2-body      {margin-left:115px;margin-top:30px;padding:20px;background-color:rgba(154,81,7,0.1);padding-left:35px;font-size:23px;font-family:'fs_albert';line-height:27px;-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 6px rgba(0, 0, 0, 0.4);box-shadow:0 0 6px rgba(0, 0, 0, 0.4);width:760px;height:400px;/* height should be set in page specific css */}
.text-inner-body   {color :rgb(40,40,40);position:absolute;top:200px;/* top should be set in page specific css */left:150px;width:760px;height:400px;/* height should be set in page specific css */	font-size:23px;line-height:27px}
.text-inner-body-title{font-size:23px;font-family:'fs_albert';line-height:27px}
.text-P2-bottom    {margin-left:130px;padding:20px;font-size:12.5px;font-family:'fs_albert';line-height:27px;color :rgb(40,40,40)}
ul.brown-bul li,ul.purple-bul li{margin-left:20px}
ul.brown-bul li:before,ul.purple-bul li:before{content:'';position:absolute;width:7px;height:7px;border-radius:7px;margin:10px 0 0 -20px}
ul.brown-bul li:before	{background:#9a5106}
ul.purple-bul li:before	{background:#662c8d}

#main_content           {position:absolute;top:39px;left:118px;padding-right:30px;width:800px}
#main_content ul li li  {margin:0}
#main_content p         {font-size:23px}
#main_content ul        {list-style-type:none;font-size:23px;line-height:1.3em}
#main_content sup       {vertical-align:super;font-size:0.6em;line-height:0}
#main_content sub       {top:0.4em}
.fosrenollogo           {position:absolute;bottom:16px;right:29px}
.fosrenollogo-image     {width:213px;height:auto}

.text-P1-bottom{clear:both;width:100%}
.text-P1-bottom-column1 {float:left;width:124.5px;line-height:1px}
.text-P1-bottom-column2 {float:left;width:419.5px;padding-top:44px;line-height:17.2px}
.text-P1-bottom-column2-body{font-size:15px;font-family:'fs_albertlight'}
.text-P1-bottom-column2-title{font-size:15px;font-family:'fs_albertbold'}
.text-P1-bottom-column2-bottom{padding-top:11px;font-size:11.4px;line-height:13px;font-family:'fs_albertlight'}
.text-P1-bottom-column3{float:left;width:452.5px}
.text-P1-bottom-column3-title{font-size:50px;padding-left:0px;line-height:38px;padding-top:43px;font-family:'fs_albertlight'}
.text-P2-column1,.text-P2-column2,.text-P2-column3{width:254px;height:304px;float:left;margin-left:25px;-moz-box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);	border-bottom-right-radius:50px}
.text-P2-column1-title,.text-P2-column2-title,.text-P2-column3-title{width:254px;background-color:#9a5107;color:#fff;font-family:'fs_albertbold';text-align:center;height:50px;display:table-cell;vertical-align:middle;font-size:21px}
.text-P2-column1-body,.text-P2-column2-body,.text-P2-column3-body{height:259px;background-size:254px 259px;border-bottom-right-radius:50px}

.image-P1-top{float:left;width:963px;height:453px;border-bottom-right-radius:150px;background-size:1023px 683px;background-position:-50px -100px;-moz-box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);box-shadow:2px 2px 2px 2px rgba(0,0,0,0.1);/* use -webkit-mask-image to fix rounded corner clipping issue during animation */
	overflow:hidden;background-image:none;-webkit-mask-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)}
.image-P1-top #top-image{width:1023px;height:683px;margin:-100px 0 0 -50px;-webkit-animation:imageAnimation 6s linear forwards}

@-webkit-keyframes imageAnimation {
    0%  {-webkit-transform:scale(1.0)}		
	100%{-webkit-transform:scale(1.1)}
}

@-webkit-keyframes fadeIn {
    0%	{opacity:0}		
	100%{opacity:1}
}

#main_content #scrollerwrap {width:870px;position:relative;top:0;left:0;height:550px}
#main_content #scroller {width:840px;height:1050px;background-color:#fff;padding:5px 20px 0 20px}
.pibutton   {top:602px;left:15px;-webkit-box-shadow:0 0 3px #f6a020;background:#fff -webkit-linear-gradient(left, #fccc8a 0%, #f7a833 100%)}
#pi-link    {position:absolute;top:344px;left:0;width:40px;background:blue;z-index:5000}
#pi-slide-link {display:block;position:absolute;top:0;left:-12px;width:40px;height:75px;padding:0 5px 0 21px;text-align:center;background:rgba(0, 0, 0, 0.15);cursor:pointer;color:#999;text-decoration:none;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-box-shadow:2px 2px 12px 1px rgba(0, 0, 0, 0.15)}
#pi-slide-link:active {background:rgba(256, 256, 256, 0.5);-webkit-box-shadow:2px 2px 12px 1px rgba(0, 0, 0, 0.5)}
#pi-slide-link small{display:inline-block;width:22px;height:22px;margin:27px 0 0 0;background:url(sprites.png) 0 -44px}

.text-P1-bottom-column1-button {text-align:center;font-size:12px;font-family:'fs_albertbold';border-radius:6px;background-color:rgba(218,221,224,0.3);border:1px solid #d6d4d9;position:absolute;bottom:53.5px;left:11px;height:66px;width:90px}
.text-P1-bottom-column1-button-inside{text-align:center;font-size:12px;font-family:'fs_albertbold';border:1px solid #a6a6a6;
	border-radius:6px;position:absolute;bottom:60px;left:20px;height:53px;width:75.5px;background:#f9f9f9;/* Old browsers */
	background:-moz-linear-gradient(top,  #f9f9f9 0%, #d2d2d2 100%);/* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#d2d2d2));/* Chrome,Safari4+ */background:-webkit-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* Opera 11.10+ */background:-ms-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* IE10+ */
	background:linear-gradient(to bottom,  #f9f9f9 0%,#d2d2d2 100%);/* W3C */filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d2d2d2',GradientType=0 );/* IE6-9 */}

.close-button,#page_close{background:url(sprites.png) -31px -28px;position:absolute;top:40px;right:40px;width:46px;height:55px;border:0;text-decoration:none}
.nav-button-outer{text-align:center;border-radius:6px;background-color:rgba(218,221,224,0.3);border:1px solid #d6d4d9;position:absolute;bottom:53.5px;height:66px;width:138px;padding:0}
.nav-button-inside{text-align:center;font-size:12px;font-family:'fs_albertbold';border-radius:6px;position:absolute;top:5px;left:9px;height:53px;width:121px;background:#F9F9F9;background:-moz-linear-gradient(top, #F9F9F9 0%, #D2D2D2 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#D2D2D2));background:-webkit-linear-gradient(top, #F9F9F9 0%,#D2D2D2 100%);background:-o-linear-gradient(top, #F9F9F9 0%,#D2D2D2 100%);background:-ms-linear-gradient(top, #F9F9F9 0%,#D2D2D2 100%);background:linear-gradient(to bottom, #F9F9F9 0%,#D2D2D2 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#D2D2D2',GradientType=0 );border:1px solid #A6A6A6;padding:0!important}
.nav-button-inside strong{font-weight:normal;font-size:14px}
.text-P1-bottom-column2-button{text-align:center;font-size:12px;font-family:'fs_albertbold';border-radius:6px;background-color:rgba(218,221,224,0.3);border:1px solid #d6d4d9;position:absolute;bottom:53.5px;left:121px;height:66px;width:138px;padding:0}
.text-P1-bottom-column2-button-inside{text-align:center;font-size:12px;font-family:'fs_albertbold';border:1px solid #a6a6a6;
	border-radius:6px;position:absolute;bottom:61px;left:127px;height:53px;width:128px;background:#f9f9f9;/* Old browsers */
	background:-moz-linear-gradient(top,  #f9f9f9 0%, #d2d2d2 100%);/* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#d2d2d2));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #f9f9f9 0%,#d2d2d2 100%);/* IE10+ */ background:linear-gradient(to bottom,  #f9f9f9 0%,#d2d2d2 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d2d2d2',GradientType=0 );/* IE6-9 */}
.text-P1-bottom-column2-button-inside-image{padding-left:10px;padding-top:5px;width:30px}
.text-P1-bottom-column2-button-inside-text{padding-left:10px;padding-top:13px}
article {position:relative;width:1024px;height:768px;overflow:hidden;display:block;background-size:1024px auto}
#content {position:absolute;top:0;left:0;height:768px;text-align:left;width:1024px}
.container {width:47%;padding:10px;border:1px solid #fff;box-shadow:0 0 1px #777, 0 2px 2px rgba(0,0,0,0.3);height:460px;-webkit-border-radius:5px;background:-webkit-gradient(linear, left top, right top, color-stop(0%,#f6f6f6), color-stop(100%,#eeefef));background:-webkit-linear-gradient(left, #f6f6f6 0%,#eeefef 100%)}
#main_content .container h1 {font-size:18px;margin-bottom:0}

#pi-slide 		     {position:absolute;top:768px;width:1024px;z-index:7000;border-top:1px solid #000;background:#000;padding-top:80px;color:#fff;font-family:'fs_albert';-webkit-transform:translate3d(0, 0, 0);font-weight:100;-webkit-font-smoothing:antialiased}
#pi-slide button     {width:105px;height:40px;position:absolute;text-decoration:none;color:#000;background:#f2f2f3;border-radius:7px;border:1px solid #fff;font-family:'fs_albertbold';font-size:14px;padding-top:2px}
#pi-slide .refbutton {top:12px;left:28px}
#pi-slide .pibutton  {top:12px;left:875px}
.PI                  {padding-top:0px;height:797px;overflow:hidden;background:black}
.PI p                {font-size:12px;font-family:'fs_albert';-webkit-margin-before:0;line-height:14px;text-align:justify;color:white}
.PI strong       {font-family:'fs_albertbold'}
.closePI			 {right:50px}
.refLink 			 {left:34px}
.pi-content 		 {position:absolute;top:120px;left:32px;width:940px;height:632px}
#pi-scroller-1,#pi-scroller-2	{position:relative;height:600px} /*NEW*/
#pi-scroller-1 > div,#pi-scroller-2 > div{position:absolute;width:900px;-webkit-column-count:2;-webkit-column-gap:20px}
#references          {margin-bottom:50px}
#references .refs li {list-style:decimal;padding:0 0 5px 0px;font-size:13px;width:800px}
.refs                {margin:0 0 0 50px;padding:0 0 0 15px}
.refs li strong      {font-size:14px}
#scrollerwrap        {position:absolute;top:100px;left:40px;width:940px;height:650px;overflow:auto;z-index:10}
#scroller 	         {position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);height:1300px;width:910px;z-index:10}

.pi-wrap {position:relative;width:670px;padding:60px 192px 0 164px;font-size:12px;line-height:14px;text-align:justify;color:#000;border:0px solid #000}
.pi-wrap p sub {position:relative;bottom:2px}
.pi-wrap p {line-height:normal}
.pi-wrap h1 {color:white;position:absolute;top:-38px;left:0px;font-size:22px!important}

#adverse {border:1px solid #fff;text-align:center;padding:10px 0}
#adverse a:link {text-decoration:none;color:#fff}
.floating {position:relative;display:inline}
.floating li {float:left}

/***Charts Overlay***/
#chart {position:absolute;top:39px;left:118px;width:800px}
#chart_bg {display:none;position:absolute;top:0;left:0px;width:1024px;z-index:4999;background:white}
.line {-webkit-animation:lineGraph 4s ease-out}
@-webkit-keyframes lineGraph {
	0%  {width:0px}	
	100% {width:100%}
}
.refs sup {position:relative;top:-0.5em;font-size:10px}
.footer-summary {position:absolute;top:672px;border:none;left:753px;height:55px;width:50px;display:block;background:none}

/***Cube Effects***/
.te-container{width:876px;margin-top:20px;margin-left:0px}
.te-controls {height:40px;position:absolute;right:37px;top:360px}
a.te-next,a.te-prev{display:block;cursor:pointer;padding:18px 5px 10px 11px;float:right;width:32px;height:26px;text-indent:-9999px;-webkit-tap-highlight-color:rgba(0,0,0,0);/* disable quick blinking when clicked on an ipad */}
a.te-next {background:url(sprites.png) -126px -27px no-repeat}
a.te-prev {background:url(sprites.png) -78px -27px no-repeat}
.te-container select:focus{outline:none}
.te-wrapper{position:relative;width:876px;height:457px}
.te-perspective{-webkit-perspective:1000}
.te-cover {background:#fff}
.te-cover,.te-transition{-webkit-transform-style:preserve-3d;position:absolute;width:876px;height:457px;top:0px;left:0px;background-color:transparent}
.te-cover.te-hide,.te-transition,.te-divs{display:none}
.te-transition.te-show, .te-transition.te-show-rev{display:block}
.te-cube-face{position:absolute;width:876px;height:457px;display:block;overflow:hidden}
.te-back,.te-front{position:absolute;width:100%;height:100%;-webkit-backface-visibility:hidden}
.te-front{z-index:2}
.te-back{z-index:1}
#te-prev {display:none}

/***Cube4***/
.te-cube .te-cube-front{-webkit-transform:scale3d(.712,.712,.712) translate3d(0,0,400px)}
.te-cube .te-cube-left{-webkit-transform:scale3d(.712,.712,.712) rotate3d(0,1,0,-90deg) translate3d(0,-30px,400px);/* rotate left */}
.te-cube .te-cube-right{-webkit-transform:scale3d(.712,.712,.712) rotate3d(0,1,0,90deg) translate3d(0,-30px,400px)}
.te-cube .te-cube-top{-webkit-transform:scale3d(.712,.712,.712) rotate3d(1,0,0,90deg) translate3d(0,-40px,400px)}
.te-cube .te-cube-bottom{-webkit-transform:scale3d(.712,.712,.712) rotate3d(0,1,0,-90deg) translate3d(0,-30px,400px);/* rotate right */}
.te-cube.te-show{-webkit-animation:cube4 0.5s ease-in-out}
.te-cube.te-show-rev{-webkit-animation:cube4rev 0.5s ease-in-out}
@-webkit-keyframes cube4{0% {-webkit-transform:rotate3d(0,1,0,0)}
	100% {-webkit-transform:rotate3d(0,1,0,-90deg)}
}
@-webkit-keyframes cube4rev{0% {-webkit-transform:rotate3d(0,1,0,0)}
	100% {-webkit-transform:rotate3d(0,1,0,90deg)}
}
/*NEW*/
#pi-slide .pibutton		{width:174px}
#pi-slide #showPI		{left:635px}
#pi-slide #showPI2		{left:820px}
table.alt th			{text-align:left;border:1px solid #fff;color:#fff}
table.alt td			{border:1px solid #fff;color:#fff}