body	    {margin:32px 0 0 0;font-family:Georgia, "Times New Roman", Times, serif;text-align:center;background:url(../img/fondo_body.gif);}
a			{outline:none;}
em			{font-style:normal;font-weight:bold;}
h1			{margin:0;text-align:left;float:left;padding:0 0 0 70px;}
h1 img		{position:absolute;margin:-26px 0 0 -70px;border:2px solid #ffffff;}
h2			{margin:-10px 40px 0 340px;color:#999999;border-bottom:1px dotted #999999;text-align:left;}
h3			{float:left;font-size:12px;margin:16px 0 0 400px;} /*border:2px outset #FCF1AF;*/
h4			{margin:0 0 16px 0;color:#999999;}
dl			{text-align:left;margin:12px 0 0 340px;}
dd			{text-align:left;margin-bottom:12px;}
dd a		{color:#006633;}
dt			{font-weight:bold;}

#arriba		{width:850px;height:100px;background:url(../img/fondo_top3.jpg) no-repeat bottom;margin:0 auto;}
#arriba a	{text-decoration:none;color:#ffffff;}

#boton		{float:left;width:240px;margin:0 0 0 40px;text-align:left;}
#boton img	{margin:-20px 0 10px -10px;}
#boton a	{display:block;margin:0 0 6px 0;border-bottom:1px dotted #000000;color:#000000;text-decoration:none;}
#boton a:hover{font-weight:bold;}

#centro		{width:850px;min-height:440px;background:url(../img/fondo_centro3.jpg) repeat-y;margin:0 auto;}
#centro p	{text-align:left;font-size:12px;margin:12px 45px 12px 340px;}
#centro ul	{text-align:left;margin:18px 45px 8px 360px;padding:0;}
#centro li	{font-size:12px;padding:0 0 6px 0;margin:0;}
.borderojo	{border:1px solid #7F0D03;margin:5px 0 0 10px;}

/*consultas*/
.f1			{margin:12px 45px 0 340px;text-align:left;}
.f1 input	{display:block;width:320px;margin:0 0 8px 0;border:1px solid #333333;font:12px Arial, Helvetica, sans-serif;}
.f1 textarea{display:block;width:380px;margin:0 0 8px 0;;border:1px solid #333333;font:12px Arial, Helvetica, sans-serif;}

#abajo		{width:930px;height:118px;background:url(../img/fondo_bot3.jpg) no-repeat;margin:-12px auto 0 auto;}
#abajo div	{font:11px Verdana, Arial, Helvetica, sans-serif;padding:90px 40px 0 0;color:#ffffff;text-align:right;}
#abajo span	{position:absolute;margin:90px 0 0 -410px;font:11px Verdana, Arial, Helvetica, sans-serif;}
#abajo a	{color:#ffffff;}