<a href="javascript:mostrar(1)"><em>ENSALADAS</em></a>
		<div id="carta1"><ul>
			<li>Ensalada Verde <i>3.00 &euro;</i></li>
			<li>Ensalada La Llossa (Tivia de Rovellons y Piquillos a la Le&ntilde;a) <i>6.50 &euro;</i></li>
			<li>Ensalada Tibia de Girgolas con Langostinos <i>7.20 &euro;</i></li>
			<li>Ensalada de Pollo <i>5.90 &euro;</i></li>
			<li>Ensalada de Queso de Cabra <i>5.90 &euro;</i></li>
			<li>Ensalada Tibia Queso de Cabra con Jam&oacute;n <i>6.50 &euro;</i></li>
			<li>Ensalada &quot;Crujiente&quot; <i>5.80 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(2)"><em>ENTRANTES</em></a>
		<div id="carta2"><ul>
			<li>Parrillada de Verduras <i>7.50 &euro;</i></li>
			<li>Escalivada con Anchoas<i>7.00 &euro;</i> </li>
			<li>Habitas Baby con Jam&oacute;n de Pato a la Menta <i>6.00 &euro;</i></li>
			<li>Esp&aacute;rragos Trigueros a la Brasa <i>7.50 &euro;</i></li>
			<li>Gambas al Ajillo <i>11.00 &euro;</i></li>
			<li>Pimientos del Padr&oacute;n <i>5.50 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(3)"><em>CARPACCIOS</em></a>
		<div id="carta3"><ul>
			<li>Carpaccio de Bacalao a la Vinagreta de Tomate Confitado y Negura Negra <i>6.00 &euro;</i></li>
			<li>Carpaccio de Salm&oacute;n en su Vinagreta <i>8.00 &euro;</i></li>
			<li>Carpaccio de Solomillo con Virutas Idiazabal <i>8.00 &euro;</i></li>
			<li>Carpaccio de Cordero a la Vinagreta de Lim&oacute;n con Virutas de Roncal <i>7.00 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(4)"><em>BRASA</em></a>
		<div id="carta4"><ul>
			<li>Pollo a la Brasa <i>6.00 &euro;</i></li>
			<li>Lomo Grille <i>6.00 &euro;</i></li>
			<li>Butifarra de Viella <i>6.50 &euro;</i></li>
			<li>Bistec de TerneraBuey a la Brasa <i>6.50 &euro;</i></li>
			<li>Conejo Lechal Braseado (1/2) <i>7.50 &euro;</i></li>
			<li>Churrasco Ib&eacute;rico con Chimi Churri <i>8.00 &euro;</i></li>
			<li>Costillas de Cordero <i>9.80 &euro;</i></li>
			<li>Entrecot Grille de Ternera <i>8.50 &euro;</i></li>
			<li>Entrecot de Ternera Salsas (Pimienta Verde, Roquefort, Foie con Cepes, Escalivada) <i>9.25 &euro;</i></li>
			<li>Solomillo Grille de Ternera <i>13.00 &euro;</i></li>
			<li>Solomillo de Ternera con Salsas <i>13.75 &euro;</i></li>
			<li>Parrillada de Carne <i>9.00 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(5)"><em>BACALAO</em></a>
		<div id="carta5"><ul>
			<li>Bacalao a la Crema de Escalivada <i>9.00 &euro;</i></li>
			<li>Bacalao a la Muselina de ajo y aceite suave <i>9.00 &euro;</i></li>
			<li>Bacalao a la Miel <i>9.00 &euro;</i></li>
			<li>Bacalao a la Cava con Champi&ntilde;ones <i>9.00 &euro;</i></li>
			<li>Bacalao al Roquefort con Pasas de Corinto <i>9.00 &euro;</i></li>
			<li>Lenguado Grille o en Salsa Verde <i>11.50 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(6)"><em>TABLAS</em></a>
		<div id="carta6"><ul>
			<li>Tabla de Embutidos Ib&eacute;ricos <i>10.50 &euro;</i></li>
			<li>Tabla de Quesos <i>9.50 &euro;</i></li>
			<li>Tabla de Jam&oacute;n Ib&eacute;rico <i>12.70 &euro;</i></li>
			<li>Tabla de Morc&oacute;n <i>9.00 &euro;</i></li>
			<li>Tabla de Chorizo Ib&eacute;rico <i>8.00 &euro;</i></li>
			<li>Tabla de Salchich&oacute;n Ib&eacute;rico <i>8.00 &euro;</i></li>
			<li>Tabla de Longaniza de Vic <i>5.80 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(7)"><em>TORRADAS</em></a>
		<div id="carta7"><ul>
			<li>Sobrasada y Queso Brie &quot;Gratinado&quot; <i>5.90 &euro;</i></li>
			<li>Queso Brie con D&aacute;tiles y Bacon Gratinado <i>5.90 &euro;</i></li>
			<li>Pollo, Bacon y Havarti fundido <i>5.90 &euro;</i></li>
			<li>Jam&oacute;n con Esp&aacute;rragos Trigueros  y Mozzarella &quot;Gratinado&quot; <i>6.00 &euro;</i></li>
			<li>At&uacute;n con Pimientos del Piquillo y Oliva Negra <i>6.50 &euro;</i></li>
			<li>Raci&oacute;n de Pan Tostado con Tomate <i>1.15 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(8)"><em>SUGERENCIAS</em></a>
		<div id="carta8"><ul>
			<li>Ensalada de r&uacute;cula y espinacas con pi&ntilde;ones y foie a la vinagreta de frutos rojos <i>7.00 &euro;</i></li>
			<li>Rissoto a los frutos del mar <i>7.00 &euro;</i></li>
			<li>Espaguettis al gusto (Carbonara, napolitana, olio con gambas) <i>6.00 &euro;</i></li>
			<li>Cigalitas fritas <i>6.50 &euro;</i></li>
			<li>Pimientos del piquillo rellenos de txangurro con crema de escalivada <i>12.00 &euro;</i></li>
			<li>Crepe relleno de verduritas campestres con gambas <i>7.00 &euro;</i></li>
			<li>Revoltillo de cepes con gambas <i>8.00 &euro;</i></li>
			<li>Rape de costa a la plancha con ajo y perejil <i>13.00 &euro;</i></li>
			<li>Espaldita cordero encebollado al vino tinto <i>13.00 &euro;</i></li>
			<li>Chulet&oacute;n asturiano braseado de 300gr. <i>12.00 &euro;</i></li>
			<li>Chulet&oacute;n asturiano braseado de 600gr. <i>18.00 &euro;</i></li>
		</ul><i>I.V.A. no incluido</i></div>
		<br>
		<a href="javascript:mostrar(9)"><em>PICA-PICA</em></a>
		<div id="carta9"><ul>
			<li>El Liceo <i>40.00 &euro;</i><br>Platito mojama, Gambas plancha, Cigalas plancha, Tacos de solomillo al curry, Gulas al ajillo</li><hr size="1">
			<li>La Pedrera <i>30.00 &euro;</i><br>Embutidos Ib&eacute;ricos, Bravas, Pan con tomate, Pinchito Chistorra y pimiento padron, Chipirones Andaluza, Secreto Ib&eacute;rico a la sal gorda.</li><hr size="1">
			<li>Casa Battlo <i>25.00 &euro;</i><br>Croqueta de cocido de la abuela, Platito de fuet, Bravas, Pan con tomate, Chocos a la andaluza, Manchego curado, Langostinos cocidos</li><hr size="1">
			<li>Parque G&uuml;ell <i>20.00 &euro;</i><br>Bravas, Pan con tomate, Embutidos catalanes, Chocos a la andaluza, Choricitos a la andaluza, Pimientos del padron, Pinchito moruno</li><hr size="1">
			<li>Las Ramblas <i>15.00 &euro;</i><br>Pan con tomate, Choricitos a la sidra, Bravas, Ensaladilla rusa, Chicharrones, Platito de fuet</li><hr size="1">
		</ul><i>I.V.A. no incluido</i></div>