body 				{margin:0;padding:0}
h1					{font:bold 32px SkyTextRegular;color:#333;margin:0}
p 					{margin:10px 0 0 0}
a 					{color:#1276b2;text-decoration:none;cursor:pointer}
#main 				{max-width:1200px;margin:0 auto}
#header-holder 		{width:82%;height:auto;padding:1% 5%;margin:5px auto;overflow:auto}
#content-holder 	{width:82%;height:auto;padding:1% 5%;margin:5px auto}
#body-holder 		{width:82%;height:auto;padding:10px 5%;margin:5px auto;overflow:auto}
.bundlecrumb 		{overflow:hidden;margin:10px 0 0 0;padding:0}
.bundlecrumb li 	{font:24px SkyTextRegular,Helvetica,Verdana,Arial,sans-serif;float:left;padding:0 0 6px 55px;margin-right:20px;background:url(../images/arrow.png) no-repeat 10px 0;list-style-type:none}
.bundlecrumb li:first-child {padding-left:0;background:none}
hr 					{height:1px;border:0;margin:0;background:#d4d4d4}
.line 				{width:100%;height:1px;background-color:#d4d4d4;overflow:auto}
.logo 				{float:left;height:71px;width:110px}
.logo img 			{border:0}
.header-right 		{float:right;height:25px;width:auto;text-align:right;margin-top:40px;font-family:SkyTextRegular,Helvetica,Verdana,Arial,sans-serif;font-size:20px;color:#313131}
.header-right a 	{color:#313131}
.logo-mob,.header-right-mob,.header-left-mob,.channels-inner-txt-tab,.skycom-bundle-channel-ipad {display:none}
.border-txt-right 	{border:1px solid #d0d0d2;height:auto;width:83%;border-radius:10px 10px 10px 10px;float:right;padding:10px 0 0 0;background:#f8f8f8}
.reward-img 		{width:96.7%;margin:0 auto 10px auto;text-align:center}
.reward-img img,.skycom-bundle-img img {width:100%}
.skyshop-bundle-inner {width:29%;height:420px;float:left;padding:30px 2% 15px 2%;text-align:center;border-right:1px solid #d0d0d2}
.skyshop-bundle-inner-last {width:29%;height:420px;float:left;padding:30px 2% 15px 2%;text-align:center;border:0}
.skyshop-channel-inner {width:27%;height:320px;float:left;padding:22px 3% 26px 3%;text-align:center;border-right:1px solid #d0d0d2}
.skyshop-channel-inner-last {width:27%;height:320px;float:left;padding:22px 3% 26px 3%;text-align:center;border:0}
.blueBtn 			{background-position:left top}
.btnWrap 			{padding-left:11px}
.btnWrap,.btnWrap .btn {display:inline-block;overflow:hidden;height:32px;line-height:32px;font-size:15px;font-weight:bold;color:white;text-decoration:none !important;background:transparent url(../images/buttons.png_1300071601.png) no-repeat left 0;cursor:pointer}
.btnWrap .btn 		{margin-left:3px;padding:0 15px 0 0;border:none;font-family:SkyTextRegular, Helvetica, Verdana, Arial, sans-serif;font-size:15px;font-weight:normal;background-position:right -64px}
.blueBtn 			{background-position:left top}
.blueBtn:hover,	.blueBtn:active {background-position:left -32px}
.blueBtn .btn 		{background-position:right -64px}
.blueBtn:hover .btn,.blueBtn:active .btn,.blueBtn .btn:hover,.blueBtn .btn:active {background-position:right -96px}
.skyshop-bundle-inner .btnWrap,	.skyshop-bundle-inner-last .btnWrap {margin-top:12px}
.personalise-inner .btnWrap,.personalise-inner-last .btnWrap {font-size:15px}
.channels-inner-txt {width:100%;height:180px;margin-top:25px;padding:0 0;text-align:left;display:block}
.channels-more-txt 	{width:100%;font-family:SkyTextmedium;font-size:13px;margin-top:5px;padding-bottom:5px;text-align:left}
.channels-txt 		{margin:0 0 0 13px;padding:0}
.channels-txt li 	{font-family:SkyTextmedium;font-size:14px;color:#1276b2;padding-left:1px;list-style-image:url(../images/chevron-arrow.png);padding-bottom:10px;text-align:left}
.skycom-bundle-channel {width:100%;height:auto;margin:0 auto}
.skyshop-price 		{font-family:SkyTextMedium;font-size:10px;margin-bottom:0;margin:0 auto;padding-top:1px;width:90%;text-align:center}
.skyshop-price sup 	{font-size:0.55em}
.rel 				{position:relative}
.black-price 		{font-family:SkyTextMedium;font-size:19px;color:#171717}
.black-price-small 	{font-size:13px;color:#171717}
.orange-price 		{font-family:SkyTextBold;color:#e3581f;font-size:38px}
.green-price 		{font-family:SkyTextBold;color:#76b139;font-size:38px}
.blue-price 		{font-family:SkyTextBold;color:#2282bf;font-size:38px}
.old-price 			{font-family:SkyTextMedium;font-size:25px;color:black}
.chevron-txt 		{font-family:SkyTextmedium;font-size:14px;color:#1276b2;padding-left:8px;background:url(../images/chevron-arrow.png) 38px 4px no-repeat}
.chevron-txt01 		{font-family:SkyTextmedium;font-size:14px;color:#1276b2;padding-left:8px;background:url(../images/chevron-arrow.png) 0 4px no-repeat}
.channels-blue 		{font-family:SkyTextRegular;font-size:30px;color:#0070a5}
.channels-inner-img {width:27%;font-family:SkyTextmedium;height:150px;font-size:13px;padding:20px 3%;text-align:left;float:left;border-right:1px solid #d0d0d2}
.channels-inner-img-last {width:27%;font-family:SkyTextmedium;height:150px;font-size:13px;padding:20px 3%;text-align:left;float:left;border-right:none}
.personalise-inner 	{width:27%;height:70px;float:left;padding:30px 3% 10px 3%;text-align:center;border-right:1px solid #d0d0d2}
.personalise-inner-last {width:27%;height:70px;float:left;padding:30px 3% 10px 3%;overflow:auto;text-align:center;border-right:none}
.skyshop-unlimited-inner {/*overflow:auto;*/height:220px;width:92%;color:#333;padding:40px 5% 0 5%}
.skyshop-unlimited-txt {width:40%;color:#333;float:left;font-size:18px;font-family:SkyTextmedium;padding:10px 2% 0 3%}
.skyshop-unlimited-img {width:50%;height:auto;float:left;padding-top:10px}
.skyshop-unlimited-img img{width:100%}
.free 				{font-size:30px;font-weight:bold;font-family:SkyTextMedium}
.bundles-txt-bottom {font-family:SkyTextmedium;font-size:11.5px;color:#1276b2;padding-left:8px;background:url(../images/chevron-arrow.png) 20px 4px no-repeat}
div.var 			{position:absolute;width:146px;left:-148px;top:-1px;border:1px solid #d0d0d2;border-right:none;background:#f8f8f8}
.television-channels-iocn {width:90%;height:343px;margin:0 auto;padding-top:25px;text-align:center;font-size:18px;color:#171717;font-family:SkyTextmedium}
.television-channels-iocn.var {border-radius:10px 0 0 0}
.Available-channels-iocn {width:90%;height:185px;margin:0 auto;padding-top:5px;text-align:center;font-size:18px;color:#171717;font-family:SkyTextmedium}
.sky-talk-channels-iocn {width:90%;height:235px;margin:0 auto;padding-top:25px;text-align:center;font-size:18px;color:#171717;font-family:SkyTextmedium}
.sky-talk-channels-iocn.var{border-radius:0 0 0 10px}
#footer-holder 		{width:100%;margin:0 auto}
.popin 				{width:540px;position:fixed;display:none;font:14px/1.3em SkyTextRegular,sans-serif;letter-spacing:0.05em;text-align:center;padding:10px;color:#333;background:white;box-shadow:0 0 10px #818181}
.popin.on 			{display:block;top:25%;left:50%;margin-left:-270px}
.popin small 		{position:absolute;width:32px;height:30px;top:-14px;right:-14px;background:url("../images/close.png")}
.popin h4 			{font-size:1.5em}
#sticky2 ul 		{margin:20px;padding:0}
#sticky2 li 		{width:25%;display:inline-block;text-align:left}

/* Tablet Portrait (768px) */
@media only screen  and (min-width:720px) and (max-width:939px)
{
  div.var 					{background:#fff}
  p  						{margin:10px 0 0 0}
  a  						{color:#1276b2;text-decoration:none}
  h1 						{font-family:SkyTextRegular;font-weight:bolder;font-size:28px;color:#333}
  .free  					{font-size:20px;font-weight:bold;font-family:SkyTextMedium}
  #header-holder 			{width:96%;height:auto;padding:8px 2%;margin:0 auto;overflow:auto}
  #content-holder 			{width:96%;padding:8px 2% 0 2%;margin:0 auto}
  #body-holder 				{width:98%;height:auto;padding:8px 1% 0 1%;margin:0 auto;overflow:auto}
  .bundlecrumb  			{overflow:hidden;margin:10px 0 20px 0;padding:0}
  .bundlecrumb li 			{font-size:16px;float:left;padding-left:54px;padding-bottom:0;height:30px;background:url(../images/arrow.png) no-repeat 20px -64px;list-style-type:none}
  .bundlecrumb li:first-child {padding-left:0;background:none}
  .line-bottom,.reward-img,.reward-img + hr,.channels-inner-txt,.skycom-bundle-channel {display:none}
  .line  					{width:100%;height:1px;background-color:#d4d4d4;overflow:auto}
  .border-txt-right 		{border:1px solid #d0d0d2;height:auto;width:83%;margin-top:10px;border-radius:10px 10px 10px 10px;float:right;padding:0 0 0 0;background:none}
  .skyshop-price 			{font-size:10px}
  .skyshop-bundle-inner,.skyshop-bundle-inner-last  {height:390px}
  .skyshop-channel-inner,.skyshop-channel-inner-last{height:220px}
  .channels-inner-txt-tab 	{width:100%;height:160px;margin:10px 0 0 0;padding:0;display:block}
  .channels-more-txt 		{width:100%;font-family:SkyTextmedium;font-size:13px;margin-top:0;text-align:left}
  .channels-txt 			{margin:0 0 0 5px;padding:0}
  .channels-txt li 			{font-family:SkyTextmedium;font-size:11px;color:#000;padding-left:1px;list-style-image:url(../images/chevron-arrow-m.png);padding-bottom:10px;list-style-position:inside;text-align:center}
  .skycom-bundle-img 		{width:100%;height:auto;margin:0 auto}
  .skycom-bundle-channel-ipad {width:100%;height:auto;margin:0 auto;display:block}
  .black-price 				{font-family:SkyTextmedium;font-size:19px;color:#171717}
  .black-price-channel-small {font-size:12px;color:#171717}
  .black-price-small 		{font-size:13px;color:#171717}
  .orange-price 			{font-family:SkyTextBold;color:#e3581f;font-size:38px}
  .green-price 				{font-family:SkyTextBold;color:#76b139;font-size:38px}
  .blue-price 				{font-family:SkyTextBold;color:#2282bf;font-size:38px}
  .chevron-txt 				{background:url(../images/chevron-arrow.png) 32px 4px no-repeat;font-size:12px}
  .channels-blue 			{font-family:SkyTextRegular;font-size:30px;color:#0070a5}
  .channels-inner-img 		{width:27%;font-family:SkyTextmedium;height:150px;font-size:13px;padding:20px 3%;text-align:left;float:left;border-right:1px solid #d0d0d2}
  .channels-inner-img-last 	{width:27%;font-family:SkyTextmedium;height:150px;font-size:13px;padding:20px 3%;text-align:left;float:left;border-right:none}
  .personalise-inner 		{width:27%;height:70px;float:left;padding:20px 3% 10px 3%;text-align:center;border-right:1px solid #d0d0d2}
  .personalise-inner-last 	{width:27%;height:70px;float:left;padding:20px 3% 10px 3%;text-align:center;border-right:none}
  .skyshop-unlimited-inner 	{width:92%;color:#333}
  .skyshop-unlimited-txt 	{width:64%;color:#333;float:left;font-size:18px;font-family:SkyTextmedium;padding:10px 0 10px 1%}
  .skyshop-unlimited-img 	{width:35%;height:auto;float:left;padding-top:15px}
  .bundles-txt-bottom 		{font-family:SkyTextmedium;font-size:10px;color:#1276b2;padding-left:8px;background:url(../images/chevron-arrow.png) 10px 1px no-repeat}
  .television-channels-iocn {width:90%;height:243px;margin:0 auto;padding-top:25px;text-align:center;font-size:15px;color:#171717;font-family:SkyTextmedium}
  .Available-channels-iocn 	{width:90%;height:185px;margin:0 auto;padding-top:5px;text-align:center;font-size:15px;color:#171717;font-family:SkyTextmedium}
  .sky-talk-channels-iocn 	{width:90%;/*height:163px;padding-top:25px;*/  margin:0 auto;text-align:center;font-size:15px;color:#171717;font-family:SkyTextmedium}
}
/* Phone Landscape (480px) */
@media only screen and (min-width:321px) and (max-width:719px)
{
	div.var 	{position:static}
}