body	    {margin:8px 0 0 0;font-family:Verdana, Arial, Helvetica, sans-serif;background:url(fondo_pagina.gif);}
#cuerpo     {position:absolute;left:50%;width:850px;margin-left:-425px;}
.img2 {padding:10px 0 !important; text-align: center !important;}
.img2 img{margin:0 auto !important;}

a			{outline:none;}
em			{font-style:normal;}
h2			{margin:0;padding:12px 0 0 32px;color:#663200;}
h3			{margin:0 0 0 0px;color:#663200;}

.idiomas	{text-align:right;font-size:11px; margin-right:10px;}
.idiomas a	{color:#ffffff;font-weight:bold;text-decoration:none;}


.arriba		{height:240px;font-size:12px;background:url(fondo_arriba.jpg) no-repeat;}
.arriba img	{margin:35px 0 0 45px;border:0;}
.arriba div	{margin:45px 0 0 0;text-align:center;}
.arriba a	{font-weight:bold;font-size:11px;color:#ffffff;text-decoration:none;padding:0}
.arriba a:hover{color:#ff9400;}


.central	{background:url(fondo_medio.gif) repeat-y;}
.central p	{font-size:11px;margin:0;padding:8px 32px 8px 32px;text-align:justify;}


.abajo		{height:48px;clear:both;font-size:13px;background:url(fondo_bajo.gif) no-repeat;text-align:left; padding-left:30px; }
.abajo a	{color:#333333;}
.abajo a:hover{color:#666666;}
.abajo img	{border:0; float:right; margin:0 25px 0 -20px; display:block;}

.celd_gris	{background:#eaeaea;width:380px;height:260px;font-size:11px;}
table		{margin:16px 0 0 43px;}
table td	{vertical-align:top;}
.cabec	{vertical-align:bottom;}

table a		{color:#000000;font-weight:bold;}

.img_derecha	{margin:0 36px 36px 36px;float:right;}
.img_izquierda	{margin:12px 12px 6px 36px;float:left;width:100px;height:100px;}

/*naranja #ff9501 */
