h2					{width:620px}
h2 + ul				{margin-left:16px;margin-bottom:32px}
.main h1.alt		{width:600px}
.main p,.popup p,ul	{font:14px 'Gotham-Light';margin:20px 0}
.popup .study		{top:650px;left:130px}
.popup .graph		{width:612px;height:480px;background-size:612px 480px;float:none;margin:30px auto}
.popup .last		{position:absolute;top:645px;left:265px}
ol.off li.alt		{display:list-item;visibility:hidden}
#scrollerwrap		{top:125px;height:400px}
#scroller			{height:800px}
.graph div			{position:absolute;width:0;height:216px;-webkit-transition:width 4s ease-in;-webkit-transform:translate3d(0,0,0)}
.graph .line1		{background:url(graph-line1.png);background-size:360px 285px}
.graph .line2 		{background:url(graph-line2.png);background-size:360px 285px}
.graph .line1.start,.graph .line2.start	{width:360px}
.popup .graph div	{height:480px}
.popup .graph .line1,.popup .graph .line2{background-size:612px 480px}
.popup .graph .line1.start,.popup .graph .line2.start{width:612px}