html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,small,sup,b,i,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body 		{margin:0;padding:0;background:#f4f4f4;width:1024px;height:768px;overflow:hidden}
table 		{border-collapse:collapse;border-spacing:0}
th			{text-align:left}
@font-face 	{font-family:'Gotham-Light';src:url('../fonts/gotham-light-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face 	{font-family:'Gotham-Light-Italic';src:url('../fonts/gotham-lightitalic-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face 	{font-family:'Gotham-Medium';src:url('../fonts/gotham-medium-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face 	{font-family:'Gotham-Medium-Italic';src:url('../fonts/gotham-mediumitalic-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face 	{font-family:'Gotham-Bold';src:url('../fonts/gotham-bold-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}

.footer_logo 	{width:240px;height:64px;position:absolute;top:670px;left:729px;background:url(sprites.png) no-repeat 0 -38px}
body 			{font-family:'Gotham-Medium';font-weight:normal}
b,.bo,table tr .bo{font-family:'Gotham-Bold'}
i,.it,.main p.it{font-family:'Gotham-Light-Italic'}
article 		{position:relative;width:1024px;height:768px;overflow:hidden}
.left 			{float:left;margin:0 30px 0 40px;width:390px}
.graph 		    {margin-top:70px;float:right;position:relative;width:360px;height:285px;background:url(graph.png) no-repeat;background-size:360px 285px}
ul 				{-webkit-padding-start:0;margin-bottom:24px}
h1				{font-size:24px;padding:15px;color:#fff;background:#8c72a1}
h1.alt			{width:400px;margin:0 0 25px -35px}
h2,em,.em		{color:#8c72a1}
h2				{font-size:24px}
sup 		    {vertical-align:baseline;font-size:0.6em;position:relative;top:-0.8em}
.main,.popup	{position:absolute;top:43px;left:70px;width:900px;height:600px;padding:40px;background:#fff;box-sizing:border-box;-webkit-transition:opacity 500ms}
.main.off		{opacity:0}
.main p 		{font:20px 'Gotham-Light'}
.main .last		{position:absolute;top:530px;left:300px}
#mask			{position:absolute;width:1024px;height:768px;left:0;top:0;background:rgba(0, 0, 0, 0.6);z-index:11}
.green 			{margin:10px 0 30px 0;list-style:none}
.green li   	{font:16px 'Gotham-Light';color:#666;margin:0 0 10px 0;padding:0 0 0 22px}
.green li:before{content:'';position:absolute;margin:4px 0 0 -22px;width:10px;height:10px;border-radius:5px;background:#baca33}
.indent 		{margin-left:40px}
#pi-link 		{position:absolute;top:346px;left:0;width:50px;height:75px;background:rgba(0,0,0,0.1);cursor:pointer;text-decoration:none;border-radius:0 5px 5px 0}
#pi-link:before	{display:inline-block;content:'';width:18px;height:15px;background:url(sprites.png) -96px -3px;margin:30px 0 0 16px}
#pi-link:active {background:rgba(0,0,0,0.5)}
#pi-slide		{position:absolute;top:768px;width:1024px;border-top:1px solid #000;background:#000;padding-top:80px;color:#fff;z-index:12;-webkit-transition:top 500ms ease}
#pi-slide:after	{content:'';display:block;height:797px;overflow:hidden;background:black}
.refbtn 		{top:12px;left:48px;background:#ddd;border-radius:7px;border:1px solid #fff;color:#000;font:12px 'Gotham-Bold';height:40px;position:absolute;text-decoration:none;width:105px}
ol 				{margin:0 0 50px 50px;padding:0 0 0 15px;font-family:'Gotham-Light'}
ol li			{list-style:decimal;padding:0 0 5px 0;font-size:13px;width:800px}
ol.off li.alt	{display:none}
.popup			{opacity:0;z-index:-1}
.popup.on		{opacity:1;z-index:1}
.popup .close  	{background:url(sprites.png);border:0;height:34px;position:absolute;right:14px;top:12px;width:35px}
.p1 li			{margin:0 80px 8px 16px}
.p1 h1.alt		{width:300px}
.btn 			{position:absolute;height:46px;width:114px;font:11px 'Gotham-Light';color:#fff;padding:2px;border:0;border-radius:7px}
.pibtn 			{top:700px;left:68px;background:#8c72a1;box-shadow:inset 0 0 2px rgba(0,0,0,0.6)}
.popup .pibtn	{top:650px;left:0}
.pibtn.alt		{top:580px;left:84px;z-index:2}
.main .pibtn.alt{top:538px;left:16px}
.study 			{left:150px;top:538px;background:#ddd;border:1px solid #ddd;-webkit-box-shadow:inset 0 0 2px rgba(255,255,255,1);color:#8c72a1;z-index:2}
#scrollerwrap 	{position:absolute;top:80px;left:90px;width:790px;height:500px;overflow:auto;z-index:10}
#scroller 		{position:absolute;width:700px;height:1100px;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:10}

#cube 					{width:700px;height:400px;position:absolute;top:140px;left:80px;-webkit-perspective:700px}    
#cube div,#cube figure	{width:100%;height:100%;position:absolute;background:#fff}
#cube div 				{-webkit-transform-style:preserve-3d;-webkit-transition:-webkit-transform 1s}
#cube div.cube-1	 	{-webkit-transform:translateZ(-350px)}
#cube div.cube-2		{-webkit-transform:translateZ(-350px) rotateY(-90deg)}
#cube .c1 				{-webkit-transform:translateZ(350px)}
#cube .c2 				{-webkit-transform:rotateY(90deg) translateZ(350px)}
#cube > a				{position:absolute;width:50px;right:-120px;height:460px;background:#ddd;z-index:1}
#cube > a:after			{content:'';width:24px;height:15px;position:absolute;top:45%;left:15px;background:url(sprites.png)}
#cube .cube-1:after 	{background-position:-58px -15px}
#cube .cube-2:after 	{background-position:-58px 0}
.scrollbarV 			{position:absolute;width:8px;bottom:7px;top:2px;right:1px;opacity:1 !important}
.scrollbarV > div 		{position:absolute;width:100%;background:#dfdae6;-webkit-background-clip:padding-box;background-clip:padding-box;box-sizing:border-box;box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5)}
#box1,#box2 			{width:589px;height:44px;bottom:-124px;left:0;padding:14px 14px 0 17px;position:absolute;background:#fff;-webkit-transition:height 500ms}
#box1.on,#box2.on		{height:77px}
#box1 a,#box2 a			{float:right;margin:0 0 40px 20px;background-image:url(sprites.png);width:18px;height:11px}
.box1big 				{font-size:14px;text-align:justify}
.box1big a				{background-position:-38px -12px}
.box1small 				{font-size:10px}
.box1small a			{background-position:-38px 0}
.purple td,.purple th	{font-family:'Gotham-Light';border:1px solid #8c72a1;padding:6px}
header 					{overflow:hidden;border:2px solid #8c72a1;border-bottom:none}
header div 				{background:#888;border-top:5px solid #888;border-bottom:5px solid #888;float:left;padding-left:5px;padding-right:5px}
header h4 				{background:#b9acc5;border:none;color:#fff;float:left;font-size:15px;height:40px;margin-right:5px;padding:5px 9px 0 14px}