body{background:url(../FOShare/Background.png) no-repeat;}
sup {font-size:12px}
.text-inner-body{left:130px;top:167px;width:894px}
ul.purple-bul li{padding-bottom:10px;font-size:20px;line-height:23px}
ul.purple-bul li.star	{font-style:italic;margin-left:0}
ul.purple-bul li.star:before{display:none}
.te-container,.te-wrapper,.te-cover,.te-transition,.te-cover,.te-transition,.te-cube-face{width:760px;height:500px}
.te-controls {top:193px}
.container{width:710px;height:430px;padding:20px;background-color:rgba(102,45,139,0.1);background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(102,45,139,0.1)),color-stop(100%,rgba(102,45,139,0.1)));background:-webkit-linear-gradient(left,rgba(102,45,139,0.1) 0%,rgba(102,45,139,0.1) 100%);border:none;box-shadow:0 0 6px #333;webkit-border-radius:0px;border-radius:0px}
.te-cube .te-cube-front	{-webkit-transform:scale3d(.714,.714,.714) translate3d(0,0,400px)}
.te-cube .te-cube-left	{-webkit-transform:scale3d(.714,.714,.714) rotate3d(0,1,0,-90deg) translate3d(0,0px,400px)/* rotate left */}
.te-cube .te-cube-right	{-webkit-transform:scale3d(.714,.714,.714) rotate3d(0,1,0,90deg) translate3d(0,0px,400px)}
.te-cube .te-cube-top	{-webkit-transform:scale3d(.714,.714,.714) rotate3d(1,0,0,90deg) translate3d(0,0px,400px)}
.te-cube .te-cube-bottom{-webkit-transform:scale3d(.714,.714,.714) rotate3d(0,1,0,-90deg) translate3d(0,0px,400px)/* rotate right */}
.text-P1-bottom-column2-title {font-size:20px}
.text-P1-bottom-column2-body  {font-size:18px;font-family:'fs_albert';line-height:20px}
#p2,img.p2 {display:none}
.text-P1-bottom-column1-button		 {width:110px}
.text-P1-bottom-column1-button-inside{width:92px}
.text-P2-top-title					 {padding-left:145px}
.img1		{position:absolute;right:0;top:0;width:220px;border-radius:0 0 0 55px;border-left:1px solid #f6902b;border-bottom:1px solid #f6902b}
.center		{text-align:center}
.container.center{height:auto;margin-bottom:20px}