body 
{ 	background:#AAC785;
	margin-top: 40px;
	margin-bottom: 40px;
}
.titulonoticias/*el texto de los titulos de la izquierda*/
{	font-family		: Verdana, Tahoma;
	font-size		: 12px;
	font-weight		: bold;
}
.btarriba/*esto es la botonera de arriba*/
{	height           : 38px;
	width:			 : 570px;
    font             : 10px Verdana, sans-serif;
    background       : #EF4E3C;
	text-align 		 : center;
	font-weight		 : bold;
}
.btizquierda
{
	width		:200px;
	background 	:#FFB951;
	font        : 10px Verdana, sans-serif;
}
.linea1
{
	background 	:#FFB951;
	color:#FFFFFF;
	font-weight:bold;
	width:500px;
	border-bottom:2px solid #FFFFFF;
}
.linea2
{
	background:#AAC785;
	width:220px;
	border-bottom:1px dashed #FFFFFF;
	border-right:1px dashed #FFFFFF;
}
.linea2x{background:#AAC785;width:400px;border-bottom:1px dashed #FFFFFF;}
.linea3x{background:#AAC785;width:50px;border-bottom:1px dashed #FFFFFF;border-right:1px dashed #FFFFFF;}
.linea3
{
	background:#AAC785;
	width:50px;
	border-bottom:1px dashed #FFFFFF;
	border-right:1px dashed #FFFFFF;
}
.linea4
{
	background:#AAC785;
	width:50px;
	border-bottom:1px dashed #FFFFFF;
}
.titolMain/*texto h1*/
{	font-family	: Verdana, Tahoma;
	font-size	: 14px;
	font-weight	: bold;
	text-align	: left;
	color		: #7A9B34;
}
.titolSub/*texto h2*/
{	font-family	: Verdana, Tahoma;
	font-size	: 12px;
	font-weight	: bold;
	text-align	: left;
	color		: #7A9B34;
}
.centro
{	background  : white;
	font-family	: Verdana, Tahoma;
	font-size	: 11px;
	text-align  : justify;
	line-height : 15px;
	width		: 490px;
	padding-right	: 40px;
	padding-top	: 40px;
	padding-left: 40px;
	padding-bottom:10px;
}
a:link 		{color: black;  text-decoration:none;}
a:visited	{color: black;  text-decoration:none;}
a:active	{color: black;  text-decoration:none;}
a:hover		{color: #AAC785;text-decoration:none;}

input
{	font-size		: 10px;
}
#suscriptionForm
{	text-align		: center;
	margin-left		: auto;
	margin-right	: auto;
}