body		{margin:0;padding:0;height:100%;}
a			{outline:none;}
h6			{font:12px Arial, Helvetica, sans-serif;font-weight:bold;margin:15px 0;border-bottom:1px solid #ccc;text-transform:capitalize;}
label		{font:12px Arial, Helvetica, sans-serif;}
textarea	{font:12px Arial, Helvetica, sans-serif;border:1px solid #666666;}
input		{font:12px Arial, Helvetica, sans-serif;border:1px solid #666666;}
input:focus		{background:#bbe3ff;}
textarea:focus	{background:#bbe3ff;}

#left 		{position:absolute;left:0;top:0;width:180px;height:100%;background:#dddddd;font:12px Arial, Helvetica, sans-serif;}
#left div a	{display:block;padding:5px 0 5px 15px;color:#333;}
#left img[alt="Logo"]{width:170px;margin:15px 0;border:5px solid #fff;}
#left form	{padding:10px;}
#left input	{display:block;}
#left input[type="submit"] {width:120px;margin:8px 0 0 0;}

#centro		{position:absolute;top:32px;left:200px;width:600px;font:12px Arial, Helvetica, sans-serif;}

/*tabla editar*/
#editar		 	{}
#editar th	 	{text-align:left;font-weight:bold;text-transform:capitalize;}
#editar	input	{width:300px;}
#editar	textarea{width:500px;height:80px;}
#editar	input[type="submit"] {width:100px;}
#editar	input[type="button"] {width:100px;}

/*tabla listar*/
#listar			{}
#listar th  	{background:#ddd;color:#000;}
#listar th a	{color:#000;text-decoration:none;}
#listar	td		{background:#fff;}
#listar img		{border:0;}
#listar a[title="modificar"]{color:#069;}
#listar a[title="eliminar"]	{color:#f00;}


/***********************sortable**************************/
table.sortable {background:#cccccc;}