@charset "UTF-8";
/* CSS Document */
/* Div layer for the entire banner. */


#container_dc {
	position: absolute;
	width: 718px;
	height: 478px;
	top: 0px;
	left: 0px;
	margin: auto;
	overflow:hidden;

}

#content_dc {
	position: absolute;
	width: 720px;
	height: 480px;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color:rgba(245,245,210,1.00);
	
}
#border {
    position: absolute;
    border: 1px solid #666666; 
    width:718px; 
    height:478px;
    top: 0px;
	left: 0px;
    z-index:300; }


#Girl{
    position:absolute;
	top:0px;
	left:-260px;
	width:250px;
	height:480px;
	z-index:98;
	opacity:0;
}

#Man{
    position:absolute;
	top:0px;
	left:730px;
	width:250px;
	height:480px;
	z-index:99;
	opacity:0;
}

#Cans{
	position:absolute;
	top:230px;
	left:205px;
	opacity:0;
	height:250px;
    width:297px;
	z-index:100;
}

#MainTxt{
	position:absolute;
	top:10px;
	left:175px;
	opacity:0;
	height:130px;
	z-index:100;
	
}

#title{
	position:absolute;
	top:-234px;
	left:-640px;
	opacity:0;
	height:870px;
	z-index:100;
      -webkit-filter: blur(50px);
  filter: blur(50px);
	
}

#off{
	position:absolute;
	top:60px;
	left:150px;
	opacity:0;
	height:322px;
	z-index:100;
	
}

#line{
	position:absolute;
	top:60px;
	left:250px;
	opacity: 1;
    width:0px;
	height:162px;
	z-index:101;
    overflow:hidden;
	
}


#img1{
	position:absolute;
	top:0px;
	left:0px;
	width:970px;
	height:250px;
	z-index:98;
	opacity:1;
	
}

#img2{
	position:absolute;
	top:0px;
	left:0px;
	width:970px;
	height:250px;
	opacity:0;
	z-index:98;
}

#img3{
	position:absolute;
	top:0px;
	left:0px;
	width:970px;
	height:250px;
	opacity:0;
	z-index:98;
}

#img4{
	position:absolute;
	top:0px;
	left:0px;
	width:970px;
	height:250px;
	opacity:0;
	z-index:98;
}
/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
}

